<legend>
    <h1 style="text-align:center;">
        <a href="#" class="btn btn-primary btn-large">
            Profile Tools
        </a>
        <a href="/microdevices/diseasemodel_detail/" class="btn btn-primary btn-large">
            NAFLD Home {##This page will need to be disease specific##}
        </a>
        <a href="/microdevices/diseasebiology" class="btn btn-primary btn-large">
            Disease Biology {##This page will be linked to a completed Disease Biology Page##}
        </a>
        <a href="/microdevices/clinicaldata" class="btn btn-primary btn-large">
            Clinical Data
        </a>
        <a href="/microdevices/diseasemodel_diseasemodel" class="btn btn-primary btn-large">
            Disease Models
        </a>
        <a href="#" class="btn btn-primary btn-large">
            Data Analysis {##This page will be provided by the TCTC group##}
        </a>
    </h1>
</legend>
