{% extends "base.html" %}

{% block breadcrumbs %}
    <li><a href="/microdevices/device">Devices</a></li>
    <li class="active">{{ object.name }}</li>
{% endblock %}

{% block content %}
    <legend><h1>{{ object.name }}</h1></legend>

    <table class="table table-striped table-bordered table-nonfluid" style="background-color: #AAB3AB;">
        <tbody>
        {# Hidden for now #}
{#            <tr>#}
{#                <td>#}
{#                    <b>Center</b>#}
{#                </td>#}
{#                <td>#}
{#                    {{ object.center|default:'Unspecified' }}#}
{#                </td>#}
{#            </tr>#}
            <tr>
                <td>
                    <b>Manufacturer</b>
                </td>
                <td>
                    {{ object.manufacturer|default:'Unspecified' }}
                </td>
            </tr>
        {# Hidden for now #}
{#            <tr>#}
{#                <td>#}
{#                    <b>Organ</b>#}
{#                </td>#}
{#                <td>#}
{#                    {{ object.organ|default:'Unspecified' }}#}
{#                </td>#}
{#            </tr>#}
            <tr>
                <td>
                    <b>Catalog#-Version</b>
                </td>
                <td>
                    {{ object.barcode|default:'Unspecified' }}
                </td>
            </tr>
            {% if object.description %}
            <tr>
                <td>
                    <b>Description</b>
                </td>
                <td>
                    {{ object.description|linebreaksbr }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <b>Device Image</b>
                </td>
                <td>
                    {% if object.device_image %}
                        <img class="img-responsive" src="/media/{{ object.device_image }}">
                    {% else %}
                        No Image Available
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Device Cross Section</b>
                </td>
                <td>
                    {% if object.device_cross_section_image %}
                        <img class="img-responsive" src="/media/{{ object.device_cross_section_image }}">
                    {% else %}
                        No Image Available
                    {% endif %}
                </td>
            </tr>
            {% if object.microdevicereference_set.count %}
            <tr>
                <td>
                    <b>References</b>
                </td>
                <td>
                    {% for reference in object.microdevicereference_set.all %}
                        <a href="/assays/references/{{ reference.reference.id }}" target="_blank">{{ reference.reference.title }}</a><br>
                    {% endfor %}
                    {#{{ object.references|linebreaksbr|default:'-No References Listed-' }}#}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <legend>Dimensions</legend>

    <table class="table table-striped table-bordered table-nonfluid" style="background-color: #E8CAAF;">
        <tbody>
            <tr>
                <td>
                    <b>Dimensions</b>
                </td>
                <td>
                    {% if object.device_width and object.device_length and object.device_thickness %}
                        {{ object.device_width }} mm X {{ object.device_length }} mm X {{ object.device_thickness }} mm
                    {% else %}
                        Unspecified
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Substrate Material</b>
                </td>
                <td>
                    {{ object.substrate_material|default:'Unspecified' }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Substrate Thickness</b>
                </td>
                <td>
                    {% if object.substrate_thickness %}
                        {# Specify that substrate thickness is in millimeters #}
                        {{ object.substrate_thickness }} mm
                    {% else %}
                        Unspecified
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Fluid Volume</b>
                </td>
                <td>
                    {# NOTE THAT VOLUME UNIT IS NOW ALWAYS μL #}
                    {{ object.device_fluid_volume|default:'Unspecified' }} μL
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
