{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "microdevices/microdevice_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Devices</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Devices
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/microdevices/device/add/" class="btn btn-lg btn-success" role="button">Add Device</a>
        </div>

        <table hidden id="microdevices" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Device Name</th>
                    <th>Version/Catalog#</th>
                    <th>Manufacturer</th>
{#                    <th>Center</th>#}
{#                    <th>Organ</th>#}
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
            {% for device in object_list %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ device.id }}">View</a></td>
                    <td><a class="btn btn-primary" href="{{ device.id }}/update/">Edit</a></td>
                    <td>{{ device.name }}</td>
                    <td>{{ device.barcode }}</td>
                    <td>{{ device.manufacturer|default_if_none:"" }}</td>
{#                    <td>{{ device.center|default_if_none:"" }}</td>#}
{#                    <td>{{ device.organ|default_if_none:"" }}</td>#}
                    <td>{{ device.description|default_if_none:"" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
