{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/image_display.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "microdevices/layout.js" %}"></script>
    <script src="{% static "microdevices/microdevice_add.js" %}"></script>
    <script src="{% static "assays/reference_selection.js" %}"></script>
{% endblock %}

{% block load_css %}
    {# TODO REVISE #}
    <link href="{% static "assays/customize_admin.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/microdevices/device">Devices</a></li>
    <li class="active">
        {% if object %}
            Edit <em>{{ object }}</em>
        {% else %}
            Add Device
        {% endif %}
    </li>
{% endblock %}

{% block content %}
{% if update %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">

<h1>
    Edit <em>{{ object }}</em>
{% else %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">

<h1>
    Add Device
{% endif %}
<br>
{% csrf_token %}
</h1>

{% include "submit.html" with creator=object.created_by.id %}

{% include 'errors.html' %}

{% include 'tracking.html' %}

<legend>Microdevice</legend>

{% include 'generic_field.html' with field=form.device_type label="Device Type*" %}

{% include 'generic_field.html' with field=form.name label="Device Name*" %}

{% include 'generic_field.html' with field=form.barcode label="Catalog#-Version" %}

{#{% include 'generic_field.html' with field=form.center label="Center" %}#}

{% include 'generic_field.html' with field=form.manufacturer label="Manufacturer" %}

{#{% include 'generic_field.html' with field=form.organ label="Organ" %}#}

{% include 'generic_field.html' with field=form.description label="Description" %}

{% include 'generic_field.html' with field=form.device_image label="Device Image" %}

<div id="device_image_display">
    <div id="device_current_display">
        {% if object.device_image %}
            <img class="img-responsive center-block padded-bottom" src="/media/{{ object.device_image }}">
        {% endif %}
    </div>
</div>

{% include 'generic_field.html' with field=form.device_cross_section_image label="Device Cross Section Image" %}

<div id="cross_section_image_display">
    <div id="cross_section_current_display">
        {% if object.device_cross_section_image %}
            <img class="img-responsive center-block padded-bottom" src="/media/{{ object.device_cross_section_image }}">
        {% endif %}
    </div>
</div>

{% include 'generic_field.html' with field=form.references label="References" %}

<legend>Dimensions</legend>

{% if form.device_width.errors or form.device_length.errors or form.device_thickness.errors %}
    {% for error in form.device_width.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endfor %}
    {% for error in form.device_length.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endfor %}
    {% for error in form.device_thickness.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endfor %}
<div class="form-group has-error">
{% else %}
<div class="form-group">
{% endif %}
    <label for="device_width" class="col-sm-2 control-label">Width (mm)</label>
    <div class="col-sm-2">
        {{ form.device_width }}
    </div>
    <label for="device_length" class="col-sm-2 control-label">Length (mm)</label>
    <div class="col-sm-2">
        {{ form.device_length }}
    </div>
    <label for="device_thickness" class="col-sm-2 control-label">Thickness (mm)</label>
    <div class="col-sm-2">
        {{ form.device_thickness }}
    </div>
</div>

{% if form.substrate_material.errors or form.substrate_thickness.errors  %}
    {% for error in form.substrate_material.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endfor %}
    {% for error in form.substrate_thickness.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endfor %}
<div class="form-group has-error">
{% else %}
<div class="form-group">
{% endif %}
    <label for="substrate_material" class="col-sm-2 col-md-2 control-label">Substrate Material</label>
    <div class="col-sm-3 col-md-2">
        {{ form.substrate_material }}
     </div>
    <label for="substrate_thickness" class="col-sm-3 col-md-2 control-label">Substrate Thickness (mm)</label>
    <div class="col-sm-4 col-md-6">
        {{ form.substrate_thickness }}
    </div>
</div>

{% include 'generic_field.html' with field=form.device_fluid_volume label="Fluid Volume (μL)" %}

<legend>Layout</legend>

{% if form.number_of_rows.errors or form.number_of_columns.errors  %}
    {% for error in form.number_of_rows.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endfor %}
    {% for error in form.number_of_columns.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endfor %}
<div class="form-group has-error">
{% else %}
<div class="form-group">
{% endif %}
    <label for="number_of_rows" class="col-sm-2 col-md-2 control-label">Number of Rows</label>
    <div class="col-sm-3 col-md-2">
        {{ form.number_of_rows }}
     </div>
    <label for="number_of_columns" class="col-sm-3 col-md-2 control-label">Number of Columns</label>
    <div class="col-sm-4 col-md-6">
        {{ form.number_of_columns }}
    </div>
</div>

{% include 'add_reference.html' %}

{# These fields are deprecated #}
{#<div class="form-group">#}
{#    <label for="row_labels" class="col-sm-2 col-md-2 control-label">Row Labels</label>#}
{#    <div class="col-sm-3 col-md-2">#}
{#        {{ form.row_labels }}#}
{#     </div>#}
{#    <label for="column_labels" class="col-sm-3 col-md-2 control-label">Column Labels</label>#}
{#    <div class="col-sm-4 col-md-6">#}
{#        {{ form.column_labels }}#}
{#    </div>#}
{#</div>#}
</form>

<div id="layout_display"></div>

<br>
{% endblock %}
