{% extends "base.html" %}
{% load static %}

{% block load_js %}
    {# <script src="{% static "js/project_filter.js" %}"></script> #}
    <script src="{% static "microdevices/organmodel_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">MPS Models</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                MPS Models
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/microdevices/model/add/" class="btn btn-lg btn-success" role="button">Add Model</a>
        </div>

        {# Deprecated #}
{# {% include 'project_filters.html' %} #}

        <table hidden id="models" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Model Name</th>
                    <th>Center</th>
                    <th>Base Model</th>
                    <th>Organ</th>
                    <th>Device</th>
                    {# REMOVED FOR NOW #}
                    {# <th>Disease</th> #}
                    <th>Versions</th>
                    <th>Description</th>
                    {% comment %} <th>Project</th> {% endcomment %}
                </tr>
            </thead>

            <tbody>
            {% for model in object_list %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ model.id }}">View</a></td>
                    <td><a class="btn btn-primary" href="{{ model.id }}/update/">Edit</a></td>
                    <td>{{ model.name }}</td>
                    <td><a href="/microdevices/center/{{ model.center.id }}" target='_blank'>{{ model.center|default_if_none:"" }}</a></td>
                    <td>
                        {% if model.base_model %}
                            <a href="{{ model.base_model.get_absolute_url }}">{{ model.base_model.alt_name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ model.organ|default_if_none:"" }}</td>
                    <td><a href="/microdevices/device/{{ model.device.id }}">{{ model.device|default_if_none:"" }}</a></td>
                    <td>
                        {% if model.organmodelprotocol_set.count %}
                        <span class='text-success'>{{ model.organmodelprotocol_set.count }}</span>
                        {% else %}
                        <span class='text-danger'>{{ model.organmodelprotocol_set.count }}</span>
                        {% endif %}
                    </td>
                    <td>{{ model.description }}</td>
                    {% comment %} <td>
                        {% if model.mps %}
                            MPS
                        {% endif %}
                        {% if model.epa %}
                            EPA
                        {% endif %}
                        {% if model.tctc %}
                            TCTC
                        {% endif %}
                        {% if not model.epa and not model.mps and not model.tctc %}
                            Unassigned
                        {% endif %}
                    </td> {% endcomment %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
