{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <li><a href="/microdevices/model">MPS Models</a></li>
    <li class="active">
        {% if object %}
            Edit <em>{{ object }}</em>
        {% else %}
            Add MPS Model
        {% endif %}
    </li>
{% endblock %}

{% block load_js %}
    {# <script src="{% static "js/inline_add.js" %}"></script>#}
    <script src="{% static "js/image_display.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "microdevices/organmodel_add.js" %}"></script>
    <script src="{% static "assays/reference_selection.js" %}"></script>
{% endblock %}

{% block content %}
    {% if update %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">

    <h1>
        Edit <em>{{ object }}</em>
    {% else %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">

    <h1>
        Add MPS Model
    {% endif %}
    <br>
    {% csrf_token %}
    </h1>

    {% include "submit.html" with creator=object.created_by.id %}

    {% include 'errors.html' %}

    {% include 'tracking.html' %}

    <legend>MPS Model</legend>

    {% include 'generic_field.html' with field=form.name label="Model Name*" %}

    {% include 'generic_field.html' with field=form.alt_name label="Alternative Name" %}

    {% include 'generic_field.html' with field=form.center label="Center*" %}

    {% include 'generic_field.html' with field=form.base_model label="Base Model" %}

    {% include 'generic_field.html' with field=form.organ label="Organ*" %}

    {% if form.device.errors %}
        {% for error in form.device.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="device" class="col-sm-2 control-label">Device*</label>
        <div class="col-sm-10">
            {{ form.device }}
            <br>
            <a class="popup-link" data-href="/microdevices/device/add?popup=1" data-window-name="microdevice">
                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                Add Microdevice
            </a>
        </div>
    </div>

    {% include 'generic_field.html' with field=form.model_type label="Model Type*" %}

    {# REMOVED FOR NOW #}
    {# {% include 'generic_field.html' with field=form.disease label="Disease" %} #}

    {# {% include 'generic_field.html' with field=form.disease_trigger label="Disease Trigger" %} #}
    {# <h6 class="text-center">Note: Leave "Disease" blank for models that are healthy at the start of a study.</h6>#}

    {# TODO REVISE #}
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 control-label">Project Assignment</label>
        <label for="mps" class="col-sm-1 control-label">MPS</label>
        <div class="col-sm-1">
          {{ form.mps }}
        </div>
        <label for="epa" class="col-sm-1 control-label">EPA</label>
        <div class="col-sm-1">
          {{ form.epa }}
        </div>
        <label for="tctc" class="col-sm-1 control-label">TCTC</label>
        <div class="col-sm-1">
          {{ form.tctc }}
        </div>
    </div>

    {% include 'generic_field.html' with field=form.description label="Description" %}

    {% include 'generic_field.html' with field=form.model_image label="Image" %}

    <div id="image_display">
        <div id="current_display">
            {% if object.model_image %}
                <img class="img-responsive center-block padded-bottom" src="/media/{{ object.model_image }}">
            {% endif %}
        </div>
    </div>

    {# DEPRECATED #}
    {# {% include 'generic_field.html' with field=form.references label="References" %} #}

    {{ location_formset.management_form }}
    <legend>Locations</legend>
    {% if location_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ location_formset.non_form_errors }}
        </div>
    {% endif %}

    {% if location_formset.errors %}
        {% for dict in location_formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <a id="add_button-{{ location_formset.prefix }}" class="btn btn-success" role="button">Add Location</a>
    <table class="table table-striped inlines" id="{{ location_formset.prefix }}-group" name="locations">
        <thead>
            <tr>
                <th>Location*</th>
                <th>Notes*</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for location in location_formset %}
                <tr class="inline" id="locations-{{ forloop.counter0 }}">
                    {% if location.id.value %}
                    <td class="original" hidden>
                        <input type="hidden"
                               id="id_{{ location_formset.prefix }}-{{ forloop.counter0 }}-id"
                               name="{{ location_formset.prefix }}-{{ forloop.counter0 }}-id"
                               value="{{ location.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ location.sample_location }}</td>
                    <td>{{ location.notes }}</td>
                    <td>{{ location.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ cell_formset.management_form }}
    <legend>Cell Types</legend>

    {# Add new #}
    <a class="popup-link" data-href="/cellsamples/celltype/add?popup=1" data-window-name="celltype">
        <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
        Add Cell Type
    </a>
    <br>
    <br>

    {% if cell_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ cell_formset.non_form_errors }}
        </div>
    {% endif %}

    {% if cell_formset.errors %}
        {% for dict in cell_formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <a id="add_button-{{ cell_formset.prefix }}" class="btn btn-success" role="button">Add Cell Type</a>
    <table class="table table-striped inlines" id="{{ cell_formset.prefix }}-group" name="cells">
        <thead>
            <tr>
                <th>Cell Type*</th>
                {# <th>Count*</th> #}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for cell in cell_formset %}
                <tr class="inline" id="cells-{{ forloop.counter0 }}">
                    {% if cell.id.value %}
                    <td class="original" hidden>
                        <input type="hidden"
                               id="id_{{ cell_formset.prefix }}-{{ forloop.counter0 }}-id"
                               name="{{ cell_formset.prefix }}-{{ forloop.counter0 }}-id"
                               value="{{ cell.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ cell.cell_type }}</td>
                    {# HIDE FOR NOW #}
                    {# <td>{{ cell.count }}</td> #}
                    <td>{{ cell.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ protocol_formset.management_form }}
    <legend>MPS Model Versions</legend>
    {% if protocol_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ protocol_formset.non_form_errors }}
        </div>
    {% endif %}

    {% if protocol_formset.errors %}
        {% for dict in protocol_formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <a id="add_button-{{ protocol_formset.prefix }}" class="btn btn-success" role="button">Add Version</a>
    <table class="table table-striped inlines" id="{{ protocol_formset.prefix }}-group" name="protocols">
        <thead>
            <tr>
                <th>Name*</th>
                <th>File (PDF)*</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for protocol in protocol_formset %}
                <tr class="inline" id="protocols-{{ forloop.counter0 }}">
                    {% if protocol.id.value %}
                    <td class="original" hidden>
                        <input type="hidden"
                               id="id_{{ protocol_formset.prefix }}-{{ forloop.counter0 }}-id"
                               name="{{ protocol_formset.prefix }}-{{ forloop.counter0 }}-id"
                               value="{{ protocol.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ protocol.name }}</td>
                    <td>{{ protocol.protocol_file }}</td>
                    {% if protocol.id.value %}
                    <td>
                        <a href="{% url 'protocol-update' protocol.id.value %}" class="btn btn-primary">Edit</a>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{ protocol.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'add_reference.html' %}
    </form>
{% endblock %}
