{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumbs %}
    <li class="active">404 Not Found Error</li>
{% endblock %}

{# Please note that this page will not display unless Debug is set to False #}
{% block content %}
    <h1 class="text-danger">404 Not Found Error:</h1>
    <h2 class="text-danger">The requested page does not exist.</h2>

    <div class="padded-row large-padding-top padded-bottom text-center">
        <a class="btn btn-xlarge btn-warning" onclick="if(document.referrer.indexOf(window.location.host) !== -1){window.history.back()}else{window.location.href='/'};setTimeout(function(){window.location.href='/';},500);">
            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
            Go Back
        </a>
    </div>
{% endblock %}
