{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <link rel="icon"
    type="image/png"
    href="/static/img/favicon.png">

  <title>{% block title %}MPS Database{% endblock %}</title>

{# <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/default.css" > #}

  {% block extrahead %}
    <!-- Load JQuery -->
    <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>

    <!-- Load JQuery UI-->
    <script src="{% static "js/jquery-ui-1.11.2.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/jquery-ui-1.11.2.min.css" %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Incorporate the Bootstrap JavaScript plugins -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">

    <!-- Underscore.js Library -->
    <script src="{% static "js/underscore.js" %}"></script>

    <!-- d3.js Library -->
    <script src="{% static "js/d3.min.js" %}"></script>

    <!-- Load c3.css -->
    <link href="{% static "css/c3.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="{% static "js/c3.min.js" %}"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/fixedHeader.dataTables.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.dataTables.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}">

    <!-- DataTables -->
    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/dataTables.fixedHeader.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/dataTables.responsive.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/dataTables.buttons.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/buttons.colVis.min.js" %}"></script>

    {# We will just be using html5 for buttons (no fallback) #}
    {# <script type="text/javascript" charset="utf-8" src="{% static "js/buttons.flash.min.js" %}"></script>#}
    <script type="text/javascript" charset="utf-8" src="{% static "js/buttons.html5.min.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/buttons.print.min.js" %}"></script>

{#    This script sets defaults for Buttons #}
{#    Currently I exclude Excel (as it is confusingly given a csv extension) and PDF (requires heavier SWF)#}
{#    I may add these later, however, but I will have to remember to use the PDF enabled SWF if PDFs are desired#}
    <script type="text/javascript" charset="utf-8" src="{% static "js/datatable_options.js" %}"></script>

    <!-- SmartMenus jQuery plugin -->
    {# No longer used #}
{#    <script type="text/javascript" src="{% static "js/jquery.smartmenus.min.js" %}"></script>#}

    <script src="{% static "js/cookies.js" %}"></script>

    {# Spinner #}
    <script src="{% static "js/spin.min.js" %}"></script>
    <script src="{% static "js/mps_spinner.js" %}"></script>

    {# Yes, I know this violates SOC #}
    <script>
      {# Smart menus removed #}
      // always emulate touch mode
{#      $.SmartMenus.prototype.isTouchMode = function() {#}
{#        return true;#}
{#      };#}

      // TODO NEEDS TO BE REVISED ALONG WITH HELP
      // TODO MOVE THIS TO ITS OWN FILE PLEASE
{#      // TODO MOVE THIS TO ITS OWN FILE PLEASE#}
      $(document).ready(function () {
        // Prevent CSS conflict with Bootstrap
        // CRUDE
        $.fn.button.noConflict();

{#        // Discern what anchor to add to the help URL by looking at current url#}
        var url = window.location.href;
        var anchor = '';

        // TODO GET ANCHOR

        $('#view_help')
            .attr(
                'onclick',
                "window.open('/help/"
                + anchor +
                "','win','toolbars=0,width=1200,height=760,left=200,top=200,scrollbars=1,resizable=1')"
            );

        if (url.indexOf('/assaymatrix/') > -1) {
          anchor = '#matrices'
        }
        else if (url.indexOf('/assaymatrixitem/') > -1) {
          anchor = '#matrixitems'
        }
        else if (url.indexOf('/upload/') > -1) {
          anchor = '#uploadingdata'
        }
        else if (url.indexOf('/studyconfiguration/') > -1) {
          anchor = '#studyconfigurations'
        }
        else if (url.indexOf('/model/') > -1) {
          anchor = '#mpsmodels'
        }
        else if (url.indexOf('/diseases/') > -1) {
          anchor = '#diseasemodels'
        }
        else if (url.indexOf('/device/') > -1) {
          anchor = '#devices'
        }
        else if (url.indexOf('/table/') > -1) {
          anchor = '#bioactivities'
        }
        else if (url.indexOf('/drugtrials/') > -1) {
          anchor = '#drugtrials'
        }
        else if (url.indexOf('adverse_events/') > -1) {
          anchor = '#adverseevents'
        }
        else if (url.indexOf('compare_adverse_events/') > -1) {
          anchor = '#compareadverseevents'
        }
        else if (url.indexOf('/report/') > -1) {
          anchor = '#compoundreport'
        }
        else if (url.indexOf('/compounds/') > -1) {
          anchor = '#chemicaldata'
        }
        else if (url.indexOf('/heatmap/') > -1) {
          anchor = '#heatmap'
        }
        else if (url.indexOf('/cluster/') > -1) {
          anchor = '#cluster'
        }
        else if (url.indexOf('/celltype/') > -1) {
          anchor = '#cellsamples'
        }
        else if (url.indexOf('/cellsubtype/') > -1) {
          anchor = '#cellsamples'
        }
        else if (url.indexOf('/cellsample/') > -1) {
          anchor = '#cellsamples'
        }
        else if (url.indexOf('/targets/') > -1) {
          anchor = '#targets'
        }
        else if (url.indexOf('/methods/') > -1) {
          anchor = '#methods'
        }
        else if (url.indexOf('/assaymatrixitem/') > -1) {
          anchor = '#matrixitem'
        }
        else if (url.indexOf('/assaymatrix/') > -1) {
          anchor = '#matrices'
        }
        else if (url.indexOf('/images/') > -1) {
          anchor = '#intrastudy'
        }
        else if (url.indexOf('/assaystudy/') > -1) {
          anchor = '#intrastudy'
        }
        else if (url.indexOf('/summary/') > -1) {
          anchor = '#intrastudy'
        }
        else if (url.indexOf('/graphing_reproducibility/') > -1) {
          anchor = '#interstudy'
        }

        $('#view_help').attr('onclick',"window.open('/help/" + anchor + "','win','toolbars=0,width=1000,height=760,left=200,top=200,scrollbars=1,resizable=1')");

{#       Bind a listener to the navbar that causes a collapse if it is oversized   #}
        var navbar = $('#autocollapse');

        function autocollapse() {
            navbar.removeClass('collapsed');
            if (navbar.innerHeight() > 51) {
                navbar.addClass('collapsed');
            }
        }

        $(document).on('ready', autocollapse);
        $(window).on('resize', autocollapse);
      });
    </script>

    <!-- Custom CSS Rules -->
    <link rel="stylesheet" href="{% static "css/bootstrap-overrides.css" %}">
  {% endblock %}

  {% block load %}{% endblock %}
</head>

<body>
  <!-- Fixed navbar -->
  <nav id="autocollapse" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a title="Click to return to homepage" class="navbar-brand" href="/">
        <img src="/static/img/brand.png" style="margin-top:-10px;">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li title="Add, edit, or view assay data" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Studies<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li title="Index of all the studies created by groups you are a member of">
              <a href="/assays/assaystudy/editable_studies/">View Editable Studies</a>
          </li>
          <li><a href="/assays/assaystudy/">View All Studies</a></li>
          <li><a href="/assays/studyconfiguration/">View Integrated Study Configurations</a></li>
{#          <li class="divider"></li>#}
{#          <li><a href="/assays/assaychipsetup/">View Setups</a></li>#}
{#          <li><a href="/assays/assaychipreadout/">View Readouts</a></li>#}
{#          <li><a href="/assays/assaychiptestresult/">View Results</a></li>#}
          <li class="divider"></li>
          <li class="dropdown-header">Requires Permission</li>
          <li><a href="/assays/assaystudy/add/">Add Study</a></li>
          <li><a href="/assays/studyconfiguration/add/">Add Integrated Study Configuration</a></li>
        </ul>
        </li>
        <li title="Analyze bioactivity and drugtrial data" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Analysis<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Data Analysis</li>
          <li title="Generate a heatmap for selected bioactivity data">
              <a href="/bioactivities/heatmap/#filter">Heatmap</a>
          </li>
          <li title="Generate a dendrogram for selected compound/bioactivity data">
              <a href="/bioactivities/cluster/#filter">Cluster</a>
          </li>
          <li title="View plots and reproducibility"><a href="/assays/graphing_reproducibility/">
              Graphing/Reproducibility
          </a></li>
{#          <li title="This feature is still in development"><a href="/under_construction/">#}
{#              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>#}
{#              Reproducibility#}
{#          </a></li>#}
          <li class="divider"></li>
          <li class="dropdown-header">Computational Modeling</li>
          <li title="This feature is still in development"><a href="/under_construction/">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
              PBPK
          </a></li>
          <li title="This feature is still in development"><a href="/bioactivities/model/">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
              Predictive Modeling
          </a></li>
{#          <li title="This feature is still in development"><a href="/under_construction/">#}
{#              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>#}
{#              Pathway Modeling#}
{#          </a></li>#}
        </ul>
        </li>
        <li title="View/add MPS models and microdevices" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Models<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li title="View MPS models"><a href="/microdevices/model">View MPS Models</a></li>
          <li title="View microdevices"><a href="/microdevices/device">View Microdevices</a></li>
          <li title="View disease models"><a href="/diseases/">View Diseases</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Requires Permission</li>
          <li><a href="/microdevices/model/add/">Add MPS Model</a></li>
          <li><a href="/microdevices/device/add/">Add Microdevice</a></li>
        </ul>
        </li>
        {#      <li title="View curated drug trial data"><a href="/drugtrials">Drug Trials</a></li>#}
        <li title="Curated drug trials and chemical data" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Compounds<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/compounds/">View Chemical Data</a></li>
          {# TODO NOTE THAT THIS IS A REPEAT LINK! #}
          <li><a href="/bioactivities/table/#filter">View Bioactivities</a></li>
          <li><a href="/drugtrials/">View Drug Trials</a></li>
          <li><a href="/adverse_events/">View Adverse Events</a></li>
          <li class="divider"></li>
          <li><a href="/compare_adverse_events/">Compare Adverse Events</a></li>
          <li><a href="/compounds/report/#filter">Compound Report</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Requires Permission</li>
          <li><a href="/compounds/add/">Add Compound</a></li>
        </ul>
        </li>
        <li title="View or add cell samples and cell types" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Cell Samples<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/cellsamples/celltype/">View Cell Types</a></li>
          <li><a href="/cellsamples/cellsubtype/">View Cell Origins</a></li>
          <li><a href="/cellsamples/cellsample/">View Cell Samples</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Requires Permission</li>
          <li><a href="/cellsamples/celltype/add/">Add Cell Type</a></li>
          <li><a href="/cellsamples/cellsubtype/add/">Add Cell Origin</a></li>
          <li><a href="/cellsamples/cellsample/add/">Add Cell Sample</a></li>
        </ul>
        </li>
        <li title="View help">
            <a id="view_help" class="navbar-help"
               onclick="window.open('/help/',
                 'win',
                 'toolbars=0,width=1000,height=760,left=200,top=200,scrollbars=1,resizable=1')">
                 Help
            </a>
        </li>
        <li title="Give feedback, ask questions, or view the knowledge base">
            <a class="navbar-feedback"
               onclick="window.open('/feedback/',
                'win',
                'toolbars=0,width=1000,height=760,left=200,top=200,scrollbars=1,resizable=1')">
                Feedback
            </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_active %}
          <li title="Click to log out or change password" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/accounts/logout/">Log Out</a></li>
            <li><a href="/password_change/">Change Password</a></li>
          </ul>
          </li>
        {% else %}
        {# Added "Register" to clarify that one can Register after clicking there #}
        <li><a href="/accounts/login/">Log In/Register</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div id="page" style="margin-top: 70px;">

  {# Have yet to use sidebar #}
{#  <div id="sidebar">#}
{#    {% block sidebar %}#}
{#    {% endblock %}#}
{#  </div>#}

  {# For most elements #}
  <div id="content" class="container">

  <ol id="breadcrumbs" class="breadcrumb">
    <li><a href="/">Home</a></li>
    {% block breadcrumbs %}{% endblock %}
  </ol>

  {# Still have yet to make use of messages; should do so soon #}
{#  {% if messages %}#}
{#  <ul class="messages">#}
{#    {% for message in messages %}#}
{#    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#  {% endif %}#}

  {% block content %}{% endblock %}

  </div>

  {# For elements which should not be restricted by width #}
  <div id="fluid-content" class="fluid-container">

  {% block fluid-content %}{% endblock %}
  </div>

  <div id="footer" class="container hidden-print">
    <footer>
      <hr>
      <div class="row">
        <div class="col-xs-9">
          <p>
            Copyright 2012-2018 The University of Pittsburgh Drug Discovery Institute Microphysiology Database Project
          </p>
          <p>
            <a target="_blank" href="http://www.ncats.nih.gov/research/reengineering/tissue-chip/tissue-chip.html">
                Funded by the National Center for Advancing Translational Sciences <b>Tissue Chips Program</b>,
            </a>
            <br>
            <a target="_blank" href="https://ncats.nih.gov/tissuechip/projects/centers">
                the National Center for Advancing Translational Sciences <b>Tissue Chip Testing Centers Program</b>,
            </a>
            <br>
            <a target="_blank" href="http://www.vanderbilt.edu/vprompt/index.php">
                and in part by the <b>Vanderbilt-Pittsburgh Resource for Organotypic Models for Predictive Toxicology</b>
            </a>
          </p>
        </div>
        <div class="col-xs-3">
          <span class="pull-right">
            <a onclick="window.open('/feedback/',
             'win',
             'toolbars=0,width=1000,height=760,left=200,top=200,scrollbars=1,resizable=1')">
                Give Feedback
            </a>
            <br>
            <a target="_blank" href="https://github.com/UPDDI">Contribute on Github</a>
{#          Add about section later#}
{#          <a href="#/about">About the MPS Project</a>#}
          </span>
        </div>
      </div>
    </footer>
  </div>

  {# Spinner #}
  <div id="spinner"></div>

  </div>
</body>
</html>
