{# MISSING ARIA AMONG OTHER THINGS #}
{% comment %}
<div class="row">
<div class="col-xs-12">
{% endcomment %}
{# STUPID INLINE STYLE #}
<ul style="margin: 0px;" class="pagination pull-right">
    <li class="paginate_button previous disabled {{ paginator_id }}-previous">
        <a role="button">Previous</a>
    </li>
    <li class="paginate_button active">
        <a role="button" class="{{ paginator_id }}-current">Page 1 of 1</a>
    </li>
    <li class="paginate_button next disabled {{ paginator_id }}-next">
        <a role="button">Next</a>
    </li>
</ul>
{% comment %}
</div>
</div>
{% endcomment %}
