{# formset may or may not exist depending on the page #}
{% if form.is_bound %}
    {% if not form.is_valid or not formset.is_valid %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Submission Failed: Please See Errors Below
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        </div>
    {% endif %}
    {# Always display non field errors at the top #}
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ form.non_field_errors }}
        </div>
    {% endif %}
{% endif %}
