<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<ul class="list-group">
    <li class="list-group-item">
        <h1 class="h1-level-1">The Database - Background</h1>

        <span class="gse0">{{ all_glossary.mpsdatabase_def|linebreaks }}</span>.

{#        The Microphysiology Systems Database       #}
{#        (<span class="gse0">{{ all_glossary.mpsdb_term }}</span>)#}
{#        combines the loading, storage, and sharing of experimentally derived assay data and data curated from#}
{#        <span class="gse0">{{ all_glossary.referencedatasource_term }}s</span>#}
{#        with visualization and analysis tools to provide a powerful platform for designing experimental studies and performing computational modeling. The#}
{#        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>#}
{#        can store curated assay data and associated metadata from a wide variety of plate-based and microfluidic models. Data from#}
{#        <span class="gse0">{{ all_glossary.referencedatasource_term }}s</span>#}
{#        are brought into the#}
{#        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>#}
{#        to facilitate ease of access to those data and to support integration of data across curated data sources.#}
{#        <br><br>#}
{#        Data collected as part of experimental studies are manually curated into the#}
{#        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>.#}
{#        Data from reference data sources are manually and/or auto-curated. The#}
{#        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>#}
{#        provides tools to analyze and/or visualize data pulled from#}
{#        <span class="gse0">{{ all_glossary.referencedatasource_term }}s</span>,#}
{#        and also provides tools to analyze curated study data in combination with reference data. Data and features available in the#}
{#        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>#}
{#        are described briefly below.#}
        <br><br>
        Many of the terms used in the
        <span class="gse0">{{ all_glossary.mpsgui_term }}</span>
        and here in the
        <b>Help</b> page
        are defined in the glossary. It is recommended that users rely heavily on the glossary to assist in understanding how to appropriately review, edit, and/or add data to the
        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>.

    </li>
</ul>

</body>
</html>