<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<ul class="list-group">
    <li class="list-group-item">
        <h1 class="h1-level-1">Study Components</h1>
        {# HANDY accessing a dictionary in html dictionary python to java   #}
        <span class="gse0">{{ all_glossary.studycomponent_def|linebreaks }}</span>
        They are the terms that are selected in dropdowns when setting up a study in the
        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>.
        All registered users can review
        <span class="gse0">{{ all_glossary.studycomponent_term }}s</span>
        at this link
        <span class="gse0">{{ all_glossary.studycomponent_ref }}</span>.
        <span class="gse0">{{ all_glossary.dataprovider_term }}s</span>
        (users who are assigned to, at least one,
        <span class="gse0">{{ all_glossary.datagroup_term }}</span>)
        can add new
        <span class="gse0">{{ all_glossary.studycomponent_term }}s</span>
        at this link
        <span class="gse0">{{ all_glossary.studycomponent_ref }}</span>,
        or by clicking the
        <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
        provided throughout the
        <span class="gse0">{{ all_glossary.studysetup_term }}</span>
        workflow.
        <br>
        <br>

        <h1 class="h1-level-2">Assay Components</h1>
        <table id="source_table" class="table table-bordered table-condensed small">
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Description</th>
                    <th>Go to Component</th>
                    <th>More Help</th>
                </tr>
            </thead>

            <tbody>
                {% for term in component_assay %}
                <tr>
                    <td><span class="gse1"> {{ term.term }} </span></td>
                    <td><span class="gse1"> {{ term.definition|linebreaks }} </span></td>
                    <td><span class="gse1"> {{ term.show_url }} </span></td>
                    <td><span class="gse1"> {{ term.show_anchor }} </span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="h1-level-2">Model Components</h1>
        <table id="source_table" class="table table-bordered table-condensed small">
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Description</th>
                    <th>Go to Component</th>
                    <th>More Help</th>
                </tr>
            </thead>

            <tbody>
                {% for term in component_model %}
                <tr>
                    <td><span class="gse1"> {{ term.term }} </span></td>
                    <td><span class="gse1"> {{ term.definition|linebreaks }} </span></td>
                    <td><span class="gse1"> {{ term.show_url }} </span></td>
                    <td><span class="gse1"> {{ term.show_anchor }} </span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="h1-level-2">Compound Components</h1>
        <table id="source_table" class="table table-bordered table-condensed small">
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Description</th>
                    <th>Go to Component</th>
                    <th>More Help</th>
                </tr>
            </thead>

            <tbody>
                {% for term in component_compound %}
                <tr>
                    <td><span class="gse1"> {{ term.term }} </span></td>
                    <td><span class="gse1"> {{ term.definition|linebreaks }} </span></td>
                    <td><span class="gse1"> {{ term.show_url }} </span></td>
                    <td><span class="gse1"> {{ term.show_anchor }} </span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 class="h1-level-2">Cell Components</h1>
        <table id="source_table" class="table table-bordered table-condensed small">
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Description</th>
                    <th>Go to Component List</th>
                    <th>More Help</th>
                </tr>
            </thead>

            <tbody>
                {% for term in component_cell %}
                <tr>
                    <td><span class="gse1"> {{ term.term }} </span></td>
                    <td><span class="gse1"> {{ term.definition|linebreaks }} </span></td>
                    <td><span class="gse1"> {{ term.show_url }} </span></td>
                    <td><span class="gse1"> {{ term.show_anchor }} </span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </li>
</ul>

</body>
</html>

{#just keeping for now in case things get corrupted with the glossary #}
{#        <h4>Assay Components</h4>#}
{#        <table class="table table-bordered table-condensed small">#}
{#            <thead>#}
{#                <tr class="active">#}
{#                    <th> Component </th>#}
{#                    <th> Description </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td> Assay Targets/Analytes </td>#}
{#                    <td> Targets/analytes used to assess the response of a MPS model. Assay targets/analytes are associated to the method/kit used to measure response. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Assay Method/Kits </td>#}
{#                    <td> Assay method/kits used to measure assay targets/analytes. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Measurement Types </td>#}
{#                    <td> The type of measurement used to acquire an assay data point. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Units of Measure </td>#}
{#                    <td> Units available for quantifying values. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Locations </td>#}
{#                    <td> Locations within a device where treatments can be added and/or samples removed. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Settings </td>#}
{#                    <td> Settings used in describing the study design (e.g., flow rate, media used, etc.). </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Assay Suppliers </td>#}
{#                    <td> The supplier of the kits and/or compounds used in performing the study. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> References </td>#}
{#                    <td> Publications or other sources of information used in designing and/or performing a study. </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
{##}
{#        <h4>Model Components</h4>#}
{#        <table class="table table-bordered table-condensed small">#}
{#            <thead>#}
{#                <tr class="active">#}
{#                    <th> Component </th>#}
{#                    <th> Description </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td> Devices </td>#}
{#                    <td> Devices used in MPS models in the MPS-Db with the option to click on the device to view details of the device. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> MPS models </td>#}
{#                    <td> MPS models in the MPS-Db with the option to click on the model and view details of the model's design. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> <span class="gse0">{{ all_glossary.mpsmodel }}</span> Locations </td>#}
{#                    <td> Locations within a device where treatments can be added and/or samples removed. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Manufacturers </td>#}
{#                    <td> Suppliers of MPS models and/or devices used to construct MPS models. </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
{##}
{#        <h4>Compound Components</h4>#}
{#        <table class="table table-bordered table-condensed small">#}
{#            <thead>#}
{#                <tr class="active">#}
{#                    <th> Component </th>#}
{#                    <th> Description </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td> Compound </td>#}
{#                    <td> Chemicals used in studies and/or features of the MPS-Db. Chemical properties are curated from reference sources. </td>#}
{#                </tr>#}
{#             </tbody>#}
{#        </table>#}
{##}
{#        <h4>Cell Components</h4>#}
{#        <table class="table table-bordered table-condensed small">#}
{#            <thead>#}
{#                <tr class="active">#}
{#                    <th> Component </th>#}
{#                    <th> Description </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td> Cell Types </td>#}
{#                    <td> The function of the cell. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Cell Origins </td>#}
{#                    <td> Indicator of hos the cells were isolated or acquired. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Cell Samples </td>#}
{#                    <td> Cell samples used in MPS models in the MPS-Db. The cell types and cell origins are included as part of the cell sample and must be added to the MPS-Db prior to adding the cell sample. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Cell Biosensors </td>#}
{#                    <td> Biosensors used in performing a study. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Cell Suppliers </td>#}
{#                    <td> The supplier of the cells used in performing the study. </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}

