<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<br>
<li>There are many options available for customizing graphs, to learn more, click on a link below:
    <ul class="filled-circle">
        <li><a href="#help_custom_filtering_sidebar">Custom Filtering for Data Visualization (sidebar)</a></li>
        <li><a href="#help_custom_graphing_sidebar">Custom Graphing for Data Visualization (sidebar)</a></li>
        <li><a href="#help_custom_graphing_individual">Customizing Individual Graphs</a></li>
    </ul>
</li>
<br>

</body>
</html>