<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<ul class="list-group">
    <li class="list-group-item">
        <h1 class="sub3-bars"> Permission Structure </h1>
        The following briefly describes the permission structure available to data providers. There are a variety of options available, including keeping data access limited to only members of a specific group, to sharing with a few select colleagues, to open access.
        <br>
        <br>

        <table id="source_table" class="table table-bordered table-condensed small">
            <thead>
                <tr>
                    <th>User Type</th>
                    <th>Permission Description</th>
                </tr>
            </thead>

            <tbody>
                {% for term in permission %}
                <tr>
                    <td>{{ term.term }}</td>
                    <td>{{ term.definition }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </li>
</ul>

{##}
{#<ul class="list-group">#}
{#    <li class="list-group-item">#}
{#        <h1 class="sub3-bars"> Permission Structure </h1>#}
{#        The following briefly describes the permission structure available to data providers. There are a variety of options available, including keeping data access limited to only members of a specific group, to sharing with a few select colleagues, to open access.#}
{#        <br>#}
{#        <br>#}
{##}
{#        <table class="table table-bordered table-condensed small">#}
{#            <thead>#}
{#                <tr class="active">#}
{#                    <th> Role </th>#}
{#                    <th> Access to Data and Features </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td> Registered MPS Users with No Additional Permissions  </td>#}
{#                    <td> Can view all reference data and associated features. Can view study components (e.g., MPS models, devices, cell samples). Can view study data in studies that have been designated as open to all registered MPS users, including: viewing study setup information, study protocols, images, videos, and study assay data. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Data Group Viewers and Users with Additional Permissions  </td>#}
{#                    <td> Have all the access of <i>Registered MPS Users with No Additional Permissions</i> plus access to studies to which they have been granted access. Special access is sometimes granted to MPS model developers (i.e. acknowledgement access) and/or project funders. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Data Group Editors  </td>#}
{#                    <td> Have all the access of <i>Data Group Viewers and Users with Additional Permissions</i> plus the ability to edit their studies, including: adding/deleting/editing studies and study details, adding/deleting/editing study items, uploading assay data, and validating study items and studies. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Data Group Admins  </td>#}
{#                    <td> Have all the access of <i>Data Group Editors</i> plus the ability to sign off a study and monitor the acknowledgment status of a study (e.g., a model developer reviewed study data). </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> MPS-Db Administrators  </td>#}
{#                    <td> Have all the access of <i>Data Group Admins</i> plus the ability to change user permissions, including establishing users with special access to specific studies. </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
{#        Note: Additional permissions can be granted in a multitude of configurations to match individual user needs.#}
{#    </li>#}
{#</ul>#}

</body>
</html>