<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<ul class="list-group">
    <li class="list-group-item">
        <h3>Database Background</h3>
        The Microphysiology Systems Database (MPS-Db) combines the loading, storage, and sharing of experimentally derived assay data and data curated from external reference sources with visualization and analysis tools to provide a powerful platform for designing experimental studies and performing computational modeling. The MPS-Db can store curated assay data and associated metadata from a wide variety of plate-based and microfluidic models. Data from external reference sources are brought into the MPS-Db to facilitate ease of access to those data and to support integration of data across curated data sources.
        <br><br>
        Data collected as part of experimental studies are manually curated into the MPS-Db. Data from reference data sources are manually and/or auto-curated. The MPS-Db provides tools to analyze and/or visualize data pulled from external data sources, and also provides tools to analyze curated study data in combination with reference data. Data and features available in the MPS-Db are described briefly below.
        <br><br>
        Many of the terms used in the MPS-GUI and here in the <b>Help</b> page are defined in the <b>Glossary</b>. It is recommended that users rely heavily on the <b>Glossary</b> to assist in understanding how to appropriately review, edit, and/or add data to the MPS-Db.
    </li>
</ul>

</body>
</html>