<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<ul class="list-group">
    <li class="list-group-item">
        <h1 class="sub3-bars"> Reference Data Sources </h1>
        The following briefly describes the sources of data used in the MPS-Db and how those data are obtained.
        <br>
        <br>

        <table id="source_table" class="table table-bordered table-condensed small">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Description</th>
                    <th>Reference Data #</th>
                    <th>Reference Data Website</th>
                </tr>
            </thead>

            <tbody>
                {% for term in source %}
                <tr>
                    <td>{{ term.term }}</td>
                    <td>{{ term.definition }}</td>
                    <td>{{ term.help_order }}</td>
                    <th>{{ term.show_url }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </li>
</ul>

</body>
</html>

{#        <table class="table table-bordered table-condensed small">#}
{#            <thead>#}
{#                <tr class="active">#}
{#                    <th> Source # </th>#}
{#                    <th> Data Source </th>#}
{#                    <th> Curation Method </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td> 1 </td>#}
{#                    <td> MPS-Db Study Data </td>#}
{#                    <td> Manual Curation </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 2 </td>#}
{#                    <td> Health Canada </td>#}
{#                    <td> Manual Curation </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 3 </td>#}
{#                    <td> LiverTox </td>#}
{#                    <td> Manual Curation </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 4 </td>#}
{#                    <td> ToxNet </td>#}
{#                    <td> Manual Curation </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 5 </td>#}
{#                    <td> European Medicines Agency (EMA) </td>#}
{#                    <td> Manual Curation </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 6 </td>#}
{#                    <td> OpenFDA </td>#}
{#                    <td> Some data pulled dynamically and not stored (Adverse events are updated quarterly). Note: data are not intended for clinical use. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 7 </td>#}
{#                    <td> NAMCS/NHAMCS  </td>#}
{#                    <td> Auto Curation </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 8 </td>#}
{#                    <td> PubChem </td>#}
{#                    <td> Auto Curation (Bioactivity data updated quarterly) </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 9 </td>#}
{#                    <td> TogoWS  </td>#}
{#                    <td> Auto Curation </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 10 </td>#}
{#                    <td> UniChem </td>#}
{#                    <td> Auto Curation </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 11 </td>#}
{#                    <td> DrugBank  </td>#}
{#                    <td> Auto Curation (Compound data updated when compound added to MPS-Db) </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 12 </td>#}
{#                    <td> ChEMBL </td>#}
{#                    <td> Auto Curation (Bioactivity data updated quarterly; Compound data updated when compound added to MPS-Db) </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 13 </td>#}
{#                    <td> clinicaltrials.gov </td>#}
{#                    <td> Some data pulled dynamically and not stored </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 14 </td>#}
{#                    <td> ctti-clinicaltrials.org </td>#}
{#                    <td> Some data pulled dynamically and not stored</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> 15 </td>#}
{#                    <td> Expert elicitation from open sources and publications</td>#}
{#                    <td> Manual Curation </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
