{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <link rel="icon"
    type="image/png"
    href="/static/img/glyphicons-question-sign.png">

  <title>MPS Help</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <!-- Load JQuery -->
  <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
  <!-- Incorporate the Bootstrap JavaScript plugins -->
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/fixedHeader.dataTables.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/responsive.dataTables.min.css" %}">
  <!-- DataTables -->
  <script type="text/javascript" charset="utf-8" src="{% static "js/jquery.dataTables.min.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "js/dataTables.responsive.min.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "js/dataTables.buttons.min.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "js/dataTables.fixedHeader.min.js" %}"></script>
  {# We will just be using html5 for buttons (no fallback) #}
  {# <script type="text/javascript" charset="utf-8" src="{% static "js/buttons.flash.min.js" %}"></script>#}
  <script type="text/javascript" charset="utf-8" src="{% static "js/buttons.html5.min.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "js/buttons.print.min.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static "js/datatable_options.js" %}"></script>
  <!-- Custom CSS Rules -->
  <link rel="stylesheet" href="{% static "css/bootstrap-overrides.css" %}">
  <!-- Help JS -->
  <script type="text/javascript" charset="utf-8" src="{% static "js/help.js" %}"></script>
</head>

{# TODO NEEDS TO BE REVISED WITH NEW INTERFACE #}
{# MAKE SURE THIS OFFSET IS EQUAL TO THE OFFSET LISTED IN THE SCRIPT #}


<body data-spy="scroll" data-target=".navbar" data-offset="80">
<nav class="navbar navbar-inverse navbar-fixed-top">
    {# Open class container - use Ctrl+Shift+M to jump to close#}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand navbar-help"><b>MPS Help</b></span>
        </div>

        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#recentupgrades">What's New</a></li>
                    <li><a href="#search">Search</a></li>
                    <li><a href="#search">Search</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Studies<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#upload">Upload Data Points</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Compounds<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#chemicaldata">Chemical Data</a></li>
                            <li><a href="#bioactivities">Bioactivities</a></li>
                            <li><a href="#drugtrials">Drug Trials</a></li>
                            <li><a href="#adverseevents">Adverse Events</a></li>
                            <li><a href="#compoundreport">Compound Report</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data Analysis<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#heatmap">Heatmap</a></li>
                            <li><a href="#cluster">Cluster</a></li>
                        </ul>
                    </li>

                    <li><a href="#glossary">Glossary</a></li>

                </ul>
            </div>
        </div>
    </div>
  {# Close class container #}
</nav>

<div class="offset-help-navbar">

    <div id="recentupgrades_section" class="container">
        <h1>What's New</h1>
        <div id="recentupgrades">
            <h2>Recent Upgrades to the MPS Database</h2>
            <ul class="list-group">
                <li class="list-group-item active">
                Major MPS Database Upgrades in the Past 6 months
                </li>
                <li class="list-group-item"> <b><em>Integrated Reproducibility Analysis</em></b> An intra- and inter-study reproducibility analysis tool is now available in the MPS database. The inter-study reproducibility analysis tool can be accessed through the Data Analysis icon. This tool offers the user a wide range of options for grouping and filtering data prior to performing analysis. The intra-study tool can be accessed through the Study Summary Page.
                </li>
                <li class="list-group-item"> <b><em>Matrix Items in a Matrix</em></b> Matrix Items can now be assigned to a matrix and data can be summarized by matrix. To learn more about matrix and matrix items, review the descriptions in the glossary section of the help.
                </li>
                <li class="list-group-item"> <b><em>Integration of Images and Videos</em></b> Images and videos can now be associated to a matrix item within a study. Images/videos are provided with metadata explaining what is being displayed. Images/videos are auto-scaled for optimal viewing online, and the unaltered images/videos can be downloaded to perform relative comparisons. Images/videos can be accessed from the main study page (Study Matrices and Items List Page).
                </li>
                <li class="list-group-item"> <b><em>Inter-Study Grouping and Filtering</em></b> The grouping and filtering feature is a powerful tool that offers the user a wide range of options for grouping and filtering data. The tool can be accessed in several places throughout the database, including: through the Data Analysis icon and the Study Summary Page. The tool can be used to customize what data are used (via the filtering feature) and how data will be grouped (via the grouping feature) graphing and analysis.
                </li>
                <li class="list-group-item"> <b><em>Disease Model Portal</em></b> The disease model portal allows users to quickly determine what information regarding a specific disease is available in the MPS Database, lets the user drill down on data stored in the MPS database (study data and data extracted from the clinicaltrials.gov), and provides users with a links to clinicaltrials.gov where addition drug trial information can be accessed. The disease model portal can be accessed through the Models tab (via the View Diseases option).
                </li>
            </ul>
        </div>
    </div>

    <div id="search_section" class="container">
        <h1>Search</h1>
        <div id="search">
          <h2>Searching the Database</h2>
          <ul class="list-group">
            <li class="list-group-item active">
              From the home page, you can perform a <b>Global Search</b> with the provided text input
            </li>
            <li class="list-group-item">
              To search, type a query in the search input field and hit enter or click the blue <b>Search</b> button
            </li>
            <li class="list-group-item">
              As you type in the search bar, suggestions will appear
              <br>
              Clicking a suggestion will place a term broader than the suggestion into the search bar
              <br>
              This is done so that clicking a search suggestion for, say, a drug trial, will also display other results with the compound in question
            </li>
            <li class="list-group-item">
              Clicking the white button reading <b>Global</b> lets you switch to a <b>Bioactivites Search</b> described
                <a href="#bioactivities">here</a>
            </li>
            <li class="list-group-item">
              After submitting a <em>global</em> query, you are brought to the <b>Search Results</b> page
              <br>
              This page has a text input so that you can submit another <em>global</em> search
              <br>
              Below the text input, you will see a number of checkboxes with labels for different types of data
              <br>
              Clicking a checkbox will restrict the results to only display results that have a checked-off type
              <br>
              You can clear all of the checkboxes and show all of the results again by clicking the red <b>Clear Filters</b> button
            </li>
          </ul>
        </div>
    </div>

    <div id="studies_section" class="container">
      <h1>Studies</h1>
      <div id="upload">
        <h2>Uploading Data Points</h2>
    {#    <h4></h4>#}
        <ul class="list-group">
          <li class="list-group-item active">
            It is possible to upload multiple sets of data points by uploading an Excel file (.xls or .xlsx) or CSV (.csv)
          </li>
          <li class="list-group-item">
            To access this interface, go to the desired study's page and click this button:
              <a class="btn btn-warning" role="button">Upload Data</a>
          </li>
          <li class="list-group-item">
            Click the following links to download Excel templates:
            <br>
            <a href="/media/excel_templates/chip_template-{{ version }}.xlsx">
                Click Here For Upload Template
            </a>
          </li>
          <li class="list-group-item">
            The templates indicate where to place the Chip/Plate IDs
          </li>
          <li class="list-group-item">
            The Chip/Plate IDs must be for Chips/Plates in the current study
          </li>
          <li class="list-group-item">
            All valid sheets (based on the header) of an Excel file are considered for upload
          </li>
          <li class="list-group-item">
            Before uploading data, please be sure to add every assay performed in the section entitled <b>Assays</b>
            <br>
            You can change this list by going to the Study's edit page and finding the section <b>Assays</b>
            <br>
            Please see <a href="#study">Study</a>
          </li>
          <li class="list-group-item">
            <h4>The format for data point uploads is as follows:</h4>
              <table class="table table-bordered table-condensed small" style="background-color: #F0FFFF;">
                  <thead>
                        <tr class="active">
                            <th>Chip ID</th>
                            <th>Cross Reference</th>
                            <th>Assay Plate ID</th>
                            <th>Assay Well ID</th>
                            <th>Day</th>
                            <th>Hour</th>
                            <th>Minute</th>
                            <th>Target / Analyte</th>
                            <th>Subtarget</th>
                            <th>Method / Kit</th>
                            <th>Sample Location</th>
                            <th>Value</th>
                            <th>Value Unit</th>
                            <th>Replicate</th>
                            <th>Caution Flag</th>
                            <th>Exclude</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[Chip ID]</td>
                            <td>[Cross Reference]</td>
                            <td>[Assay Plate ID]</td>
                            <td>[Assay Well ID]</td>
                            <td>[Day]</td>
                            <td>[Hour]</td>
                            <td>[Minute]</td>
                            <td>[Target / Analyte]</td>
                            <td>[Subtarget]</td>
                            <td>[Method / Kit]</td>
                            <td>[Sample Location]</td>
                            <td>[Value]</td>
                            <td>[Value Unit]</td>
                            <td>[Replicate]</td>
                            <th>[Caution Flag]</th>
                            <td>[Leave Blank to Pass]</td>
                            <td>[Notes]</td>
                        </tr>
                        <tr>
                            <td>[Chip ID]</td>
                            <td>[Cross Reference]</td>
                            <td>[Assay Plate ID]</td>
                            <td>[Assay Well ID]</td>
                            <td>[Day]</td>
                            <td>[Hour]</td>
                            <td>[Minute]</td>
                            <td>[Target / Analyte]</td>
                            <td>[Subtarget]</td>
                            <td>[Method / Kit]</td>
                            <td>[Sample Location]</td>
                            <td>[Value]</td>
                            <td>[Value Unit]</td>
                            <td>[Replicate]</td>
                            <th>[Caution Flag]</th>
                            <td>[Any Value in this Column Marks the Reading Invalid]</td>
                            <td>[Notes]</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                File uploads can use either full names ("Albumin") or abbreviations ("ALB") for Target/Analytes
            </li>
            <li class="list-group-item">
                Some assays involve transferring media from a device into a plate
                <br>
                For these assays, specify this information with <b>Assay Plate ID</b> and <b>Assay Well ID</b>
            </li>
            <li class="list-group-item">
                Please note that time is split into <b>Day</b>, <b>Hour</b>, and <b>Minute</b>
            </li>
            <li class="list-group-item">
                The <b>Sample Location</b> indicates from where in a device the tested sample was acquired
                <br>
                For instance, if an Organ Model is split into a top and bottom compartment, one might put terms like "Apical" or "Basal" in the Sample Location column
            </li>
            <li class="list-group-item">
                <b class="text-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    The brackets ([] and {}) in the above examples and templates are not meant to be taken literally
                    <br>
                    When you are actually entering data, remove them
                </b>
            </li>
            <li class="list-group-item">
                <b class="text-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    The Chip ID should be nothing more than the Chip ID/Barcode you entered for a Matrix Item
                </b>
            </li>
            <li class="list-group-item">
                <b class="text-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    The correct header must be in the first three rows for a file to be considered valid
                </b>
            </li>
            <li class="list-group-item">
                <b class="text-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Uploading overwrites previous conflicting data (an alert will indicate if data is going to be overwritten)
                </b>
            </li>
            <li class="list-group-item">
                <b class="text-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    You will have to reselect the desired file after a failed submission
                </b>
            </li>
        </ul>
      </div>
    </div>


    <div id="compounds_section" class="container">
      <h1>Compounds</h1>

      <div id="chemicaldata">
        <h2>Chemical Data</h2>
        <h4>Viewing Chemical Data</h4>
          <ul class="list-group">
            <li class="list-group-item active">
              The <b>Chemical Data</b> section displays information about pertinent compounds
            </li>
            <li class="list-group-item">
              After choosing a compound to view, you can traverse the list in <em>alphanumeric order</em> with the "Next" and "Previous" buttons
            </li>
            <li class="list-group-item">
              The labels beneath the image of the compound indicate what project or projects the compound is part of
            </li>
            <li class="list-group-item">
              The "Medchem Alerts" field shows whether functional groups that are uncommon in drugs are present in this compound
              <br>
              If there are Medchem Alerts for a compound, you can click on the flag to see a list of the functional groups
            </li>
          </ul>
        <h4>Adding Chemical Data</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <b class="text-danger">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Before entering data yourself, please check ChEMBL (follow the link) for the compound you are interested in
              </b>
            </li>
            <li class="list-group-item">
              If you found one, put the <em>entire ChEMBL ID</em> (including "CHEMBL") into the ChEBML ID field and hit "Retrieve"
            </li>
          </ul>
      </div>

    <div id="bioactivities">
    <h2>Bioactivities</h2>
    <h4>About Bioactivities</h4>
      <ul class="list-group">
        <li class="list-group-item active">
          This <b>Bioactivity</b> data comes from ChEMBL and PubChem
        </li>
        <li class="list-group-item">
          Some data from these sources has been marked <em>questionable</em> for various reasons, you can exclude such entries
        </li>
      </ul>
    <h4>Using the Quick Search</h4>
    <ul class="list-group">
      <li class="list-group-item">
        <b>You do not need to fill out every field in this form</b>
        <br>
        It is only neccessary to fill out one of the three fields: "Compound", "Target", or "Name"
      </li>
      <li class="list-group-item">
        Search suggestions will appear for the compounds field
      </li>
      <li class="list-group-item">
        This interface can also be accessed on the home page: click the drop down button reading "Global" and switch to "Bioactivities"
      </li>
    </ul>
    <h4>Using the Advanced Search</h4>
    <ul class="list-group">
      <li class="list-group-item">
        Scroll down to see the Advanced Search options
      </li>
      <li class="list-group-item">
        Check the checkboxes of desired rows from each section and hit "Generate Table" when you are done
      </li>
      <li class="list-group-item">
        Clicking the checkbox at the top of a section will select <em>all currently visible</em> checkboxes in that section
      </li>
      <li class="list-group-item">
        To limit the number of choices to those containing specific characters, type in the <em>Filter</em> located above the respective section
      </li>
      <li class="list-group-item">
        The <em>Minimum Feature Count Per Record</em> field specifies the number of bioactivities that need to be linked to a given option for it to appear
        <br>
        e.g. if the min feature count is 10, then the compound "ALDRIN" won't be an option because only 5 bioactivities link to "ALDRIN"
      </li>
      <li class="list-group-item">
        Changes to the min feature count are not automatically applied, be sure to hit the "Apply" button if you want to change the min feature count
      </li>
      <li class="list-group-item">
        The following actions will clear <em>all</em> your selections and cause a refresh:
        <br>
        Changing between ChEMBL and PubChem, Changing whether questionable are excluded, Changing the min feature count
      </li>
      <li class="list-group-item">
        Changing the <em>Target Types</em> or <em>Organisms</em> will clear your <em>Target</em> selections and cause a refresh
      </li>
      <li class="list-group-item">
        The data for compounds is simple enough that you can use <em>Filter Compounds</em> without a refresh
      </li>
    </ul>
    <h4>Viewing the Table</h4>
    <ul class="list-group">
      <li class="list-group-item">
        The resulting tables are similar in design to the other tables in the database
      </li>
      <li class="list-group-item">
        The "Data Validity" column shows whether or not and why an entry has been marked questionable
      </li>
      <li class="list-group-item">
        Please note that not every ChEMBL entry has a corresponding PubChem entry and vice versa
      </li>
    </ul>
    </div>

    <div id="drugtrials">
    <h2>Drug Trials</h2>
    <ul class="list-group">
      <li class="list-group-item active">
        <b>Drug Trials</b> contain manually curated preclinical, clinical, and post-marketing data for compounds
      </li>
      <li class="list-group-item">
        After choosing a trial to view, you can traverse the list in <em>alphanumeric order</em> with the "Next" and "Previous" buttons
      </li>
    </ul>
    </div>

    <div id="adverseevents">
    <h2>Adverse Events</h2>
    <h4>Viewing Adverse Events</h4>
    <ul class="list-group">
      <li class="list-group-item active">
        <b>Adverse Events</b> contain automatically acquired data from OpenFDA
      </li>
      <li class="list-group-item">
        The "Number of Reports" column indicates the number of reports that list both the compound and adverse event in the row
        <br>
        Please note that a compound can be listed in a report but not suspected of causing the adverse event
        <br>
        Likewise, "Number of Reports" in this interface does not contain any information concerning the dose of the drug
      </li>
      <li class="list-group-item">
        Only top adverse events for compounds are shown in this interface
      </li>
      <li class="list-group-item">
        After choosing a compound to view, you can traverse the list in <em>alphanumeric order</em> with the "Next" and "Previous" buttons
      </li>
      <li class="list-group-item">
        While viewing a compound's adverse events, you can create time plots by selecting the "Toggle Plot" button in each row of the table
      </li>
      <li class="list-group-item">
        It is also possible to generate tables of adverse event frequencies given a specific time frame by using the interface at the bottom of the page
      </li>
      <li class="list-group-item">
        Additional information from OpenFDA such as warnings are sometimes found for a compound, click the "Show" button to view such data
      </li>
      <li class="list-group-item">
        <b class="text-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          OpenFDA is in beta: This data is not intended for clinical use
        </b>
      </li>
    </ul>
    <h4>Compare Adverse Events</h4>
    <ul class="list-group">
      <li class="list-group-item">
        Make selections by clicking the checkboxes in the furthest left column of the tables
      </li>
      <li class="list-group-item">
        Bar graphs will not appear until you have selected at least one adverse event and at least one compound
      </li>
      <li class="list-group-item">
        You can save, load, and clear your selections by using the buttons at the top
      </li>
      <li class="list-group-item">
        "Reports Among Top" is the number of reports of the most common adverse events for each compound
        <br>
        <b class="text-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          Entries with 0 for "Reports Among Top" may still have data from OpenFDA, these entries have a zero value because they are not top adverse events
        </b>
      </li>
      <li class="list-group-item">
        "Estimated Usage" are values derived from "Drug Mentions" listed in the CDC NAMCS and NHAMCS surveys of clinics, out-patient, and ER facilities
      </li>
      <li class="list-group-item">
        "Estimated Usage" is used to normalize the number of adverse events reports
        <br>
        To show the raw counts of adverse event reports, click the "Show Raw Counts" button
      </li>
    </ul>
    </div>

    <div id="compoundreport">
    <h2>Compound Report</h2>
    <ul class="list-group">
      <li class="list-group-item active">
        <b>Compound Report</b> lets you compare compound summaries
      </li>
      <li class="list-group-item">
        Make selections by clicking the checkboxes in the furthest left column of the table
      </li>
      <li class="list-group-item">
        When you are finished making selections, click "Generate Compound Report"
      </li>
      <li class="list-group-item">
        You can save, load, and clear your selections by using the buttons at the top
      </li>
      <li class="list-group-item">
        The report shows a summary of compound properties and plots of data for available assays
      </li>
      <li class="list-group-item">
        <b>Please note that only normalized data is considered in the plots</b>
      </li>
    </ul>
    </div>
    </div>

    <div id="analysis_section" class="container">
    <h1>Data Analysis</h1>

    <div id="heatmap">
    <h2>Heatmap</h2>
    <h4>About Bioactivities</h4>
    <ul class="list-group">
      <li class="list-group-item active">
        This <b>Bioactivity</b> data comes from ChEMBL and PubChem
      </li>
      <li class="list-group-item">
        Some data from these sources has been marked <em>questionable</em> for various reasons, you can exclude such entries
      </li>
    </ul>
    <h4>Making Selections</h4>
    <ul class="list-group">
      <li class="list-group-item">
        Check the checkboxes of desired rows from each section and hit "Generate Heatmap" when you are done
      </li>
      <li class="list-group-item">
        Clicking the checkbox at the top of a section will select <em>all currently visible</em> checkboxes in that section
      </li>
      <li class="list-group-item">
        To limit the number of choices to those containing specific characters, type in the <em>Filter</em> located above the respective section
      </li>
      <li class="list-group-item">
        The <em>Minimum Feature Count Per Record</em> field specifies the number of bioactivities that need to be linked to a given option for it to appear
        <br>
        e.g. if the min feature count is 10, then the compound "ALDRIN" won't be an option because only 5 bioactivities link to "ALDRIN"
      </li>
      <li class="list-group-item">
        Changes to the min feature count are not automatically applied, be sure to hit the "Apply" button if you want to change the min feature count
      </li>
      <li class="list-group-item">
        The following actions will clear <em>all</em> your selections and cause a refresh:
        <br>
        Changing between ChEMBL and PubChem, Changing whether questionable are excluded, Changing the min feature count
      </li>
      <li class="list-group-item">
        Changing the <em>Target Types</em> or <em>Organisms</em> will clear your <em>Target</em> selections and cause a refresh
      </li>
      <li class="list-group-item">
        The data for compounds is simple enough that you can use <em>Filter Compounds</em> without a refresh
      </li>
    </ul>
    <h4>Viewing the Heatmap</h4>
    <ul class="list-group">
      <li class="list-group-item">
        You can download a .csv file containing the information in the heatmap
      </li>
      <li class="list-group-item">
        The legend at the bottom of the page shows the meaning of the colors used
      </li>
      <li class="list-group-item">
        Click on a row or column label to sort the heatmap such that entries in the selection are ordered from highest to lowest
      </li>
      <li class="list-group-item">
        Clicking on a specific square in the heatmap will show that particular value in a pop-up
      </li>
    </ul>
    </div>

    <div id="cluster">
    <h2>Cluster</h2>
    <h4>About Bioactivities</h4>
    <ul class="list-group">
      <li class="list-group-item active">
        This <b>Bioactivity</b> data comes from ChEMBL and PubChem
      </li>
      <li class="list-group-item">
        Some data from these sources has been marked <em>questionable</em> for various reasons, you can exclude such entries
      </li>
    </ul>
    <h4>Making Selections</h4>
    <ul class="list-group">
      <li class="list-group-item">
        Check the checkboxes of desired rows from each section and hit "Generate Dendrogram" when you are done
      </li>
      <li class="list-group-item">
        Clicking the checkbox at the top of a section will select <em>all currently visible</em> checkboxes in that section
      </li>
      <li class="list-group-item">
        To limit the number of choices to those containing specific characters, type in the <em>Filter</em> located above the respective section
      </li>
      <li class="list-group-item">
        The <em>Minimum Feature Count Per Record</em> field specifies the number of bioactivities that need to be linked to a given option for it to appear
        <br>
        e.g. if the min feature count is 10, then the compound "ALDRIN" won't be an option because only 5 bioactivities link to "ALDRIN"
      </li>
      <li class="list-group-item">
        Changes to the min feature count are not automatically applied, be sure to hit the "Apply" button if you want to change the min feature count
      </li>
      <li class="list-group-item">
        The following actions will clear <em>all</em> your selections and cause a refresh:
        <br>
        Changing between ChEMBL and PubChem, Changing whether questionable are excluded, Changing the min feature count
      </li>
      <li class="list-group-item">
        Changing the <em>Target Types</em> or <em>Organisms</em> will clear your <em>Target</em> selections and cause a refresh
      </li>
      <li class="list-group-item">
        The data for compounds is simple enough that you can use <em>Filter Compounds</em> without a refresh
      </li>
      <li class="list-group-item">
        This interface is made to be similar to the selection forms used in the Heatmap and Cluster pages
      </li>
    </ul>
    <h4>Viewing the Cluster</h4>
    <ul class="list-group">
      <li class="list-group-item">
        The table on the left shows the bioactivities and drug trial data taken into account
      </li>
      <li class="list-group-item">
        Clicking on a node will show the corresponding compound or compounds in the box on the right
        <br>
        You can dismiss a compound's information by hitting the corresponding red "X" button
      </li>
    </ul>
    </div>
    </div>







    <div id="glossary" class="container padded-bottom">
      <h1>Glossary</h1>
      <table hidden id="glossary_table" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Term</th>
            <th>Definition</th>
            <th>Ref</th>
          </tr>
        </thead>

        <tbody>
          {% for term in glossary %}
            <tr>
              <td>{{ term.term }}</td>
              <td>{{ term.definition }}</td>
              <td>{{ term.show_url }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <script src="{% static "js/display_datatable.js" %}"></script>
    </div>

</div>

</body>
</html>




