<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{% for term in component_model %}

    {% if term.term == "MPS Model" %}
        <button name="help_button" type="button" class="btn btn-success help-collapsible">{{ term.term }}</button>
        <div class="help-content-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <h1 class="h1-level-1">
                        <span class="gse1">{{ term.term }}</span>
                    </h1>
                    <ul class="list-unstyled">
                        <li>To review the
                            <span class="gse1">{{ term.term }}</span>
                            list:
                            <ul class="help-filled-circle">
                                <li>Click the link {{ term.show_url }}</li>
                                <li>Use the search bar or scroll through the list to find the
                                    <span class="gse1">{{ term.term }}</span>
                                    of interest or confirm the
                                    <span class="gse1">{{ term.term }}</span>
                                    is not present
                                </li>
                                <li>If in the list, click on the
                                    <b>View</b> button to review the details or the
                                    <b>Edit</b> button to update
                                </li>
                                <li>If not in the list, click on the
                                    <b>Add Model</b> button
                                </li>
                            </ul>
                        </li>
                        <br>
                        <li>Help Notes:
                            <ul class="help-filled-circle">
                                <li>To add or edit:
                                    <ul class="help-open-circle">
                                        <li>Fill in all the required information </li>
                                        <li>Submit to save (an
                                            <span class="gse0">{{ all_glossary.mpsmodel_term }}</span>
                                            must be saved before an
                                            <span class="gse0">{{ all_glossary.mpsmodelversion_term }}</span>
                                            can be added)
                                        </li>
                                        <li>In the
                                            <span class="gse1">{{ term.term }}</span>
                                            list, click the <b>Edit</b> button to update the model
                                        </li>
                                        <li>Scroll to the
                                            <b>MPS Model Versions</b>
                                            section of the page and click the
                                            <b>Edit</b> button to set up a
                                            <span class="gse0">{{ all_glossary.mpsmodelversion_term }}</span>
                                        </li>
                                        <li>Add all the information for the
                                            <span class="gse0">{{ all_glossary.mpsmodelversion_term }}</span>
                                        </li>
                                        <li>Click the <b>Submit</b> button to save </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <br><li>Help Tips:
                            <ul class="help-filled-circle">
                                <li>Collect up all the metadata needed before adding or updating </li>
                                <li>Add
                                    <span class="gse0">{{ all_glossary.references_term }}</span>
                                    to the database prior to trying to add them to a
                                    <span class="gse1">{{ term.term }}</span>
                                </li>
                                <li>Add
                                    <span class="gse0">{{ all_glossary.mpsmodelversion_term }}s</span>
                                    to expedite
                                    <span class="gse0">{{ all_glossary.studysetup_term }}</span>
                                    <ul class="help-open-circle">
                                        <li>
                                            <span class="gse0">{{ all_glossary.mpsmodelversion_term }}</span>
                                            include the information about cells and settings
                                        </li>
                                        <li>
                                            <span class="gse0">{{ all_glossary.mpsmodelversion_term }}</span>
                                            are a starting point for setting up
                                            <span class="gse0">{{ all_glossary.studytreatmentgroup_term }}s</span>
                                        </li>
                                        <li>
                                            <span class="gse0">{{ all_glossary.mpsmodelversion_term }}</span>,
                                            correctly completed, can significantly expedite the
                                            <span class="gse0">{{ all_glossary.studysetup_term }}</span>
                                            process
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <button name="help_button" type="button" class="btn btn-success help-collapsible">MPS Model Version Details</button>
                    <div class="help-content-2">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h1 class="h1-level-2">MPS Model Version Details</h1>
                                <ul class="list-unstyled">
                                    <li>Follow these steps:
                                         <ul class="help-filled-circle">
                                            <li>Coming soon...</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>

    {% endif %}
{% endfor %}

</body>
</html>
