<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div id="component_admin_section" class="container">

        <h1 class="sub1-bars"> MPS-Db Admins (only visible to MPS-DB Admins - Needs Updated)</h1>

        <h1 class="sub2-bars"> Adding/Editing Items to Pick Lists for MPS-Db Admins </h1>

        <div id="methods_admin">
            <button name="my_buttons" class="collapsible1">Assay Methods/Kits</button>
            <div class="content1">
                <div id="methodssadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add/Edit, go to the MPS-Db Admin
                                    <ul class="filled-circle">
                                        <li>Go to the MPS ASSAYS Section</li>
                                        <li>Click on Assay Methods </li>
                                        <li>Search to find the method to edit or search to confirm the method needed is not already available in the MPS-Db </li>
                                        <li>Click on the method to edit or click the <b>ADD ASSAY METHOD</b> button to add a new method </li>
                                        <li>Provide all the requested information, including a pdf of the method </li>
                                        <li>Click the <b>Save</b> button to save the changes </li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li>Be mindful that changes to controlled vocabulary may impact the ability of other users to upload data!</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="targets_admin">
            <button name="my_buttons" class="collapsible1">Assay Targets/Analytes</button>
            <div class="content1">
                <div id="targetsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add/Edit, go to the MPS-Db Admin
                                    <ul class="filled-circle">
                                        <li>Go to the MPS ASSAYS Section</li>
                                        <li>Click on Assay targets </li>
                                        <li>Search to find the target to edit or search to confirm the target needed is not already available in the MPS-Db </li>
                                        <li>Click on the target to edit or click the <b>ADD ASSAY TARGET</b> button to add a new target </li>
                                        <li>Provide all the requested information </li>
                                        <li>Click the <b>Save</b> button to save the changes </li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li>Be mindful that changes to controlled vocabulary may impact the ability of other users to upload data!</li>
                                        <li>If the Target/Analyte is a Compound, use a Name that matches the Compound to facilitate joining on Compound and Target/Analyte!</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="devices_admin">
            <button name="my_buttons" class="collapsible1">Devices Used in MPS Models</button>
            <div class="content1">
                <div id="devicesadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add/Edit, select <b>View Devices/Microdevices</b> from the <b>Models</b> icon or tab
                                    <ul class="filled-circle">
                                        <li>To Add - click the Add Device button</li>
                                        <li>To Edit - use the <b>Search</b> bar or scroll through the list to find the <b>Device</b> of interest</li>
                                        <li>To Edit - click on the <b>Edit</b> button to see additional details </li>
                                        <li>Add/Edit - fill in all the sections as completely as possible </li>
                                        <li>Click the <b>Submit</b> button to save changes</li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li>In the <b>Layout</b> section, the <b>Number of Rows</b> and <b>Number of Columns</b> will be used as the dimensions of the <b>Matrix</b> when using a <b>Model</b> based on this <b>Device</b> and entering as wells in a plate </li>
                                        <li>For information on assigning a <b>Device</b> to a <b>Matrix Item</b>, <a href="#matrixitems_editor">click here</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="diseaselist_admin">
            <button name="my_buttons" class="collapsible1">Diseases in the MPS-Db </button>
            <div class="content1">
                <div id="diseaselistadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add/Edit diseases, go to the MPS-Db Admin
                                    <ul class="filled-circle">
                                        <li>Go to the DISEASES Section </li>
                                        <li>Click on Diseases </li>
                                        <li>Search for an existing name that is applicable (click <b>ADD DISEASE</b> button if need new) </li>
                                        <li>Click Save button to save changes</li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li>As of 20180925, there is a lot of manual work that needs done for each new disease</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="cellsamples_admin">
            <button name="my_buttons" class="collapsible1">Cell Samples Used in MPS Models</button>
            <div class="content1">
                <div id="cellsamplesadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To edit, select <b>View Cell Samples</b> from the <b>Cell Samples</b> icon or tab:
                                    <ul class="filled-circle">
                                        <li>Use the <b>Search</b> bar or scroll through the list to find the <b>Cell Sample</b> of interest</li>
                                        <li>Click on the <b>Edit</b> button to see additional details </li>
                                        <li>Make the required changes</li>
                                        <li>Click the <b>Submit</b> button to save changes</li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li><b>Cell Types</b> describe a variety of cells, such as <em>astrocyte</em> or <em>hepatocyte</em> )</li>
                                        <li><b>Cell Origins</b> elaborate on the origin of the cells, for instance whether they are fresh, cryopreserved, or from a cell line </li>
                                        <li>If the <b>Cell Origin</b> of the sample is a cell line, select the <b>Cell Type</b> first </li>
                                        <li>Differentiating cell lots on date received and other criteria can be helpful in identifying assay data generated using specific lots of cells </li>
                                        <li>Select a <b>Cell Type</b> ONLY if this Origin is SPECIFIC to a certain <b>Cell Type</b> (e.g., a cell line) </li>
                                        <li>Be sure to specify the <b>Organ</b>, as many <b>Cell Types</b> differ depending on where they are located (e.g., hepatic stellate cells differ from pancreatic stellate cells </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="chemicaldata_admin">
            <button name="my_buttons" class="collapsible1">Chemical Data</button>
            <div class="content1">
                <div id="chemicaldataeditor" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add, go to the MPS-Db Admin
                                    <ul class="filled-circle">
                                        <li>Go to the COMPOUND Section</li>
                                        <li>Click on Compounds/Drugs </li>
                                        <li>Search to confirm the Compound needed is not already available in the MPS-Db </li>
                                        <li>Click the <b>ADD COMPOUND</b> button to add a new compound </li>
                                        <li>Enter the ChEMBL ID of the compound to add (e.g., CHEMBL1319459) </li>
                                        <li>Click the <b>Retrieve</b> button </li>
                                        <li>Add additional information as available (optional) </li>
                                        <li>Click the <b>Save</b> button to save the changes </li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li>Sometimes it is easier to find the ChEMBL ID on PubChem (<a href='https://www.ncbi.nlm.nih.gov/pccompound'>PubChem Compounds</a> )  </li>
                                        <li>Or search ChEMBL (<a href='https://www.ebi.ac.uk/chembl/index.php/'>ChEMBL</a> )  </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="mpslocations_admin">
            <button name="my_buttons" class="collapsible1">Locations of MPS Model Devices </button>
            <div class="content1">
                <div id="locationadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add/Edit, go to the MPS-Db Admin
                                    <ul class="filled-circle">
                                        <li>Go to the MPS ASSAYS Section </li>
                                        <li>Click on Assay Sample Locations </li>
                                        <li>Search for an existing name that is applicable (click Add Assay Sample Location if need new) </li>
                                        <li>Click <b>Save</b> button to save changes</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="mpsmodels_admin">
            <button name="my_buttons" class="collapsible1">Models in the MPS-Db</button>
            <div class="content1">
                <div id="mpsmodelsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add/Edit, select <b>View MPS Models</b> from the <b>Models</b> icon or tab
                                    <ul class="filled-circle">
                                        <li>To Add - click the Add Model button</li>
                                        <li>To Edit - use the <b>Search</b> bar or scroll through the list to find the <b>Model</b> of interest</li>
                                        <li>To Edit - click on the <b>Edit</b> button to see additional details </li>
                                        <li>Add/Edit - fill in all the sections as completely as possible </li>
                                        <li>Click the <b>Submit</b> button to save changes</li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li>As of 20180925, models are available for review by all users</li>
                                        <li>As of 20180925, the ability to add more attributes to a model (locations, settings, media, etc) are under consideration</li>
                                        <li>As of 20190924, model versions are now able to be added and populated in the edit Model interface. Model versions included cells and settings (not compounds). Model versions are used by the Study Setup by Treatment Group feature. Currently, no help is provided on completing a model version. At this time, it is uncertian who will be adding models and model versions, so instructions for adding model versions has not yet been added to the help. We can add information as needed and as time permits.</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="settings_admin">
            <button name="my_buttons" class="collapsible1">Settings (Instrument Settings, Non-Compound Treatments, etcetera) </button>
            <div class="content1">
                <div id="settingsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add/Edit, go to the MPS-Db Admin
                                    <ul class="filled-circle">
                                        <li>Go to the MPS ASSAYS Section </li>
                                        <li>Click on Assay Settings </li>
                                        <li>Search for an existing name that is applicable (click ADD ASSAY SAMPLE LOCATION if need new) </li>
                                        <li>Click <b>Save</b> button to save changes</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="physicalunits_admin">
            <button name="my_buttons" class="collapsible1">Units Available for Compounds, Cells, Settings, and Assay Targets</button>
            <div class="content1">
                <div id="physicalunitsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To Add/Edit, go to the MPS-Db Admin
                                    <ul class="filled-circle">
                                        <li>Go to the MPS ASSAYS Section </li>
                                        <li>Click on Physical Units </li>
                                        <li>Search for an existing name that is applicable (click ADD PHYSICAL UNITS if need new) </li>
                                        <li>Click <b>Save</b> button to save changes</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h1 class="sub2-bars"> Controlling User Access </h1>

        <div id="access_overview_admin">
            <button name="my_buttons" class="collapsible1">Sharing Study Data Overview</button>
            <div class="content1">
                <div id="accessoverviewadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li> There are now a lot of options for controlling and sharing data in the MPS-Db.</li>
                                <li> All of the options work on a "study" (not on individual data points).</li>
                                <li> Access is controlled by assigning permissions to users and by assigning groups to studies. </li>
                                <li> Looking first at setting permissions to a study, in the admin, in the MPS Assays section, select Studies. Notice in the list the fields: Signed Off By, Stakeholder Display, Access Group Display, Collaboration Group Display, Restricted, Keep Private Indefinitely (Locked). These summarize if and how each study is being shared. </li>
                                <li> <br>Examining each field:<br></li>
                                <ul class="filled-circle">
                                    <li> Signed Off By - If this has a user name in it, it means that the study is following the sign off, acknowledgement, embargo process. A sign off does not open the study to the public, even if there is no stakeholder. If there is no stakeholder, the study is open to Access Groups. </li>
                                    <li> Stakeholder Display - If there is something here, it means there is a stakeholder for the study.  </li>
                                    <li> Access Group Display - If there is something here, users in these groups can see the study after sign off (if there are not stakeholders) or after stakeholder acknowledgement. </li>
                                    <li> Collaboration Group Display - This is a special feature that allows sharing a study, at any time, to users in these groups. </li>
                                    <li> Restricted - Until this is unchecked, a study is closed to the public. It can be unchecked by an admin at <b>any time</b>. Studies in the embargo period (after sign off and acknowledgement) will be unchecked one year and two weeks after sign off (automated process), UNLESS the study is 'locked'. </li>
                                    <li> Keep Private Indefinitely (Locked) - Locking a study stops the study from being released to the next level (blocks automatic migration to public access - public if acknowledged, access if stakeholders, stakeholders if signed off). </li>
                                </ul>


                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li> What happens if the 'Use in Calculations' box is check? The study becomes available in the Compound Report. </li>
                                        <li> Collaborator groups are completely controlled by the admins (no front-end GUI).</li>
                                        <li> To open a study to the public immediately (i.e. bypass sign off, acknowledgment, embargo) must by done by the admin (uncheck the restricted box), but data providers can check the 'Use in Calculations' box.</li>
                                        <li> While the use is sometimes indicated in the group name, there is no real difference between groups (data, stakeholder, access, collaborator). Use caution. Even though a data group and a stakeholder group is associated with the same institution, the users in the groups maybe different. </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="add_groups_admin">
            <button name="my_buttons" class="collapsible1">Adding New Data Groups</button>
            <div class="content1">
                <div id="addgroupsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li> A <b>Group</b> (Data, Stakeholder, Access) is actually a trio of groups. The following is an example for <b>Data Group Rusyn_TAMU</b>
                                    <ul class="filled-circle">
                                        <li> <b>Rusyn_TAMU</b> - this is the editor group, sometimes referred to as the group proper </li>
                                        <li> <b>Rusyn_TAMU Admin</b> - admins can edit and sign off (or acknowledge for TCD groups) studies</li>
                                        <li> <b>Rusyn_TAMU Viewer</b> - can view studies prior to sign off (or acknowledgement for TCD groups) </li>
                                    </ul>
                                </li>
                                <li> <br> A <b>Collaborator Group</b> is two groups, one, the group proper, and one for viewers. The following is an example for the <b> SQL-SAL_1.5</b> group
                                    <ul class="filled-circle">
                                        <li> <b>SQL-SAL_1.5 </b> - add this <b>Collaborator Group</b> to studies to share </li>
                                        <li> <b>SQL-SAL_1.5 Viewer </b> - add the collaborators to this group </li>
                                    </ul>
                                </li>
                                <li>To create and prepare a new <b>Group</b>
                                    <ul class="filled-circle">
                                        <li>Go to the MPS-Db admin (https://mps.csb.pitt.edu/admin/) </li>
                                        <li>Go to the MPS Authentication and Authorization Section</li>
                                        <li>Click on Groups and scroll down to review how groups are named</li>
                                        <li>Click on the ADD GROUP button on the top right side</li>
                                        <li>Give the group a name (for example: my_group) </li>
                                        <li>Click the Save and add another button </li>
                                        <li>Give the group a name (for example: my_group Admin) </li>
                                        <li>Click the Save and add another button </li>
                                        <li>Give the group a name (for example: my_group Viewer) </li>
                                        <li>Click the SAVE button </li>
                                        <li>Return to the admin home page (https://mps.csb.pitt.edu/admin/) </li>
                                        <li>Go to the MPS CENTERS AND MODELS Section </li>
                                        <li>Scroll to find the Center with which the new group will be associated </li>
                                        <li>Click on the center Name to select the center </li>
                                        <li>Scroll down to the Groups section and add the new group (the group proper) to the center </li>
                                        <li>Scroll down and click the SAVE button </li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li> It is very easy to forget to attach the group proper to a center. If you forget, you will not be able to use the group. </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="study_groups_admin">
            <button name="my_buttons" class="collapsible1">Assigning Groups to Studies</button>
            <div class="content1">
                <div id="studygroupsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To assign groups to a <b>Study</b>
                                    <ul class="filled-circle">
                                        <li>Go to the MPS-Db admin</li>
                                        <li>Go to the MPS ASSAYS Section</li>
                                        <li>Click on Studies</li>
                                        <li>Scroll through the study list and locate the study of interest</li>
                                        <li>Click to open the study</li>
                                        <li>Scroll to the group section of interest (Data, Access, Collaborator, Stakeholder)</li>
                                        <li>Select group(s) for each section (note: the Data Group is selected when the study is added, but it could be edited here) </li>
                                        <li>Add the <b>group proper</b> (not the admin or viewer groups) to the study</li>
                                        <li>Save the changes</li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li>Best practice would be to assign appropriate groups (Stakeholder and Access) at the time of study creation. </li>
                                        <li>Data Group Admins and Editors can create a study, but cannot add/edit special permission groups to a study</li>
                                        <li> Collaborator groups bypass the tri-level sign-off, review, and release protocol </li>
                                        <li>Data Providers must work with MPS-Db Admins to set up appropriate groups when/if needed. </li>
                                        <li>Clicking on the button to <b>Change Group Access for this Study</b> from the <b>Study Matrices and Items List</b> page will route the user to the <b>Change Study</b> page of the GUI Admin.</li>
                                        <li>IMPORTANT: studies should always be assigned to the <b>group proper</b>, that is, the editor group (not admin or viewer)! </li>
                                    </ul>
                                </li>
                                <li><br>To quickly see what studies are in a <b>Collaborator Group</b>
                                    <ul class="filled-circle">
                                        <li> Go to the MPS-Db admin</li>
                                        <li> Go to the Authentication and Authorization Section</li>
                                        <li> Click on Groups</li>
                                        <li> Look in the Collaborator Group Display column </li>
                                        <li> Scroll through the groups or use the search bar</li>
                                        <li> Click on the Show/Hide Collaborator Studies link</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="user_groups_admin">
            <button name="my_buttons" class="collapsible1">Assigning Users To Groups (Data, Stakeholder, Access, and Collaborator)</button>
            <div class="content1">
                <div id="usergroupsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To assign users to a <b>Group</b>
                                    <ul class="filled-circle">
                                        <li> Go to the MPS-Db admin</li>
                                        <li> Go to the Authentication and Authorization Section</li>
                                        <li> Click on Users</li>
                                        <li> Scroll through the users or use the search bar</li>
                                        <li> Click to open the user details</li>
                                        <li> Change group membership as needed</li>
                                        <li> Save the changes</li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li> Users should be assigned to appropriate groups when they register</li>
                                        <li> Users may have different roles in different groups</li>
                                        <li> <b>All users of collaborator groups should be Viewers</b></li>
                                    </ul>
                                </li>
                                <li> <br> The term <b>Data Group</b> actually refers to three groups, one group for each role. The following is an example for <b>Data Group Rusyn_TAMU</b> group
                                    <ul class="filled-circle">
                                        <li> <b>Rusyn_TAMU</b> - this is the editor group, sometimes referred to as the group proper </li>
                                        <li> <b>Rusyn_TAMU Admin</b> - admins can edit and sign off studies</li>
                                        <li> <b>Rusyn_TAMU Viewer</b> - can view studies prior to sign off</li>
                                    </ul>
                                </li>
                                <li> <br> The term <b>Stakeholder Group</b> also refers to three groups, one group for each role. The following is an example for <b>TCD_BBB_Vandy</b> group
                                    <ul class="filled-circle">
                                        <li> <b>TCD_BBB_Vandy </b> - this group must be present, but should not have members </li>
                                        <li> <b>TCD_BBB_Vandy Admin</b> – members are users who can acknowledge a study </li>
                                        <li> <b>TCD_BBB_Vandy Viewer</b> - members are users who can see a study but cannot acknowledge it </li>
                                    </ul>
                                </li>
                                <li> <br> The term <b>Access Group</b> also refers to three groups, one group for each role. The following is an example for the <b> NCATS</b> group
                                    <ul class="filled-circle">
                                        <li> <b>NCATS </b> - group must be present, but should not have members </li>
                                        <li> <b>NCATS Admin</b> -  group should not have members </li>
                                        <li> <b>NCATS Viewer</b> - members are users with special access </li>
                                    </ul>
                                </li>
                                <li> <br> The term <b>Collaborator Group</b> refers to two groups, one group editors and one for viewers. The following is an example for the <b> SQL-SAL_1.5</b> group
                                    <ul class="filled-circle">
                                        <li> <b>SQL-SAL_1.5 </b> - add this <b>Collaborator Group</b> to studies to share </li>
                                        <li> <b>SQL-SAL_1.5 Viewer </b> - add the collaborators to this group </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</body>
</html>