<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<ul class="list-group">
    <li class="list-group-item">
        <h1 class="h1-level-1">Study Organization</h1>
        In the
        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>, a
        <span class="gse0">{{ all_glossary.study_term }}</span>
        contains all data and metadata associated to an experiment designed to assess
        <span class="gse0">{{ all_glossary.mpsmodel_term }}</span> response. A list of studies in the
        <span class="gse0">{{ all_glossary.mpsdb_term }}</span>, with summary information about the
        <span class="gse0">{{ all_glossary.mpsmodel_term }}s</span> used in the
        <span class="gse0">{{ all_glossary.study_term }}</span>
        and associated assay results, is provided on the
        <b>Study List</b> page. A
        <span class="gse0">{{ all_glossary.study_term }}</span>
        can contain multiple
        <span class="gse0">{{ all_glossary.studytreatmentgroup_term }}s</span>
        and a
        <span class="gse0">{{ all_glossary.studytreatmentgroup_term }}</span>
        can include multiple
        <span class="gse0">{{ all_glossary.studyitem_term }}s</span>.
        Each
        <span class="gse0">{{ all_glossary.studyitem_term }}</span>
        can have multiple
        <span class="gse0">{{ all_glossary.assaydatapoint_term }}s</span>,
        <span class="gse0">{{ all_glossary.assayimage_term }}s</span>,
        and/or
        <span class="gse0">{{ all_glossary.assayvideo_term }}s</span>
        associated to it.
        <br>
        <br>

        <table id="source_table" class="table table-bordered table-condensed small">
            <thead>
                <tr>
                    <th>Study Organization Terms</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                {% for term in organization_study %}
                <tr class="gse0">
                    <td class="gse1">{{ term.term }}</td>
                    <td class="gse1">{{ term.definition|linebreaks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{#just keeping for now in case things get corrupted with the glossary #}
{#        <table class="table table-bordered table-condensed small">#}
{#            <thead>#}
{#                <tr class="active">#}
{#                    <th> Component </th>#}
{#                    <th> Description </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td> Study Treatment Group </td>#}
{#                    <td> MPS models constructed and treated the same way are part of a study treatment group. The study treatment group is assigned a name during study setup. When an <span class="gse0">{{ all_glossary.mpsmodel }}</span> is constructed using a chip device, multiple chips can be assigned to the same study treatment group. When an <span class="gse0">{{ all_glossary.mpsmodel }}</span> is constructed using a plate device, wells from one or more plates can be assigned to the same study treatment group, or to different study treatment groups. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Study Item </td>#}
{#                    <td> An experimental <span class="gse0">{{ all_glossary.mpsmodel }}</span> consisting of one chip, one well on a plate, multiple wells on a plate that function as one MPS model, multiple substructures within an individual well on a plate (e.g., skeletal myobundle), or some other custom configuration. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Assay Data Points (non-omic data) </td>#}
{#                    <td> Data points are assay targets measured at a specific time relative to the start of an experiment and from a specific location in an MPS model. Processed assay data can be directly uploaded to a study for immediate presentation on the <b>Study Summary</b> page via the MPS import friendly columnar (MIF-C) file format. Raw assay plate reader data, exported from an assay plate reader, can be uploaded to a study and processed using the plate reader data processing tool provided in the database. After processing, those data join with other processed data and are available for presentation on the <b>Study Summary</b> page. All processed assay data that have been submitted for presentation on the <b>Study Summary</b> page can be visualized/analyzed within the individual study (intra-study), across studies (inter-study), and/or in combination with curated reference data. </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Omic Data Points </td>#}
{#                    <td> Due to the number of targets (i.e. gene references) associated with genomic data, these data (e.g., log 2 fold change and associated statistics, normalized counts) are uploaded to the MPS-Db via an interface specifically designed for genomic data.</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td> Assay Images & Videos </td>#}
{#                    <td> Images and videos can be linked to a study item and displayed within a study. Currently, images and videos must be added to the MPS-Db by the database administrators. An image/video metadata file, along with the images/videos can be provided to the database administrators through box/drive sharing. </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}

    </li>
</ul>

</body>
</html>