<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div id="component_admin_section" class="container">

        <h1 class="sub2-bars"> Controlling User Access </h1>

        <div id="access_overview_admin">
            <button name="my_buttons" class="collapsible1">Sharing Study Data Overview</button>
            <div class="content1">
                <div id="accessoverviewadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li> There are now a lot of options for controlling and sharing data in the MPS-Db.</li>
                                <li> All of the options work on a "study" (not on individual data points).</li>
                                <li> Access is controlled by assigning permissions to users and by assigning groups to studies. </li>
                                <li> Looking first at setting permissions to a study, in the admin, in the MPS Assays section, select Studies. Notice in the list the fields: Signed Off By, Stakeholder Display, Access Group Display, Collaboration Group Display, Restricted, Keep Private Indefinitely (Locked). These summarize if and how each study is being shared. </li>
                                <li> <br>Examining each field:<br></li>
                                <ul class="filled-circle">
                                    <li> Signed Off By - If this has a user name in it, it means that the study is following the sign off, acknowledgement, embargo process. A sign off does not open the study to the public, even if there is no stakeholder. If there is no stakeholder, the study is open to Access Groups. </li>
                                    <li> Stakeholder Display - If there is something here, it means there is a stakeholder for the study.  </li>
                                    <li> Access Group Display - If there is something here, users in these groups can see the study after sign off (if there are not stakeholders) or after stakeholder acknowledgement. </li>
                                    <li> Collaboration Group Display - This is a special feature that allows sharing a study, at any time, to users in these groups. </li>
                                    <li> Restricted - Until this is unchecked, a study is closed to the public. It can be unchecked by an admin at <b>any time</b>. Studies in the embargo period (after sign off and acknowledgement) will be unchecked one year and two weeks after sign off (automated process), UNLESS the study is 'locked'. </li>
                                    <li> Keep Private Indefinitely (Locked) - Locking a study stops the study from being released to the next level (blocks automatic migration to public access - public if acknowledged, access if stakeholders, stakeholders if signed off). </li>
                                </ul>


                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li> What happens if the 'Use in Calculations' box is check? The study becomes available in the Compound Report. </li>
                                        <li> Collaborator groups are completely controlled by the admins (no front-end GUI).</li>
                                        <li> To open a study to the public immediately (i.e. bypass sign off, acknowledgment, embargo) must by done by the admin (uncheck the restricted box), but data providers can check the 'Use in Calculations' box.</li>
                                        <li> While the use is sometimes indicated in the group name, there is no real difference between groups (data, stakeholder, access, collaborator). Use caution. Even though a data group and a stakeholder group is associated with the same institution, the users in the groups maybe different. </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="add_groups_admin">
            <button name="my_buttons" class="collapsible1">Adding New Data Groups</button>
            <div class="content1">
                <div id="addgroupsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li> A <b>Group</b> (Data, Stakeholder, Access) is actually a trio of groups. The following is an example for <b>Data Group Rusyn_TAMU</b>
                                    <ul class="filled-circle">
                                        <li> <b>Rusyn_TAMU</b> - this is the editor group, sometimes referred to as the group proper </li>
                                        <li> <b>Rusyn_TAMU Admin</b> - admins can edit and sign off (or acknowledge for TCD groups) studies</li>
                                        <li> <b>Rusyn_TAMU Viewer</b> - can view studies prior to sign off (or acknowledgement for TCD groups) </li>
                                    </ul>
                                </li>
                                <li> <br> A <b>Collaborator Group</b> is two groups, one, the group proper, and one for viewers. The following is an example for the <b> SQL-SAL_1.5</b> group
                                    <ul class="filled-circle">
                                        <li> <b>SQL-SAL_1.5 </b> - add this <b>Collaborator Group</b> to studies to share </li>
                                        <li> <b>SQL-SAL_1.5 Viewer </b> - add the collaborators to this group </li>
                                    </ul>
                                </li>
                                <li>To create and prepare a new <b>Group</b>
                                    <ul class="filled-circle">
                                        <li>Go to the MPS-Db admin (https://mps.csb.pitt.edu/admin/) </li>
                                        <li>Go to the MPS Authentication and Authorization Section</li>
                                        <li>Click on Groups and scroll down to review how groups are named</li>
                                        <li>Click on the ADD GROUP button on the top right side</li>
                                        <li>Give the group a name (for example: my_group) </li>
                                        <li>Click the Save and add another button </li>
                                        <li>Give the group a name (for example: my_group Admin) </li>
                                        <li>Click the Save and add another button </li>
                                        <li>Give the group a name (for example: my_group Viewer) </li>
                                        <li>Click the SAVE button </li>
                                        <li>Return to the admin home page (https://mps.csb.pitt.edu/admin/) </li>
                                        <li>Go to the MPS CENTERS AND MODELS Section </li>
                                        <li>Scroll to find the Center with which the new group will be associated </li>
                                        <li>Click on the center Name to select the center </li>
                                        <li>Scroll down to the Groups section and add the new group (the group proper) to the center </li>
                                        <li>Scroll down and click the SAVE button </li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li> It is very easy to forget to attach the group proper to a center. If you forget, you will not be able to use the group. </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="study_groups_admin">
            <button name="my_buttons" class="collapsible1">Assigning Groups to Studies</button>
            <div class="content1">
                <div id="studygroupsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To assign groups to a <b>Study</b>
                                    <ul class="filled-circle">
                                        <li>Go to the MPS-Db admin</li>
                                        <li>Go to the MPS ASSAYS Section</li>
                                        <li>Click on Studies</li>
                                        <li>Scroll through the study list and locate the study of interest</li>
                                        <li>Click to open the study</li>
                                        <li>Scroll to the group section of interest (Data, Access, Collaborator, Stakeholder)</li>
                                        <li>Select group(s) for each section (note: the Data Group is selected when the study is added, but it could be edited here) </li>
                                        <li>Add the <b>group proper</b> (not the admin or viewer groups) to the study</li>
                                        <li>Save the changes</li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li>Best practice would be to assign appropriate groups (Stakeholder and Access) at the time of study creation. </li>
                                        <li>Data Group Admins and Editors can create a study, but cannot add/edit special permission groups to a study</li>
                                        <li> Collaborator groups bypass the tri-level sign-off, review, and release protocol </li>
                                        <li>Data Providers must work with MPS-Db Admins to set up appropriate groups when/if needed. </li>
                                        <li>Clicking on the button to <b>Change Group Access for this Study</b> from the <b>Study Matrices and Items List</b> page will route the user to the <b>Change Study</b> page of the GUI Admin.</li>
                                        <li>IMPORTANT: studies should always be assigned to the <b>group proper</b>, that is, the editor group (not admin or viewer)! </li>
                                    </ul>
                                </li>
                                <li><br>To quickly see what studies are in a <b>Collaborator Group</b>
                                    <ul class="filled-circle">
                                        <li> Go to the MPS-Db admin</li>
                                        <li> Go to the Authentication and Authorization Section</li>
                                        <li> Click on Groups</li>
                                        <li> Look in the Collaborator Group Display column </li>
                                        <li> Scroll through the groups or use the search bar</li>
                                        <li> Click on the Show/Hide Collaborator Studies link</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="user_groups_admin">
            <button name="my_buttons" class="collapsible1">Assigning Users To Groups (Data, Stakeholder, Access, and Collaborator)</button>
            <div class="content1">
                <div id="usergroupsadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li>To assign users to a <b>Group</b>
                                    <ul class="filled-circle">
                                        <li> Go to the MPS-Db admin</li>
                                        <li> Go to the Authentication and Authorization Section</li>
                                        <li> Click on Users</li>
                                        <li> Scroll through the users or use the search bar</li>
                                        <li> Click to open the user details</li>
                                        <li> Change group membership as needed</li>
                                        <li> Save the changes</li>
                                    </ul>
                                </li>
                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li> Users should be assigned to appropriate groups when they register</li>
                                        <li> Users may have different roles in different groups</li>
                                        <li> <b>All users of collaborator groups should be Viewers</b></li>
                                    </ul>
                                </li>
                                <li> <br> The term <b>Data Group</b> actually refers to three groups, one group for each role. The following is an example for <b>Data Group Rusyn_TAMU</b> group
                                    <ul class="filled-circle">
                                        <li> <b>Rusyn_TAMU</b> - this is the editor group, sometimes referred to as the group proper </li>
                                        <li> <b>Rusyn_TAMU Admin</b> - admins can edit and sign off studies</li>
                                        <li> <b>Rusyn_TAMU Viewer</b> - can view studies prior to sign off</li>
                                    </ul>
                                </li>
                                <li> <br> The term <b>Stakeholder Group</b> also refers to three groups, one group for each role. The following is an example for <b>TCD_BBB_Vandy</b> group
                                    <ul class="filled-circle">
                                        <li> <b>TCD_BBB_Vandy </b> - this group must be present, but should not have members </li>
                                        <li> <b>TCD_BBB_Vandy Admin</b> – members are users who can acknowledge a study </li>
                                        <li> <b>TCD_BBB_Vandy Viewer</b> - members are users who can see a study but cannot acknowledge it </li>
                                    </ul>
                                </li>
                                <li> <br> The term <b>Access Group</b> also refers to three groups, one group for each role. The following is an example for the <b> NCATS</b> group
                                    <ul class="filled-circle">
                                        <li> <b>NCATS </b> - group must be present, but should not have members </li>
                                        <li> <b>NCATS Admin</b> -  group should not have members </li>
                                        <li> <b>NCATS Viewer</b> - members are users with special access </li>
                                    </ul>
                                </li>
                                <li> <br> The term <b>Collaborator Group</b> refers to two groups, one group editors and one for viewers. The following is an example for the <b> SQL-SAL_1.5</b> group
                                    <ul class="filled-circle">
                                        <li> <b>SQL-SAL_1.5 </b> - add this <b>Collaborator Group</b> to studies to share </li>
                                        <li> <b>SQL-SAL_1.5 Viewer </b> - add the collaborators to this group </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="special_permission_admin">
            <button name="my_buttons" class="collapsible1">Mike - this all needs edited - Adding Special Permissions </button>
            <div class="content1">
                <div id="accessoverviewadmin" class="adminsubtainer">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li> There are now a lot of options for controlling and sharing data in the MPS-Db.</li>
                                <li> All of the options work on a "study" (not on individual data points).</li>
                                <li> Access is controlled by assigning permissions to users and by assigning groups to studies. </li>
                                <li> Looking first at setting permissions to a study, in the admin, in the MPS Assays section, select Studies. Notice in the list the fields: Signed Off By, Stakeholder Display, Access Group Display, Collaboration Group Display, Restricted, Keep Private Indefinitely (Locked). These summarize if and how each study is being shared. </li>
                                <li> <br>Examining each field:<br></li>
                                <ul class="filled-circle">
                                    <li> Signed Off By - If this has a user name in it, it means that the study is following the sign off, acknowledgement, embargo process. A sign off does not open the study to the public, even if there is no stakeholder. If there is no stakeholder, the study is open to Access Groups. </li>
                                    <li> Stakeholder Display - If there is something here, it means there is a stakeholder for the study.  </li>
                                    <li> Access Group Display - If there is something here, users in these groups can see the study after sign off (if there are not stakeholders) or after stakeholder acknowledgement. </li>
                                    <li> Collaboration Group Display - This is a special feature that allows sharing a study, at any time, to users in these groups. </li>
                                    <li> Restricted - Until this is unchecked, a study is closed to the public. It can be unchecked by an admin at <b>any time</b>. Studies in the embargo period (after sign off and acknowledgement) will be unchecked one year and two weeks after sign off (automated process), UNLESS the study is 'locked'. </li>
                                    <li> Keep Private Indefinitely (Locked) - Locking a study stops the study from being released to the next level (blocks automatic migration to public access - public if acknowledged, access if stakeholders, stakeholders if signed off). </li>
                                </ul>


                                <li><br>Notes
                                    <ul class="filled-circle">
                                        <li> What happens if the 'Use in Calculations' box is check? The study becomes available in the Compound Report. </li>
                                        <li> Collaborator groups are completely controlled by the admins (no front-end GUI).</li>
                                        <li> To open a study to the public immediately (i.e. bypass sign off, acknowledgment, embargo) must by done by the admin (uncheck the restricted box), but data providers can check the 'Use in Calculations' box.</li>
                                        <li> While the use is sometimes indicated in the group name, there is no real difference between groups (data, stakeholder, access, collaborator). Use caution. Even though a data group and a stakeholder group is associated with the same institution, the users in the groups maybe different. </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

{# this would need added back to the template also....#}
{#    {% if user.is_superuser %}#}
{#        {% include 'help_superuser_content.html' %}#}
{#    {% endif %}#}

{#  IF ADD THIS BACK TO THE HELP, HERE IS THE NAVI BAR STUFF - WILL NEED TO PUT IT BACK #}
{#                <li class="dropdown">#}
{#                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">MPS Admins<span class="caret"></span></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li class="dropdown-header"><b>Controlling Access</b></li>#}
{#                        <li><a href="#access_overview_admin">Sharing Study Data Overview</a></li>#}
{#                        <li><a href="#add_groups_admin">Add Groups to Database</a></li>#}
{#                        <li><a href="#study_groups_admin">Add Groups to Study</a></li>#}
{#                        <li><a href="#user_groups_admin">Add Users to Group</a></li>#}
{#                        <li><a href="#special_permission_admin">Add Special Permission </a></li>#}
{#                        <li class="divider"></li>#}
{#                        <li class="dropdown-header"><b>Controlling Access</b></li>#}
{#                        <li><a href="#access_overview_admin">Sharing Study Data Overview</a></li>#}
{#                        <li><a href="#add_groups_admin">Add Groups to Database</a></li>#}
{#                        <li><a href="#study_groups_admin">Add Groups to Study</a></li>#}
{#                        <li><a href="#user_groups_admin">Add Users to Group</a></li>#}
{#                    </ul>#}
{#                </li>#}