<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<ul class="list-group">
    <li class="list-group-item">
        In the MPS-Db, a study contains all data and metadata associated to an experiment designed to assess MPS model response. A list of studies in the MPS-Db, with summary information about the MPS models used in the study and associated assay results, is provided on the <b>Study List</b> page. A study can contain multiple study treatment groups and a study treatment group can include multiple study items. Each study item can have multiple data points, images and/or videos associated to it.
        <br>
        <br>

        <table class="table table-bordered table-condensed small">
            <thead>
                <tr class="active">
                    <th> Component </th>
                    <th> Description </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Study Treatment Group </td>
                    <td> MPS models constructed and treated the same way are part of a study treatment group. The study treatment group is assigned a name during study setup. When an MPS model is constructed using a chip device, multiple chips can be assigned to the same study treatment group. When an MPS model is constructed using a plate device, wells from one or more plates can be assigned to the same study treatment group, or to different study treatment groups. </td>
                </tr>
                <tr>
                    <td> Study Item </td>
                    <td> An experimental MPS model consisting of one chip, one well on a plate, multiple wells on a plate that function as one MPS model, multiple substructures within an individual well on a plate (e.g., skeletal myobundle), or some other custom configuration. </td>
                </tr>
                <tr>
                    <td> Assay Data Points (non-genomic data) </td>
                    <td> Data points are assay targets measured at a specific time relative to the start of an experiment and from a specific location in an MPS model. Processed assay data can be directly uploaded to a study for immediate presentation on the <b>Study Summary</b> page via the MPS import friendly columnar (MIF-C) file format. Raw assay plate reader data, exported from an assay plate reader, can be uploaded to a study and processed using the plate reader data processing tool provided in the database. After processing, those data join with other processed data and are available for presentation on the <b>Study Summary</b> page. All processed assay data that have been submitted for presentation on the <b>Study Summary</b> page can be visualized/analyzed within the individual study (intra-study), across studies (inter-study), and/or in combination with curated reference data. </td>
                </tr>
                <tr>
                    <td> Genomic Data </td>
                    <td> Due to the number of targets (i.e. gene references) associated with genomic data, these data (e.g., log 2 fold change and associated statistics, normalized counts) are uploaded to the MPS-Db via an interface specifically designed for genomic data.</td>
                </tr>
                <tr>
                    <td> Assay Images & Videos </td>
                    <td> Images and videos can be linked to a study item and displayed within a study. Currently, images and videos must be added to the MPS-Db by the database administrators. An image/video metadata file, along with the images/videos can be provided to the database administrators through box/drive sharing. </td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>

</body>
</html>