<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{% for term in component_compound %}
    {% if term.term == "Compound" %}
    <div id="help2_compound">
        <button name="help_button" type="button" class="btn btn-success help-collapsible">{{ term.term }}</button>
        <div class="help-content-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <h1 class="h1-level-1">
                        <span class="gse1">{{ term.term }}</span>
                    </h1>
                    <span class="gse1"> {{ term.definition|linebreaks }} </span>
                    <ul class="list-unstyled">
                        <li>To review the
                            <span class="gse1">{{ term.term }}</span>
                            list:
                            <ul class="help-filled-circle">
                                <li>Go to the list
                                    <span class="gse1"> ({{ term.url_term }})</span>
                                </li>
                                <li>Use the search bar or scroll through the list to find the
                                    <span class="gse1">{{ term.term }}</span>
                                    of interest or confirm the
                                    <span class="gse1">{{ term.term }}</span>
                                    is not present
                                </li>
                                <li>If in the list, click on the <b>View</b> button to review the details or the <b>Edit</b> button to update</li>
                                <li>If not in the list, click on the <b>Add Compound</b> button</li>
                            </ul>
                        </li>
                        <br>
                        <li>Help Notes:
                            <ul class="help-filled-circle">
                                <li>To add new compounds:
                                    <ul class="help-open-circle">
                                        <li>Click the <b>Search ChEMBL</b> button</li>
                                        <li>Find the ChEMBL ID for the compound needed</li>
                                        <li>Copy the ChEMBL ID into the ChEMBL ID box</li>
                                        <li>Click the <b>Fetch Compound Information</b> button</li>
                                        <li>Click the <b>Submit</b> button to save</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
{% endfor %}

</body>
</html>
