{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "js/cookies.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "bioactivities/bioactivities_search.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <form action="/" method="post">
                {% csrf_token %}
                {{ form.app.as_hidden }}
    {#            <input hidden id="id_app" name="app" value="Compounds">#}
                <div id="search_bar" class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span id="current_search">Global</span>
                            <span class="caret"></span></button>
                        <ul id="search_options" class="dropdown-menu" role="menu">
                          <li><a>Bioactivities</a></li>
                        </ul>
                  </div>
                <input id="id_search_term" name="search_term" type="text" class="form-control" placeholder="Search Global">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div>
            {% include 'bioactivities/bioactivities_search.html' with index=True %}
            </form>
        </div>
    </div>

    <br>

    <div class="text-center">
        <div class="row" id="title">
            <span class="col-sm-2">
              <img src="/static/img/test_dots.png" style="width:100px;height:100px;">
            </span>
            <h1 class="col-sm-8">
              Microphysiology Systems Database
              <div class="row">
                  <h5>University of Pittsburgh Drug Discovery Institute</h5>
              </div>
            </h1>
            <span class="col-sm-2">
                <img src="/static/img/Pitt_Logo.png" style="width:100px;height:100px;">
            </span>
        </div>
        <div class="row">
            <h4>Study Components</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div title="View organ models and microdevices" class="well">
                    {# Note that this doesn't work unless stopPropagation i used #}
                    <a onclick="event.stopPropagation(); $('#models_button').click();">
                        <img src="/static/img/liver_model.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                            <button id="models_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Models &amp; Devices <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li title="View organ models"><a href="/microdevices/model">View Organ Models</a></li>
                                <li title="View microdevices"><a href="/microdevices/device">View Microdevices</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div title="View curated drug trials and chemical data" class="well">
                    <a onclick="event.stopPropagation(); $('#compounds_button').click();">
                        <img src="/static/img/button_browse.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                            <button id="compounds_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Compounds <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/compounds/">View Chemical Data</a></li>
                                <li><a href="/bioactivities/table/#filter">View Bioactivities</a></li>
                                <li><a href="/drugtrials/">View Drug Trials</a></li>
                                <li><a href="/adverse_events/">View Adverse Events</a></li>
                                <li class="divider"></li>
                                <li><a href="/compare_adverse_events/">Compare Adverse Events</a></li>
                                <li><a href="/compounds/report/#filter">Compound Report</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div title="View cell samples and cell types" class="well">
                    <a onclick="event.stopPropagation(); $('#cellsamples_button').click();">
                        <img src="/static/img/button_cell.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                        <button id="cellsamples_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Cell Samples <span class="caret"></span>
                        </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/cellsamples/celltype/">View Cell Types</a></li>
                            <li><a href="/cellsamples/cellsubtype/">View Cell Origins</a></li>
                            <li><a href="/cellsamples/cellsample/">View Cell Samples</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Assay and Bioactivity Data</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div title="Add/edit studies, setups, readouts, and results" class="well">
                    <a onclick="event.stopPropagation(); $('#studies_button').click();">
                        <img src="/static/img/button_study.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
{#                        <a href="/assays/editable_studies/"#}
{#                           class="btn btn-primary btn-large">#}
{#                            Add/Edit Studies#}
{#                        </a>#}
                        <div class="btn-group">
                            <button id="studies_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Studies <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li title="Index of all the studies created by groups you are a member of">
                                    <a href="/assays/editable_studies/">View Editable Studies</a>
                                </li>
                                <li><a href="/assays/study/">View All Studies</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Requires Permission</li>
                                <li><a href="/assays/study/add/">Add Study</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="col-sm-6 col-md-4">#}
{#                <div title="Add/edit chip setups, readouts, and results" class="well">#}
{#                    <a onclick="event.stopPropagation(); $('#chips_button').click();">#}
{#                        <img src="/static/img/chips.png"#}
{#                             style="height: 70px;">#}
{#                    </a>#}
{#                    <div class="caption">#}
{#                        <div class="btn-group">#}
{#                        <button id="chips_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">#}
{#                            Chip Data <span class="caret"></span>#}
{#                        </button>#}
{#                          <ul class="dropdown-menu" role="menu">#}
{#                            <li><a href="/assays/assaychipsetup/">View Setups</a></li>#}
{#                            <li><a href="/assays/assaychipreadout/">View Readouts</a></li>#}
{#                            <li><a href="/assays/assaychiptestresult/">View Results</a></li>#}
{#                            <li class="divider"></li>#}
{#                            <li><a href="/assays/studyconfiguration/">View Integrated Study Configurations</a></li>#}
{#                          </ul>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-12 col-md-4">#}
{#                <div title="Add/edit plate setups, readouts, and results" class="well">#}
{#                    <a onclick="event.stopPropagation(); $('#plates_button').click();">#}
{#                        <img src="/static/img/plates.png"#}
{#                             style="height: 70px;">#}
{#                    </a>#}
{#                    <div class="caption">#}
{#                        <div class="btn-group">#}
{#                          <button id="plates_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">#}
{#                            Plate Data <span class="caret"></span>#}
{#                          </button>#}
{#                          <ul class="dropdown-menu" role="menu">#}
{#                            <li><a href="/assays/assayplatesetup/">View Setups</a></li>#}
{#                            <li><a href="/assays/assayplatereadout/">View Readouts</a></li>#}
{#                            <li><a href="/assays/assayplatetestresult/">View Results</a></li>#}
{#                            <li class="divider"></li>#}
{#                            <li><a href="/assays/assaylayout/">View Plate Layouts</a></li>#}
{#                          </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-sm-6 col-md-4">
                <div title="Generate a heatmap for selected bioactivity data" class="well">
                    <a href="/bioactivities/heatmap/#filter">
                        <img src="/static/img/button_heatmap.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/bioactivities/heatmap/#filter"
                           class="btn btn-primary btn-large">
                        Create Heatmap
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div title="Generate a dendrogram for selected compound/bioactivity data" class="well">
                    <a href="/bioactivities/cluster/#filter">
                        <img src="/static/img/button_cluster.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/bioactivities/cluster/#filter"
                           class="btn btn-primary btn-large">
                            Cluster Compounds
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Data Analysis and Modeling (In Progress)</h4>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div title="This feature is still in development" class="well">
                    <a href="/bioactivities/model/">
                        <img src="/static/img/button_predictive.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/bioactivities/model/"
                           class="btn btn-danger btn-large">
                        Modeling
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
