{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "js/cookies.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "bioactivities/bioactivities_search.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <form action="/" method="post">
                {% csrf_token %}
                {{ form.app.as_hidden }}
    {#            <input hidden id="id_app" name="app" value="Compounds">#}
                <div id="search_bar" class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span id="current_search">Global</span>
                            <span class="caret"></span></button>
                        <ul id="search_options" class="dropdown-menu" role="menu">
                          <li><a>Bioactivities</a></li>
                        </ul>
                  </div>
                <input id="id_search_term" name="search_term" type="text" class="form-control" placeholder="Search Global">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div>
            {% include 'bioactivities/bioactivities_search.html' with index=True %}
            </form>
        </div>
    </div>

    <br>

    <div class="text-center">
        <div class="row" id="title">
            <span class="col-sm-2">
              <img src="/static/img/test_dots.png" style="width:100px;height:100px;">
            </span>
            <div class="col-sm-8">
                <h1>Microphysiology Systems Database</h1>
              <div class="row">
                  <h5>University of Pittsburgh Drug Discovery Institute</h5>
              </div>
            </div>
            <span class="col-sm-2">
                <img src="/static/img/Pitt_Logo.png" style="width:100px;height:100px;">
            </span>
        </div>
        <div class="row">
            <h4>Study Components &amp; Reference Data</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div title="View MPS models and microdevices" class="well">
                    {# Note that this doesn't work unless stopPropagation is used #}
                    <a onclick="event.stopPropagation(); $('#models_button').click();">
                        <img src="/static/img/liver_model.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                            <button id="models_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Models &amp; Devices <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li title="View MPS models"><a href="/microdevices/model">View MPS Models</a></li>
                                <li title="View microdevices"><a href="/microdevices/device">View Microdevices</a></li>
                                <li title="View microdevices"><a href="/diseases">View Diseases</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div title="View curated drug trials and chemical data" class="well">
                    <a onclick="event.stopPropagation(); $('#compounds_button').click();">
                        <img src="/static/img/button_browse.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                            <button id="compounds_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Compounds <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/compounds/">View Chemical Data</a></li>
                                <li><a href="/bioactivities/table/#filter">View Bioactivities</a></li>
                                <li><a href="/drugtrials/">View Drug Trials</a></li>
                                <li><a href="/adverse_events/">View Adverse Events</a></li>
                                <li class="divider"></li>
                                <li><a href="/compare_adverse_events/">Compare Adverse Events</a></li>
                                <li><a href="/compounds/report/#filter">Compound Report</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div title="View cell samples and cell types" class="well">
                    <a onclick="event.stopPropagation(); $('#cellsamples_button').click();">
                        <img src="/static/img/button_cell.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                        <button id="cellsamples_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Cell Samples <span class="caret"></span>
                        </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/cellsamples/celltype/">View Cell Types</a></li>
                            <li><a href="/cellsamples/cellsubtype/">View Cell Origins</a></li>
                            <li><a href="/cellsamples/cellsample/">View Cell Samples</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Review, Analysis &amp; Modeling</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div title="Add/edit studies, setups, readouts, and results" class="well">
                    <a onclick="event.stopPropagation(); $('#studies_button').click();">
                        <img src="/static/img/button_study.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
{#                        <a href="/assays/editable_studies/"#}
{#                           class="btn btn-primary btn-large">#}
{#                            Add/Edit Studies#}
{#                        </a>#}
                        <div class="btn-group">
                            <button id="studies_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Studies <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li title="Index of all the studies created by groups you are a member of">
                                    <a href="/assays/assaystudy/editable_studies/">View Editable Studies</a>
                                </li>
                                <li><a href="/assays/assaystudy/">View All Studies</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Requires Permission</li>
                                <li><a href="/assays/assaystudy/add/">Add Study</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div title="Generate heatmaps and clusters for selected bioactivity data" class="well">
                    <a onclick="event.stopPropagation(); $('#visualization_button').click();">
                        <img src="/static/img/button_heatmap.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                            <button id="visualization_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Data Analysis <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/bioactivities/heatmap/#filter">
                                        Create Heatmap
                                    </a>
                                </li>
                                <li>
                                    <a href="/bioactivities/cluster/#filter">
                                        Cluster Compounds
                                    </a>
                                </li>
                                <li title="This feature is still in development">
                                    <a href="/under_construction/">
                                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                        Reproducibility
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div title="View reproducibility and predictive modeling" class="well">
                    <a onclick="event.stopPropagation(); $('#modeling_button').click();">
                        <img src="/static/img/button_predictive.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                            <button id="modeling_button" type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Computational Modeling <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li title="This feature is still in development">
                                    <a href="/under_construction/">
                                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                        PBPK
                                    </a>
                                </li>
                                <li title="This feature is still in development">
                                    <a href="/bioactivities/model/">
                                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                        Predictive Modeling
                                    </a>
                                </li>
{#                                <li title="This feature is still in development">#}
{#                                    <a href="/under_construction/">#}
{#                                        <span id="generic_alert_symbol" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>#}
{#                                        Pathway Modeling#}
{#                                    </a>#}
{#                                </li>#}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
