{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <style>
        h3 {
            font-weight: bold;
        }
        #title {
            background: #F8F8FF;
        }

        {# deal with css bootstrap overide for buttons and dropdowns (may have been overzealous of me) #}
{#        .not-bold {#}
{#            font-size: 14px;#}
{#            font-weight: normal;#}
{#        }#}
    </style>

    <script>
        $(function() {

            var initial = $('#id_app').val();

            if (initial == 'Bioactivities') {
                $("#bioactivities_search").show();
                $("#search_bar").hide();
            }

            $('#search_options li').click(function(e){
                $("#bioactivities_search").show("slow");
                $("#search_bar").hide("slow");
                $("#id_app").val("Bioactivities");
            });

            $('#back').click(function(){
                $("#bioactivities_search").hide("slow");
                $("#search_bar").show("slow");
                $("#id_app").val("Global");
            })
        });
    </script>

    <div class="row">
        <div class="col-xs-12">
            <form action="/" method="post">
                {% csrf_token %}
                {{ form.app.as_hidden }}
    {#            <input hidden id="id_app" name="app" value="Compounds">#}
                <div id="search_bar" class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span id="current_search">Global</span>
                            <span class="caret"></span></button>
                        <ul id="search_options" class="dropdown-menu" role="menu">
                          <li><a>Bioactivities</a></li>
                        </ul>
                  </div>
                <input id="id_search_term" name="search_term" type="text" class="form-control" placeholder="Search Global">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div>
            {% include 'bioactivities/bioactivities_search.html' with index=True%}
            </form>
        </div>
    </div>

    <br>

    <div class="text-center">
        <div class="row" id="title">
            <div class="col-xs-12">
                <div class="row">
                    <span class="col-sm-2">
                    <img src="/static/img/test_dots.png" style="width:70px;height: 70px;">
                    </span>
                    <h1 class="col-sm-8">Microphysiology Systems Database</h1>
                    <span class="col-sm-2">
                        <img src="/static/img/Pitt_Logo.png" style="width:70px;height: 70px;">
                    </span>
                </div>
                <div class="row">
                    <h5>University of Pittsburgh Drug Discovery Institute</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Study Design</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div title="View organ models and microdevices" class="well">
                    <a href="/microdevices/">
                        <img src="/static/img/liver_model.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/microdevices/"
                           class="btn btn-primary btn-large">
                            View Models &amp; Devices
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div title="View curated drug trials and chemical data" class="well">
                    <a href="/drugtrials/">
                        <img src="/static/img/button_browse.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            View Compounds <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/drugtrials/">View Drug Trials</a></li>
                            <li><a href="/compounds/">View Chemical Data</a></li>
                            <li><a href="/adverse_events/">View Adverse Events</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div title="View cell samples and cell types" class="well">
                    <a href="/cellsamples/cellsample/">
                        <img src="/static/img/button_cell.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            View Cell Samples <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/cellsamples/cellsample/">View Cell Samples</a></li>
                            <li><a href="/cellsamples/celltype/">View Cell Types</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-sm-6 col-md-3">
                    <div title="View a table of bioactivities based on your selection" class="well">
                        <a href="/bioactivities/table/">
                            <img src="/static/img/button_addcompound.png"
                                 style="height: 70px;">
                        </a>
                        <div class="caption">
                            <a href="/bioactivities/table/"
                               class="btn btn-primary btn-large">
                                View Bioactivities
                            </a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <h4>Perform Studies</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div title="Add/edit studies, setups, readouts, and results" class="well">
                    <a href="/assays/user_index/">
                        <img src="/static/img/button_study.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/assays/user_index/"
                           class="btn btn-primary btn-large">
                        Your Studies
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div title="Add/edit studies, setups, readouts, and results" class="well">
                    <a href="/assays/group_index">
                        <img src="/static/img/button_import.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/assays/group_index/"
                           class="btn btn-primary btn-large">
                        Group Studies
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div title="Lists all public data" class="well">
                    <a href="/assays/organchipstudy">
                        <img src="/static/img/button_chip.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            View Assay Data <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/assays/organchipstudy">Studies</a></li>
                            <li><a href="/assays/assaychipsetup">Setups</a></li>
                            <li><a href="/assays/assaychipreadout">Readouts</a></li>
                            <li><a href="/assays/assaytestresult">Results</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Data Analysis and Modeling</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div title="Generate a heatmap for selected bioactivity data" class="well">
                    <a href="/bioactivities/heatmap">
                        <img src="/static/img/button_heatmap.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/bioactivities/heatmap"
                           class="btn btn-primary btn-large">
                        Create Heatmap
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div title="Generate a dendrogram for selected compound/bioactivity data" class="well">
                    <a href="/bioactivities/cluster">
                        <img src="/static/img/button_cluster.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/bioactivities/cluster"
                           class="btn btn-primary btn-large">
                            Cluster Compounds
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div title="This feature is still in development" class="well">
                    <a href="/bioactivities/model/">
                        <img src="/static/img/button_predictive.png"
                             style="height: 70px;">
                    </a>
                    <div class="caption">
                        <a href="/bioactivities/model/"
                           class="btn btn-danger btn-large">
                        Modeling
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
