{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="/accounts/auth/" method="post">{% csrf_token %}

        <label for="username">User name:</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="username" value="" class="form-control" id="username" placeholder="User name">
        </div>
        <label for="password">Password:</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="password" class="form-control" value="" id="password" placeholder="Password">
        </div>
        {# Used to move to the next page #}
        <input type="hidden" name="next" value="{{next}}" />

        <br>
        <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
  </form>
{% endblock %}
