{% extends "base.html" %}

{% block breadcrumbs %}
    <li class="active">Logged Out</li>
{% endblock %}

{% block content %}
  <legend>
      <div class="alert alert-info" role="alert">
      <span class="sr-only">Info:</span>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          You are now logged out.
      </div>
  </legend>

  <div class="padded-row large-padding-top padded-bottom text-center">
        <a class="btn btn-xlarge btn-primary" href="/">
            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
            Back to Home Page
        </a>
  </div>

  <p>Click <a href="/accounts/login/">here</a> to login again.</p>
{% endblock %}
