{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <li class="active">Password Change</li>
{% endblock %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Sorry, your new password was not confirmed. Try again.
    </div>
{% endif %}

<form action="/password_change/" method="post" class="form-horizontal">
  {% csrf_token %}

  <legend>
    <h1>
      Change Password
{#                <button type="submit" class="btn btn-primary">Submit</button>#}
    </h1>
  </legend>

  {# {% include "submit.html" %}#}
  <label for="old_password">Old Password:</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
    <input type="password" name="old_password" class="form-control" value="" id="id_old_password" placeholder="Old Password">
  </div>
  <label for="new_password1">New Password:</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input type="password" name="new_password1" class="form-control" value="" id="id_new_password1" placeholder="New Password">
  </div>
  <label for="new_password2">Confirm New Password:</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
    <input type="password" name="new_password2" class="form-control" value="" id="id_new_password2" placeholder="Confirm New Password">
  </div>

  <br>
  <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
  <br>
</form>
{% endblock %}
