<div class="row large-padding-top">
    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="fancy-checkbox table-filter padded-bottom" align="left">
            <input type="checkbox" name="show_mps" id="show_mps" checked/>
            <div class="btn-group">
                <label for="show_mps" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="show_mps" class="btn btn-default active">
                    Show MPS
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="fancy-checkbox table-filter padded-bottom" align="left">
            <input type="checkbox" name="show_epa" id="show_epa" checked/>
            <div class="btn-group">
                <label for="show_epa" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="show_epa" class="btn btn-default active">
                    Show EPA
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="fancy-checkbox table-filter padded-bottom" align="left">
            <input type="checkbox" name="show_tctc" id="show_tctc" checked/>
            <div class="btn-group">
                <label for="show_tctc" class="btn btn-info">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="show_tctc" class="btn btn-default active">
                    Show TCTC
                </label>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-4">
        <div class="fancy-checkbox table-filter padded-bottom" align="left">
            <input type="checkbox" name="show_unassigned" id="show_unassigned" checked/>
            <div class="btn-group">
                <label for="show_unassigned" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="show_unassigned" class="btn btn-default active">
                    Show Unassigned
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-4"></div>
</div>
