{% load custom_filters static compress %}
{# Is it in poor taste to include this here? #}
{% compress js %}
<script src="{% static "js/sign_off_form.js" %}"></script>
{% endcompress %}

{% if study_submit and user|is_group_admin:group or update and creator and user.id == creator or not study_submit and group and user|is_group_editor:group %}
<div hidden>
    {{ form.signed_off }}
</div>

{% if study_submit %}
    <input hidden id="study_submit" value="True" />
{% else %}
    <input hidden id="study_submit" value=""/>
{% endif %}

<div class="well">
<div class="text-center">

<div class="btn-group" id="mark_reviewed_button_group">
    <label class="btn btn-success">
        <span hidden class="glyphicon glyphicon-ok" id="mark_reviewed_check"></span>
        <span> </span>
    </label>
    <label id="mark_reviewed_label" for="mark_reviewed" class="btn btn-default active">
    </label>
</div>
</div>
</div>

{# The title will change depending on the circumstances #}
<div hidden id="sign_off_confirm">
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Danger:</span>
        <span>Changes will not be saved unless you press the "Submit" button at the bottom of the page.</span>
    </div>
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        <span id="sign_off_confirm_warning"></span>
    </div>
</div>
{% endif %}
