{# Consolidated submit row #}
{# Parameters passed via with: group -- group needed for Sign Off, creator -- user needed for Sign Off #}
{% load custom_filters static compress %}

<nav id="floating-submit-row" class="footer navbar-fixed-bottom hidden-print floating-submit-row">
    <div class="container large-padding-top">
        {# TODO REFACTOR #}
        {# Creator is passed using with to differentiate entries that use user vs. group for Sign Off qualification #}
        {# If entry is reviewed, just show an indication showing that it has been reviewed #}
{#        {% if update and group and object.signed_off_by and not user|is_group_admin:group or update and creator and object.signed_off_by and not user.id == creator %}#}
        {% if update and creator and object.signed_off_by and not user.id == creator %}
            <div class="alert alert-success" role="alert">
                <a class="btn btn-warning" onclick="if(document.referrer.indexOf(window.location.host) !== -1){window.history.back()}else{window.location.href='/'};setTimeout(function(){window.location.href='/';},500);">
                    <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                        Go Back
                </a>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                This entry was signed off by <b>{{ object.full_reviewer }}</b> on <b>{{ object.signed_off_date }}</b>
            </div>
        {# Only show options if this entry is not locked due to being reviewed #}
        {% else %}

        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        {# <a class="btn btn-warning" role="button" onclick="window.location.reload(false);">Clear all Changes</a> #}

        {% if update and object.get_delete_url %}
            <a role="button" class="btn btn-danger pull-right" href="{{ object.get_delete_url }}">Delete</a>
        {% endif %}

        {% if flag %}
            {# Html for flagging for review #}
            {% if form.flagged.value %}
                {# If the model is flagged then display a danger flag and the notes #}
                <a role='button' id="flag" class="btn btn-sm btn-danger" title="Flag for review">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                </a>
                <a role='button' id="notes_for_flag" class="btn btn-sm btn-warning" title="Reason for Flag">
                    Notes
                </a>
            {% else %}
                {# If the model is not flagged display a blue flag and no notes #}
                <a role='button' id="flag" class="btn btn-sm" title="Flag for review">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                </a>
                <a role='button' id="notes_for_flag" class="btn btn-sm btn-danger" title="Reason for Flag" style="display: none">
                    Notes
                </a>
            {% endif %}

            {# Hidden div for flagging the entry #}
            <div hidden>
                {{ form.flagged }}
            </div>
        {% endif %}

        <div class="form-group has-error small-padding-top">
            <div class="col-xs-12">
                <input class='small form-control' placeholder="Reason for Flag" id="id_reason_for_flag" maxlength="300"
                name="reason_for_flag" type="text" style="display: none;" value="{{ form.reason_for_flag.value|default:'' }}">
            </div>
        </div>
        {% endif %}
    </div>
</nav>

{# It may be worth having a GENERIC dialog box that can be used for different circumstances #}
{# These dialog boxes, however, I think should remain specific #}

{# Enter override dialog box #}
<div hidden id="enter_dialog_confirm" title="Submit this form?">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        <span>Are you sure you want to submit the form?</span>
    </div>
</div>

{# This section gives a modal alert for when someone is going to overwrite an entry #}
{% if update %}
{% compress js %}
<script src="{% static "js/overwrite.js" %}"></script>
{% endcompress %}

<div hidden id="overwrite_confirm" title="Overwrite this Entry?">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        <span>Are you sure you want to overwrite this entry?</span>
    </div>
</div>
{% endif %}
