{# Tracking for certain models #}
{% if update %}
    {% if object.signed_off_by %}
        <div id="info" class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            This entry was reviewed by <b>{{ object.signed_off_by.first_name }} {{ object.signed_off_by.last_name }}</b> on <b>{{ object.signed_off_date }}</b>
        </div>
    {% endif %}

    <div class="bg-primary tracking-box">
        <p class="tracking-text">
            {% if object.created_by %}
                Created by <b>{{ object.created_by.first_name }} {{ object.created_by.last_name }}</b> on <b>{{ object.created_on }}</b>
            {% else %}
                Created by <b>Administration</b>
            {% endif %}
        </p>
    </div>
    {% if object.created_on|date:"U" != object.modified_on|date:"U" %}
        <div class="bg-info tracking-box">
            <p class="tracking-text">
                Last Modified by <b>{{ object.modified_by.first_name }} {{ object.modified_by.last_name }}</b> on <b>{{ object.modified_on }}</b>
            </p>
        </div>
    {% endif %}
{% endif %}
