{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "drugtrials/get_adverse_events.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/adverse_events/">Adverse Events</a></li>
    <li class="active">Adverse Events for {{ compound }}</li>
{% endblock %}

{% block content %}
    <legend>
        <h1>Adverse Events for
            <br>
            <a id="compound" href="/compounds/{{ compound.compound.id }}">{{ compound }}</a>
            <a href="/adverse_events/{{ next }}" class="btn btn-primary btn-large pull-right">
                Next
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </a>
            <a href="/adverse_events/{{ previous }}" class="btn btn-primary btn-large pull-right">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Previous
            </a>
        </h1>
    </legend>

    <div class="padded-row">

        <div class="col-sm-3 col-md-2 thumbnail">
            <img src="https://www.ebi.ac.uk/chembldb/compound/displayimage/{{ compound.compound.chemblid }}">
        </div>

        <div class="col-sm-9 col-md-10">
            <table class="table table-striped table-bordered table-nonfluid" style="background-color: #AAB3AB;">
                <tbody>
                    <tr>
                        <td>
                            <b>ChEMBL ID</b>
                        </td>
                        <td>
                            <a href="https://www.ebi.ac.uk/chembl/compound/inspect/{{ compound.compound.chemblid }}">{{ compound.compound.chemblid }}</a>
                        </td>
                    </tr>
                    {% if compound.compound.pubchemid %}
                    <tr>
                        <td>
                            <b>PubChem ID</b>
                        </td>
                        <td>
                            <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ compound.compound.pubchemid }}">{{ compound.compound.pubchemid }}</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if compound.compound.drugbank_id %}
                        <tr>
                            <td>
                                <b>DrugBank ID</b>
                            </td>
                            <td>
                                <a href="http://www.drugbank.ca/drugs/{{ compound.compound.drugbank_id }}">{{ compound.compound.drugbank_id }}</a>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>


    {% if compound.warnings %}
        <legend>
            Warnings

            {% if compound.black_box %}
                <span title="This compound has a Black Box Warning" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {% endif %}

            <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#warnings" aria-expanded="false" aria-controls="warnings">
                Show
            </button>
        </legend>

        <div id="warnings" class="row collapse">
{#            <blockquote>#}
            <div class="col-xs-12">
                <p>
                    {{ compound.warnings }}
                </p>
            </div>
{#            </blockquote>#}
        </div>
    {% endif %}

    {% if compound.nonclinical_toxicology %}
        <legend>
            Nonclinical Toxicology

            <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#nonclinical_toxicology" aria-expanded="false" aria-controls="nonclinical_toxicology">
                Show
            </button>
        </legend>

        <div id="nonclinical_toxicology" class="row collapse">
{#            <blockquote>#}
            <div class="col-xs-12">
                <p>
                    {{ compound.nonclinical_toxicology }}
                </p>
            </div>
{#            </blockquote>#}
        </div>
    {% endif %}

    <legend><b>Reported Events</b></legend>

    <table hidden id="reported_events" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Plot</th>
                <th>Event</th>
                <th>Frequency</th>
                <th>Organ</th>
            </tr>
        </thead>
        <tbody>
        {% for adverse_event in events %}
            <tr>
                <td><button class="plot_ae" data-adverse-event="{{ adverse_event.event }}">Toggle Plot</button></td>
                <td><a href="https://en.wikipedia.org/wiki/{{ adverse_event.event|lower }}">{{ adverse_event.event }}</a></td>
                <td>{{ adverse_event.frequency }}</td>
                <td>{{ adverse_event.event.organ|default:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="{% static "js/display_datatable.js" %}"></script>

    <br>

    <div class="well">
        <b class="text-info">
            Click and drag on the subplot to zoom.
            <br>
            Click a legend key to hide the respective plot.
            <br>
        </b>
        <b class="text-warning">
            Please note that the values in this plot refer to the
            number of reports and not the number of adverse events.
            <br>
            Reports can contain multiple adverse events, so
            the sum of values for different adverse events can exceed the total number of reports.
            <br>
            <br>
        </b>
        <b class="text-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            OpenFDA is in beta: This data is not intended for clinical use.
        </b>
    </div>

    <div>
        {#<button class='date-select' id='day'>Day (slow!)</button>#}
        <button class='date-select btn-primary' id='month'>Month</button>
        <button class='date-select' id='year'>Year</button>
    </div>

    <br>

    <div id="plot" style="height:400px;"></div>

    <legend><b>Events by Range</b></legend>

    <div hidden id="warning" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Error: Please try a different query or submit again later
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <label for="start_date" class="control-label">Start Date [yyyy-mm-dd]</label>
            <input class="form-control" id="start_date" type="text" value="2013-01-01">
        </div>
        <div class="col-md-3">
            <label for="end_date" class="control-label">End Date [yyyy-mm-dd]</label>
            {# Use today's date #}
            <input class="form-control" id="end_date" type="text" value="{% now "Y-m-d"%}">
        </div>
        <div class="col-md-3">
            <label for="limit" class="control-label">Limit</label>
            <input class="form-control" id="limit" type="number" value="5">
        </div>
        <div class="col-md-3">
            <br>
            <button id="submit" class="btn btn-info">Get Adverse Events from Range</button>
        </div>
    </div>

    <table hidden id="ae_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody id="ae_body">
        </tbody>
    </table>
{% endblock %}
