{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "drugtrials/adverse_events_list.js" %}"></script>
{% endblock %}

{% block content %}

    <div class="padded-bottom">
        <h2 align="center">Adverse Events</h2>

        <table hidden id="adverse_events" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Compound</th>
                    <th>Event</th>
                    <th>Frequency</th>
                    <th>Organ</th>
                    <th>Black Box Warning</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>View</th>
                    <th>Compound</th>
                    <th>Event</th>
                    <th>Frequency</th>
                    <th>Organ</th>
                    <th>Black Box Warning</th>
                </tr>
            </tfoot>

            <tbody>
            {% for adverse_event in object_list %}
                <tr class="adverse_event" id={{ adverse_event.id }}>
                    <td><a class="btn btn-primary" href="{{ adverse_event.compound.id }}">View</a></td>
                    <td><a href="{{ adverse_event.compound.id }}">{{ adverse_event.compound.compound }}</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/{{ adverse_event.event|lower }}">{{ adverse_event.event }}</a></td>
                    <td>{{ adverse_event.frequency }}</td>
                    <td>{{ adverse_event.event.organ|default:"" }}</td>
                    <td>
                        {% if adverse_event.compound.black_box %}
                            <span title="This compound has a Black Box Warning" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}

