{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block load %}
    <script src="{% static "drugtrials/compare_adverse_events.js" %}"></script>
{% endblock %}

{% block fluid-content %}

    <style>
    .c3 svg {
        font: 12px sans-serif;
        font-weight: bold;
    }
    </style>

    {# Get rid of inline style eventually #}
    {# Using a form here is a contrived way to prevent checkboxes from being initially filled #}
    <form autocomplete="off">
    <div class="padded-row padded-bottom hidden-print" style="overflow:auto;">
        <div class="col-sm-6">
            <table hidden id="adverse_events" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Adverse Event</th>
                        <th>Frequency in Database</th>
                        <th>Organ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in adverse_events %}
                        <tr>
                            <td>
                                <input class="checkbox adverse-event" type="checkbox" value="{{ event.event|safe }}">
                            </td>
                            <td>
                                {{ event.event }}
                            </td>
                            <td>
                                {{ event.frequency|intcomma }}
                            </td>
                            <td>
                                {{ event.organ|default:'' }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table hidden id="compounds" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Compound</th>
                        <th>Frequency in Database</th>
                        <th>Estimated Usage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compound in compounds %}
                        <tr>
                            <td>
                                <input class="checkbox compound" type="checkbox" value="{{ compound.compound.name|safe }}">
                            </td>
                            <td>
                                <a href="/compounds/{{ compound.compound.id }}">{{ compound.compound.name }}</a>
                            </td>
                            <td>
                                {{ compound.frequency|intcomma }}
                            </td>
                            <td>
                                {{ compound.estimated_usage|default:''|intcomma }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </form>

    <script src="{% static "js/display_datatable.js" %}"></script>

    <div id="bar_graphs" style="height:750px;"></div>

{% endblock %}
