{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container" style="padding-bottom: 50px">
        <h2 align="center">Compounds</h2>

        <table id="drugtrials" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Compound</th>
                    <th>Species</th>
                    <th>Trial Type</th>
                    <th>Finding</th>
                    <th>+/-</th>
                    <th>Max Affected</th>
                    <th>Value</th>
                    <th>Value Units</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Compound</th>
                    <th>Species</th>
                    <th>Trial Type</th>
                    <th>Finding</th>
                    <th>+/-</th>
                    <th>Max Affected</th>
                    <th>Value</th>
                    <th>Value Units</th>
                </tr>
            </tfoot>

            <tbody>
            {% for drugtrial in object_list %}
                {% for finding in drugtrial.findingresult_set.all %}
                    <tr class="finding" id={{ finding.id }}>
                        <td>{{ drugtrial.compound }}</td>
                        <td>{{ drugtrial.species }}</td>
                        <td>{{ drugtrial.trial_type }}</td>
                        <td>{{ finding.finding_name }}</td>
                        <td>{{ finding.result }}</td>
                        <td>{{ finding.percent_max }}</td>
                        <td>{{ finding.value }}</td>
                        <td>{{ finding.value_units }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#drugtrials').DataTable({
                "iDisplayLength": 50
                // If one wants to display top and bottom
                //"sDom": '<"wrapper"lfptip>'
            });
        });
    </script>
{% endblock %}
