{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <legend><h1>Drug Trial ID #{{ trial.id }}</h1></legend>

    <div class="col-xs-9">
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Compound:</b>
            </div>
            <div class="col-xs-8 lead">
                <a href="/compounds/{{ trial.compound.id }}">{{ trial.compound }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Trial Type:</b>
            </div>
            <div class="col-xs-8 lead">
                {{ trial.get_trial_type_display }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Trial Sub Type:</b>
            </div>
            <div class="col-xs-8 lead">
                {{ trial.get_trial_sub_type_display }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Participant Species:</b>
            </div>
            <div class="col-xs-8 lead">
                {{ trial.species }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Source:</b>
            </div>
            <div class="col-xs-8 lead">
                {{ trial.source }}
            </div>
        </div>
        {% if trial.source_link %}
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Source Link:</b>
            </div>
            <div class="col-xs-8">
                <a href="{{ trial.source_link }}">{{ trial.source_link }}</a>
            </div>
        </div>
        {% endif %}
        {% if trial.condition %}
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Condition:</b>
            </div>
            <div class="col-xs-8">
                {{ trial.condition }}
            </div>
        </div>
        {# Entra break #}
        <br>
        {% endif %}
        {% if trial.description %}
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Description:</b>
            </div>
            <div class="col-xs-8">
                {{ trial.description }}
            </div>
        </div>
        {% endif %}
        {% if trial.figure1 %}
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Figure 1:</b>
            </div>
            <div class="col-xs-8">
                <img src="/media/{{ trial.figure1 }}">
            </div>
        </div>
        {% endif %}
        {% if trial.figure2 %}
        <div class="row">
            <div class="col-xs-4 lead text-right">
                <b>Figure 2:</b>
            </div>
            <div class="col-xs-8">
                <img src="/media/{{ trial.figure2 }}">
            </div>
        </div>
        {% endif %}
    </div>

     <div class="col-xs-3">
        <img src="https://www.ebi.ac.uk/chembldb/compound/displayimage/{{ trial.compound.chemblid }}">
     </div>


    <legend><b>Findings</b></legend>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Finding</th>
            <th>+/-</th>
            <th>Max Affected</th>
            <th>Value</th>
            <th>Value Units</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.finding_name }}</td>
                <td>{{ result.get_result_display }}</td>
                <td>{{ result.percent_max|default_if_none:"" }}</td>
                <td>{{ result.value|default_if_none:"" }}</td>
                <td>{{ result.value_units|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
