{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li class="active">Password Reset</li>
{% endblock %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Sorry, password reset failed. Try again.
    </div>
{% endif %}
<form method="post" action=".">
  {% csrf_token %}
  {# {{ form.as_p }}#}
  <legend>
    <h1>
      Password Reset
    </h1>
  </legend>

  <label for="email">Email:</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input type="email" name="email" class="form-control" value="" id="id_email" placeholder="Email">
  </div>
  <span class="help-block">Please enter your Email address.</span>

  <br>

  <div class="well well-lg">
    <label for="captcha">Please Type What You See</label>
    <div class="input-group">
      {{ form.captcha }}
    </div>
    {% if form.captcha.errors %}
      <span class="text-danger">
        <span class="glyphicon glyphicon-remove"></span>
          Please try again.
      </span>
    {% endif %}
  </div>

  <br>
  <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
  <br>
</form>
{% endblock %}
