{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "compounds/compounds_detail.js" %}"></script>
{% endblock %}

{# TODO REQUIRES AESTHETIC REVISION #}

{% block breadcrumbs %}
    <li><a href="/compounds/">Compounds</a></li>
    <li class="active">{{ object.name}}</li>
{% endblock %}

{% block content %}
    <legend>
        <h1>
            {{ object.name}}
            <span class="hidden-xs hidden-sm">
                <a href="/compounds/{{ next }}" class="btn btn-primary btn-large pull-right">
                    Next
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
                <a href="/compounds/{{ previous }}" class="btn btn-primary btn-large pull-right">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Previous
                </a>
            </span>
            <div class="row text-center hidden-md hidden-lg">
                <a href="/compounds/{{ previous }}" class="btn btn-primary btn-large">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Previous
                </a>
                <a href="/compounds/{{ next }}" class="btn btn-primary btn-large">
                    Next
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
        </h1>
    </legend>

    <div class="row padded-row">

        <div class="col-sm-3 col-md-2 thumbnail text-center">
            <img src="https://www.ebi.ac.uk/chembl/api/data/image/{{ object.chemblid }}.svg?engine=indigo">
            {% if object.mps %}
                <span class="label label-primary">MPS</span>
            {% endif %}
            {% if object.epa %}
                <span class="label label-success">EPA</span>
            {% endif %}
            {% if object.tctc %}
                <span class="label label-info">TCTC</span>
            {% endif %}
            {% if not object.mps and not object.epa and not object.tctc %}
                <span class="label label-default">Unassigned</span>
            {% endif %}
        </div>

        <div class="col-sm-9 col-md-10">
            <table class="table table-striped table-bordered table-nonfluid" style="background-color: #AAB3AB;">
                <tbody>
                    <tr>
                        <td>
                            <b>ChEMBL ID</b>
                        </td>
                        <td>
                            <a href="https://www.ebi.ac.uk/chembl/compound/inspect/{{ object.chemblid }}">{{ object.chemblid }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>PubChem ID</b>
                        </td>
                        <td>
                            <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ object.pubchemid }}">{{ object.pubchemid }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>DrugBank ID</b>
                        </td>
                        <td>
                            <a href="http://www.drugbank.ca/drugs/{{ object.drugbank_id }}">{{ object.drugbank_id }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Molecular Formula</b>
                        </td>
                        <td>
                            {{ object.molecular_formula }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Inchikey</b>
                        </td>
                        <td>
                            {{ object.inchikey }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    {% if object.drug_class%}
        <br>

        <div class="row">
            <div class="col-sm-2 col-md-1 text-right-responsive">
                <b>Class</b>
            </div>
            <div class="col-sm-10 col-md-11 text-wrapped">
                {{ object.drug_class }}
            </div>
        </div>
    {% endif %}

    {% if object.smiles%}
        <br>

        <div class="row">
            <div class="col-sm-2 col-md-1 text-right-responsive">
                <b>Smiles</b>
            </div>
            <div class="col-sm-10 col-md-11 text-wrapped">
                {{ object.smiles }}
            </div>
        </div>
    {% endif %}

    {% if object.synonyms %}
        <br>

        <div class="row">
            <div class="col-sm-2 col-md-1 text-right-responsive">
                <b>Synonyms</b>
            </div>
            <div class="col-sm-10 col-md-11 text-wrapped">
                {{ object.synonyms }}
            </div>
        </div>
    {% endif %}

    <br>

    <legend>Compound Properties</legend>

    <div class="row">
    <div id="drug_properties" class="col-sm-4">
        <table class="table table-striped table-bordered" style="background-color: #C4CBB7;">
            <thead>
                <tr>
                    <th colspan=2 class="text-center">
                        <u>Drug/Drug-like Properties</u>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>Known Drug</b>
                    </td>
                    <td>
                        {% if object.known_drug %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Medchem Alerts</b>
                    </td>
                    <td>
                        {% if object.medchem_alerts%}
                            {% comment %}
                            <a class="glyphicon glyphicon-flag text-danger"
                               href="https://www.ebi.ac.uk/chembl/compound/structural_alerts/{{ object.chemblid }}"
                               aria-hidden="true"></a>
                            {% endcomment %}
                            <span class="glyphicon glyphicon-flag text-danger"></span>
                        {% else %}
                            <span class="text-success">None</span>
                        {% endif %}
                    </td>
                </tr>
{#                <tr>#}
{#                    <td>#}
{#                        <b>Med Chem Friendly</b>#}
{#                    </td>#}
{#                    <td>#}
{#                        {% if object.medchem_friendly %}#}
{#                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>#}
{#                        {% else %}#}
{#                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>#}
{#                        {% endif %}#}
{#                    </td>#}
{#                </tr>#}
                <tr>
                    <td>
                        <b>Passes of Rule of 3</b>
                    </td>
                    <td>
                        {% if object.ro3_passes %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Rule of 5 Violations</b>
                    </td>
                    <td>
                        {{ object.ro5_violations }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Molecular Species</b>
                    </td>
                    <td>
                        {{ object.species }}
                    </td>
                </tr>
                {% if object.protein_binding %}
                <tr>
                    <td>
                        <b>Protein Binding</b>
                    </td>
                    <td>
                        {{ object.protein_binding }}
                    </td>
                </tr>
                {% endif %}
                {% if object.half_life %}
                <tr>
                    <td>
                        <b>Half Life</b>
                    </td>
                    <td>
                        {{ object.half_life }}
                    </td>
                </tr>
                {% endif %}
                {% if object.bioavailability %}
                <tr>
                    <td>
                        <b>Bioavailability</b>
                    </td>
                    <td>
                        {{ object.bioavailability }}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div id="molecular_properties" class="col-sm-4">
        <table class="table table-striped table-bordered" style="background-color: #EBEFC9;">
            <thead>
                <tr>
                    <th colspan=2 class="text-center">
                        <u>Molecular Properties</u>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>Molecular Weight</b>
                    </td>
                    <td>
                        {{ object.molecular_weight|default_if_none:'-' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Rotatable Bonds</b>
                    </td>
                    <td>
                        {{ object.rotatable_bonds|default_if_none:'-' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Acidic pKa (ACD)</b>
                    </td>
                    <td>
                        {{ object.acidic_pka|default_if_none:'-' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Basic pKa (ACD)</b>
                    </td>
                    <td>
                        {{ object.basic_pka|default_if_none:'-' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>LogP (ACD)</b>
                    </td>
                    <td>
                        {{ object.logp|default_if_none:'-' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>LogD (ACD)</b>
                    </td>
                    <td>
                        {{ object.logd|default_if_none:'-' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ALogP</b>
                    </td>
                    <td>
                        {{ object.alogp|default_if_none:'-' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{#    <div class="col-sm-4">#}
{#    {% if object.compoundproperty_set.all %}#}
{#        <table class="table table-striped table-bordered" style="background-color: #EEE0B7;">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th colspan=2 class="text-center">#}
{#                        <u>Additional Properties</u>#}
{#                    </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for property in object.compoundproperty_set.all|dictsort:"property_type.name" %}#}
{#                <tr>#}
{#                    <td><strong>{{ property.property_type }}</strong></td>#}
{#                    <td>{{ property.value }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    {% endif %}#}
{#    </div>#}

    </div>

    {% if object.absorption or object.clearance %}
        <legend>Summaries</legend>
        <table class="table table-striped table-bordered" style="background-color: #E8CAAF;">
            <tbody>
            {% if object.absorption %}
                <tr>
                    <td><strong>Absorption</strong></td>
                    <td>{{ object.absorption|linebreaks }}</td>
                </tr>
            {% endif %}

            {% if object.clearance %}
                <tr>
                    <td><strong>Clearance</strong></td>
                    <td>{{ object.clearance|linebreaks }}</td>
                </tr>
            {% endif %}

            {% if object.pk_metabolism %}
                <tr>
                    <td><strong>PK/Metabolism</strong></td>
                    <td>{{ object.pk_metabolism|linebreaks }}</td>
                </tr>
            {% endif %}

            {% if object.preclinical %}
                <tr>
                    <td><strong>Pre-clinical Findings</strong></td>
                    <td>{{ object.preclinical|linebreaks }}</td>
                </tr>
            {% endif %}

            {% if object.clinical %}
                <tr>
                    <td><strong>Clinical Findings</strong></td>
                    <td>{{ object.clinical|linebreaks }}</td>
                </tr>
            {% endif %}

            {% if object.post_marketing %}
                <tr>
                    <td><strong>Post-marketing</strong></td>
                    <td>{{ object.post_marketing|linebreaks }}</td>
                </tr>
            {% endif %}

{#            {% for summary in object.compoundsummary_set.all|dictsort:"summary_type.name" reversed%}#}
{#                <tr>#}
{#                    <td><strong>{{ summary.summary_type }}</strong></td>#}
{#                    <td>{{ summary.summary|linebreaks }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
            </tbody>
        </table>
    {% endif %}

    {% if object.targets %}
        <div class="padded-bottom">
        <legend>Targets</legend>
        <table hidden id="target_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uniprot ID</th>
                    <th>Type</th>
                    <th>Organism</th>
                    <th>Pharmacological Action</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for target in object.targets %}
                <tr>
                    <td>{{ target.name }}</td>
                    <td><a href="http://www.uniprot.org/uniprot/{{ target.uniprot_id }}">{{ target.uniprot_id }}</a></td>
                    <td>
                      {% if target.type|lower == 'target' %}
                          <span class="label label-danger">{{ target.type }}</span>
                      {% elif target.type|lower == 'enzyme' %}
                          <span class="label label-success">{{ target.type }}</span>
                      {% elif target.type|lower == 'transporter' %}
                          <span class="label label-warning">{{ target.type }}</span>
                      {% elif target.type|lower == 'carrier' %}
                          <span class="label label-info">{{ target.type }}</span>
                      {% else %}
                          <span class="label label-default">{{ target.type }}</span>
                      {% endif %}
                    </td>
                    <td>{{ target.organism }}</td>
                    <td>
                    {% if target.pharmacological_action|lower == 'yes' %}
                        <span class="label label-success">{{ target.pharmacological_action }}</span>
                    {% elif target.pharmacological_action|lower == 'no' %}
                        <span class="label label-danger">{{ target.pharmacological_action }}</span>
                    {% else %}
                        <span class="label label-default">{{ target.pharmacological_action }}</span>
                    {% endif %}
                    </td>
                    <td>
                    {% for action in target.actions %}
                        {% if action|lower == 'inducer' %}
                            <span class="label label-success">{{ action }}</span>
                        {% elif action|lower == 'substrate' %}
                            <span class="label label-primary">{{ action }}</span>
                        {% elif action|lower == 'inhibitor' %}
                            <span class="label label-danger">{{ action }}</span>
                        {% elif action|lower == 'antagonist' %}
                            <span class="label label-warning">{{ action }}</span>
                        {% elif action|lower == 'agonist' %}
                            <span class="label label-info">{{ action }}</span>
                        {% else %}
                            <span class="label label-default">{{ action }}</span>
                        {% endif %}
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
{% endblock %}
