{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/project_filter.js" %}"></script>
    <script src="{% static "compounds/compounds_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Compounds</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Compounds
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/compounds/add/" class="btn btn-lg btn-success" role="button">Add Compound</a>
        </div>

        {% include 'project_filters.html' %}

        <table hidden id="compounds" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Name</th>
                    <th>CHEMBL ID</th>
                    <th>Synonyms</th>
                    <th>Molecular Weight</th>
                    <th>LogP</th>
                    <th>Rule of 5 Violations</th>
                    <th>Known Drug</th>
{#                    <th>Last Update</th>#}
                    {% comment %} <th>Image</th> {% endcomment %}
                    <th>Project</th>
                </tr>
            </thead>

            <tbody>
            {% for compound in object_list %}
                <tr class="compound" id="{{ compound.id }}">
                    <td><a class="btn btn-primary" href="{{ compound.id }}">View</a></td>
                    <td><a class="btn btn-primary" href="{{ compound.id }}/update/">Edit</a></td>
                    <td class="text-wrapped">{{ compound.name }}</td>
                    <td><a href="https://www.ebi.ac.uk/chembl/compound/inspect/{{ compound.chemblid }}">{{ compound.chemblid }}</a></td>
                    <td>{{ compound.synonyms }}</td>
                    <td>{{ compound.molecular_weight|default_if_none:"" }}</td>
                    <td>{{ compound.logp|default_if_none:"" }}</td>
                    <td>{{ compound.ro5_violations|default_if_none:"" }}</td>

                    <td>
                        {% if compound.known_drug %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                            <span hidden>True</span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                            <span hidden>False</span>
                        {% endif %}
                    </td>

                    {# TODO Tags field is deprecated #}
{#                    <td>{{ compound.tags|default_if_none:"" }}</td>#}
{#                    <td>{{ compound.molecular_weight }}</td>#}
{#                    <td>{{ compound.logp }}</td>#}
{#                    <td>{{ compound.ro5_violations }}</td>#}
{#                    <td>{{ compound.last_update }}</td>#}
                    {# Image removed for now #}
                    {% comment %} <td>
                      {% if compound.chemblid %}
                          <img src="https://www.ebi.ac.uk/chembldb/compound/displayimage/{{ compound.chemblid }}">
                      {% else %}
                        <span style="width: 128px; height: 128px;" class="glyphicon glyphicon-file text-warning" aria-hidden="true"></span>
                      {% endif %}
                    </td> {% endcomment %}

                    <td>
                        {% if compound.mps %}
                            MPS
                        {% endif %}
                        {% if compound.epa %}
                            EPA
                        {% endif %}
                        {% if compound.tctc %}
                            TCTC
                        {% endif %}
                        {% if not compound.epa and not compound.mps and not compound.tctc %}
                            Unassigned
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
