{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/enter_override.js" %}"></script>
    {# <script src="{% static "js/inline_add.js" %}"></script>#}
    <script src="{% static "compounds/customize_admin.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'assays-studycomponents' %}">Study Components</a></li>
    <li><a href="/compounds/">Compounds</a></li>
    <li class="active">
        {% if object %}
            Edit <em>{{ object }}</em>
        {% else %}
            Add Compound
        {% endif %}
    </li>
{% endblock %}

{% block content %}
{% if update %}
    <form
          enctype="multipart/form-data" class="form-horizontal" method="post" >

    <h1>
        Edit <em>{{ object }}</em>
{% else %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" >

    <h1>
        Add Compound
{% endif %}
    </h1>

    {% csrf_token %}

    {% include "submit.html" %}

    {% include 'errors.html' %}

    {% include 'tracking.html' %}

    <legend>General</legend>

    {# TODO REVISE ERROR REPORTING #}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{field.label}}: {{error}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name*</label>
        <div class="col-sm-10">
          {{ form.name }}
        </div>
    </div>

    <div class="alert alert-info" role="alert">
            <span class="sr-only">Info:</span>
            Enter ChEMBL ID (CHEMBL####) and click "Retrieve" to automatically fill in data:
    </div>

    <div class="form-group">
        <label for="chemblid" class="col-sm-2 control-label compounds-compound">ChEMBL ID</label>
        <div class="col-sm-10">
          {{ form.chemblid }}
            {# Hidden for now #}
{#          <button type="button" id="search_chembl" class="btn btn-info">#}
{#              <span class="glyphicon glyphicon-search"></span>#}
{#              Search ChEMBL#}
{#          </button>#}
        </div>
    </div>

    <div class="row padded-bottom">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <a id="retrieve" class="btn btn-primary" role="button">Fetch Compound Information</a>
            <a href="https://www.ebi.ac.uk/chembl" target="_blank" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span>
                Search ChEMBL
            </a>
        </div>
    </div>

{#    Might as well just automatically acquire pubchem ID#}
    <div class="form-group">
        <label for="pubchemid" class="col-sm-2 control-label compounds-compound">PubChem ID</label>
        <div class="col-sm-10">
          {{ form.pubchemid }}
        </div>
    </div>

    {% include 'generic_field.html' with field=form.drugbank_id label="DrugBank ID" %}

    <div class="form-group">
        <label for="inchikey" class="col-sm-2 control-label">IUPAC Standard InChI Key</label>
        <div class="col-sm-10">
          {{ form.inchikey }}
        </div>
    </div>

    {# TODO REVISE #}
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 control-label">Project Assignment</label>
        <label for="mps" class="col-sm-1 control-label">MPS</label>
        <div class="col-sm-1">
          {{ form.mps }}
        </div>
        <label for="epa" class="col-sm-1 control-label">EPA</label>
        <div class="col-sm-1">
          {{ form.epa }}
        </div>
        <label for="tctc" class="col-sm-1 control-label">TCTC</label>
        <div class="col-sm-1">
          {{ form.tctc }}
        </div>
    </div>

    {# TODO This field is deprecated #}
{#    <div class="form-group">#}
{#        <label for="tags" class="col-sm-2 control-label">Tags (EPA, NCATS, etc.)</label>#}
{#        <div class="col-sm-10">#}
{#          {{ form.tags }}#}
{#        </div>#}
{#    </div>#}

    <legend>Drug/Drug-like Properties</legend>

    <div class="form-group">
        <label for="known_drug" class="col-sm-2 control-label">Known Drug</label>
        <div class="col-sm-1">
          {{ form.known_drug }}
        </div>

        <label for="medchem_alerts" class="col-sm-2 control-label">Medchem Alerts</label>
        <div class="col-sm-1">
          {{ form.medchem_alerts }}
        </div>

{#        <label for="medchem_friendly" class="col-sm-2 control-label">Medchem Friendly</label>#}
{#        <div class="col-sm-1">#}
{#          {{ form.medchem_friendly }}#}
{#        </div>#}

        <label for="ro3_passes" class="col-sm-2 control-label">Passes Rule of 3</label>
        <div class="col-sm-1">
          {{ form.ro3_passes }}
        </div>

        <label for="ro5_violations" class="col-sm-2 control-label">Rule of 5 Violations</label>
        <div class="col-sm-1">
          {{ form.ro5_violations }}
        </div>
    </div>

    {% include 'generic_field.html' with field=form.drug_class label="Drug Class" %}

    <div class="form-group">
        <label for="species" class="col-sm-2 control-label">Species</label>
        <div class="col-sm-10">
          {{ form.species }}
        </div>
    </div>

    {% include 'generic_field.html' with field=form.protein_binding label="Protein Binding" %}

    {% include 'generic_field.html' with field=form.half_life label="Half Life" %}

    {% include 'generic_field.html' with field=form.bioavailability label="Bioavailability" %}

    <legend>Molecular Properties</legend>

    <div class="form-group">
        <label for="molecular_formula" class="col-sm-2 control-label">Molecular Formula</label>
        <div class="col-sm-10">
          {{ form.molecular_formula }}
        </div>
    </div>

    <div class="form-group">
        <label for="molecular_weight" class="col-sm-2 control-label">Molecular Weight</label>
        <div class="col-sm-10">
          {{ form.molecular_weight }}
        </div>
    </div>

    <div class="form-group">
        <label for="rotatable_bonds" class="col-sm-2 control-label">Rotatable Bonds</label>
        <div class="col-sm-10">
          {{ form.rotatable_bonds }}
        </div>
    </div>

    <div class="form-group">
        <label for="acidic_pka" class="col-sm-2 control-label">Acidic pKa (ACD)</label>
        <div class="col-sm-10">
          {{ form.acidic_pka }}
        </div>
    </div>

    <div class="form-group">
        <label for="basic_pka" class="col-sm-2 control-label">Basic pKa (ACD)</label>
        <div class="col-sm-10">
          {{ form.basic_pka }}
        </div>
    </div>

    <div class="form-group">
        <label for="logp" class="col-sm-2 control-label">LogP (ACD)</label>
        <div class="col-sm-10">
          {{ form.logp }}
        </div>
    </div>

    <div class="form-group">
        <label for="logd" class="col-sm-2 control-label">LogD (ACD)</label>
        <div class="col-sm-10">
          {{ form.logd }}
        </div>
    </div>

    <div class="form-group">
        <label for="alogp" class="col-sm-2 control-label">ALogP</label>
        <div class="col-sm-10">
          {{ form.alogp }}
        </div>
    </div>

    <legend>Molecular Identifiers</legend>

    <div class="form-group">
        <label for="smiles" class="col-sm-2 control-label">Smiles</label>
        <div class="col-sm-10">
          {{ form.smiles }}
        </div>
    </div>

    <div class="form-group">
        <label for="synonyms" class="col-sm-2 control-label">Synonyms</label>
        <div class="col-sm-10">
          {{ form.synonyms }}
        </div>
    </div>

    <legend>Summaries</legend>

    {% include 'generic_field.html' with field=form.absorption label="Absorption" %}

    {% include 'generic_field.html' with field=form.clearance label="Clearance" %}

    {% include 'generic_field.html' with field=form.pk_metabolism label="PK/Metabolism" %}

    {% include 'generic_field.html' with field=form.preclinical label="Pre-clinical Findings" %}

    {% include 'generic_field.html' with field=form.clinical label="Clinical Findings" %}

    {% include 'generic_field.html' with field=form.post_marketing label="Post-marketing" %}

    {# TODO MAKE SURE TARGETS ARE WORKING #}
    {{ formset.management_form }}
    <legend>Targets/Interactions</legend>

    <a id="add_button-compoundtarget_set" class="btn btn-success" role="button">Add Target</a>
    <table class="table table-striped inlines" id="compoundtarget_set-group"  name="targets">
        <thead>
            <tr>
                <th>Name*</th>
                <th>Uniprot ID*</th>
                <th>Type*</th>
                <th>Organism*</th>
                <th>Pharmacological Action*</th>
                <th>Actions</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for target in formset %}
                <tr class="inline" id="target-{{ forloop.counter0 }}">
                    {# Hidden input for Update (need id to associate) #}
                    {% if target.id.value %}
                    <td class="original" hidden>
                        <input id="id_compoundtarget_set-{{ forloop.counter0 }}-id" name="compoundtarget_set-{{ forloop.counter0 }}-id" type="hidden" value="{{ target.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ target.name }}</td>
                    <td>{{ target.uniprot_id }}</td>
                    <td>{{ target.type }}</td>
                    <td>{{ target.organism }}</td>
                    <td>{{ target.pharmacological_action }}</td>
                    <td>{{ target.action }}</td>
                    <td>{{ target.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<div hidden id="dialog" title="Search ChEMBL">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input id="chembl_search" type="text" class="form-control" placeholder="Search ChEMBL">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="chembl_search_submit" type="button">
                        Search
                    </button>
                </span>
            </div>
        </div>
        <div class="col-xs-12 help-block">
            Type a search term (preferably the generic name of a compound or drug) into the box and <b>click</b> "Search"
            <br>
            After getting a list of possibilities, <b>click</b> "Select" to choose the ChEMBL ID (you can then <b>click</b> "Retrieve")
            <br>
            If you are having trouble, try
            <a target="_bank" href="https://www.ebi.ac.uk/chembl/">searching ChEMBL directly</a>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ChEMBL ID</th>
                <th>Name</th>
                <th>Synonyms</th>
                <th>Image</th>
                <th>Select</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>ChEMBL ID</th>
                <th>Name</th>
                <th>Synonyms</th>
                <th>Image</th>
                <th>Select</th>
            </tr>
        </tfoot>

        <tbody id="chembl_search_results"></tbody>
    </table>
</div>
{% endblock %}
