{% extends "base.html" %}
{% load static %}

{% block load_js %}
    {# <script src="{% static "js/project_filter.js" %}"></script> #}
    <script src="{% static "compounds/compounds_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'assays-studycomponents' %}">Study Components</a></li>
    <li class="active">Compounds</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Compounds
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/compounds/add/" class="btn btn-lg btn-success" role="button">Add Compound</a>
        </div>

        {# Deprecated #}
{# {% include 'project_filters.html' %} #}

        {# TODO REFACTOR THE TEMPLATE FOR LIST VIEWS #}
        {# TODO Headers etc. ideally should not be explicitly written, not DRY #}
        <table hidden id="compounds" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Name</th>
                    <th>CHEMBL ID</th>
                    <th>Synonyms</th>
                    <th>Molecular Weight</th>
                    <th>LogP</th>
                    <th>Rule of 5 Violations</th>
                    <th>Known Drug</th>
                    <th>Rotatable Bonds</th>
                    <th>Acidic pKa</th>
                    <th>Basic pKa</th>
                    <th>LogD</th>
                    <th>Passes Rule of 3</th>
                    <th>Protein Binding</th>
                    <th>Half Life</th>
                    <th>Clearance</th>
                    <th>Bioavailability</th>
                    <th>Absorption</th>
                    <th>PK Metabolism</th>
                </tr>
            </thead>

            <tbody>
            {% for compound in object_list %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ compound.id }}">View</a></td>
                    <td><a class="btn btn-primary" href="{{ compound.id }}/update/">Edit</a></td>
                    <td class="text-wrapped">{{ compound.name }}</td>
                    <td><a href="https://www.ebi.ac.uk/chembl/compound/inspect/{{ compound.chemblid }}">{{ compound.chemblid }}</a></td>
                    <td>{{ compound.synonyms }}</td>
                    <td>{{ compound.molecular_weight|default_if_none:"" }}</td>
                    <td>{{ compound.logp|default_if_none:"" }}</td>
                    <td>{{ compound.ro5_violations|default_if_none:"" }}</td>

                    <td>
                        {% if compound.known_drug %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                            <span hidden>True</span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                            <span hidden>False</span>
                        {% endif %}
                    </td>
                    <td>{{ compound.rotatable_bonds|default_if_none:"" }}</td>
                    <td>{{ compound.acidic_pka|default_if_none:"" }}</td>
                    <td>{{ compound.basic_pka|default_if_none:"" }}</td>
                    <td>{{ compound.logd|default_if_none:"" }}</td>
                    <td>{{ compound.ro3_passes|default_if_none:"" }}</td>
                    <td>{{ compound.protein_binding|default_if_none:"" }}</td>
                    <td>{{ compound.half_life|default_if_none:"" }}</td>
                    <td>{{ compound.clearance|default_if_none:"" }}</td>
                    <td>{{ compound.bioavailability|default_if_none:"" }}</td>
                    <td>{{ compound.absorption|default_if_none:"" }}</td>
                    <td>{{ compound.pk_metabolism|default_if_none:"" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
