{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/project_filter.js" %}"></script>
    <script src="{% static "compounds/compound_report.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Compound Report</li>
{% endblock %}

{% block content %}
    <div id="selection" class="padded-bottom">
        <div class="row">
            <div class="text-center">
                {% block submit %}
                <a href="#show" class="btn btn-xlarge btn-primary text-center" id="submit">
                    Generate Compound Report
                </a>
                {% endblock %}
            </div>
        </div>
        <hr>

        <div class="padded-bottom hidden-print" style="overflow:auto;">
            <button role="button" class="btn btn-primary" id="save_selections">Save Selections</button>
            <button role="button" class="btn btn-info" id="load_selections">Load Selections</button>
            <button role="button" class="btn btn-danger" id="clear_selections">Clear Current Selections</button>
        </div>

        {% include 'project_filters.html' %}

        <table hidden id="compounds" class="display" cellspacing="0" width="100%">
            <thead id="compounds_header">
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>CHEMBL ID</th>
                    <th>Synonyms</th>
                    <th>Molecular Weight</th>
                    <th>LogP</th>
                    <th>Rule of 5 Violations</th>
                    <th>Known Drug</th>
                    <th>Image</th>
                    <th>Project</th>
                </tr>
            </thead>

            <tbody>
            <form autocomplete="off">
            {% for compound in object_list %}
                <tr class="compound" id={{ compound.id }} name={{ compound.name }}>
                    {# Checkbox for each compound #}
                    <td><input data-table-index="{{ forloop.counter0 }}" class="big-checkbox checkbox" type="checkbox" value="{{ compound.name|safe }}"></td>
                    <td><a href="/compounds/{{ compound.id }}">{{ compound.name }}</a></td>
                    <td><a href="https://www.ebi.ac.uk/chembl/compound/inspect/{{ compound.chemblid }}">{{ compound.chemblid }}</a></td>
                    <td>{{ compound.synonyms }}</td>
                    <td>{{ compound.molecular_weight|default_if_none:"" }}</td>
                    <td>{{ compound.logp|default_if_none:"" }}</td>
                    <td>{{ compound.ro5_violations|default_if_none:"" }}</td>

                    <td>
                        {% if compound.known_drug %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                            <span hidden>True</span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                            <span hidden>False</span>
                        {% endif %}
                    </td>

                    {# Tags field is deprecated #}
{#                    <td>{{ compound.tags|default_if_none:"" }}</td>#}
                    <td>
                      {% if compound.chemblid %}
                          <img src="https://www.ebi.ac.uk/chembldb/compound/displayimage/{{ compound.chemblid }}">
                      {% else %}
                        <span style="width: 128px; height: 128px;" class="glyphicon glyphicon-file text-warning" aria-hidden="true"></span>
                      {% endif %}
                    </td>

                    <td>
                        {% if compound.mps %}
                            MPS
                        {% endif %}
                        {% if compound.epa %}
                            EPA
                        {% endif %}
                        {% if compound.tctc %}
                            TCTC
                        {% endif %}
                        {% if not compound.epa and not compound.mps and not compound.tctc %}
                            Unassigned
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </form>
            </tbody>
        </table>
    </div>

    <div hidden id="selection_dialog" title="Load Selections">
        <div class="alert alert-info text-center" role="alert">
            <h1>Click Desired Set of Selections</h1>
        </div>

        <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Compounds</th>
                    </tr>
                </thead>

                <tbody id="selections">
                </tbody>
        </table>
    </div>

    {# Right now the fields of a report are static, but that will likely change #}
    {# Need to switch to hide full #}
    <div hidden id="graphic" class="padded-bottom">
        <div class="row text-center padded-bottom">
            <a href="#filter"  id="back" class="btn btn-xlarge btn-info">
                <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                Back to Selection
            </a>
        </div>

        <hr>

        <table class="display" id="results_table" cellspacing="0" width="100%">
            <thead id="results_header">
                <tr>
                    <th>Compound</th>
                    <th>LogP</th>
                    <th>PK/Metabolism</th>
                    <th>Pre-clinical Findings</th>
                    <th>Clinical Findings</th>
                    <th>Post-marketing</th>
                    <th>MPS Model Results</th>
                </tr>
            </thead>

            <tbody id="results_body">
            </tbody>
        </table>
    </div>
{% endblock %}
