*.pyc
*.db
/testing
/static
/media
/venv
/datadumps
/.idea
*.iml
mps_credentials.py
additional_credentials.py
*.log
# Ignore Eclipse files
.project
.pydevproject
/.settings
drugtrials/mps_AATCcredentials.py
/.vscode
