# Not used yet
# matplotlib
# uwsgi
# django-uwsgi-cache
networkx
Django==2.1.9
Jinja2
Markdown
MarkupSafe
# Images
pillow
# Syntax highlighting
Pygments
# Documentation
Sphinx
# File path convenience
Unipath
# PEP8 adherence
autopep8
beautifulsoup4
# Wrapper for various database access
bioservices
closure-linter
# Code coverage
coverage
django-debug-toolbar
django-extensions
# Convenience for queryset filters
django-filter
django-pipeline
django-compressor
# Not used yet
# djangorestframework
docutils
# Used by bioservices
easydev
# Style guide enforcement
flake8
flakeplus
# Floating point convenience
# fpconst
# Async
futures
# Debugging
ipdb
# Useful IDE
ipython
# Debugging etc.
logilab-common
# Code checking
mccabe
numpy
scipy
pandas
# Style checking
pycodestyle
# Profiling
profilehooks
# Connect to postgres
psycopg2-binary
# Functions for Boolean satisfiability problem
pycosat
# Style
pyflakes
# Style
pylint
# Date manipulation
python-dateutil
# Automates production of manual pages
python-gflags
# Handling mime-types
python-mimeparse
# Time zones
pytz
# uwsgi
pyuwsgi
# Asynchronous messaging with ZeroMQ
pyzmq
# Refactoring library
rope
# Helper for rope
ropemode
# Compatibility library
six
# SQL parser
sqlparse
# Statistical profiling
statprof
# suds
# Validation support for WSGI
# wsgiref
# Parsing for web services
wstools
# Admin import export
django-import-export
# Simple captchas
django-simple-captcha
# Keep old-style comments
django-contrib-comments
django-rest-framework
# Using whoosh for now, may switch to a more sophisticated search engine later
whoosh
django-haystack
# Ultrajson appears to outperform its competitors
ujson
# xlrd for reading excel files
xlrd
# xlsxwriter for writing excel files
xlsxwriter
# chardet will detect a files (probable) encoding
chardet
# Alternative html parser used in conjunction with BeautifulSoup
html5lib
urllib3
# Registration
django-registration
