matplotlib
django-uwsgi-cache
networkx
Django==1.6.5
Jinja2
Markdown
MarkupSafe
Pillow
PyYAML
Pygments
SOAPpy
South
Sphinx
Unipath
astroid
autopep8
beautifulsoup4
bioservices
closure-linter
coverage
django-debug-toolbar
django-extensions
django-filebrowser
django-filter
django-grappelli
django-pipeline
djangorestframework
docutils
easydev
flake8
flakeplus
fpconst
futures
ipdb
ipython
logilab-common
mccabe
numpy
pandas
pep8
profilehooks
psycopg2
pycosat
pyflakes
pylint
python-dateutil
python-gflags
python-mimeparse
pytz
pyzmq
rope
ropemode
scipy
six
sqlparse
statprof
suds
wsgiref
wstools
django-import-export
django-alphafilter
#django-simple-captcha
qhonuskan-votes
