matplotlib
django-uwsgi-cache
networkx
Django==1.11.17
Jinja2
Markdown
MarkupSafe
pillow
PyYAML
Pygments
SOAPpy
#As of Django 1.7, South is deprecated
#South
Sphinx
Unipath
astroid
autopep8
beautifulsoup4
bioservices
closure-linter
coverage
django-debug-toolbar
django-extensions
django-filebrowser
django-filter
django-grappelli
django-pipeline
django-compressor
djangorestframework
docutils
easydev
flake8
flakeplus
fpconst
futures
ipdb
ipython
logilab-common
mccabe
numpy
pandas
# Deprecated, use pycodestyle instead
# pep8
pycodestyle
profilehooks
psycopg2
pycosat
pyflakes
pylint
python-dateutil
python-gflags
python-mimeparse
pytz
pyzmq
rope
ropemode
scipy
six
sqlparse
statprof
suds
wsgiref
wstools
django-import-export
django-simple-captcha
django-contrib-comments
#Using whoosh for now, may switch to a more sophisticated search engine later
whoosh
django-haystack
# Ultrajson appears to outperform its competitors
ujson
# xlrd for reading excel files
xlrd
# xlsxwriter for writing excel files
xlsxwriter
# chardet will detect a files (probable) encoding
chardet
# Alternative html parser used in conjunction with BeautifulSoup
html5lib
urllib3
django-registration
