{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
<link href="{% static "bioactivities/cluster_style.css" %}" rel="stylesheet" type="text/css">
<script src="{% static "bioactivities/filter.js" %}"></script>
<script src="{% static "bioactivities/cluster.js" %}"></script>
<script src="{% static "js/spin.min.js" %}"></script>
{% endblock %}

{% block content %}

    {% block error %}
        <div class="row">
            <div hidden class="alert alert-danger" role="alert" id="error_message">
                <p id="error">
                    The server could not find the result to your request.
                </p>

                <p>
                    Please try a different query.
                </p>
            </div>
        </div>
    {% endblock %}

    <div id="selection">
        <div class="row">
            <div class="text-center">
                {% block submit %}
                <a href="#show" class="btn btn-xlarge btn-primary text-center" id="submit">
                    Generate Dendrogram
                </a>
                {% endblock %}
            </div>
        </div>
        <hr>
        <form autocomplete="off">
        {% block extra_row %}
            <div class="row text-center">
                <div class="col-xs-4">
                    <label>Log Scale
                        <input title="Currently excludes 0 and negative values" id="log_scale" type="checkbox">
                    </label>
                </div>

                <div class="col-xs-4">
                    <label>Normalize Bioactivities
                        <input title="Normalizes to range 0.0001 to 1.0" id="normalize_bioactivities" type="checkbox" checked>
                    </label>
                </div>

                <div class="col-xs-4">
                    <label>Minimum Feature Count Per Record
                        <input id="minimum_feature_count" type="number" value="10">
                        <button type="button" id="apply_minimum_feature_count">Apply</button>
                    </label>
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col-xs-4">
                    <label>Use Chemical Properties
                        <input id="chemical_properties" type="checkbox" checked>
                    </label>
                </div>
                <div class="col-xs-4">
                    <label>Method
                        <select id="method" class="form-control">
                            <option selected title="Performs single/min/nearest linkage">single</option>
                            <option title="Performs complete/max/farthest point linkage">complete</option>
                            <option title="Performs average/UPGMA (Unweighted Pair Group Method with Arithmetic Mean) linkage">average</option>
                            <option title="Performs weighted/WPGMA (Weighted Pair Group Method with Arithmetic Mean) linkage">weighted</option>
                        </select>
                    </label>
                </div>

                <div class="col-xs-4">
                    <label>Metric
                        <select id="metric" class="form-control">
                            <option selected title="The ordinary distance in n-dimensional space">euclidean</option>
                            <option title="Normalized scalar product without subtracting the mean value">cosine</option>
                            <option title="Manhattan distance, L1 distance, rectilinear distance">cityblock</option>
                            <option title="Subtract the mean value of the coordinates, normalize and take the scalar product">correlation</option>
                            <option title="A generalization of both the Euclidean distance and the Cityblock distance">minkowski</option>
                        </select>
                    </label>
                </div>
            </div>
            <hr>
        {% endblock %}
        <div class="row">
            <div class="col-xs-4">

                <div class="table-responsive">

                    <table class="table table-bordered
                            table-condensed">

                        <thead>
                            <th>
                                <input id="all_target_types" type="checkbox">
                            </th>
                            <th>
                                Select Target Types
                            </th>
                        </thead>

                        <tbody id="control_target_types">
                            <tr>
                                <td>
                                    <input value="CELL-LINE" id="Cell-Line" type="checkbox">
                                </td>
                                <td>
                                    Cell-Line
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input value="ORGANISM" id="Organism" type="checkbox">
                                </td>
                                <td>
                                    Organism
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input value="SINGLE PROTEIN" id="Single_Protein" type="checkbox" checked>
                                </td>
                                <td>
                                    Single Protein
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input value="Tissue" id="Tissue" type="checkbox">
                                </td>
                                <td>
                                    Tissue
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-xs-4">

                <div class="table-responsive">

                    <table class="table table-bordered
                            table-condensed">

                        <thead>
                            <th>
                                <input id="all_organisms" type="checkbox">
                            </th>
                            <th>
                                Select Organisms
                            </th>
                        </thead>

                        <tbody id="control_organisms">
                            <tr>
                                <td>
                                    <input value="Canis lupus familiaris" id="Canis_Lupus_Familiaris" type="checkbox">
                                </td>
                                <td>
                                    Canis lupus familiaris
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input value="Homo sapiens" id="Homo_Sapiens" type="checkbox" checked>
                                </td>
                                <td>
                                    Homo sapiens
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input value="Rattus norvegicus" id="Rattus_Norvegicus" type="checkbox" checked>
                                </td>
                                <td>
                                    Rattus norvegicus
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-xs-4">

                <div class="table-responsive">

                    <table class="table table-bordered
                            table-condensed">

                        <thead>
                            <th>
                                {# Empty for now #}
                            </th>
                            <th>
                                Filter Compounds
                            </th>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <input value="drugs" id="drugs" type="checkbox" checked>
                                </td>
                                <td>
                                    Known Drugs
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input value="non_drugs" id="non_drugs" type="checkbox" checked>
                                </td>
                                <td>
                                    Non-Drugs
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="logp_gtlt">
                                        <option>&gt;</option>
                                        <option>&lt;</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="logp" size="10"> LogP
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="molecular_weight_gtlt">
                                        <option>&gt;</option>
                                        <option>&lt;</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="molecular_weight" size="10"> Molecular Weight
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <hr>

        {% block selections %}

        <div class="row">
            <div class="col-xs-3">

                <p class="text-center">
                    <label>
                        Bioactivities Filter:
                        <input id="bioactivity_filter">
                    </label>
                </p>

                <div class="table-responsive">

                    <table class="table table-bordered
                            table-condensed">

                        <thead>
                            <th>
                                <input id="all_bioactivities" type="checkbox">
                            </th>
                            <th>
                                Select Bioactivities
                            </th>
                        </thead>

                        <tbody id="bioactivities">
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-xs-3">

                <p class="text-center">
                    <label>
                        Targets Filter:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="target_filter">
                    </label>
                </p>

                <div class="table-responsive">

                    <table class="table table-bordered
                            table-condensed">

                        <thead>
                            <th>
                                <input id="all_targets" type="checkbox">
                            </th>
                            <th>
                                Select Targets
                            </th>
                        </thead>

                        <tbody id="targets">
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="col-xs-3">

                <p class="text-center">
                    <label>
                        Compounds Filter:&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="compound_filter">
                    </label>
                </p>

                <div class="table-responsive">

                    <table class="table table-bordered
                            table-condensed">

                        <thead>
                            <th>
                                <input id="all_compounds" type="checkbox">
                            </th>
                            <th>
                                Select Compounds
                            </th>
                        </thead>

                        <tbody id="compounds">
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="col-xs-3">

                <p class="text-center">
                    <label>
                        Drug Trials Filter:&nbsp;&nbsp;
                        <input id="drugtrial_filter">
                    </label>
                </p>

                <div class="table-responsive">

                    <table class="table table-bordered
                            table-condensed">

                        <thead>
                            <th>
                                <input id="all_drugtrials" type="checkbox">
                            </th>
                            <th>
                                Select Drug Trials
                            </th>
                        </thead>

                        <tbody id="drugtrials">
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        {% endblock %}
        </form>
    </div>

    {% block spinner %}
        <script>
        // define a spinner but do not show it yet

        window.spinner = new Spinner(
            {
                lines: 11, // The number of lines to draw
                length: 40, // The length of each line
                width: 15, // The line thickness
                radius: 42, // The radius of the inner circle
                corners: 1, // Corner roundness (0..1)
                rotate: 0, // The rotation offset
                direction: 1, // 1: clockwise, -1: counterclockwise
                color: '#000', // #rgb or #rrggbb or array of colors
                speed: 1.2, // Rounds per second
                trail: 100, // Afterglow percentage
                shadow: true, // Whether to render a shadow
                hwaccel: true, // Whether to use hardware acceleration
                className: 'spinner', // The CSS class to assign to the spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: '50%', // Top position relative to parent
                left: '50%' // Left position relative to parent
            }
        );
        </script>

        <div id="spinner"></div>
    {% endblock %}

{% endblock %}

{% block fluid-content %}
    {% block graphic %}

        <div hidden id="graphic">
            <div class="row text-center">
                <a href="#filter" id="back" class="btn btn-xlarge btn-info">
                    <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                    Back to Selection
                </a>
            </div>

            <hr>

            <div class="row">
            <div id="query_box" class="col-xs-3">
                <div id="query" class="affix"></div>
            </div>
            <div id="cluster" class="col-xs-6">
            </div>
            <div class="col-xs-3">
                <div id="compound" class="affix pre-scrollable"></div>
            </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
