{% extends "bioactivities/cluster.html" %}
{% load staticfiles %}

{% block load %}
<script src="{% static "bioactivities/table.js" %}"></script>
<script src="{% static "js/spin.min.js" %}"></script>
{% endblock %}

{% block submit %}
    <button class="btn btn-xlarge btn-primary text-center" id="submit">
        Generate Table
    </button>
{% endblock %}

{% block extra_row %}
    <div class="row text-center">
        <label>Minimum Feature Count Per Record
            <input id="minimum_feature_count" type="number" value="10">
            <button id="apply_minimum_feature_count">Apply</button>
        </label>
    </div>
    <hr>
{% endblock %}

{% block graphic %}
    <div hidden id="graphic" style="padding-bottom: 50px">
        <div class="row text-center">
            <button id="back" class="btn btn-xlarge btn-info">
                <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                Back to Selection
            </button>
            <a id="download" class="btn btn-xlarge btn-primary">Download Table</a>
        </div>

        <hr>

        <h2 align="center">Bioactivities</h2>

        <table id="full" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Compound</th>
                    <th>Target</th>
                    <th>Organism</th>
                    <th>Standard Name</th>
                    <th>Operator</th>
                    <th>Standard Value</th>
                    <th>Standard Units</th>
                    <th>ChEMBL Link</th>
{#                    <th>ChEMBL Name</th>#}
{#                    <th>ChEMBL Value</th>#}
{#                    <th>ChEMBL Units</th>#}
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Compound</th>
                    <th>Target</th>
                    <th>Organism</th>
                    <th>Standard Name</th>
                    <th>Operator</th>
                    <th>Standard Value</th>
                    <th>Standard Units</th>
                    <th>ChEMBL Link</th>
{#                    <th>ChEMBL Name</th>#}
{#                    <th>ChEMBL Value</th>#}
{#                    <th>ChEMBL Units</th>#}
                </tr>
            </tfoot>

            <tbody id="table">
            </tbody>
        </table>
    </div>

    <div id="spinner"></div>
{% endblock %}
