{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div style="padding-bottom: 50px">
        <h2 align="center">Cell Types <a href="/cellsamples/celltype/add/" class="btn btn-success" role="button">Add Cell Type</a></h2>

        <table hidden id="celltypes" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Organ</th>
                    <th>Cell Type</th>
                    <th>Cell Subtype</th>
                    <th>Species</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Organ</th>
                    <th>Cell Type</th>
                    <th>Cell Subtype</th>
                    <th>Species</th>
                </tr>
            </tfoot>

            <tbody>
            {% for celltype in object_list %}
                <tr class="cellsample" id={{ celltype.id }} name={{ celltype }}>
                    <td><a href="{{ celltype.id }}">{{ celltype.organ }}</a></td>
                    <td><a href="{{ celltype.id }}">{{ celltype.cell_type }}</a></td>
                    <td>{{ celltype.cell_subtype }}</td>
                    <td>{{ celltype.species }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#celltypes').DataTable({
                "iDisplayLength": 50,
                // Initially sort on organ
                "order": [ 0, "asc" ]
                // If one wants to display top and bottom
                //"sDom": '<"wrapper"lfptip>'
            });
        });
    </script>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
