{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "cellsamples/celltype_list.js" %}"></script>
{% endblock %}

{% block content %}

    <div class="padded-bottom">
        <h2 align="center">Cell Types <a href="/cellsamples/celltype/add/" class="btn btn-success" role="button">Add Cell Type</a></h2>

        <table hidden id="celltypes" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Organ</th>
                    <th>Cell Type</th>
                    <th>Cell Subtype</th>
                    <th>Species</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>View/Edit</th>
                    <th>Organ</th>
                    <th>Cell Type</th>
                    <th>Cell Subtype</th>
                    <th>Species</th>
                </tr>
            </tfoot>

            <tbody>
            {% for celltype in object_list %}
                <tr class="cellsample" id={{ celltype.id }} name={{ celltype }}>
                    <td><a class="btn btn-primary" href="{{ celltype.id }}">View/Edit</a></td>
                    <td>{{ celltype.organ }}</td>
                    <td><a href="{{ celltype.id }}">{{ celltype.cell_type }}</a></td>
                    <td>{{ celltype.cell_subtype }}</td>
                    <td>{{ celltype.species }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
