{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "microdevices/microdevice_list.js" %}"></script>
{% endblock %}

{% block content %}

    <div class="padded-bottom">

        <legend>
            <h2 class="text-center">
                Organ Models
            </h2>
        </legend>

        <div class="row text-center">
            <a href="/microdevices/model/add/" class="btn btn-lg btn-success" role="button">Add Model</a>
        </div>

        {% include 'project_filters.html' %}

        <table hidden id="models" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Organ</th>
                    <th>Model Name</th>
                    <th>Device</th>
                    <th>Center</th>
                    <th>Project</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Organ</th>
                    <th>Model Name</th>
                    <th>Device</th>
                    <th>Center</th>
                    <th>Project</th>
                    <th>Description</th>
                </tr>
            </tfoot>

            <tbody>
            {% for model in models %}
                <tr class="model" id={{ model.id }} name={{ model.device_name }}>
                    <td><a class="btn btn-primary" href="model/{{ model.id }}">View</a></td>
                    <td><a class="btn btn-primary" href="model/{{ model.id }}/update/">Edit</a></td>
                    <td>{{ model.organ|default_if_none:"" }}</td>
                    <td>{{ model.model_name }}</td>
                    <td><a href="device/{{ model.device.id }}">{{ model.device|default_if_none:"" }}</a></td>
                    <td>{{ model.center|default_if_none:"" }}</td>
                    <td>
                        {% if model.mps %}
                            MPS
                        {% endif %}
                        {% if model.epa %}
                            EPA
                        {% endif %}
                        {% if not model.epa and not model.mps %}
                            Unassigned
                        {% endif %}
                    </td>
                    <td>{{ model.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <legend>
            <h2 class="text-center">
                Microdevices
            </h2>
        </legend>

        <div class="row text-center">
            <a href="/microdevices/device/add/" class="btn btn-lg btn-success" role="button">Add Device</a>
        </div>

        <table hidden id="microdevices" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Device Name</th>
                    <th>Manufacturer</th>
                    <th>Center</th>
                    <th>Organ</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Device Name</th>
                    <th>Manufacturer</th>
                    <th>Center</th>
                    <th>Organ</th>
                    <th>Description</th>
                </tr>
            </tfoot>

            <tbody>
            {% for microdevice in devices %}
                <tr class="microdevice" id={{ microdevice.id }} name={{ microdevice.device_name }}>
                    <td><a class="btn btn-primary" href="device/{{ microdevice.id }}">View</a></td>
                    <td><a class="btn btn-primary" href="device/{{ microdevice.id }}/update/">Edit</a></td>
                    <td>{{ microdevice.device_name }}</td>
                    <td>{{ microdevice.manufacturer|default_if_none:"" }}</td>
                    <td>{{ microdevice.center|default_if_none:"" }}</td>
                    <td>{{ microdevice.organ|default_if_none:"" }}</td>
                    <td>{{ microdevice.description|default_if_none:"" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
