{% extends "base.html" %}

{% block content %}

    <legend><h1>{{ model.model_name }}</h1></legend>

    <div class="row">
        <div class="col-sm-2 lead text-right-responsive">
            <b>Center:</b>
        </div>
        <div class="col-sm-10 lead">
            {{ model.center|default:'Unspecified' }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 lead text-right-responsive">
            <b>Organ:</b>
        </div>
        <div class="col-sm-4 lead">
            {{ model.organ|default:'Unspecified' }}
        </div>
        <div class="col-sm-2 lead text-right-responsive">
            <b>Device:</b>
        </div>
        <div class="col-sm-4 lead">
            {% if model.device.id %}
                <a href="/microdevices/device/{{ model.device.id }}">{{ model.device }}</a>
            {% else %}
                Unspecified
            {% endif %}
        </div>
    </div>

    {% if model.description %}
    <div class="row">
        <div class="col-sm-2 lead text-right-responsive">
            <b>Description:</b>
        </div>
        <div class="col-sm-10 lead">
            {{ model.description }}
        </div>
    </div>
    {% endif %}

    {% if assays %}
    <legend><b>Validated Assays</b></legend>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Assay Name</th>
            <th>Assay Type</th>
            <th>Test Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for assay in assays %}
            <tr>
                <td>{{ assay.assay.assay_name }}</td>
                <td>{{ assay.assay.assay_type }}</td>
                <td>{{ assay.assay.test_type }}</td>
                <td>{{ assay.assay.assay_description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
