{% extends 'base.html' %}

{% block content %}

    <form method="get" action=".">
{#        <input id="id_q" name="q" type="search" value="{{ query }}">#}
        <div id="search_bar" class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default">Global</button>
            </div>
            <input id="id_q" name="q" type="search" class="form-control" placeholder="Search Global"
                    value="{{ query }}">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>
        </div>

        <br>

        <div class="row">
        {% for model in form.models %}
            <div class="{% cycle 'bg-primary' 'bg-success' 'bg-info' 'bg-warning'%} col-xs-12 col-sm-4 col-md-3">
                {{ model }}
            </div>
        {% endfor %}
        </div>

{#        <table>#}
{#            {{ form.as_table }}#}
{#        </table>#}

        {% if query %}

{#            <h3>Results</h3>#}

{#            {% for result in page.object_list %}#}
{#                <p>#}
{#                    <a href="{{ result.object.get_absolute_url }}">{{ result.object }} {{ result.content_type }}</a>#}
{#                </p>#}
{#            {% empty %}#}
{#                <p>No results found.</p>#}
{#            {% endfor %}#}

              {# Interesting but causes instability with pagination (# per page arbitrarily high currently) #}
            {% with page.object_list as results %}
                {% regroup results|dictsort:"verbose_name_plural" by verbose_name_plural as grouped_objects %}
                {% for ct in grouped_objects %}
                    <h3 class="{% cycle 'text-primary' 'text-success' 'text-info' 'text-warning'%}">{{ ct.grouper }}</h3>
                    <table class="display table table-striped table-hover">
                    {% for result in ct.list %}
                        <tr>
                        {# Just using the id can save time #}
{#                            <td>#}
{#                                <a href="{{ result.object.get_absolute_url }}">{{ result.object.id }}</a>#}
{#                            </td>#}
                            <td>
                                <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% empty %}
                    <div class="bg-danger">
                        <h3>No results found: Make sure your search is not too general or spelled incorrectly.</h3>
                        <h4>If you are unsure about the complete spelling, try searching just part of the word of interest.</h4>
                        <h5>Spelling suggestions are in development.</h5>
                    </div>
                {% endfor %}
            {% endwith %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                    {% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                    Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
