{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "assays/assaylayout_list.js" %}"></script>
{% endblock %}

{% block content %}

    <div class="padded-bottom">
        <h2 align="center">Assay Layouts <a href="/assays/assaylayout/add/" class="btn btn-success" role="button">Add Layout</a></h2>

        <table hidden id="layouts" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Assay Layout Name</th>
                    <th>Device</th>
                    <th>Review</th>
            </thead>

            <tfoot>
                <tr>
                    <th>View/Edit</th>
                    <th>Assay Layout Name</th>
                    <th>Device</th>
                    <th>Review</th>
                </tr>
            </tfoot>

            <tbody>
            {% for layout in object_list %}
                <tr class="layout" id={{ layout.id }} name={{ layout.id }}>
                    <td><a class="btn btn-primary" href="{{ layout.id }}">View/Edit</a></td>
                    <td>{{ layout.layout_name }}</td>
                    <td><a href="/microdevices/device/{{ layout.device.id }}">{{ layout.device}}</a></td>
                    <td>
                        {% if layout.signed_off_by %}
                            <span title="This entry was reviewed by {{ layout.signed_off_by }} on {{ layout.signed_off_date }}" class="glyphicon glyphicon-thumbs-up text-primary" aria-hidden="true"></span>
                        {% endif %}
                        {% if layout.flagged %}
                            <span title="This entry is flagged for review: '{{ layout.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}

