{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "js/inline_add.js" %}"></script>
    <script src="{% static "js/cookies.js" %}"></script>
    <script src="{% static "js/whittle.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "js/flag.js" %}"></script>
{% endblock %}

{% block content %}

    {#Note that this script is divorced from the admin equivalent#}
    <script>
        $(function() {
            function getIDs() {
                var i = 0;
                var IDs = [];
                while ($('#id_assayresult_set-'+i+'-assay_name')[0]){
                    IDs.push(i);
                    i += 1;
                }
                return IDs;
            }

            function changeNew() {
                var i = Math.max.apply(null,getIDs());
                $('#id_assayresult_set-'+i+'-assay_name').html(inlineOptions);
            }

            function changeAll(reset) {
                var IDs = getIDs();
                var vals = [];

                if (!reset) {
                    for (var i in IDs) {
                        vals.push($('#id_assayresult_set-'+i+'-assay_name').val());
                    }
                }

                for (var j in IDs) {
                    $('#id_assayresult_set-'+j+'-assay_name').html(inlineOptions);
                    if (!reset) {
                        $('#id_assayresult_set-'+j+'-assay_name').val(vals[j]);
                    }
                }
            }

            var setup = $('#id_chip_setup');
            var setupVal = setup.val();
            var inlineOptions = "";

            // Initial inline whittle
            $.when(whittle('chip_setup',setup.val(),'AssayChipReadout','AssayChipReadoutAssay','readout_id')).then(function(data) {
                inlineOptions = data;
                changeAll(false);
            });

            // Whittle inline when setup changes
            setup.change(function() {
                $.when(whittle('chip_setup',setup.val(),'AssayChipReadout','AssayChipReadoutAssay','readout_id')).then(function(data) {
                    inlineOptions = data;
                    changeAll(true);
                    setupVal = setup.val();
                });
            });

            // This is to deal with new inline entries when on the frontend
            $("#add_button").click(function() {
                changeNew();
            });

            // Resolve deletion error frontent
            // This selector will check all items with DELETE in the name, including newly created ones
            $("body").on("click", "input[name*='DELETE']", function(event) {
                $.when(whittle('chip_setup',setup.val(),'AssayChipReadout','AssayChipReadoutAssay','readout_id')).then(function(data) {
                    inlineOptions = data;
                    changeAll(false);
                });
            });
        });
    </script>


    {% if update %}
        <form onsubmit="return confirm('Are you sure you want to overwrite this entry?');" class="form-horizontal" method="post">
    {% else %}
        <form class="form-horizontal" method="post" >
    {% endif %}
        {% csrf_token %}
        <h1>
            Chip Test Results

            <button id="submit" type="submit" class="btn btn-primary">Submit</button>

            {# Html for flagging for review #}
            {% if form.flagged.value %}
                {# If the model is flagged then display a danger flag and the notes #}
                <a role='button' id="flag" class="btn btn-sm btn-danger" title="Flag for review">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                </a>
                <a role='button' id="notes_for_flag" class="btn btn-sm btn-warning" title="Reason for Flag">
                    Notes
                </a>
            {% else %}
                {# If the model is not flagged display a blue flag and no notes #}
                <a role='button' id="flag" class="btn btn-sm" title="Flag for review">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                </a>
                <a role='button' id="notes_for_flag" class="btn btn-sm btn-warning" title="Reason for Flag" style="display: none">
                    Notes
                </a>
            {% endif %}

            {% if update %}
                <a role="button" class="btn btn-danger pull-right" href="/assays/assaytestresult/{{ object.id }}/delete/">Delete</a>
            {% endif %}

            <div class="form-group has-error">
                <input class='small form-control' placeholder="Reason for Flag" id="id_reason_for_flag" maxlength="300"
                name="reason_for_flag" type="text" style="display: none;" value="{{ form.reason_for_flag.value|default:'' }}">
            </div>
        </h1>

        <legend>Test Results</legend>

        {# Hidden div for flagging the entry #}
        <div hidden>
            {{ form.flagged }}
        </div>

        {% if form.chip_setup.errors %}
            {% for error in form.chip_setup.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
            <label for="chip_setup" class="col-sm-2 control-label">Setup*</label>
            <div class="col-sm-10">
                <select id="id_chip_setup" name="chip_setup">
                    <option value="">---------</option>
                    {% for setup in setups %}
                        {# It is necessary to coerce the forms value into an integer for this compare #}
                        {% if setup.id|add:"0" == form.chip_setup.value|add:"0" %}
                            <option value={{ setup.id }} selected>{{ setup }}</option>
                        {% else %}
                            <option value={{ setup.id }}>{{ setup }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        {{ formset.management_form }}
        <legend>Results</legend>

        {% if formset.non_form_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ formset.non_form_errors }}
            </div>
        {% endif %}

        {% if formset.errors %}
            {% for dict in formset.errors %}
                {% for key,value in dict.items %}
                    {% if key %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <a id="add_button" class="btn btn-success" role="button">Add Result</a>
        <table class="table table-striped results" id="assayresult_set-group" name="inlines">
            <thead>
                <tr>
                    <th>Assay</th>
                    <th>Pos/Neg</th>
                    <th>Function</th>
                    <th>Measure</th>
                    <th>Value</th>
                    <th>Test Unit</th>
                    <th>Severity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for result in formset %}
                    <tr class="inline" id="results-{{ forloop.counter0 }}">
                        {# Hidden input for Update (need id to associate) #}
                        {% if result.id.value %}
                        <td class="original" hidden>
                            <input type="hidden" id="id_assayresult_set-{{ forloop.counter0 }}-id" name="assayresult_set-{{ forloop.counter0 }}-id" value="{{ result.id.value }}">
                        </td>
                        {% endif %}
                        <td>
                            <select id="id_assayresult_set-{{ forloop.counter0 }}-assay_name" name="assayresult_set-{{ forloop.counter0 }}-assay_name">
                                <option value="">---------</option>
                                {% if result.assay_name.value %}
                                    <option selected value="{{ result.assay_name.value }}">---------</option>
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            {{ result.result }}
                        </td>
                        <td>
                            {{ result.result_function }}
                        </td>
                        <td>
                            {{ result.result_type }}
                        </td>
                        <td>
                            {{ result.value }}
                        </td>
                        <td>
                            {{ result.test_unit }}
                        </td>
                        <td>
                            {{ result.severity }}
                        </td>
                        <td>
                            {{ result.DELETE }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}
