{% extends "base.html" %}
{% load static %}

{% block load %}
<script src="{% static "js/inline_add.js" %}"></script>
<script src="{% static "assays/customize_chip.js" %}"></script>
{% endblock %}

{% block content %}

<h1>Add Readout and Assays</h1>

<form enctype="multipart/form-data" class="form-horizontal form-inline" method="post" >
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Submit</button>
    <legend>Readout Details</legend>
    <p>Setup: {{ form.chip_setup }}</p>
    <p>Time Unit: {{ form.timeunit }}</p>
    <p>Treatment Time Length: {{ form.treatment_time_length }}</p>
    <p>Assay Start Time: {{ form.assay_start_time }}</p>
    <p>Readout Start Time: {{ form.readout_start_time }}</p>
    <p>Notebook: {{ form.notebook }}</p>
    <p>Notebook Page: {{ form.notebook_page }}</p>
    <p>Notes: {{ form.notes }}</p>
    <p>File: {{ form.file }}</p>

    {{ formset.management_form }}
    <legend>Assays</legend>
    <div id="errors">{{ formset.non_form_errors }}</div>
    <a id="add_button">Add Assay</a>
    <div id="assaychipreadoutassay_set-group" class="assays" name="inlines">
    {% for assay_form in formset %}
            <div class="inline" id="assay-{{ forloop.counter0 }}">
            {{ assay_form }}
            </div>
        {% endfor %}
    </div>
</form>

{% endblock %}
