{% extends "base.html" %}
{% load static %}

{% block load %}
<script src="{% static "assays/customize_run.js" %}"></script>
{% endblock %}

{% block content %}

<script>
    $(function() {
        var date = $("#id_start_date");
        var curr_date = date.val();
        //Add datepicker to assay and readout start time
        date.datepicker();
        date.datepicker("option","dateFormat","yy-mm-dd");
        date.datepicker("setDate" , curr_date);
    });
</script>

<form enctype="multipart/form-data" class="form-horizontal" method="post" >
    {% csrf_token %}
    {{ formset.management_form }}
    <h1>Add Organ Chip Study <button type="submit" class="btn btn-primary">Submit</button></h1>

    <legend>Organ Chip Study Details</legend>
{#    <p>Center Name: {{ form.center_id }}</p>#}
{#    <p>Toxicity: {{ form.toxicity }} Disease: {{ form.disease }} Efficacy: {{ form.efficacy }}</p>#}
{#    <p>Study Name: {{ form.name }}</p>#}
{#    <p>Start Date: {{ form.start_date }}</p>#}
{#    <p>Organ Chip Study ID: {{ form.assay_run_id }}</p>#}
{#    <p>Description: {{ form.description }}</p>#}


    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{field.label}}: {{error}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="form-group">
        <label for="center_name" class="col-sm-2 control-label">Center Name</label>
        <div class="col-sm-10">
          {{ form.center_id }}
        </div>
    </div>

    <div class="form-group">
        <label for="study_type" class="col-sm-2 control-label">Study Types</label>
        <div class="col-sm-10">
            <label for="toxicity" style="padding-right: 10px;">Toxicity</label>
              {{ form.toxicity }}
            <label for="disease" style="padding-left: 20px;padding-right: 10px;">Disease</label>
              {{ form.disease }}
            <label for="efficacy" style="padding-left: 20px;padding-right: 10px;">Efficacy</label>
              {{ form.efficacy }}
        </div>
    </div>

    <div class="form-group">
        <label for="study_name" class="col-sm-2 control-label">Study Name</label>
        <div class="col-sm-10">
          {{ form.name }}
        </div>
    </div>

    <div class="form-group">
        <label for="start_date" class="col-sm-2 control-label">Start Date</label>
        <div class="col-sm-10">
          {{ form.start_date }}
        </div>
    </div>

    <div class="form-group">
        <label for="assay_run_id" class="col-sm-2 control-label">Organ Chip Study ID</label>
        <div class="col-sm-10">
          {{ form.assay_run_id }}
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          {{ form.description }}
        </div>
    </div>

    <div class="form-group">
        <label for="group" class="col-sm-2 control-label">Group</label>
        <div class="col-sm-10">
          {{ form.group }}
        </div>
    </div>

{#    <legend>Bulk Import</legend>#}
{#    <div class="form-group">#}
{#        <label for="file" class="col-sm-2 control-label">File</label>#}
{#        <div class="col-sm-10">#}
{#          {{ form.file }}#}
{#        </div>#}
{#    </div>#}
</form>

{% endblock %}
