{% extends "base.html" %}

{% block content %}
    <h1>Chip Readout {{ object.id}}</h1>

    <p>Setup: {{ object.chip_setup }}</p>
    <p>Time Unit: {{ object.timeunit }}</p>
    <p>Treatment Time Length: {{ object.treatment_time_length }}</p>
    <p>Assay Start Time: {{ object.assay_start_time }}</p>
    <p>Readout Start Time: {{ object.readout_start_time }}</p>
    <p>Notebook: {{ object.notebook }}</p>
    <p>Notebook Page: {{ object.notebook_page }}</p>
    <p>Notes: {{ object.notes }}</p>

    <table class="table table-striped">
        <thead>
            <tr><td>Assay</td><td>Object of Interest</td><td>Reader</td><td>Readout Unit</td></tr>
        </thead>
        <tbody>
            {% for assay in object.assaychipreadoutassay_set.all %}
                <tr><td>{{ assay.assay_id }}</td><td>{{ assay.object_type }}</td><td>{{ assay.reader_id }}</td><td>{{ assay.readout_unit }}</td></tr>
            {% endfor %}
        </tbody>
    </table>

    {% if object.file %}
    <a href="/media/{{ object.file }}">File: {{ object.file }}</a>
    {% endif %}

{% endblock %}
