{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "js/flag.js" %}"></script>
    <script src="{% static "assays/customize_layout.js" %}"></script>
    <script src="{% static "js/help.js" %}"></script>
    <link href="{% static "assays/customize_admin.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block fluid-content %}

{% if update %}
    <form onsubmit="return confirm('Are you sure you want to overwrite this entry?');" class="form-horizontal" method="post" autocomplete="off">

    <div class="container">

    {% include 'review.html' %}

    <h1>
        Edit <em>{{ object }}</em>
{% else %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" autocomplete="off">

    <div class="container">
    <h1>
        Add Assay Layout
{% endif %}
    <br>
    {% csrf_token %}

{#        <button id="submit" type="submit" class="btn btn-primary">Submit</button>#}
{##}
        {# TODO MUST FIND WAY TO HANDLE CLONING BUTTONS #}
{#        {% if update %}#}
            {# An assay layout clone will be handled in javascript #}
{#            <a role="button" class="btn btn-info" href="/assays/assaylayout/add?base={{ object.id }}">Clone Base</a>#}
{#            <a role="button" class="btn btn-info" href="/assays/assaylayout/add?clone={{ object.id }}">Clone All</a>#}
{#            <a role="button" class="btn btn-danger pull-right readjust-pulled" href="delete/">Delete</a>#}
{#        {% endif %}#}
{##}
{#        {% include 'flag.html'%}#}
    </h1>

    {% include "submit.html" with flag="y" assay_layout="y" help="y" %}

    {% include 'errors.html' %}

    {% include 'tracking.html' %}

    <legend>Assay Layout Details</legend>

    {% if form.layout_name.errors %}
        {% for error in form.layout_name.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="layout_name" class="col-sm-2 control-label">Layout Name*</label>
        <div class="col-sm-10">
          {{ form.layout_name }}
        </div>
    </div>

    {# TODO ADD DEVICE TO CONTEXT #}
    {% if form.device.errors %}
        {% for error in form.device.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="device" class="col-sm-2 control-label">Device*</label>
        <div class="col-sm-10">
          {{ form.device }}
        </div>
    </div>

    <div class="form-group">
        <label for="standard" class="col-sm-2 control-label">Standard Layout</label>
        <div class="col-sm-10">
            {{ form.standard }}
            <p>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Checking this box indicates that this layout will be used many times.
            </p>
        </div>
    </div>

    <legend>Group Access</legend>

    {% if form.group.errors %}
        {% for error in form.group.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="group" class="col-sm-2 control-label">Group*</label>
        <div class="col-sm-10">
          {{ form.group }}
        </div>
    </div>

    <legend>Modify Layout</legend>

    {# TODO REVISE #}

    <div class="form-group row">
        <label for="id_action" class="col-sm-2 control-label">Action:</label>
        <div class="col-sm-10">
            <select id="id_action" name="action">
                <option value="" selected="selected">---------</option>
                <option value="type">Set Well Type</option>
                <option value="timepoint">Set Time Point</option>
                <option value="compound">Add Compound</option>
                <option value="add-label">Add Label</option>
                <option value="clear">Clear Contents</option>
            </select>
            <p>
                Click and Drag on the Plate Representation Below to Apply the Specified Action
            </p>
        </div>
    </div>

    <div hidden class="form-group row change-layout type">
        <label for="id_type" class="col-sm-2 control-label">Well Type:</label>
        <div id="well_type_div" class="col-sm-10">
        </div>
    </div>

    <div hidden class="change-layout timepoint">
    <div class="form-group row">
        <label for="timepoint" class="col-sm-2 control-label">Timepoint:</label>
        <div class="col-sm-10">
            <input id="id_timepoint" maxlength="6" name="timepoint" type="number" step="any" value="0">
            <select id="id_timeunit" name="concunit">
                <option value="1" selected="selected">min</option>
                <option value="60">hour</option>
                <option value="1440">days</option>
                <option value="10080">weeks</option>
                <option value="43800">months</option>
                <option value="525600">years</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="tpincr" class="col-sm-2 control-label">Increment:</label>
        <div class="col-sm-10">
            <input id="id_tpincr" maxlength="6" name="tpincr" type="number" step="any" value="0">
            <input id="id_tphowtoincr" type="radio" name="tphowtoincr" value="add" checked="">
            Add
            <input id="id_tphowtoincr" type="radio" name="tphowtoincr" value="multiply">
            Multiply
        </div>
    </div>

    <div class="form-group row">
        <label for="time_direction" class="col-sm-2 control-label">Direction of Series:</label>
        <div class="col-sm-10">
            <input id="id_time_direction" type="radio" name="time_direction" value="left_right" checked>
            Left -> Right &amp; Top -> Bottom
            <input id="id_time_direction" type="radio" name="time_direction" value="right_left">
            Right -> Left &amp; Bottom -> Top
        </div>
    </div>
    </div>

    <div hidden class="change-layout compound">
    <div class="form-group row">
        <label for="id_compound" class="col-sm-2 control-label">Compound:</label>
        <div class="col-sm-10">
            {{ form.compound }}
        </div>
    </div>

    <div class="form-group row">
        <label for="concentration" class="col-sm-2 control-label">Concentration:</label>
        <div class="col-sm-10">
            <input id="id_concentration" maxlength="6" name="concentration" type="number" step="any" value="10">
            {{ form.concunit }}
{#                <option value="1">mM</option>#}
{#                <option value="2" selected="selected">μM</option>#}
{#                <option value="3">nM</option>#}
        </div>
    </div>

    <div class="form-group row">
        <label for="increment" class="col-sm-2 control-label">Dilution Factor:</label>
        <div class="col-sm-10">
            <input id="id_increment" maxlength="6" name="increment" type="number" step="any" value="1">
            <input id="id_howtoincr" type="radio" name="howtoincr" value="divide" checked>
            Divide
            <input id="id_howtoincr" type="radio" name="howtoincr" value="multiply">
            Multiply
            <input id="id_howtoincr" type="radio" name="howtoincr" value="subtract">
            Subtract
            <input id="id_howtoincr" type="radio" name="howtoincr" value="add">
            Add
        </div>
    </div>

    <div class="form-group row">
        <label for="compound_direction" class="col-sm-2 control-label">Direction of Series:</label>
        <div class="col-sm-10">
            <input id="id_compound_direction" type="radio" name="compound_direction" value="left_right" checked>
            Left -> Right &amp; Top -> Bottom
            <input id="id_compound_direction" type="radio" name="compound_direction" value="right_left">
            Right -> Left &amp; Bottom -> Top
        </div>
    </div>
    </div>

    <div hidden class="form-group row change-layout add-label">
        <label for="label" class="col-sm-2 control-label">Label:</label>
        <div class="col-sm-10">
            <input id="id_label" name="label" size="50" maxlength="50">
        </div>
    </div>

    <div class='well lead text-center' id='help'>
        Please select a <b>Device</b> to get started
    </div>

    </div>

    {# TODO CHANGE SOON CONTRIVED #}
    <br>
    <div class="padded-row">
        <div id="change_text_size" hidden>
            <label>Text Size:</label>
            <button type="button" onclick="$('.layout-table td').css('font-size', '-=2');"><span id="size_down" class="glyphicon glyphicon-minus text-danger" aria-hidden="true"></span></button>
            <button type="button" onclick="$('.layout-table td').css('font-size', '+=2');"><span id="size_up" class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span></button>
        </div>
        <fieldset></fieldset>
    </div>
</form>

<div hidden id="help_dialog" title="Assay Layout Help">
    <h4>Designing an Assay Layout</h4>
    <ul class="list-group">
        <li class="list-group-item">
            After selecting a <b>device</b>, a representation of the plate will appear at the bottom of the page
        </li>
        <li class="list-group-item">
            If a device you need is not present, contact an administrator
        </li>
        <li class="list-group-item">
            You can mark a layout as a <b>"Standard Layout"</b> by clicking the checkbox
            <br>
            This causes the layout to be at the beginning of lists to make it more noticeable
        </li>
        <li class="list-group-item">
            Making a selection from the <b>Action</b> dropdown allows one to manipulate the plate in the following ways:
        </li>
    </ul>
    <h4>Set Well Type</h4>
    <ul class="list-group">
        <li class="list-group-item">
            Selecting this option will allow you to specify the purpose of each well
        </li>
        <li class="list-group-item">
            First, choose an option from the dropdown entitled <b>Well Type:</b>
            <br>
            Then <i>click and drag</i> on the representation so that your selection box contains the wells you want to mark
        </li>
        <li class="list-group-item">
            Marking wells with a type can make the layout (and any data associated with it) much more legible
        </li>
    </ul>
    <h4>Set Time Point</h4>
    <ul class="list-group">
        <li class="list-group-item">
            Selecting this option will allow you to specify time points for each well
        </li>
        <li class="list-group-item">
            The input <b>Timepoint:</b> is the initial time point and the dropdown next to it specifies the unit
        </li>
        <li class="list-group-item">
            You can create a series where the value is increased from well to well
            <br>
            To do this, set a number in the input <b>Increment:</b>
        </li>
        <li class="list-group-item">
            When creating a time point series, you can choose to <b>Add</b> or <b>Multiply</b>
            <br>
            You can also choose which direction to apply the series
        </li>
        <li class="list-group-item">
            Each well can contain only one time point, so previous time points will be overwritten
        </li>
    </ul>
    <h4>Add Compound</h4>
    <ul class="list-group">
        <li class="list-group-item">
            Selecting this option will allow you to specify compounds and their concentrations
        </li>
        <li class="list-group-item">
            Wells can contain multiple compounds
        </li>
        <li class="list-group-item">
            Similar to time point, you can specify a series for the compound concentration
            <br>
            The default is <b>Divide</b>, but you can also <b>Add</b>, <b>Multiply</b>, or <b>Subtract</b>
        </li>
        <li class="list-group-item">
            Wells can contain only one copy of each compound (e.g. a well can only have one instance of Acetaminophen)
        </li>
    </ul>
    <h4>Add Label</h4>
    <ul class="list-group">
        <li class="list-group-item">
            Selecting this option will allow you to add arbitrary text to the layout's wells
        </li>
        <li class="list-group-item">
            This allows users to add data that the other options do not account for
        </li>
        <li class="list-group-item">
            After typing into the input <b>Label:</b>, click and drag on the desired wells and the text will be added
        </li>
        <li class="list-group-item">
            Each well can contain only one label, thus old labels will be overwritten if necessary
        </li>
    </ul>
    <h4>Clear Contents</h4>
    <ul class="list-group">
        <li class="list-group-item">
            Selecting this option will allow you to remove everything in the selected wells
        </li>
        <li class="list-group-item">
            Click and drag over the desired wells and all data will be removed
        </li>
        <li class="list-group-item">
            Additionally, clicking a time point, compound, or label will let you delete it
        </li>
    </ul>
    <h4>Flagging for Review</h4>
    <ul class="list-group">
        <li class="list-group-item">
            Clicking
            <a role='button' class="btn btn-sm" style="color:#337AB7">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            </a>
            flags the current readout for review
        </li>
        <li class="list-group-item">
            Clicking
            <a role='button' class="btn btn-sm btn-warning" style="color:#FFFFFF">
                Notes
            </a>
            brings up an input dialog where you can explain why this readout was flagged
        </li>
        <li class="list-group-item">
            Clicking
            <a role='button' class="btn btn-sm btn-danger" style="color:#FFFFFF">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            </a>
            removes the flag from the current readout
        </li>
    </ul>
</div>

{% endblock %}
