{% extends "base.html" %}
{% load static %}

{% block load %}
<script src="{% static "js/inline_add.js" %}"></script>
<script src="{% static "js/cookies.js" %}"></script>
<script src="{% static "js/whittle.js" %}"></script>
{% endblock %}

{% block content %}

    {#Note that this script is divorced from the admin equivalent#}
    <script>
        $(function() {
            function getIDs() {
                var i = 0;
                var IDs = [];
                while ($('#id_assayresult_set-'+i+'-assay_name')[0]){
                    IDs.push(i);
                    i += 1;
                }
                return IDs;
            }

            function changeNew() {
                var i = Math.max.apply(null,getIDs());
                $('#id_assayresult_set-'+i+'-assay_name').html(inlineOptions);
            }

            function changeAll(reset) {
                var IDs = getIDs();
                var vals = [];

                if (!reset) {
                    for (var i in IDs) {
                        vals.push($('#id_assayresult_set-'+i+'-assay_name').val());
                    }
                }

                for (var j in IDs) {
                    $('#id_assayresult_set-'+j+'-assay_name').html(inlineOptions);
                    if (!reset) {
                        $('#id_assayresult_set-'+j+'-assay_name').val(vals[j]);
                    }
                }
            }

            var setup = $('#id_chip_setup');
            var setupVal = setup.val();
            var inlineOptions = "";
            var setupOptions = "";

            // Get value for study
            $.when(whittle('assay_run_id', {{ study }}, 'AssayChipSetup', '', '')).then(function (data) {
                $('#id_chip_setup').html(data);
                $('#id_chip_setup').val(setupVal);
            });

            // Initial inline whittle
            $.when(whittle('chip_setup',setup.val(),'AssayChipReadout','AssayChipReadoutAssay','readout_id')).then(function(data) {
                inlineOptions = data;
                changeAll(false);
            });

            // Whittle inline when setup changes
            setup.change(function() {
                $.when(whittle('chip_setup',setup.val(),'AssayChipReadout','AssayChipReadoutAssay','readout_id')).then(function(data) {
                    inlineOptions = data;
                    changeAll(true);
                    setupVal = setup.val();
                });
            });

            // This is to deal with new inline entries when on the frontend
            $("#add_button").click(function() {
                changeNew();
            });

            // Resolve deletion error frontent
            // This selector will check all items with DELETE in the name, including newly created ones
            $( "body" ).on( "click", "input[name*='DELETE']", function(event) {
                $.when(whittle('chip_setup',setup.val(),'AssayChipReadout','AssayChipReadoutAssay','readout_id')).then(function(data) {
                    inlineOptions = data;
                    changeAll(false);
                });
            });
        });
    </script>

    <form class="form-horizontal" method="post" >
        {% csrf_token %}
        <h1>Add Chip Test Results <button type="submit" class="btn btn-primary">Submit</button></h1>

        <legend>Test Results</legend>

        {#    <p>Study: {{ form.assay_device_readout }}</p>#}

        {% if form.errors %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{field.label}}: {{error}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

    {#    <div class="form-group">#}
    {#        <label for="study" class="col-sm-2 control-label">Study</label>#}
    {#        <div class="col-sm-10">#}
    {#          {{ form.assay_device_readout }}#}
    {#        </div>#}
    {#    </div>#}

        <div class="form-group">
            <label for="chip_setup" class="col-sm-2 control-label">Setup</label>
            <div class="col-sm-10">
              {{ form.chip_setup }}
            </div>
        </div>

        {{ formset.management_form }}
        <legend>Results</legend>

        {% if formset.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Missing Fields
            </div>
        {% endif %}

        <a id="add_button" class="btn btn-success" role="button">Add Result</a>
        <table class="table table-striped results" id="assayresult_set-group" name="inlines">
            <thead>
                <tr style="font-weight:bold;"><td>Readout</td><td>Pos/Neg</td><td>Function</td><td>Measure</td><td>Value</td><td>Test Unit</td><td>Severity</td><td>Delete</td></tr>
            </thead>
            <tbody>
                {% for result in formset %}
                    <tr class="inline" id="results-{{ forloop.counter0 }}"><td>{{ result.assay_name }}</td><td>{{ result.result }}</td><td>{{ result.result_function }}</td><td>{{ result.result_type }}</td><td>{{ result.value }}</td><td>{{ result.test_unit }}</td><td>{{ result.severity }}</td><td>{{ result.DELETE }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}
