{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container" style="padding-bottom: 50px">
        <h2 align="center">Results</h2>

        <table id="results" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Study</th>
                    <th>Setup</th>
                    <th>Readout</th>
                    <th>Assay</th>
                    <th>Result</th>
                    <th>Result Function</th>
                    <th>Result Type</th>
                    <th>Severity</th>
                    <th>Creator</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Study</th>
                    <th>Setup</th>
                    <th>Readout</th>
                    <th>Assay</th>
                    <th>Result</th>
                    <th>Result Function</th>
                    <th>Result Type</th>
                    <th>Severity</th>
                    <th>Creator</th>
                </tr>
            </tfoot>

            <tbody>
            {% for result in object_list %}
                <tr class="compound" id={{ result.id }} name={{ result.id }}>
                    <td><a href="{{ result.id }}">{{ result.assay_device_readout }}</a></td>
                    <td><a href="{{ result.chip_setup.id }}">{{ result.chip_setup }}</a></td>
                    {% with result.assayresult_set.all|first as current %}
                        <td>
                            <a href="/assays/assaychipreadout/{{ current.assay_name.readout_id.id }}">
                            {{ current.assay_name.readout_id.id }}
                            </a>
                        </td>
                        <td>{{ current.assay_name }}</td>
                        <td>{{ current.get_result_display }}</td>
                        <td>{{ current.result_function }}</td>
                        <td>{{ current.result_type }}</td>
                        <td>{{ current.get_severity_display }}</td>
                    {% endwith %}
                    <td>{{ result.created_by }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#results').DataTable( {
                "iDisplayLength": 50
            });

            // Swap positions of filter and length selection
            $('.dataTables_filter').css('float','left');
            $('.dataTables_length').css('float','right');
        });
    </script>
{% endblock %}
