{% extends "base.html" %}
{% load static %}

{% block load %}
    <link href="{% static "assays/customize_admin.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/inline_add.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "js/flag.js" %}"></script>
    <script src="{% static "assays/customize_plate_readout.js" %}"></script>
{% endblock %}

{% block fluid-content %}

<script>
    $(function() {
        var date = $("#id_readout_start_time");
        var curr_date = date.val();
        //Add datepicker to assay and readout start time
        date.datepicker();
        date.datepicker("option","dateFormat","yy-mm-dd");
        date.datepicker("setDate" , curr_date);
    });
</script>

{% if update %}
    <form onsubmit="return confirm('Are you sure you want to overwrite this entry?');" enctype="multipart/form-data" class="form-horizontal" method="post" >

    <div class="container">
    <h1>
        Edit Plate Readout ID #{{ object.id }}
{% else %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" >

    <div class="container">
    <h1>
        Add Plate Readout
{% endif %}
    {% csrf_token %}

        <button id="submit" type="submit" class="btn btn-primary">Submit</button>

        {% if update %}
            <a role="button" class="btn btn-danger pull-right readjust-pulled" href="/assays/assaydevicereadout/{{ object.id }}/delete/">Delete</a>
        {% endif %}

        {% include 'flag.html'%}
    </h1>

    {% if form.another.value and form.is_valid and formset.is_valid %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            Successful Submission and Clone
        </div>
    {% endif %}

    <legend>Readout Details</legend>

    {% if form.assay_device_id.errors %}
        {% for error in form.assay_device_id.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="assay_device_id" class="col-sm-2 control-label">Readout ID/Barcode*</label>
        <div class="col-sm-10">
          {{ form.assay_device_id }}
        </div>
    </div>

    {% if form.setup.errors %}
        {% for error in form.setup.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="setup" class="col-sm-2 control-label">Setup*</label>
        <div class="col-sm-10">
          <select id="id_setup" name="setup">
            <option value="">---------</option>
            {% for setup in setups %}
              {# It is necessary to coerce the forms value into an integer for this compare #}
              {% if setup.id|add:"0" == form.setup.value|add:"0" %}
                <option value={{ setup.id }} selected>{{ setup }}</option>
              {% else %}
                <option value={{ setup.id }}>{{ setup }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
    </div>

    {% if form.readout_start_time.errors %}
        {% for error in form.readout_start_time.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="readout_start_time" class="col-sm-2 control-label">Readout Start Date*</label>
        <div class="col-sm-10">
          {{ form.readout_start_time }} [yyyy-mm-dd]
        </div>
    </div>

    {% if form.timeunit.errors %}
        {% for error in form.timeunit.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="timeunit" class="col-sm-2 control-label">Time Unit*</label>
        <div class="col-sm-10">
          {{ form.timeunit }}
        </div>
    </div>

    {% if form.treatment_time_length.errors %}
        {% for error in form.treatment_time_length.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="treatment_time_length" class="col-sm-2 control-label">Treatment Time Length</label>
        <div class="col-sm-10">
          {{ form.treatment_time_length }}
        </div>
    </div>

    {% if form.notebook_page.errors %}
        {% for error in form.notebook_page.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="notebook" class="col-sm-2 col-md-2 control-label">Notebook</label>
        <div class="col-sm-3 col-md-2">
            {{ form.notebook }}
         </div>
        <label for="notebook_page" class="col-sm-3 col-md-2 control-label">Notebook Page</label>
        <div class="col-sm-4 col-md-6">
            {{ form.notebook_page }}
        </div>
    </div>

    <div class="form-group">
        <label for="notes" class="col-sm-2 control-label">Notes</label>
        <div class="col-sm-10">
          {{ form.notes }}
        </div>
    </div>

    {% if form.file.errors %}
        {% for error in form.file.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="file" class="col-sm-2 control-label">.csv Data File</label>
        <div class="col-sm-10">
          {{ form.file }}
            <p>
                <b>***Uploading overwrites old data***</b>
            </p>
        </div>
    </div>

    {# Upload type indicates whether tabular or block #}
    <div class="form-group">
        <label for="upload_type" class="col-sm-2 control-label">Upload Type*</label>
        <div class="col-sm-10">
          {{ form.upload_type }}
        </div>
    </div>

    {{ formset.management_form }}
    <legend>Assays</legend>

    {% if formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ formset.non_form_errors }}
        </div>
    {% endif %}

    {% if formset.errors %}
        {% for dict in formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <table hidden class="table table-striped" id="binding">
        <thead>
            <tr>
                <th>Feature</th>
                <th>Assay</th>
            </tr>
        </thead>
        <tbody id="binding_table">
        </tbody>
    </table>

    <a id="add_button" class="btn btn-success" role="button">Add Assay</a>
    <span class="text-danger">You do not need to manually type features: Use the interface that appears after upload</span>
    <table class="table table-striped assays" id="assayplatereadoutassay_set-group"  name="inlines">
        <thead>
            <tr>
                <th>Assay</th>
                <th>Reader</th>
                <th>Readout Unit</th>
                <th>Feature</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for assay in formset %}
                <tr class="inline" id="assay-{{ forloop.counter0 }}">
                    {# Hidden input for Update (need id to associate) #}
                    {% if assay.id.value %}
                    <td class="original" hidden>
                        <input id="id_assayplatereadoutassay_set-{{ forloop.counter0 }}-id" name="assayplatereadoutassay_set-{{ forloop.counter0 }}-id" type="hidden" value="{{ assay.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ assay.assay_id }}</td>
                    <td>{{ assay.reader_id }}</td>
                    <td>{{ assay.readout_unit }}</td>
                    <td>{{ assay.feature }}</td>
                    <td>{{ assay.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
</form>

{# CONTRIVED: REFACTOR SOON #}
<div class="col-xs-12">
    <div class="inline-group"></div>
</div>

{% endblock %}
