{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "js/inline_add.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "js/flag.js" %}"></script>
{% endblock %}

{% block content %}

<script>
    $(function() {
        var date = $("#id_setup_date");
        var curr_date = date.val();
        //Add datepicker to assay and readout start time
        date.datepicker();
        date.datepicker("option","dateFormat","yy-mm-dd");
        date.datepicker("setDate" , curr_date);

        // Open and then close dialog so it doesn't get placed in window itself
        var dialog = $('#dialog');
        dialog.dialog();
        dialog.dialog('close');
        dialog.removeProp('hidden');

        var warning = $('#warning');
        warning.dialog({
            height:200,
            modal: true,
            buttons: {
            Yes: function() {
                $(this).dialog("close");
                },
            No: function() {
                $('#id_chip_test_type').val('compound');
                $('#id_chip_test_type').trigger('change');
                $(this).dialog("close");
                }
            }
        });
        warning.dialog('close');
        warning.removeProp('hidden');
    });
</script>

{% if update %}
    <form onsubmit="return confirm('Are you sure you want to overwrite this entry?');" class="form-horizontal" method="post">
{% else %}
    <form class="form-horizontal" method="post" >
{% endif %}
    {% csrf_token %}
    <h1>
        Chip Setup

        <button id="submit" type="submit" class="btn btn-primary" onclick="$('#id_another').val(false);">Submit</button>

        <button type="submit" class="btn btn-info" onclick="$('#id_another').val(true);">Submit and Clone</button>

        {# Html for flagging for review #}
        {% if form.flagged.value %}
            {# If the model is flagged then display a danger flag and the notes #}
            <a role='button' id="flag" class="btn btn-sm btn-danger" title="Flag for review">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            </a>
            <a role='button' id="notes_for_flag" class="btn btn-sm btn-warning"
                data-toggle="popover" title="Reason for Flag" data-content='{{ form.reason_for_flag }}'>
                Notes
            </a>
        {% else %}
            {# If the model is not flagged display a blue flag and no notes #}
            <a role='button' id="flag" class="btn btn-sm" title="Flag for review">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            </a>
            <a role='button' id="notes_for_flag" class="btn btn-sm btn-warning"
                data-toggle="popover" title="Reason for Flag" data-content='{{ form.reason_for_flag }}'
                style="display: none">
                Notes
            </a>
        {% endif %}

        {% if update %}
            <a role="button" class="btn btn-danger pull-right" href="/assays/assaychipsetup/{{ object.id }}/delete/">Delete</a>
        {% endif %}
    </h1>

    {% if form.another.value and form.is_valid and formset.is_valid %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            Successful Submission and Clone
        </div>
    {% endif %}

    {# Hidden: Used to indicate submit and clone #}
    {{ form.another.as_hidden }}

    {# Hidden div for flagging the entry #}
    <div hidden>
        {{ form.flagged }}
    </div>

    <legend>Chip Setup Details</legend>

    {% if form.setup_date.errors %}
        {% for error in form.setup_date.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="setup_date" class="col-sm-2 control-label">Setup Date*</label>
        <div class="col-sm-10">
          {{ form.setup_date }} [yyyy-mm-dd]
        </div>
    </div>

    {% if form.device.errors %}
        {% for error in form.device.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="device" class="col-sm-2 control-label">Organ Model Name*</label>
        <div class="col-sm-10">
          {{ form.device }}
        </div>
    </div>

    {% if form.assay_chip_id.errors %}
        {% for error in form.assay_chip_id.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="assay_chip_id" class="col-sm-2 control-label">Chip ID/Barcode*</label>
        <div class="col-sm-10">
          {{ form.assay_chip_id }}
        </div>
    </div>

    {% if form.chip_test_type.errors %}
        {% for error in form.chip_test_type.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="chip_test_type" class="col-sm-2 control-label">Test Type*</label>
        <div class="col-sm-10">
          {{ form.chip_test_type }}
        </div>
    </div>

    <div id="control_warning" hidden class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        Warning: Compound selected for a control chip
    </div>

    {% if form.concentration.errors %}
        {% for error in form.concentration.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ form.non_field_errors }}
        </div>
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="compound" class="col-sm-2 control-label">Compound</label>
        <div class="col-sm-10" style="float:left; display:inline; overflow:none; white-space:nowrap;">
            {{ form.compound }}
            <label for="concentration" style="padding-left: 20px;padding-right: 10px;">Concentration</label>
            {{ form.concentration }}
            <label for="unit" style="padding-left: 20px;padding-right: 10px;">Concentration Unit</label>
            {{ form.unit }}
        </div>
    </div>

    <div class="form-group">
        <label for="scientist" class="col-sm-2 control-label">Scientist</label>
        <div class="col-sm-10">
          {{ form.scientist }}
        </div>
    </div>

    {% if form.notebook_page.errors %}
        {% for error in form.notebook_page.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="notebook" class="col-sm-2 control-label">Notebook</label>
        <div class="col-sm-10">
            {{ form.notebook }}
            <label for="notebook_page" style="padding-left: 20px;padding-right: 10px;">Notebook Page</label>
            {{ form.notebook_page }}
        </div>
    </div>

    <div class="form-group">
        <label for="notes" class="col-sm-2 control-label">Notes</label>
        <div class="col-sm-10">
          {{ form.notes }}
        </div>
    </div>

    {{ formset.management_form }}
    <legend>Model Cells</legend>

    {% if formset.errors %}
        {% for dict in formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ formset.non_form_errors }}
        </div>
    {% endif %}

    <a id="add_button" class="btn btn-success" role="button">Add Cell Type</a> <span>Click a magnifying glass to see a list of available cell samples:</span>
    <table class="table table-striped cells" id="assaychipcells_set-group" name="inlines">
        <thead>
            <tr>
                <th>Cell Sample</th>
                <th>Cell Biosensor</th>
                <th>Density</th>
                <th>Unit</th>
                <th>Passage#</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for cell in formset %}
                <tr class="inline" id="results-{{ forloop.counter0 }}">
                    {# Hidden input for Update (need id to associate) #}
                    {% if cell.id.value %}
                    <td class="original" hidden>
                        <input id="id_assaychipcells_set-{{ forloop.counter0 }}-id" name="assaychipcells_set-{{ forloop.counter0 }}-id" type="hidden" value="{{ cell.id.value }}">
                    </td>
                    {% endif %}
                    <td><input readonly=true id="id_assaychipcells_set-{{ forloop.counter0 }}-cell_sample"
                               name="assaychipcells_set-{{ forloop.counter0 }}-cell_sample" size="5" value={{ cell.cell_sample.value|default_if_none:'' }}>
                        <button id='search-{{ forloop.counter0 }}-' type="button" class="btn btn-xs btn-info" onclick="search(this)">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td>{{ cell.cell_biosensor }}</td>
                    <td>{{ cell.cellsample_density }}</td>
                    <td>{{ cell.cellsample_density_unit }}</td>
                    <td>{{ cell.cell_passage }}</td>
                    <td>{{ cell.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<div hidden id="dialog">
    <div class="alert alert-info" role="alert">
            <h1 align="center">Click Desired Row</h1>
    </div>

    <table id="cellsamples" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID #</th>
                    <th>Receipt Date</th>
                    <th>Cell Type</th>
                    <th>Cell Source</th>
                    <th>Supplier</th>
                    <th>Barcode/Lot #</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>ID #</th>
                    <th>Receipt Date</th>
                    <th>Cell Type</th>
                    <th>Cell Source</th>
                    <th>Supplier</th>
                    <th>Barcode/Lot #</th>
                </tr>
            </tfoot>

            <tbody>
            {% for cellsample in cellsamples %}
                <tr class="cellsample" id={{ cellsample.id }} name={{ cellsample.id }}>
                    <td>{{ cellsample.id }}</td>
                    <td>{{ cellsample.receipt_date }}</td>
                    <td>{{ cellsample.cell_type }}</td>
                    <td>{{ cellsample.cell_source }}</td>
                    <td>{{ cellsample.supplier }}</td>
                    <td>{{ cellsample.barcode }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
</div>

<div hidden id="warning" title="Compound in Control Chip">
    <p>
        <span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true" style="float:left; margin:0 7px 20px 0;"></span>
        Are you sure you want to add a compound to a control chip?
    </p>
</div>

<script>
    // Global variables are in poor taste
    var id = null;

    function search(elem) {
        id = $(elem).attr("id").replace(/\D/g,'');
        $("#dialog").dialog({
          width: 635,
          height: 635
        });
    }

{#    $("body").on( "click", "span[id*='search-']", function(event) {#}
{#        event.preventDefault();#}
{#        // Get ID of the clicked search#}
{#        id = event.target.id.replace(/\D/g,'');#}
{#        $("#dialog").dialog({#}
{#          width: 635,#}
{#          height: 635#}
{#        });#}
{#    });#}

    $(function() {

        function toggle_warning(first) {
            if (test_type == 'control' && compound) {
                $('#control_warning').prop('hidden',false);
                if (!first) {
                    $('#warning').dialog('open');
                }
            }
            else{
                $('#control_warning').prop('hidden',true);
            }
        }

        var test_type_selector = $('#id_chip_test_type');
        var compound_selector = $('#id_compound');

        var test_type = test_type_selector.val();
        var compound = compound_selector.val();

        toggle_warning(true);

        test_type_selector.change(function() {
            test_type = test_type_selector.val();
            toggle_warning(false);
        });

        compound_selector.change(function() {
            compound = compound_selector.val();
            toggle_warning(false);
        });

        $('.cellsample').click(function (evt) {
            var cellsampleId = $(this).attr("id");
            var selectedInput = $('#id_assaychipcells_set-' + id + '-cell_sample');
            selectedInput.prop('value', cellsampleId);
            $('#dialog').dialog('close');
        });

        $('#cellsamples').DataTable({
            "iDisplayLength": 50,
            // Initially sort on receipt date
            "order": [ 0, "desc" ],
            // If one wants to display top and bottom
            "sDom": '<"wrapper"fti>'
        });

        // Move filter to left
        $('.dataTables_filter').css('float', 'left');
    });
</script>

{% endblock %}
