{% extends "admin/base.html" %}
{% load staticfiles %}

{% block sidebar %}
    <!-- Load c3.css -->
    <link href="/static/css/c3.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/c3.min.js"></script>
{% endblock %}

{% block content %}
    <script>
    $(document).ready(function () {
        $('.readout').click(function() {
            alert($(this).attr('id'));
            var chart = c3.generate({
            bindto: '#chart',
            data: {
              columns: [
                ['data1', 30, 200, 100, 400, 150, 250],
                ['data2', 50, 20, 10, 40, 15, 25]
                ]
                }
            });
        });
    });
    </script>

    <h2>Readout: Click ID to Get Plot</h2>
    <ul>
        {% for readout in object_list %}
            <li class="readout" id={{ readout.id }}>{{ readout.id }} : {{readout.assay_chip_id}}</li>
        {% endfor %}
    </ul>
    <div id="chart"></div>
{% endblock %}
