{% extends "base.html" %}

{% block content %}
    <legend><h1>Chip Readout ID# {{ object.id}}</h1></legend>

    <p><b>Setup:</b> {{ object.chip_setup }}</p>
    <p><b>Time Unit:</b> {{ object.timeunit }}</p>
    <p><b>Treatment Time Length:</b> {{ object.treatment_time_length }}</p>
    <p><b>Readout Start Time:</b> {{ object.readout_start_time }}</p>
    <p><b>Notebook:</b> {{ object.notebook }}</p>
    <p><b>Notebook Page:</b> {{ object.notebook_page }}</p>
    <p><b>Notes:</b> {{ object.notes }}</p>

    {% if object.assaychipreadoutassay_set.all %}
        <legend><b>Assays</b></legend>
        <table class="table table-striped">
            <thead>
                <tr><td><b>Assay</b></td><td><b>Object of Interest</b></td><td><b>Reader</b></td><td><b>Readout Unit</b></td></tr>
            </thead>
            <tbody>
                {% for assay in object.assaychipreadoutassay_set.all %}
                    <tr><td>{{ assay.assay_id }}</td><td>{{ assay.object_type }}</td><td>{{ assay.reader_id }}</td><td>{{ assay.readout_unit }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if object.file %}
    <legend><b>Readout File</b></legend>

    <a href="/media/{{ object.file }}">File: {{ object.file }}</a>
    {% endif %}

    <script>
        $("p").addClass("lead");
    </script>

{% endblock %}
