{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div style="padding-bottom: 50px">
        <h2 align="center">Setups</h2>

        <table id="setups" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Chip Setup ID / Barcode</th>
                    <th>Organ Chip Study</th>
                    <th>Date</th>
                    <th>Organ Chip Name</th>
{#                    <th>Chip Test Type</th>#}
                    <th>Compound</th>
                    <th>Scientist</th>
                    <th>Creator</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Chip Setup ID / Barcode</th>
                    <th>Organ Chip Study</th>
                    <th>Date</th>
{#                    <th>Chip Test Type</th>#}
                    <th>Compound</th>
                    <th>Scientist</th>
                    <th>Creator</th>
                </tr>
            </tfoot>

            <tbody>
            {% for setup in object_list %}
                <tr class="compound" id={{ setup.id }} name={{ setup.id }}>
                    <td><a href="{{ setup.id }}">{{ setup.assay_chip_id }}</a></td>
                    <td><a href="/assays/organchipstudy/{{ setup.assay_run_id.id }}">{{ setup.assay_run_id }}</a></td>
                    <td>{{ setup.setup_date }}</td>
                    <td>{{ setup.device }}</td>
{#                    <td>{{ setup.chip_test_type }}</td>#}
                    {% if setup.compound != None %}
                        <td>{{ setup.compound }}</td>
                    {% else %}
                        <td>-control-</td>
                    {% endif %}
{#                    <td>{{ setup.compound }}</td>#}
                    <td>{{ setup.scientist }}</td>
                    <td>{{ setup.created_by }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#setups').DataTable( {
                "iDisplayLength": 50
            });

            // Swap positions of filter and length selection
            $('.dataTables_filter').css('float','left');
            $('.dataTables_length').css('float','right');
        });
    </script>
{% endblock %}

