{% extends "base.html" %}

{% block content %}
    <h1>Chip Readout {{ object.id}}</h1>
    <p>Setup: {{ object.chip_setup }}</p>
    <p>Time Unit: {{ object.timeunit }}</p>
    <p>Treatment Time Length: {{ object.treatment_time_length }}</p>
    <p>Assay Start Time: {{ object.assay_start_time }}</p>
    <p>Readout Start Time: {{ object.readout_start_time }}</p>
    <p>Notebook: {{ object.notebook }}</p>
    <p>Notebook Page: {{ object.notebook_page }}</p>
    <p>Notes: {{ object.notes }}</p>

    {% for assay in object.assaychipreadoutassay_set.all %}
        <p>{{ assay.assay_id }} ||| {{ assay.object_type }} ||| {{ assay.reader_id }} ||| {{ assay.readout_unit }}</p>
    {% endfor %}

    {% if object.file %}
    <a href="/media/{{ object.file }}">File: {{ object.file }}</a>
    {% endif %}

{% endblock %}
