{% extends "base.html" %}
{% load static %}

{% block js_load %}
    <script src="{% static "js/inline_add.js" %}"></script>
{% endblock %}

{% block content %}

<h1>Add Readout and Assays</h1>

<form enctype="multipart/form-data" class="form-horizontal form-inline" method="post" >
  {% csrf_token %}
  <legend>Readout Details</legend>
  {{ form}}
  {{ formset.management_form }}
  <legend>Assays</legend>
  <div id="inlines" class="assays">
  {% for assay_form in formset %}
    <div class="inline" id="assay-{{ forloop.counter0 }}">
      {{ assay_form }}
    </div>
  {% endfor %}
 </div>
 <div class="form-actions">
   <a id="add_button">Add Assay</a>
   <button type="submit" class="btn btn-primary">Create Event</button>
 </div>
</form>

{% endblock %}
