{% extends "base.html" %}
{% load static %}

{% block load %}
<script src="{% static "js/inline_add.js" %}"></script>
<script src="{% static "assays/customize_chip.js" %}"></script>

<!-- Load c3.css -->
<link href="{% static "css/c3.css" %}" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
<script src="{% static "js/d3.v3.min.js" %}" charset="utf-8"></script>
<script src="{% static "js/c3.min.js" %}"></script>
{% endblock %}

{% block content %}

<h1>Add Readout and Assays</h1>

<form enctype="multipart/form-data" class="form-horizontal form-inline" method="post" >
    {% csrf_token %}
    <legend>Readout Details</legend>
    {{ form}}
    {{ formset.management_form }}
    <legend>Assays</legend>
    <div id="errors">{{ formset.non_form_errors }}</div>
    <div id="assaychipreadoutassay_set-group" class="assays" name="inlines">
    {% for assay_form in formset %}
            <div class="inline" id="assay-{{ forloop.counter0 }}">
            {{ assay_form }}
            </div>
        {% endfor %}
    </div>
    <div class="form-actions">
        <a id="add_button">Add Assay</a>
        <button type="submit" class="btn btn-primary">Create Event</button>
    </div>
</form>

{% endblock %}
