{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "assays/index.js" %}"></script>
{% endblock %}

{% block content %}

    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                {{ title }}
            </h2>
        </legend>

        <div class="row text-center">
            <a href="/assays/organchipstudy/add" class="btn btn-lg btn-success" role="button">Add Study</a>
        </div>

        <table hidden id="studies" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Study ID</th>
                    <th>Study Types</th>
                    <th>Start Date</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Group</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Study ID</th>
                    <th>Study Types</th>
                    <th>Start Date</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Group</th>
                </tr>
            </tfoot>

            <tbody>
            {% for study in object_list %}
                <tr class="compound" id={{ study.id }} name={{ study.id }}>
                    <td><a href="/assays/{{ study.id }}">{{ study.assay_run_id }}</a></td>
                    <td>{{ study.study_types }}</td>
                    <td>{{ study.start_date|date:"M d, Y" }}</td>
                    <td>{{ study.description }}</td>
                    <td>{{ study.created_by }}</td>
                    <td>{{ study.group }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
