{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div style="padding-bottom: 50px">
        <legend><h1>{{ title }}    <a href="/assays/organchipstudy/add{{ setup }}" class="btn btn-success" role="button">Add Study</a></h1></legend>

        <table id="studies" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Study ID</th>
                    <th>Study Types</th>
                    <th>Start Date</th>
                    <th>Description</th>
                    <th>Creator</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Study ID</th>
                    <th>Study Types</th>
                    <th>Start Date</th>
                    <th>Description</th>
                    <th>Creator</th>
                </tr>
            </tfoot>

            <tbody>
            {% for study in object_list %}
                <tr class="compound" id={{ study.id }} name={{ study.id }}>
                    <td><a href="/assays/{{ study.id }}{{ setup }}">{{ study.assay_run_id }}</a></td>
                    <td>{{ study.study_types }}</td>
                    <td>{{ study.start_date }}</td>
                    <td>{{ study.description }}</td>
                    <td>{{ study.created_by }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#studies').DataTable( {
                "iDisplayLength": 50
            });

            // Swap positions of filter and length selection
            $('.dataTables_filter').css('float','left');
            $('.dataTables_length').css('float','right');
        });
    </script>
{% endblock %}
