{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div style="padding-bottom: 50px">
        <legend><h1>{{ title }}    <a href="/assays/organchipstudy/add{{ setup_only }}" class="btn btn-success" role="button">Add Study</a></h1></legend>

        <table hidden id="studies" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Study ID</th>
                    <th>Study Types</th>
                    <th>Start Date</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Group</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Study ID</th>
                    <th>Study Types</th>
                    <th>Start Date</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Group</th>
                </tr>
            </tfoot>

            <tbody>
            {% for study in object_list %}
                <tr class="compound" id={{ study.id }} name={{ study.id }}>
                    <td><a href="/assays/{{ study.id }}{{ setup_only }}">{{ study.assay_run_id }}</a></td>
                    <td>{{ study.study_types }}</td>
                    <td>{{ study.start_date }}</td>
                    <td>{{ study.description }}</td>
                    <td>{{ study.created_by }}</td>
                    <td>{{ study.group }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#studies').DataTable( {
                "iDisplayLength": 50,
                // Initially sort on start date (descending), not ID
                "order": [ 2, "desc" ]
            });
        });
    </script>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
