{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "js/inline_add.js" %}"></script>
    <script src="{% static "assays/customize_configuration.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
{% endblock %}

{% block content %}

    {% if update %}
        <form onsubmit="return confirm('Are you sure you want to overwrite this entry?');" class="form-horizontal" method="post">

        <h1>
            Edit Configuration {{ object.name }}
    {% else %}
        <form class="form-horizontal" method="post" >

        <h1>
            Add Study Configuration
    {% endif %}
        {% csrf_token %}

            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </h1>

        <legend>Study Configuration Details</legend>

        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            {% endfor %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label for="name" class="col-sm-2 control-label">Name*</label>
            <div class="col-sm-10">
                {{ form.name }}
            </div>
        </div>

        {% if form.study_format.errors %}
            {% for error in form.study_format.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            {% endfor %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label for="study_format" class="col-sm-2 control-label">Study Format*</label>
            <div class="col-sm-10">
                {{ form.study_format }}
            </div>
        </div>

        {% if form.media_composition.errors %}
            {% for error in form.media_composition.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            {% endfor %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label for="media_composition" class="col-sm-2 control-label">Media Composition</label>
            <div class="col-sm-10">
                {{ form.media_composition }}
            </div>
        </div>

        {% if form.hardware_description.errors %}
            {% for error in form.hardware_description.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            {% endfor %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label for="hardware_description" class="col-sm-2 control-label">Hardware Description</label>
            <div class="col-sm-10">
                {{ form.hardware_description }}
            </div>
        </div>

        {{ formset.management_form }}
        <legend>Study Models</legend>

        {% if formset.non_form_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ formset.non_form_errors }}
            </div>
        {% endif %}

        {% if formset.errors %}
            {% for dict in formset.errors %}
                {% for key,value in dict.items %}
                    {% if key %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <a id="add_button" class="btn btn-success" role="button">Add Model</a>
        <span>Define model outputs by separating labels with dashes: "AB-CD" means the model is connected to AB and CD</span>
        <table class="table table-striped studymodels" id="studymodel_set-group" name="inlines">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Organ</th>
                    <th>Sequence Number</th>
                    <th>Output</th>
                    <th>Integration Mode</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for model in formset %}
                    <tr class="inline" id="studymodel_set-{{ forloop.counter0 }}">
                        {# Hidden input for Update (need id to associate) #}
                        {% if model.id.value %}
                        <td class="original" hidden>
                            <input type="hidden" id="id_studymodel_set-{{ forloop.counter0 }}-id" name="studymodel_set-{{ forloop.counter0 }}-id" value="{{ model.id.value }}">
                        </td>
                        {% endif %}
                        <td>
                            {{ model.label }}
                        </td>
                        <td>
                            {{ model.organ }}
                        </td>
                        <td>
                            {{ model.sequence_number }}
                        </td>
                        <td>
                            {{ model.output }}
                        </td>
                        <td>
                            {{ model.integration_mode }}
                        </td>
                        <td>
                            {{ model.DELETE }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <div class="well">
        <p>
            <span class="text-success">Green = Connected</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-danger">Red = Not Connected</span>
        </p>

        <p class="lead">Drag the circles to rearrange the graph. Double click a circle to let it move freely.
            <button class="btn btn-default" id="reset">Reset Graph</button>
        </p>
    </div>

    <div id="graph" style="height:500px;"></div>

{% endblock %}
