{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div style="padding-bottom: 50px">
        <div class="well">
            <h1 align="center">
                Study: {{ object }}
                <br>
                <a href="update" class="btn btn-primary" role="button">Edit This Study</a>
            </h1>
        </div>

        <legend><h2>Chip Setups  <a href="assaychipsetup/add" class="btn btn-success" role="button">Add Setup</a></h2></legend>

        {% if setups %}
        <table id="setups" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Chip Setup ID / Barcode</th>
                    <th>Date</th>
                    <th>Organ Model Name</th>
{#                    <th>Chip Test Type</th>#}
                    <th>Compound</th>
                    <th>Creator</th>
                    <th>Flagged</th>
                </tr>
            </thead>

{#            <tfoot>#}
{#                <tr>#}
{#                    <th>Chip ID / Barcode</th>#}
{#                    <th>Date</th>#}
{#                    <th>Chip Test Type</th>#}
{#                    <th>Compound</th>#}
{#                    <th>Creator</th>#}
{#                </tr>#}
{#            </tfoot>#}

            <tbody>
            {% for setup in setups %}
                <tr id={{ setup.id }} name={{ setup.id }}>
                    <td><a href="/assays/assaychipsetup/{{ setup.id }}/update">{{ setup.assay_chip_id }}</a></td>
                    <td>{{ setup.setup_date }}</td>
                    <td>{{ setup.device }}</td>
{#                    <td>{{ setup.chip_test_type }}</td>#}
                    {% if setup.compound != None %}
                        <td>{{ setup.compound }} ({{ setup.concentration }} {{ setup.unit }})</td>
                    {% else %}
                        <td>-control-</td>
                    {% endif %}
                    <td>{{ setup.created_by }}</td>
                    <td>
                        {% if setup.flagged %}
                            <span title="This entry is flagged for review" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No chip setups exist for this study
        </div>
        {% endif %}

        <legend><h2>Chip Readouts
            {% if setups.count == 0 or setups.count == readouts.count%}
                <div hidden id="readout_alert" class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Warning:</span>
                    You must add at least one setup before adding a readout.
                </div>
                <a class="btn btn-warning" role="button" onClick="$('#readout_alert').removeProp('hidden');">Add Readout</a>
            {% else %}
                <a href="assaychipreadout/add" class="btn btn-success" role="button">Add Readout</a>
            {% endif %}
        </h2></legend>

        {% if readouts %}
        <table id="readouts" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Chip Readout ID</th>
                    <th>Chip Setup</th>
                    <th>Assays</th>
                    <th>Readout Date</th>
                    <th>Creator</th>
                    <th>Flagged</th>
                </tr>
            </thead>

{#            <tfoot>#}
{#                <tr>#}
{#                    <th>ID</th>#}
{#                    <th>Chip Setup</th>#}
{#                    <th>Readout Date</th>#}
{#                    <th>Creator</th>#}
{#                </tr>#}
{#            </tfoot>#}

            <tbody>
            {% for readout in readouts %}
                <tr id={{ readout.id }} name={{ readout.id }}>
                    <td><a href="/assays/assaychipreadout/{{ readout.id }}/update/">{{ readout.id }}</a></td>
                    <td><a href="/assays/assaychipsetup/{{ readout.chip_setup.id }}/update/">{{ readout.chip_setup }}</a></td>
                    <td>
                        {% for assay in readout.related_assays %}
                            {{ assay }}
                        {% endfor %}
                    </td>
                    <td>{{ readout.readout_start_time }}</td>
                    <td>{{ readout.created_by }}</td>
                    <td>
                        {% if readout.flagged %}
                            <span title="This entry is flagged for review" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No chip readouts exist for this study
        </div>
        {% endif %}

        <legend><h2>Chip Results
            {# Later should add condition for when not enough readouts or setups #}
            {% if readouts.count == 0 or number_of_results == readouts.count %}
                <div hidden id="result_alert" class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Warning:</span>
                    You must add at least one readout before adding a result.
                </div>
                <a class="btn btn-warning" role="button" onClick="$('#result_alert').removeProp('hidden');">Add Result</a>
            {% else %}
                <a href="assaytestresult/add" class="btn btn-success" role="button">Add Result</a>
            {% endif %}
        </h2></legend>

        {% if results %}
        <table id="results" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Chip Test Results ID</th>
                    <th>Chip Setup</th>
                    <th>Chip Readout ID</th>
                    <th>Assay</th>
                    <th>Result</th>
                    <th>Result Function</th>
                    <th>Result Type</th>
                    <th>Severity</th>
                    <th>Creator</th>
                    <th>Flagged</th>
                </tr>
            </thead>

{#            <tfoot>#}
{#                <tr>#}
{#                    <th>Chip Readout</th>#}
{#                    <th>Result</th>#}
{#                    <th>Result Function</th>#}
{#                    <th>Result Type</th>#}
{#                    <th>Severity</th>#}
{#                    <th>Creator</th>#}
{#                </tr>#}
{#            </tfoot>#}

            <tbody>
            {% for result in results %}
                <tr class="result" id={{ result.id }} name={{ result.id }}>
                    <td>
                        <a href="/assays/assaytestresult/{{ result.assay_result.id }}/update/">
                            {{ result.assay_result.id }}
                        </a>
                    </td>
                    <td>
                        <a href="/assays/assaychipsetup/{{ result.assay_result.chip_readout.chip_setup.id }}/update/">
                            {{ result.assay_result.chip_readout.chip_setup }}
                        </a>
                    </td>
                    <td>
                        <a href="/assays/assaychipreadout/{{ result.assay_result.chip_readout.id }}/update/">
                            {{ result.assay_result.chip_readout.id }}
                        </a>
                    </td>
                    <td>{{ result.assay_name }}</td>
                    <td>{{ result.get_result_display }}</td>
                    <td>{{ result.result_function }}</td>
                    <td>{{ result.result_type }}</td>
                    <td>{{ result.get_severity_display }}</td>
                    <td>{{ result.assay_result.created_by }}</td>
                    <td>
                        {% if result.assay_result.flagged %}
                            <span title="This entry is flagged for review" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No chip results exist for this study
        </div>
        {% endif %}

    </div>
{% endblock %}
