{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <li class="active">Bioactivities List</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <div id='overflow' hidden class="row">
            <br>
            <div class="alert alert-warning" role="alert" id="error_message">
                <p id="length">

                </p>
            </div>
        </div>

        <legend>
            <h2 class="text-center">
                Bioactivities

                {% if compound %}
                where compound contains "{{ compound }}"
                {% endif %}

                {% if target %}
                where target contains "{{ target }}"
                {% endif %}

                {% if name %}
                where name contains "{{ name }}"
                {% endif %}
            </h2>
        </legend>

        <table hidden id="bioactivities" class="display table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Compound</th>
                    <th>Target</th>
                    <th>Organism</th>
                    <th>Standard Name</th>
                    <th>Operator</th>
                    <th>Standard Value</th>
                    <th>Standard Units</th>
                    <th>ChEMBL Link</th>
                    <th>PubChem Link</th>
                    <th>Notes</th>
                    <th>Data Validity</th>
                </tr>
            </thead>

            <tbody>
            {% for bioactivity in bioactivities %}
                <tr>
                    <td><a href="/compounds/{{ bioactivity.compound.id }}">{{ bioactivity.compound }}</a></td>
                    {% if not pubchem %}
                        <td>{{ bioactivity.target|default:'' }}</td>
                        <td>{{ bioactivity.organism }}</td>
                        <td>{{ bioactivity.standard_name }}</td>
                        <td>{{ bioactivity.operator }}</td>
                        <td>{{ bioactivity.standardized_value }}</td>
                        <td>{{ bioactivity.standardized_units }}</td>
                    {% else %}
                        <td>{{ bioactivity.assay.target|default:'' }}</td>
                        <td>{{ bioactivity.assay.target.organism|default:bioactivity.assay.organism|default:'' }}</td>
                        <td>{{ bioactivity.activity_name }}</td>
                        {# TODO Not all pubchem entries actually have = as the operator #}
                        <td>=</td>
                        <td>{{ bioactivity.value }}</td>
                        {# All pubchem entries use µM#}
                        <td>µM</td>
                        {# What to do with outcome? #}
                        {# <td>{{ bioactivity.outcome }}</td> #}
                    {% endif %}
                    <td><a href="https://www.ebi.ac.uk/chembl/assay/inspect/{{ bioactivity.assay.chemblid }}">
                        {{ bioactivity.assay.chemblid|default:'' }}
                    </a></td>
                    <td><a href="https://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid={{ bioactivity.assay.pubchem_id }}">
                        {{ bioactivity.assay.pubchem_id|default:'' }}
                    </a></td>
                    <td>{{ bioactivity.notes }}</td>
                    <td class="text-danger">{{ bioactivity.get_data_validity_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#bioactivities').DataTable( {
                dom: 'B<"row">lfrtip',
                fixedHeader: {headerOffset: 50},
                responsive: true,
                "iDisplayLength": 100,
                // Initially sort on start date (descending), not ID
                "order": [[ 0, "asc" ], [ 1, "asc"], [ 2, "asc"], [ 3, "asc"]]
            });

            var length = {{ length|safe }};

            if (length > 5000) {
                $('#length').html('Displaying 5000 out of ' + length + ' entries');
                $('#overflow').prop('hidden', false);
            }
        });
    </script>
{% endblock %}
