{% if index %}
<div hidden class="row well" id="bioactivities_search">
{% else %}
<div class="row well" id="bioactivities_search">
{% endif %}
    <div class="col-md-6">
        <div class="form-group has-success">
            <div class="input-group">
                <span class="input-group-addon adjusted-addon">Compound</span>
                <input type="text" class="form-control" name="compound" id="id_compound" placeholder="Enter a compound name (eg. Aspirin)">
            </div>
        </div>
        <div class="form-group has-warning">
            <div class="input-group">
                <span class="input-group-addon adjusted-addon">Target</span>
                <input type="text" class="form-control" name="target" id="id_target" placeholder="Enter a target name (eg. Cyclooxygenase-1)">
            </div>
        </div>
        <div class="form-group has-error">
            <div class="input-group">
                <span class="input-group-addon adjusted-addon">Name</span>
                <input type="text" class="form-control" name="name" id="id_name" placeholder="Enter a bioactivity name (eg. IC50)">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="fancy-checkbox form-group" align="left">
            <input type="checkbox" name="pubchem" id="id_pubchem" />
            <div class="btn-group">
                <label for="id_pubchem" class="btn btn-success ]">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="id_pubchem" class="btn btn-default active">
                    Use PubChem instead of ChEMBL
                </label>
            </div>
        </div>
        <div class="fancy-checkbox form-group" align="left">
            <input type="checkbox" name="exclude_targetless" id="id_exclude_targetless" />
            <div class="btn-group">
                <label for="id_exclude_targetless" class="btn btn-warning">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="id_exclude_targetless" class="btn btn-default active">
                    Exclude entries without any target
                </label>
            </div>
        </div>
        <div class="fancy-checkbox form-group" align="left">
            <input type="checkbox" name="exclude_organismless" id="id_exclude_organismless" />
            <div class="btn-group">
                <label for="id_exclude_organismless" class="btn btn-danger">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="id_exclude_organismless" class="btn btn-default active">
                    Exclude entries without organism&nbsp;
                </label>
            </div>
        </div>
        <div class="fancy-checkbox form-group" align="left">
            <input type="checkbox" name="exclude_questionable" id="id_exclude_questionable" />
            <div class="btn-group">
                <label for="id_exclude_questionable" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="id_exclude_questionable" class="btn btn-default active">
                    Exclude questionable entries<span title="Questionable entries have values that significantly diverge from similar entries" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        {% if index %}
            <br>
            <br>
            <button id="back" type="button" class="btn btn-info">Back to<br>Global</button>
        {% endif %}
    </div>
</div>
