{% extends "bioactivities/cluster.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "bioactivities/filter.js" %}"></script>
    <script src="{% static "bioactivities/render_heatmap.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Generate Heatmap</li>
{% endblock %}

{% block submit %}
    <a href="#show" class="btn btn-xlarge btn-primary text-center" id="submit">
        Generate Heatmap
    </a>
{% endblock %}

{% block extra_row %}
        <div class="row text-center">
            <div class="col-xs-5">
                <div class="fancy-checkbox" align="left">
                    <input type="checkbox" name="pubchem" id="pubchem" />
                    <div class="btn-group">
                        <label for="pubchem" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                        <label for="pubchem" class="btn btn-default active">
                            Use PubChem instead of ChEMBL
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="fancy-checkbox" align="left">
                    <input type="checkbox" id="exclude_questionable" checked/>
                    <div class="btn-group">
                        <label for="exclude_questionable" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                        <label for="exclude_questionable" class="btn btn-default active">
                            Exclude Questionable
                            <span title="Questionable entries have values that significantly diverge from similar entries" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <label>Minimum Feature Count Per Record
                    <input id="minimum_feature_count" type="number" value="1">
                    <button type="button" id="apply_minimum_feature_count">Apply</button>
                </label>
            </div>
        </div>
    <hr>
        <div class="row text-center">
            <div class="col-xs-3">
                <div title="Currently excludes 0 and negative values" class="fancy-checkbox" align="left">
                    <input type="checkbox" name="log_scale" id="log_scale" />
                    <div class="btn-group">
                        <label for="log_scale" class="btn btn-warning">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                        <label for="log_scale" class="btn btn-default active">
                            Log Scale
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div title="Normalizes to range 0.0001 to 1.0" class="fancy-checkbox" align="left">
                    <input type="checkbox" name="normalize_bioactivities" id="normalize_bioactivities" checked/>
                    <div class="btn-group">
                        <label for="normalize_bioactivities" class="btn btn-danger">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                        <label for="normalize_bioactivities" class="btn btn-default active">
                            Normalize Bioactivities
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-2">
                <label>Method
                    <select id="method" class="form-control">
                        <option selected title="Performs single/min/nearest linkage">single</option>
                        <option title="Performs complete/max/farthest point linkage">complete</option>
                        <option title="Performs average/UPGMA (Unweighted Pair Group Method with Arithmetic Mean) linkage">average</option>
                        <option title="Performs weighted/WPGMA (Weighted Pair Group Method with Arithmetic Mean) linkage">weighted</option>
                    </select>
                </label>
            </div>

            <div class="col-xs-3">
                <label>Metric
                    <select id="metric" class="form-control">
                        <option selected title="The ordinary distance in n-dimensional space">euclidean</option>
                        <option title="Normalized scalar product without subtracting the mean value">cosine</option>
                        <option title="Manhattan distance, L1 distance, rectilinear distance">cityblock</option>
                        <option title="Subtract the mean value of the coordinates, normalize and take the scalar product">correlation</option>
                        <option title="A generalization of both the Euclidean distance and the Cityblock distance">minkowski</option>
                    </select>
                </label>
            </div>
        </div>
    <hr>
{% endblock %}

{% block graphic %}
    <div hidden id="graphic" class="large-padding-top">
        <div class="padded-row text-center">
            <a href="#filter" id="back" class="btn btn-xlarge btn-info">
                <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                Back to Selection
            </a>
            <a id="download" class="btn btn-xlarge btn-primary">Download Heatmap</a>
        </div>

        <hr>

        <div id="heatmap" style='overflow:auto; width:100%; height:100%;'>
        </div>
        <div id="heatmap_legend">
        </div>
    </div>
{% endblock %}
