{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block load_js %}
    {# <script src="{% static "js/project_filter.js" %}"></script> #}
    <script src="{% static "drugtrials/adverse_events_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Adverse Events</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Adverse Events
            </h2>
        </legend>

        {# Deprecated #}
{# {% include 'project_filters.html' %} #}

        <table id="adverse_events" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Compound</th>
                    <th>Event</th>
                    <th>
                        Number of Reports
                        <span title="The number of FAERS reports with this compound and adverse event" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </th>
                    <th>
                        Normalized # of Reports
                        <span title="Number of Reports / Estimated Usage * 10,000" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </th>
                    <th>
                        Estimated Usage
                        <span title="Estimate from the CDC's NAMCS/NHAMCS datasets" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </th>
                    <th>Organ</th>
                    <th>Black Box Warning</th>
                    <th>Logp</th>
                    <th>ALogp</th>
                    {% comment %} <th>Project</th> {% endcomment %}
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}
