{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block load_js %}
    <script src="{% static "drugtrials/compare_adverse_events.js" %}"></script>
    <script src="{% static "js/c3.min.js" %}"></script>
{% endblock %}

{% block load_css %}
    <link href="{% static "css/c3.min.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Compare Adverse Events</li>
{% endblock %}

{% block fluid-content %}
    <style>
        .c3 svg {
            font: 14px sans-serif;
            font-weight: bold;
        }

        {# TODO problematic! what if user desires many compounds? #}
        {# Diagonal axis? #}
        .c3-axis-x .tick {
            font: 16px sans-serif;
            font-weight: bold;
        }

        .c3-axis-y-label {
            font: 16px sans-serif;
            font-weight: bold;
        }

        .c3-axis-y2-label {
            font: 16px sans-serif;
            font-weight: bold;
        }
    </style>

    {# Move styles eventually (SOC) #}
    {# Using a form here is a contrived way to prevent checkboxes from being initially filled #}
    <div class="large-padding-top padded-row padded-bottom hidden-print" style="overflow:auto;">
        <button role="button" class="btn btn-primary" id="save_selections">Save Selections</button>
        <button role="button" class="btn btn-info" id="load_selections">Load Selections</button>
        <button role="button" class="btn btn-danger" id="clear_selections">Clear Current Selections</button>
    </div>

    <form autocomplete="off">

    <div class="padded-row padded-bottom hidden-print" style="overflow:auto;">
        <div class="col-sm-6">
            <table hidden id="adverse_events" class="table display table-striped table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Adverse Event</th>
                        <th>
                            Reports Among Top
                            <span title="Number of Top Reports with this Event" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </th>
                        <th>Organ</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-6">
            <table hidden id="compounds" class="table display table-striped table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Compound</th>
                        <th>
                            Reports Among Top
                            <span title="Number of Top Reports with this Compound" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </th>
                        <th>
                            Estimated Usage
                            <span title="Estimate from the CDC's NAMCS/NHAMCS datasets (AKA Mentions)" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    </form>

    <div class="padded-row well">
        <b class="text-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            OpenFDA is in beta: This data is not intended for clinical use.
        </b>
    </div>

    <div class="padded-row padded-bottom">
        <button id='show_raw'>Show Raw Counts</button>
    </div>

    <div id="bar_graphs" class="large-chart-container" style="height:750px;"></div>

    <div hidden id="selection_dialog" title="Load Selections">
        <div class="alert alert-info text-center" role="alert">
                <h1>Click Desired Set of Selections</h1>
        </div>

        <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Adverse Events</th>
                        <th>Compounds</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Adverse Events</th>
                        <th>Compounds</th>
                    </tr>
                </tfoot>

                <tbody id="selections">
                </tbody>
        </table>
    </div>
{% endblock %}
