{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <li><a href="/drugtrials/">Drug Trials</a></li>
    <li class="active">Drug Trial ID #{{ object.id }}</li>
{% endblock %}

{% block content %}
    <legend>
        <h1>
            Drug Trial ID #{{ object.id }}
            <span class="hidden-xs hidden-sm">
                <a href="/drugtrials/{{ next }}" class="btn btn-primary btn-large pull-right">
                    Next
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
                <a href="/drugtrials/{{ previous }}" class="btn btn-primary btn-large pull-right">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Previous
                </a>
            </span>
            <div class="row text-center hidden-md hidden-lg">
                <a href="/drugtrials/{{ previous }}" class="btn btn-primary btn-large">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Previous
                </a>
                <a href="/drugtrials/{{ next }}" class="btn btn-primary btn-large">
                    Next
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
        </h1>
    </legend>

    <div class="padded-row">

        <div class="col-sm-3 col-md-2 thumbnail text-center">
            <img src="https://www.ebi.ac.uk/chembldb/compound/displayimage/{{ object.compound.chemblid }}">
            {% if object.compound.mps %}
                <span class="label label-primary">MPS</span>
            {% endif %}
            {% if object.compound.epa %}
                <span class="label label-success">EPA</span>
            {% endif %}
            {% if object.compound.tctc %}
                <span class="label label-info">TCTC</span>
            {% endif %}
            {% if not object.compound.mps and not object.compound.epa and not object.compound.tctc %}
                <span class="label label-default">Unassigned</span>
            {% endif %}
        </div>

        <div class="col-sm-9 col-md-10">
            <table class="table table-striped table-bordered table-nonfluid" style="background-color: #AAB3AB;">
                <tbody>
                    <tr>
                        <td>
                            <b>Treatments</b>
                        </td>
                        <td>
{#                            <a href="/compounds/{{ object.compound.id }}">{{ object.compound }}</a>#}
                            {% for treatment in object.unique_treatments %}
                                <a href="/compounds/{{ treatment.compound.id }}">
                                    {{ treatment.compound }}
                                </a>
                                {% if treatment.concentration %}
                                    {{ treatment.concentration }}
                                    {% if treatment.concentration_unit %}
                                        {{ treatment.concentration_unit }}
                                    {% endif %}
                                {% endif %}
                                {% if not forloop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Trial Type</b>
                        </td>
                        <td>
                            {{ object.get_trial_type_display }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Trial Sub Type</b>
                        </td>
                        <td>
                            {{ object.get_trial_sub_type_display }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Participant Species</b>
                        </td>
                        <td>
                            {{ object.species }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Source</b>
                        </td>
                        <td>
                            {{ object.source }}
                        </td>
                    </tr>
                    {% if object.source_link %}
                    <tr>
                        <td>
                            <b>Source Link</b>
                        </td>
                        <td>
                            <a href="{{ object.source_link }}">{{ object.source_link }}</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.condition %}
                    <tr>
                        <td>
                            <b>Condition</b>
                        </td>
                        <td>
                            {{ object.condition }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.description %}
                    <tr>
                        <td>
                            <b>Description</b>
                        </td>
                        <td>
                            {{ object.description|linebreaksbr }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.figure1 %}
                    <tr>
                        <td>
                            <b>Figure 1</b>
                        </td>
                        <td>
                            <img src="/media/{{ object.figure1 }}">
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.figure2 %}
                    <tr>
                        <td>
                            <b>Figure 2</b>
                        </td>
                        <td>
                            <img src="/media/{{ object.figure2 }}">
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>

    <legend>Findings</legend>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Treatment</th>
            <th>Finding</th>
            <th>Descriptor</th>
            <th>+/-</th>
            <th>Frequency</th>
            <th>Value</th>
            <th>Value Units</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>
                    {% for treatment in result.findingtreatment_set.all %}
                        <a href="/compounds/{{ treatment.compound.id }}">
                            {{ treatment.compound }}
                        </a>
                        {% if treatment.concentration %}
                            {{ treatment.concentration }}
                            {% if treatment.concentration_unit %}
                                {{ treatment.concentration_unit }}
                            {% endif %}
                        {% endif %}
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ result.finding_name }}</td>
                <td>{{ result.descriptor|default_if_none:"" }}</td>
                <td>{{ result.get_result_display }}</td>
                <td>{{ result.frequency|default_if_none:"" }}</td>
                <td>{{ result.value|default_if_none:"" }}</td>
                <td>{{ result.value_units|default_if_none:"" }}</td>
                <td>{{ result.notes|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
