{% extends "base.html" %}
{% load static %}

{% block load_js %}
    {# <script src="{% static "js/project_filter.js" %}"></script> #}
    <script src="{% static "drugtrials/drugtrial_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Drug Trials</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Drug Trials
            </h2>
        </legend>

        {# Deprecated #}
{# {% include 'project_filters.html' %} #}

        <table hidden id="drugtrials" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Drug Trial ID</th>
                    <th>Treatment</th>
                    <th>Species</th>
                    <th>Trial Type</th>
                    <th>Finding</th>
                    <th>Descriptor</th>
                    <th>+/-</th>
                    <th>Frequency</th>
                    <th>Value</th>
                    <th>Value Units</th>
                    {% comment %} <th>Project</th> {% endcomment %}
                </tr>
            </thead>

            <tbody>
            {% for finding in object_list %}
                <tr class="finding" id={{ finding.id }}>
                    <td><a class="btn btn-primary" href="{{ finding.drug_trial.id }}">View</a></td>
                    <td>{{ finding.drug_trial.id }}</td>
                    <td>
                        {# DEPRECATED #}
{#                        <a href="/compounds/{{ finding.drug_trial.compound.id }}">#}
{#                            {{ finding.drug_trial.compound }}#}
{#                        </a>#}
                        {% for treatment in finding.findingtreatment_set.all %}
                            <a href="/compounds/{{ treatment.compound.id }}">
                                {{ treatment.compound }}
                            </a>
                            {% if treatment.concentration %}
                                {{ treatment.concentration }}
                                {% if treatment.concentration_unit %}
                                    {{ treatment.concentration_unit }}
                                {% endif %}
                            {% endif %}
                            {% if not forloop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ finding.drug_trial.species }}</td>
                    <td>{{ finding.drug_trial.get_trial_type_display }}</td>
                    <td>{{ finding.finding_name }}</td>
                    <td>{{ finding.descriptor|default_if_none:"" }}</td>
                    <td>{{ finding.get_result_display }}</td>
{#                    <td>{{ finding.percent_max|default_if_none:"" }}</td>#}
                    <td>{{ finding.frequency|default_if_none:"" }}</td>
                    <td>{{ finding.value|default_if_none:"" }}</td>
                    <td>{{ finding.value_units|default_if_none:"" }}</td>
                    {% comment %} <td>
                        {% if finding.drug_trial.compound.mps %}
                            MPS
                        {% endif %}
                        {% if finding.drug_trial.compound.epa %}
                            EPA
                        {% endif %}
                        {% if finding.drug_trial.compound.tctc %}
                            TCTC
                        {% endif %}
                        {% if not finding.drug_trial.compound.epa and not finding.drug_trial.compound.mps and not finding.drug_trial.compound.tctc %}
                            Unassigned
                        {% endif %}
                    </td> {% endcomment %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
