{% extends "base.html" %}
{% load staticfiles %}

{% block load_js %}
    <script src="{% static "diseases/disease_clinicaldata.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/diseases/">Diseases</a></li>
    <li><a href="/diseases/{{object.id}}/">{{ object }}</a></li>
    <li class="active">Clinical Data</li>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                {{ object }} Clinical Data
            </h1>
        </div>
        <div class="row text-center small-padding-top">
            {% include "diseases/disease_links.html" with overview="default" biology="default" clinical="primary" model="default" %}
        </div>
    </div>

    {% if object.clinicaldata_image or disease.clinicaldata_blurb %}<legend>{{ object }} Clinical Data</legend>
    <div class="row">
        {% if object.clinicaldata_image %}
        <div class="col-sm-10 col-md-6 text-wrapped">
            {{ object.clinicaldata_blurb|safe }}
        </div>
        <div class="col-md-6 thumbnail text-center row-center">
            <img src="{{object.clinicaldata_image.url}}" class="img-responsive" alt="{{ object }} Clinical Data Image"></img>
        </div>
        {% else %}
        <div class="col-sm-10 col-md-12 text-wrapped">
            {{ object.clinicaldata_blurb|safe }}
        </div>
        {% endif %}
    </div>
    <br><br>{% endif %}

    {% if trial_findings %}
    <div class="col-md-12">
        <table hidden id="drugtrials" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Drug Trial ID</th>
                    <th>Compound</th>
                    <th>Species</th>
                    <th>Trial Type</th>
                    <th>Finding</th>
                    <th>Descriptor</th>
                    <th>+/-</th>
                    <th>Frequency</th>
                    <th>Value</th>
                    <th>Value Units</th>
                    {% comment %} <th>Project</th> {% endcomment %}
                </tr>
            </thead>

            <tbody>
            {% for finding in trial_findings %}
                <tr class="finding" id="{{ finding.id }}">
                    <td><a target="_blank" class="btn btn-primary" href="/drugtrials/{{ finding.drug_trial.id }}">View</a></td>
                    <td>{{ finding.drug_trial.id }}</td>
                    <td>
                        {# DEPRECATED #}
{#                        <a href="/compounds/{{ finding.drug_trial.compound.id }}">#}
{#                            {{ finding.drug_trial.compound }}#}
{#                        </a>#}
                        {% for treatment in finding.findingtreatment_set.all %}
                            <a target="_blank" href="/compounds/{{ treatment.compound.id }}">
                                {{ treatment.compound }}
                            </a>
                            {% if treatment.concentration %}
                                {{ treatment.concentration }}
                                {% if treatment.concentration_unit %}
                                    {{ treatment.concentration_unit }}
                                {% endif %}
                            {% endif %}
                            {% if not forloop.last %}
                            |
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ finding.drug_trial.species }}</td>
                    <td>{{ finding.drug_trial.get_trial_type_display }}</td>
                    <td>{{ finding.finding_name }}</td>
                    <td>{{ finding.descriptor|default_if_none:"" }}</td>
                    <td>{{ finding.get_result_display }}</td>
{#                    <td>{{ finding.percent_max|default_if_none:"" }}</td>#}
                    <td>{{ finding.frequency|default_if_none:"" }}</td>
                    <td>{{ finding.value|default_if_none:"" }}</td>
                    <td>{{ finding.value_units|default_if_none:"" }}</td>
                    {% comment %} <td>
                        {% if finding.drug_trial.compound.mps %}
                            MPS
                        {% endif %}
                        {% if finding.drug_trial.compound.epa %}
                            EPA
                        {% endif %}
                        {% if finding.drug_trial.compound.tctc %}
                            TCTC
                        {% endif %}
                        {% if not finding.drug_trial.compound.epa and not finding.drug_trial.compound.mps and not finding.drug_trial.compound.tctc %}
                            Unassigned
                        {% endif %}
                    </td> {% endcomment %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <br><br>
    <h3>There are currenty no findings associated with {{ object }} drug trials in the database.</h3>
    <br><br>
    {% endif %}
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="https://clinicaltrials.gov/ct2/results?cond={{ object }}&recrs=e&age_v=&gndr=&type=&rslt=With&Search=Apply" target="_blank">Review Completed Drug Trials</a>
    </div>
{% endblock %}
