<div style="text-align:center;">
    <a href="/diseases/{{disease.pk}}/" class="btn btn-primary btn-large">
        Disease Overview
    </a>
    <a href="/diseases/{{disease.pk}}/biology" class="btn btn-primary btn-large">
        Disease Biology
    </a>
    <a href="/diseases/{{disease.pk}}/clinicaldata" class="btn btn-primary btn-large">
        Clinical Data
    </a>
    <a href="/diseases/{{disease.pk}}/model" class="btn btn-primary btn-large">
        Disease Models &amp; Studies
    </a>
    {# <a href="../../../under_construction/" class="btn btn-primary btn-large">#}
        {# Data Analysis#}
    {# </a>#}
</div>
