{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block load_js %}
    <script src="{% static "js/project_filter.js" %}"></script>
    <script src="{% static "diseases/disease_models.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/diseases/">Diseases</a></li>
    <li><a href="/diseases/{{object.pk}}/">{{ object }}</a></li>
    <li class="active">Models</li>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                {{ object }} Disease Models &amp; Studies
            </h1>
        </div>
        <div class="row text-center small-padding-top">
            {% include "diseases/disease_links.html" with overview="default" biology="default" clinical="default" model="primary" %}
        </div>
    </div>

    <!-- {% if object.models_image or object.models_blurb %}<legend>{{ object }} Disease Models</legend>
    <div class="row">
        {% if object.models_image %}
        <div class="col-sm-10 col-md-6 text-wrapped">
            {{ object.models_blurb|safe }}
        </div>
        <div class="col-md-6 thumbnail text-center row-center">
            <img src="{{object.models_image.url}}" class="img-responsive" alt="{{ object }} Models Image"></img>
        </div>
        {% else %}
        <div class="col-sm-10 col-md-12 text-wrapped">
            {{ object.models_blurb|safe }}
        </div>
        {% endif %}
    </div>
    <br><br>{% endif %}-->

    {% if disease_models %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                {{ object }} Disease Models
            </h2>
        </legend>

        {% include 'project_filters.html' %}

        <table hidden id="models" class="display" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Model Name</th>
                    <th>Organ</th>
                    <th>Device</th>
                    <th>Center</th>
                    <th>Description</th>
                    <th>Project</th>
                </tr>
            </thead>

            <tbody>
            {% for disease_model in disease_models %}
                <tr>
                    <td><a target="_blank" class="btn btn-primary" href="/microdevices/model/{{ disease_model.id }}">View</a></td>
                    <td><a target="_blank" class="btn btn-primary" href="/microdevices/model/{{ disease_model.id }}/update/">Edit</a></td>
                    <td>{{ disease_model }}</td>
                    <td>{{ disease_model.organ|default_if_none:"" }}</td>
                    <td><a target="_blank" href="/microdevices/device/{{ disease_model.device.id }}">{{ disease_model.device|default_if_none:"" }}</a></td>
                    <td>{{ disease_model.center|default_if_none:"" }}</td>
                    <td>{{ disease_model.description }}</td>
                    <td>
                        {% if disease_model.mps %}
                            MPS
                        {% endif %}
                        {% if disease_model.epa %}
                            EPA
                        {% endif %}
                        {% if disease_model.tctc %}
                            TCTC
                        {% endif %}
                        {% if not disease_model.epa and not disease_model.mps and not disease_model.tctc %}
                            Unassigned
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Studies Using {{ object }} Disease Models
            </h2>
        </legend>

        <table hidden id="studies" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Study Name</th>
                    <th>Start Date</th>
                    <th>Study Types</th>
                    <th>MPS Models</th>
                    <th>Data Points</th>
                    <th>Images</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Group</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
            {% for study in studies %}
                {% if not reproducibility or study.data_points %}
                <tr>
                    <td><a target="_blank" class="btn btn-primary" href="/assays/assaystudy/{{study.id}}">View/Edit</a></td>
                    <td style="word-wrap: break-word">{{ study }}</td>
                    <td>{{ study.start_date|date:"M d, Y" }}</td>
                    <td>{{ study.get_study_types_string }}</td>
                    <td>{{ study.organ_models|default:"-No MPS Models-" }}</td>
                    {% if study.data_points %}
                        <td class="text-success">{{ study.data_points|intcomma }}</td>
                    {% else %}
                        <td class="text-danger">0</td>
                    {% endif %}
                    {% if study.images %}
                        <td class="text-success">{{ study.images|intcomma }}</td>
                    {% else %}
                        <td class="text-danger">0</td>
                    {% endif %}
                    <td>{{ study.description }}</td>
                    <td>
                        {{ study.full_creator }}
                    </td>
                    <td>{{ study.group }}</td>
                    <td>
                        {% if study.signed_off_by %}
                            {% if study.stakeholder_sign_off and not study.restricted %}
                                <span hidden>3</span>
                                <span title="This study can be viewed by all registered users" class="glyphicon glyphicon-eye-open text-info" aria-hidden="true"></span>
                            {% elif study.stakeholder_sign_off %}
                                <span hidden>2</span>
                                <span title="All stakeholders have approved release of this data" class="glyphicon glyphicon-pencil text-warning" aria-hidden="true"></span>
                            {% else %}
                                <span hidden>1</span>
                            {% endif %}
                            <span title="This entry was signed off on by {{ study.full_reviewer }} on {{ study.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if study.flagged %}
                            <span hidden>0</span>
                            <span title="This entry is flagged for review: '{{ study.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% else %}
    <br><br>
    <h3>There are currenty no {{ object }} models designated as such in the database.</h3>
    <br><br>
    {% endif %}
{% endblock %}
