{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "js/project_filter.js" %}"></script>
    <script src="{% static "microdevices/organmodel_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/diseases/">Diseases</a></li>
    <li><a href="/diseases/{{disease.pk}}/">{{ disease.name }}</a></li>
    <li class="active">Models</li>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                {{ disease.name }} Disease Models
            </h1>
        </div>
        <div class="row text-center small-padding-top">
            {% include "diseases/disease_links.html" %}
        </div>
        <br>
        <div class="row text-center padded-bottom">
            <a href="/microdevices/model/add/" class="btn btn-lg btn-success" role="button">Add Model</a>
        </div>
    </div>

    {% if disease_models %}
    <div class="padded-bottom">

        {% include 'project_filters.html' %}

        <table hidden id="models" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Model Name</th>
                    <th>Organ</th>
                    <th>Device</th>
                    <th>Center</th>
                    <th>Description</th>
                    <th>Project</th>
                </tr>
            </thead>

            <tbody>
            {% for disease_model in disease_models %}
                <tr class="model" id={{ disease_model.id }} name={{ disease_model.name }}>
                    <td><a class="btn btn-primary" href="../../../microdevices/model/{{ disease_model.id }}">View</a></td>
                    <td><a class="btn btn-primary" href="../../../microdevices/model/{{ disease_model.id }}/update/">Edit</a></td>
                    <td>{{ disease_model.name }}</td>
                    <td>{{ disease_model.organ|default_if_none:"" }}</td>
                    <td><a href="/microdevices/device/{{ disease_model.device.id }}">{{ disease_model.device|default_if_none:"" }}</a></td>
                    <td>{{ disease_model.center|default_if_none:"" }}</td>
                    <td>{{ disease_model.description }}</td>
                    <td>
                        {% if disease_model.mps %}
                            MPS
                        {% endif %}
                        {% if disease_model.epa %}
                            EPA
                        {% endif %}
                        {% if disease_model.tctc %}
                            TCTC
                        {% endif %}
                        {% if not disease_model.epa and not disease_model.mps and not disease_model.tctc %}
                            Unassigned
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
    {% else %}
    <br><br>
    <h3>There are currenty no {{disease.name}} models designated as such in the database.</h3>
    <br><br>
    {% endif %}
{% endblock %}
