{% extends "base.html" %}

{% block content %}
    <style>
    p {
        word-wrap: break-word;
    }
    </style>

    <legend>
        <h1>{{ object.name}}
        <a href="/compounds/{{ next }}" class="btn btn-primary btn-large pull-right">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            Next
        </a>
        <a href="/compounds/{{ previous }}" class="btn btn-primary btn-large pull-right">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Previous
        </a>
        </h1>
    </legend>

    <div class="row">

        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-3 lead text-right-responsive">
                    <b>ChEMBL ID:</b>
                </div>
                <div class="col-sm-9 lead">
                    <a href="https://www.ebi.ac.uk/chembl/compound/inspect/{{ object.chemblid }}">{{ object.chemblid }}</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 lead text-right-responsive">
                    <b>InChI Key:</b>
                </div>
                <div class="col-sm-9 lead">
                    {{ object.inchikey }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 lead text-right-responsive">
                    <b>Molecular Formula:</b>
                </div>
                <div class="col-sm-9 lead">
                    {{ object.molecular_formula }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 lead text-right-responsive">
                    <b>Smiles:</b>
                </div>
                <div class="col-sm-9 lead">
                    {{ object.smiles }}
                </div>
            </div>

        </div>

        <div class="col-sm-5">
            <img src="https://www.ebi.ac.uk/chembldb/compound/displayimage/{{ object.chemblid }}">
        </div>

    </div>

{#    <div class="container-fluid">#}
{##}
{#        <div class="col-sm-6">#}
{#            <p><b>ChEMBL ID:</b> <a href="https://www.ebi.ac.uk/chembl/compound/inspect/{{ object.chemblid }}">{{ object.chemblid }}</a></p>#}
{#            <p><b>InChI Key:</b> {{ object.inchikey }}</p>#}
{#            <p><b>Smiles:</b> {{ object.smiles }}</p>#}
{#            <p><b>Molecular Formula:</b> {{ object.molecular_formula }}</p>#}
{#        </div>#}
{##}
{#        <div class="col-sm-6">#}
{#            <img src="https://www.ebi.ac.uk/chembldb/compound/displayimage/{{ object.chemblid }}">#}
{#        </div>#}
{##}
{#    </div>#}

    <legend>Synonyms
        <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#synonyms" aria-expanded="false" aria-controls="synonyms">
            Show
        </button>
    </legend>

    <div id='synonyms' class="collapse lead">

        <p>{{ object.synonyms }}</p>

    </div>

    <legend>Drug/Drug-like Properties</legend>

    <div id='drug_properties'>

        <div class="row">
            <div class="col-sm-2 lead text-right-responsive">
                <b>Known Drug:</b>
            </div>
            <div class="col-sm-1 lead">
                {% if object.known_drug %}
                    <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                {% endif %}
            </div>

            <div class="col-sm-2 lead text-right-responsive">
                <b>Med Chem Friendly:</b>
            </div>
            <div class="col-sm-1 lead">
                {% if object.medchem_friendly %}
                    <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                {% endif %}
            </div>

            <div class="col-sm-2 lead text-right-responsive">
                <b>Passes of Rule of 3:</b>
            </div>
            <div class="col-sm-1 lead">
                {% if object.ro3_passes %}
                    <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                {% endif %}
            </div>

            <div class="col-sm-2 lead text-right-responsive">
                <b>Rule of 5 Violations:</b>
            </div>
            <div class="col-sm-1 lead text-danger">
                {{ object.ro5_violations }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 lead text-right-responsive">
                <b>Molecular Species:</b>
            </div>
            <div class="col-sm-10 lead">
                {{ object.species }}
            </div>
        </div>

{#        <div class="col-sm-12">#}
{#            <p><b>Known Drug:</b> {{ object.known_drug }}</p>#}
{#            <p><b>Med Chem Friendly:</b> {{ object.medchem_friendly }}</p>#}
{#            <p><b>Passes of Rule of 3:</b> {{ object.ro3_passes }}</p>#}
{#            <p><b>Rule of 5 Violations:</b> {{ object.ro5_violations }}</p>#}
{#            <p><b>Molecular Species:</b> {{ object.species }}</p>#}
{#        </div>#}

    </div>

    <legend>Molecular Properties</legend>

    <div id='molecular_properties'>

        <div class="row">
            <div class="col-sm-2 lead text-right-responsive">
                <b>Molecular Weight:</b>
            </div>
            <div class="col-sm-2 lead">
                {{ object.molecular_weight }}
            </div>

            <div class="col-sm-2 lead text-right-responsive">
                <b>Rotatable Bonds:</b>
            </div>
            <div class="col-sm-6 lead">
                {{ object.rotatable_bonds }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 lead text-right-responsive">
                <b>Acidic pKa:</b>
            </div>
            <div class="col-sm-2 lead">
                {{ object.acidic_pka }}
            </div>

            <div class="col-sm-2 lead text-right-responsive">
                <b>Basic pKa:</b>
            </div>
            <div class="col-sm-6 lead">
                {{ object.basic_pka }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 lead text-right-responsive">
                <b>LogP:</b>
            </div>
            <div class="col-sm-2 lead">
                {{ object.logp }}
            </div>

            <div class="col-sm-2 lead text-right-responsive">
                <b>LogD:</b>
            </div>
            <div class="col-sm-2 lead">
                {{ object.logd }}
            </div>

            <div class="col-sm-2 lead text-right-responsive">
                <b>ALogP:</b>
            </div>
            <div class="col-sm-2 lead">
                {{ object.alogp }}
            </div>
        </div>
    </div>
{% endblock %}
