{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "compounds/compounds_list.js" %}"></script>
{% endblock %}

{% block content %}

    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Compounds
            </h2>
        </legend>

        <div class="row text-center">
            <a href="/compounds/add/" class="btn btn-lg btn-success" role="button">Add Compound</a>
        </div>

        {% include 'project_filters.html' %}

        <table hidden id="compounds" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Name</th>
                    <th>CHEMBL ID</th>
                    <th>Synonyms</th>
                    <th>Molecular Weight</th>
                    <th>LogP</th>
                    <th>Rule of 5 Violations</th>
                    <th>Known Drug</th>
                    <th>Project</th>
{#                    <th>Last Update</th>#}
                    <th>Image</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Name</th>
                    <th>CHEMBL ID</th>
                    <th>Synonyms</th>
                    <th>Molecular Weight</th>
                    <th>LogP</th>
                    <th>Rule of 5 Violations</th>
                    <th>Known Drug</th>
                    <th>Project</th>
{#                    <th>Last Update</th>#}
                    <th>Image</th>
                </tr>
            </tfoot>

            <tbody>
            {% for compound in object_list %}
                <tr class="compound" id="{{ compound.id }}" name="{{ compound.name }}">
                    <td><a class="btn btn-primary" href="{{ compound.id }}">View</a></td>
                    <td><a class="btn btn-primary" href="{{ compound.id }}/update/">Edit</a></td>
                    <td>{{ compound.name }}</td>
                    <td><a href="https://www.ebi.ac.uk/chembl/compound/inspect/{{ compound.chemblid }}">{{ compound.chemblid }}</a></td>
                    <td>{{ compound.synonyms }}</td>
                    <td>{{ compound.molecular_weight|default_if_none:"" }}</td>
                    <td>{{ compound.logp|default_if_none:"" }}</td>
                    <td>{{ compound.ro5_violations|default_if_none:"" }}</td>
                    <td>{{ compound.known_drug }}</td>

                    <td>
                        {% if compound.mps %}
                            MPS
                        {% endif %}
                        {% if compound.epa %}
                            EPA
                        {% endif %}
                        {% if not compound.epa and not compound.mps %}
                            Unassigned
                        {% endif %}
                    </td>

                    {# TODO Tags field is deprecated #}
{#                    <td>{{ compound.tags|default_if_none:"" }}</td>#}
{#                    <td>{{ compound.molecular_weight }}</td>#}
{#                    <td>{{ compound.logp }}</td>#}
{#                    <td>{{ compound.ro5_violations }}</td>#}
{#                    <td>{{ compound.last_update }}</td>#}
                    <td><img src="https://www.ebi.ac.uk/chembldb/compound/displayimage/{{ compound.chemblid }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
