{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li class="active">Registration Email Sent</li>
{% endblock %}

{% block content %}
<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  You are now registered. Activation email sent.
  <p class="text-warning">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    You may have to check your spam folder.
  </p>
</div>
{% endblock %}
