{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block load_js %}
    <script src="{% static "js/split_time.js" %}"></script>
    <script src="{% static "assays/cell_sample_selection.js" %}"></script>
    <script src="{% static "assays/group_display.js" %}"></script>
    <script src="{% static "assays/assaystudy_index.js" %}"></script>
{% endblock %}

{% block content %}
    {# Inform whether this is publicly accessible #}
    {# Needs to account for all stakeholders too #}
    {% if object.signed_off_by and stakeholder_sign_off and not object.restricted %}
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            This study can be viewed by all users
        </div>
    {% endif %}

    {% include 'tracking.html' with study_submit='true' %}

    <div class="padded-bottom">
        <div class="well">
            <h1 class="text-center">
                {{ object }}
                {% comment %}
                <div>
                    {% if user_is_group_editor and not object.signed_off_by %}
                        <a href="update" class="btn btn-primary" role="button">Edit This Study</a>
                    {% endif %}
                    <a href="summary" class="btn btn-primary" role="button">Study Summary</a>
                    <a href="reproducibility" class="btn btn-primary" role="button">Reproducibility</a>
                    <a href="power_analysis" class="btn btn-primary" role="button">Power Analysis</a>
                    <a href="images" class="btn btn-primary" role="button">Images</a>
                    {% if user_is_group_editor and not object.signed_off_by %}
                    <a href="upload" class="btn btn-primary" role="button">Upload Data</a>
                    <a href="{% url 'assayplatereadermap-index' object.id %}" class="btn btn-primary" role="button">Assay Plate Reader Maps and Data Processing</a>
                    <a href="{% url 'assayplatereaderfile-index' object.id %}" class="btn btn-primary" role="button">Assay Plate Reader Files</a>
                    {% endif %}
                </div>
                {% if user_is_group_editor %}
                    <a id="clone_study_request" class="btn btn-info" role="button">Clone this Study</a>
                {% endif %}
                {% if not user_is_group_admin and user_is_group_editor and not object.signed_off_by %}
                <div>
                    <a id="indicate_study_is_ready_for_sign_off" class="btn btn-success" role="button">Indicate Study is Ready for Sign Off</a>
                </div>
                {% endif %}
                {% if user_is_group_admin %}
                    <div class="row text-center small-padding-top">
                        <a href="sign_off" class="btn btn-success" role="button">View/Edit Sign Off Status of this Study</a>
                    </div>
                {% endif %}
                {#  TODO TODO TODO #}
                {% if user_is_stakeholder_admin %}
                    <div class="row text-center small-padding-top">
                        <a href="sign_off" class="btn btn-success" role="button">View/Edit Approval Status of this Study</a>
                    </div>
                {% endif %}
                {% if user.is_superuser %}
                <div>
                    <a href="/admin/assays/assaystudy/{{ object.id }}" class="btn btn-success" role="button">Change Group Access for this Study</a>
                </div>
                {% endif %}
                {% endcomment %}
            </h1>
            <div class="text-center">
                <span class="dropdown btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="analyze_edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Analyze/Edit
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="analyze_edit">
                        <li><a href="summary">Study Summary</a></li>
                        {# TODO REVISE THIS CONDITIONAL DEPENDING ON OMICS #}
                        {% if object.assaydatafileupload_set.count or object.assaysplatereadermap.count %}
                        {# Not a great label? #}
                        <li><a href="data_index">Data Uploads</a></li>
                        {% endif %}
                        {% if object.assaydatapoint_set.count %}
                        <li><a href="reproducibility">Reproducibility</a></li>
                        <li><a href="power_analysis">Power Analysis</a></li>
                        {% else %}
                        <li class="disabled" title="This study has no data."><a href="reproducibility">Reproducibility</a></li>
                        <li class="disabled" title="This study has no data."><a href="power_analysis">Power Analysis</a></li>
                        {% endif %}
                        {# Stupid conditional because images are not tied directly to studies? #}
                        {% if object.assayimagesetting_set.count %}
                        <li><a href="images">Images and Videos</a></li>
                        {% else %}
                        <li class="disabled" title="This study has no images or videos."><a href="images">Images and Videos</a></li>
                        {% endif %}
                        {% if object.assayomicdatafileupload_set.count %}
                        <li><a href="omics">Gene Expression Analysis</a></li>
                        {% else %}
                        <li class="disabled" title="This study has no omic data."><a href="omics">Gene Expression Analysis</a></li>
                        {% endif %}

                        {% if user_is_group_editor %}
                            <li role="separator" class="divider"></li>
                            {% if not object.signed_off_by %}
                                <li><a href="update">Edit This Study</a></li>
                            {% endif %}
                            <li><a id="clone_study_request" role="button">Clone this Study</a></li>
                        {% endif %}
                    </ul>
                </span>

                {% comment %}
                <span class="dropdown btn-group">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="add_data" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Add/View Data
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="add_data">
                        {% if user_is_group_editor and not object.signed_off_by %}
                        <li><a href="upload">Upload Data</a></li>
                        {% endif %}
                        {# We need to be able to view these #}
                        <li><a href="{% url 'assayplatereadermap-index' object.id %}">Assay Plate Reader Maps and Data Processing</a></li>
                        <li><a href="{% url 'assayplatereaderfile-index' object.id %}">Assay Plate Reader Files</a></li>
                        <li><a href="{% url 'assayomicdatafileupload-index' object.id %}">Assay Omic Data Files</a></li>
                    </ul>
                </span>
                {% endcomment %}

                {% if user_is_group_admin or user_is_stakeholder_admin or user.is_superuser or show_indicate_study_sign_off or not user_is_group_admin and user_is_group_editor and not object.signed_off_by %}
                <span class="dropdown btn-group">
                    <button class="btn btn-success dropdown-toggle" type="button" id="sign_off_permissions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Sign Off/Permission
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sign_off_permissions">
                        {% if user_is_group_admin and not object.signed_off_by %}
                            <li><a href="access">Change Study Access</a></li>
                        {% endif %}
                        {% if not user_is_group_admin and user_is_group_editor and not object.signed_off_by %}
                            <li><a id="indicate_study_is_ready_for_sign_off" role="button">Indicate Study is Ready for Sign Off</a></li>
                        {% endif %}
                        {% if user_is_group_admin %}
                            <li><a href="sign_off">View/Edit Sign Off Status of this Study</a></li>
                        {% endif %}
                        {% if user_is_stakeholder_admin %}
                            <li><a href="sign_off">View/Edit Approval Status of this Study</a></li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li><a href="/admin/assays/assaystudy/{{ object.id }}">Change Group Access for this Study</a></li>
                        {% endif %}
                    </ul>
                </span>
                {% endif %}
            </div>
        </div>

        {# DEPRECATED! #}
        {% comment %}
        <legend>
            <h2>
                Matrices
                {# Hide setup add buttons if the study is marked reviewed #}
                {% if user|is_group_editor:object.group.name and not object.signed_off_by %}
                <div>
                    <a href="assaymatrix/add" class="btn btn-success" role="button">Add Matrix</a>
                </div>
                {% endif %}
            </h2>
        </legend>

        {% if matrices %}
        <div>
        <table hidden id="matrices" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Name</th>
                    <th>Items</th>
                    <th>Creator</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for matrix in matrices %}
                <tr>
                    <td>
                        <a class="btn btn-primary"
                           {% if matrix.representation == 'chips' and not object.signed_off_by and matrix.assaymatrixitem_set.count %}
                           {# CRUDE SWITCH FOR BY-GROUP VS MATRIX #}
                           href="{{ matrix.get_absolute_url }}new/">
                           {% else %}
                           href="{{ matrix.get_absolute_url }}">
                           {% endif %}
                            View/Edit
                        </a>
                    </td>
                    <td>{{ matrix.name }}</td>
                    <td>
                        {% for item in matrix.assaymatrixitem_set.all|dictsort:"name" %}
                            <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>;&nbsp;
                        {% endfor %}
                    </td>
                    <td>
                        {{ matrix.full_creator }}
                    </td>
                    <td>
                        {% if matrix.signed_off_by %}
                            <span hidden>1</span>
                            <span title="This entry was validated by {{ matrix.full_reviewer }} on {{ matrix.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if matrix.flagged %}
                            <span hidden>0</span>
                            <span title="This entry is flagged for review: '{{ matrix.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No matrices exist for this study
        </div>
        {% endif %}
        {% endcomment %}

        {# Do we want to list groups? #}
        {# Or should we list something else? #}
        {# At the very least, link to the respective sections? #}
        {% if chip_groups %}
            <div class="well">
                <h3>
                    {# There are <span class="text-success">{{ chip_groups.count }}</span> Chip Groups in this Study #}
                    {# There are <span class="text-success">{{ number_of_chips }}</span> Chips and <span class="text-success">{{ chip_groups.count }}</span> Chip Groups in this Study #}
                    {% include 'plural_include.html' with label="Chip" count=number_of_chips %} and {% include 'plural_include.html' with label="Chip Group" count=chip_groups.count %}
                </h3>
                {% if user|is_group_editor:object.group.name and not object.signed_off_by %}
                <a href="{% url 'assays-assaystudy-update-groups' object.id %}" class="btn btn-primary" role="button">View/Edit Groups</a>
                <a href="{% url 'assays-assaystudy-update-chips' object.id %}" class="btn btn-primary" role="button">View/Edit Chips</a>
                {% endif %}
            </div>
        {% endif %}

        {% if plate_groups %}
            <div class="well">
                <h3>
                    {# There are <span class="text-success">{{ plate_groups.count }}</span> Plate Groups in this Study #}
                    {# There are <span class="text-success">{{ plates.count }}</span> Plates and <span class="text-success">{{ plate_groups.count }}</span> Plate Groups in this Study #}
                    {% include 'plural_include.html' with label="Plate" count=plates.count %} and {% include 'plural_include.html' with label="Plate Group" count=plate_groups.count %}
                </h3>
                {% if user|is_group_editor:object.group.name and not object.signed_off_by %}
                <a href="{% url 'assays-assaystudy-update-groups' object.id %}" class="btn btn-primary" role="button">View/Edit Groups</a>
                <a href="{% url 'assays-assaystudy-update-plates' object.id %}" class="btn btn-primary" role="button">View/Edit Plates</a>
                {% endif %}
            </div>
        {% endif %}

        {% if plate_groups or chip_groups %}
            {% include 'assays/group_difference_table.html' %}
        {% endif %}

        {% if plate_groups %}
            <legend>
                <h2>
                    Plates
                </h2>
            </legend>

            {# Sloppy, might be beneficial for this to be an include #}
            <table hidden id="plates" class="display table table-striped table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>View/Edit</th>
                        <th>Name</th>
                        <th>Organ Model</th>
                        <th>Wells in Use</th>
                        <th>Review</th>
                    </tr>
                </thead>

                <tbody>
                {# Temporary #}
                {% for plate in plates %}
                    <tr>
                        <td>
                            <a class="btn btn-primary"
                               href="{% url 'assays-assaymatrix-plate-detail' plate.id %}">
                                View/Edit
                            </a>
                        </td>
                        <td>
                            {{ plate.name }}
                        </td>
                        <td>
                            {# REMOVED #}
                            {# {{ plate.device }} #}
                            {{ plate.organ_model }}
                        </td>
                        <td>
                            {{ plate.assaymatrixitem_set.count }}
                        </td>
                        <td>
                            {% if plate.signed_off_by %}
                                <span hidden>1</span>
                                <span title="This entry was validated by {{ plate.full_reviewer }} on {{ plate.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                            {% endif %}
                            {% if plate.flagged %}
                                <span hidden>0</span>
                                <span title="This entry is flagged for review: '{{ plate.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <legend>
            <h2>
                Chips and Wells
            </h2>
        </legend>

        {% if items %}
        <div class="padded-bottom">
        <table hidden id="matrix_items" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>MPS Model</th>
                    <th>Compound</th>
                    <th>Cell</th>
                    <th>Setting</th>
                    <th>Creator</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a class="btn btn-primary"
                           href="{{ item.get_absolute_url }}">
                            View/Edit
                        </a>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.setup_date }}</td>
                    <td>{{ item.organ_model }}</td>
                    {# Uh... a little excessive... #}
                    {# TODO REVISE #}
                    <td>{{ item.stringify_compounds|linebreaksbr }}</td>
                    <td>{{ item.stringify_cells|linebreaksbr }}</td>
                    <td>{{ item.stringify_settings|linebreaksbr }}</td>
                    <td>
                        {{ item.full_creator }}
                    </td>
                    <td>
                        {% if item.signed_off_by %}
                            <span hidden>1</span>
                            <span title="This entry was validated by {{ item.full_reviewer }} on {{ item.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if item.flagged %}
                            <span hidden>0</span>
                            <span title="This entry is flagged for review: '{{ item.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No items exist for this study
        </div>
        {% endif %}
    </div>
    {% if not user_is_group_admin and user_is_group_editor and not object.signed_off_by %}
    <div hidden id="ready_for_sign_off_section" title="Indicate Study is Ready for Sign Off">
        <form id="ready_for_sign_off_form">

            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="sr-only">Info:</span>
                This form, when submitted, will send an email to the group's PI indicating that the study is ready for Sign Off.
            </div>

            <label for="email">Message:</label>
            <div class="input-group padded-bottom">
                {# Inline style is in poor taste #}
                <textarea name="message" class="form-control" id="id_message" rows="4" style="width: 775px;"
                        placeholder="Write a message to accompany your request for a Sign Off."></textarea>
            </div>

            <div class="well well-lg">
            <label for="captcha">Please Type What You See</label>
            <div class="input-group">
                {{ ready_for_sign_off_form.captcha }}
            </div>
            </div>
        </form>

        <div hidden id="email_failure" class="alert alert-danger" role="alert">
            <h3>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Danger:</span>
                Your request has failed.
                <br>
                <br>
                <span id="email_failure_message"></span>
                <br>
                <br>
                Please refresh the page and try again.
            </h3>
        </div>
        <div hidden id="email_success" class="alert alert-success" role="alert">
            <h3>
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                Your request has succeeded. Your message:
                <br>
                <br>
                <span id="email_message"></span>
                <br>
                <br>
                Was sent to users that can Sign Off on the study.
            </h3>
        </div>
    </div>
    {% endif %}

    {% if user_is_group_editor %}
    <div hidden id="clone_study_section" title="Clone this Study">
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        Cloning a Study will create a copy of the Study.
        <br>
        <hr>
        The following related data <strong>will be copied as is:</strong>
        <ul>
            <li>Matrices</li>
            <li>Matrix Items</li>
            <li>Assays</li>
        </ul>
        <br>
        The following <strong>will be modified:</strong>
        <ul>
            <li>The Study Name will have "Clone-" appended to the front</li>
            <li>The Description will indicate what the Study was cloned from</li>
            <li>The Creator will be changed to the User performing the clone</li>
            <li>The Start Date will change to the current time</li>
        </ul>
        <br>
        The following <strong>will NOT be included:</strong>
        <ul>
            <li>Protocol</li>
            <li>Images</li>
            <li>Data Points</li>
            <li>Supporting Data</li>
            <li>References</li>
        </ul>
    </div>
    <div hidden id="clone_failure" class="alert alert-danger" role="alert">
        <h3>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Danger:</span>
            Your request to clone has failed.
            <br>
            <br>
            <span id="clone_failure_message"></span>
            <br>
            <br>
            <a hidden href="" id="clone_link_fail">Click here to go to the existing clone Study.</a>
        </h3>
    </div>
    <div hidden id="clone_success" class="alert alert-success" role="alert">
        <h3>
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            Your request has succeeded.
            <a href="" id="clone_link_success">Click here to go to the new Study.</a>
        </h3>
    </div>
    </div>
    {% endif %}

    {# For displaying cells etc. #}
    <div hidden>
        {{ form.series_data }}
    </div>
    {% include 'assays/component_displays.html' %}
{% endblock %}
