{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/enter_override.js" %}"></script>
    {# Should any page be flaggable? #}
    <script src="{% static "js/flag.js" %}"></script>
    <script src="{% static "assays/assaystudy_tabs.js" %}"></script>
    {# Respective page's script here #}
    <script src="{% static "assays/assaystudy_assays.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/editable_studies/">Editable Studies</a></li>
    <li>
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
    </li>
    <li class="active">
            Edit <em>{{ object }}</em>
    </li>
{% endblock %}

{% block content %}

{# Get the tabs #}
{% include 'assays/assaystudy_tabs.html' with study=object %}

<form enctype="multipart/form-data" class="form-horizontal" method="post">
    <h1>
        Edit <em>{{ object }}</em> Assays
    <br>
    {% csrf_token %}
    </h1>

    {% include "submit.html" with flag="y" group=form.instance.group.name %}

    {% include 'errors.html' %}

    {% include 'tracking.html' %}

    <legend>Study Assays</legend>

    {{ study_assay_formset.management_form }}

    {% if study_assay_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ study_assay_formset.non_form_errors }}
        </div>
    {% endif %}

    {% if study_assay_formset.errors %}
        {% for dict in study_assay_formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <p>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            To remove filtering by Assay Category for a row, click the Assay Category dropdown of interest and press backspace
    </p>

    {# Add new #}
    {% comment %}
    {% include 'generic_popup_link.html' with field=study_assay_formset.0.target %}
    <br>
    {% include 'generic_popup_link.html' with field=study_assay_formset.0.method %}
    <br>
    {% include 'generic_popup_link.html' with field=study_assay_formset.0.unit %}
    <br>
    <br>
    {% endcomment %}

    <a id="add_button-{{ study_assay_formset.prefix }}" class="btn btn-success" role="button">Add Assay</a>
    <table class="table table-striped inlines" id="{{ study_assay_formset.prefix }}-group"  name="assays">
        <thead>
            <tr>
                <th>Assay Category</th>
                <th>
                    Target/Analyte*
                    <div>
                        {% include 'generic_popup_link.html' with field=study_assay_formset.0.target %}
                    </div>
                </th>
                <th>
                    Method/Kit*
                    <div>
                        {% include 'generic_popup_link.html' with field=study_assay_formset.0.method %}
                    </div>
                </th>
                <th>
                    Readout Unit*
                    <div>
                        {% include 'generic_popup_link.html' with field=study_assay_formset.0.unit %}
                    </div>
                </th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for assay in study_assay_formset %}
                <tr class="inline" id="assay-{{ forloop.counter0 }}">
{#                     Hidden input for Update (need id to associate)#}
                    {% if assay.id.value %}
                    <td class="original" hidden>
                        <input id="id_{{ study_assay_formset.prefix }}-{{ forloop.counter0 }}-id" name="{{ study_assay_formset.prefix }}-{{ forloop.counter0 }}-id" type="hidden" value="{{ assay.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ assay.category }}</td>
                    <td>{{ assay.target }}</td>
                    <td>{{ assay.method }}</td>
                    <td>{{ assay.unit }}</td>
                    <td>{{ assay.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
