{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <!-- <script src="{% static "assays/grouping_filtering.js" %}"></script> -->
    <script src="{% static "assays/assaystudy_omics.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ object.get_list_url }}">All Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Gene Expression Analysis</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' with power_analysis="true" intra_flag="true" %}
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                Gene Expression Analysis for:<br>
                <em>{{ object }}</em>
            </h1>
        </div>
        <div class="row text-center small-padding-top">
            <a href="{{ object.get_summary_url }}" class="btn btn-primary" role="button">Study Summary</a>
        </div>
    </div>

    <button id="fetch-data" class="btn btn-primary">Fetch Data</button>
    <table id="matrices" class="display table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Chips</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button id="toggle-plot-type" class="btn btn-lg btn-primary">Switch to MA Plots</button>
        <br><br>
        <h3>Filters</h3>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1 large-padding-top padded-bottom">
                <label for="pvalue">P-Value:</label>
                <input type="text" id="pvalue" size="10" readonly>
                <div id="slider-range-pvalue"></div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 large-padding-top padded-bottom">
                <label for="log2foldchange">Log2FC:</label>
                <input type="text" id="log2foldchange" size="10" readonly>
                <div id="slider-range-log2foldchange"></div>
            </div>
        </div>
        <br>
        <button id="apply-filters" class="btn btn-primary">Apply Filters</button>
    </div>
    <div id="plots">
        <div id="volcano-plots">
        </div>
        <div id="ma-plots" style="display: none">
        </div>
    </div>

    {# Just a spacer (and yes, inline styles are ugly)#}
    <div style="padding-bottom: 250px;"></div>
{% endblock %}
