<h1>detail</h1>
<table>
    <thead>
        <tr >
            <th>c1</th>
            <th>c2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                         <tr>
                            <td class="plate-replicate">first</td>
                        </tr>
                        <tr>
                            <td class="plate-label">second</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tbody>
                         <tr>
                            <td class="plate-replicate">fit</td>
                        </tr>
                        <tr>
                            <td class="plate-label">secd</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>