{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "js/inline_add.js" %}"></script>
    <script src="{% static "js/image_display.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "js/flag.js" %}"></script>
    <script src="{% static "assays/assayrun_add.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/editable_studies/">Editable Studies</a></li>
    {% if object %}
        <li>
        <a href="/assays/{{ object.id }}">{{ object }}</a>
        </li>
    {% endif %}
    <li class="active">
        {% if object %}
            Edit <em>{{ object }}</em>
        {% else %}
            Add Study
        {% endif %}
    </li>
{% endblock %}

{% block content %}
{% if update %}
    <form onsubmit="return confirm('Are you sure you want to overwrite this entry?');" enctype="multipart/form-data" class="form-horizontal" method="post" >

    <h1>
        Edit <em>{{ object }}</em>
{% else %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" >

    <h1>
        Add Study
{% endif %}
    <br>
    {% csrf_token %}
    </h1>

    {% include "submit.html" with flag="y" group=form.instance.group.name %}

    {% include 'errors.html' %}

    {% include 'tracking.html' %}

    <legend>Study Details</legend>

    {% if form.group.errors %}
        {% for error in form.group.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="group" class="col-sm-2 control-label">Group*</label>
        <div class="col-sm-10">
          {{ form.group }}
          <span id="center_name"></span>
        </div>
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ form.non_field_errors }}
        </div>
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="study_type" class="col-sm-2 control-label">Study Types*</label>
        <div class="col-sm-10">
            <label for="toxicity" style="padding-right: 10px;">Toxicity</label>
              {{ form.toxicity }}
            <label for="efficacy" style="padding-left: 20px;padding-right: 10px;">Efficacy</label>
              {{ form.efficacy }}
            <label for="disease" style="padding-left: 20px;padding-right: 10px;">Disease</label>
              {{ form.disease }}
            <label for="efficacy" style="padding-left: 20px;padding-right: 10px;">Cell Characterization</label>
              {{ form.cell_characterization }}
        </div>
    </div>

    {% if form.name.errors %}
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="study_name" class="col-sm-2 control-label">Study Name*</label>
        <div class="col-sm-10">
          {{ form.name }}
        </div>
    </div>

    {% if form.start_date.errors %}
        {% for error in form.start_date.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="start_date" class="col-sm-2 control-label">Start Date*</label>
        <div class="col-sm-10">
          {{ form.start_date }} [yyyy-mm-dd]
          <div>
              This date specifies when treatment of devices began
          </div>
        </div>
    </div>

    {% if form.assay_run_id.errors %}
        {% for error in form.assay_run_id.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="assay_run_id" class="col-sm-2 control-label">Study ID</label>
        <div class="col-sm-10">
          {{ form.assay_run_id }}
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          {{ form.description }}
        </div>
    </div>

    <div class="form-group">
        <label for="restricted" class="col-sm-2 control-label">Restrict Access</label>
        <div class="col-sm-10">
          {{ form.restricted }}
          <div>
              <em>Check</em> to make this study invisible to unauthorized users.
          </div>
        </div>
    </div>

    <div class="form-group">
        <label for="use_in_calculations" class="col-sm-2 control-label">Use in Calculations</label>
        <div class="col-sm-10">
          {{ form.use_in_calculations }}
          <div>
              <em>Check</em> if the data in this study can be used in calculations.
              <br>
              <em>Do not check</em> if this study is faulty or a one-off experiment.
          </div>
        </div>
    </div>

    {% if form.protocol.errors %}
        {% for error in form.protocol.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="protocol" class="col-sm-2 control-label">Protocol File</label>
        <div class="col-sm-10">
            {{ form.protocol }}
            <div>
                You can upload a file for this study's protocol.
                <br>
                The protocol should be <em>specific to this study</em> (i.e. not an organ model protocol).
                <br>
                <b>Preferred Format: PDF</b>
            </div>
        </div>
    </div>

    {% if form.image.errors %}
        {% for error in form.image.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="image" class="col-sm-2 control-label">Image</label>
        <div class="col-sm-10">
            {{ form.image }}
            <p>
                You can upload an image to clarify this study.
                <br>
                <b>Preferred Formats: PNG, JPEG, GIF</b>
            </p>
        </div>
    </div>

    <div id="image_display">
        <div id="current_display">
            {% if object.image %}
                <img class="img-responsive center-block padded-bottom" src="/media/{{ object.image }}">
            {% endif %}
        </div>
    </div>

    <legend>For Integrated Chip Studies</legend>
    {% if form.study_configuration.errors %}
        {% for error in form.study_configuration.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="study_configuration" class="col-sm-2 control-label">Integrated Study Configuration</label>
        <div class="col-sm-10">
            {{ form.study_configuration }}
            <br>
            <a href="/assays/studyconfiguration">
                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                Add/Edit Integrated Study Configurations (Must Refresh Page to See Change)
            </a>
        </div>
    </div>

    {{ formset.management_form }}
    <legend>Supporting Data</legend>
    {% if formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ formset.non_form_errors }}
        </div>
    {% endif %}

    {% if formset.errors %}
        {% for dict in formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <a id="add_button-studysupportingdata_set" class="btn btn-success" role="button">Add Supporting Data</a>
    <table class="table table-striped inlines" id="studysupportingdata_set-group" name="supporting_data">
        <thead>
            <tr>
                <th>Description</th>
                <th>Supporting Data File (XLSX)</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for supporting_data in formset %}
                <tr class="inline" id="supporting_data-{{ forloop.counter0 }}">
                    {% if supporting_data.id.value %}
                    <td class="original" hidden>
                        <input type="hidden"
                               id="id_studysupportingdata_set-{{ forloop.counter0 }}-id"
                               name="studysupportingdata_set-{{ forloop.counter0 }}-id"
                               value="{{ supporting_data.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ supporting_data.description }}</td>
                    <td>{{ supporting_data.supporting_data }}</td>
                    <td>{{ supporting_data.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
