{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/chart_display.js" %}"></script>
    <script src="{% static "assays/assaystudy_data_plots.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Data Plots</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' with charts='true' %}
{% endblock %}

{% block fluid-content %}
<div class="row padded-row text-center padded-bottom large-padding-top hidden-print">
    <a href="/assays/graphing_reproducibility/?filters=" type="button" class="btn btn-xlarge btn-primary text-center submit-button" id="back_button">
        <span class="glyphicon glyphicon glyphicon-hand-left" aria-hidden="true"></span>
        Go Back
    </a>
    <a href="/assays/assay_interstudy_reproducibility/?" type="button" class="btn btn-xlarge btn-primary text-center submit-button" id="repro_submit">
        <span class="glyphicon glyphicon glyphicon-random" aria-hidden="true"></span>
        Show Reproducibility
    </a>
    <a href="/assays/data_from_filters/?" type="button" class="btn btn-xlarge btn-info text-center submit-button" id="download_submit">
        <span class="glyphicon glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Download
    </a>
</div>

{# {% include 'assays/grouping_filtering.html' %} #}

{# {% include 'assays/chart_options.html' with chart_prefix="charts" chart_title="Selected Data" %} #}

{# Note indicating no data to display initially #}
<div id="charts" class="padded-bottom">
    No data to display
</div>

{% include 'assays/group_table.html' %}
{% endblock %}
