{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "assays/assaytarget_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Targets</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Target/Analytes
            </h2>
        </legend>
        <div id="targets" style="display: none;">
            <table id="models" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>View</th>
                        <th>Target</th>
                        <th>Description</th>
                    </tr>
                </thead>

                <tbody>
                {% for target in object_list %}
                     <tr class="target" id="{{ target.id }}">
                        <td><a class="btn btn-{% if target.assays %}primary" title="View paired method/kits." href="{{ target.id }}"{% else %}default" style="pointer-events: auto;" title="This method has no paired method/kits." disabled{% endif %}>View</a></td>
                        <td>{{ target.name }}</td>
                        <td>{{ target.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
