{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block load %}
    <script src="{% static "js/cookies.js" %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static "assays/assayrun_summary.js" %}"></script>
    <script src="{% static "assays/chart_display.js" %}"></script>
    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/study/">All Studies</a></li>
    <li><a href="/assays/{{ object.id }}">{{ object }}</a></li>
    <li class="active">Study Summary</li>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                {{ object }}
            </h1>
        </div>
        <div class="row text-center">
            <a id="export_button" href="/assays/{{ object.id }}/data/" class="btn btn-info" role="button">Download Data</a>
            <label class="radio-inline">
                <input type="checkbox" name="exportinclude_all" id="exportinclude_all" onclick="$('#chartsinclude_all').prop('checked', $(this).prop('checked'));"/>
                <strong>Include Excluded Data</strong>
            </label>
        </div>
        <div class="row text-center small-padding-top">
            <a href="../reproducibility" class="btn btn-primary" role="button">View Reproducibility for this Study</a>
        </div>
{#        <div class="row text-center">#}
{#            <label class="radio-inline">#}
{#                <input type="checkbox" name="exportinclude_all" id="exportinclude_all" />#}
{#                <strong>Include Excluded Data</strong>#}
{#            </label>#}
{#        </div>#}
        <div class="row text-center small-padding-top">
        {% if user_is_group_admin %}
            <a href="../sign_off" class="btn btn-success" role="button">View/Edit Sign Off Status of this Study</a>
        {% endif %}
        {#  TODO TODO TODO #}
        {% if user_is_stakeholder_admin %}
            <a href="../sign_off" class="btn btn-success" role="button">View/Edit Approval Status of this Study</a>
        {% endif %}
        </div>
    </div>

    {% if object.description or object.study_configuration or object.protocol %}
        <legend>Description</legend>

        <div class="padded-bottom">
        <div class="panel panel-info">
        <div class="panel-body">
        {% if object.description %}
            <p>
                {{ object.description|linebreaksbr }}
            </p>
        {% endif %}

        {% if object.study_configuration %}
            <p>
                <b>Configuration:</b> {{ object.study_configuration }}
            </p>
        {% endif %}

        {% if object.protocol %}
            <p>
                <b>Protocol:</b> <a href="/media/{{ object.protocol }}">{{ object.protocol }}</a>
            </p>
        {% endif %}
        </div>
        </div>
        </div>
    {% endif %}

    <div id="image_display">
        <div id="current_display">
            {% if object.image %}
                <img class="img-responsive center-block padded-bottom" src="/media/{{ object.image }}">
            {% endif %}
        </div>
    </div>

    {% if assay_instances %}
    <legend>Assays</legend>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Target/Analyte</th>
                <th>Method/Kit</th>
                <th>Readout Unit</th>
            </tr>
        </thead>
        <tbody>
            {% for assay in assay_instances %}
                <tr class="inline" id="assay-{{ forloop.counter0 }}">
                    <td>{{ assay.target }}</td>
                    <td>{{ assay.method }}</td>
                    <td>{{ assay.unit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% include 'assays/chart_options.html' with chart_prefix="charts" chart_title="Current Data" %}

    {# Note indicating no data to display initially #}
    <div id="charts" class="padded-bottom">
        No data to display
    </div>

    <table id="treatment_group_table" class="table table-striped table-bordered">
        <thead id="treatment_group_head">
        </thead>
        <tbody id="treatment_group_display">
        </tbody>
    </table>

    <div id="group_display" class="container">
        <table class="table table-bordered">
            <tbody id="group_display_body">

            </tbody>
        </table>
    </div>

    {% if object.studysupportingdata_set.all %}
        <legend>Supporting Data</legend>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Description</th>
              <th>Supporting Data File</th>
            </tr>
            </thead>
            <tbody>
                {% for supporting_data in object.studysupportingdata_set.all %}
                    <tr>
                        <td>{{ supporting_data.description }}</td>
                        <td>
                            <a target="_blank" href="/media/{{ supporting_data.supporting_data }}">
                              {{ supporting_data.supporting_data }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'assays/data_upload_table.html' %}
{% endblock %}
