{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/assay_shared_omics.js" %}"></script>
    <script src="{% static "assays/assayomicdatafileupload_aur.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
{% endblock %}


{# this template is add, update, and reveiw (aur) #}
{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a>
    <li><a href="{{ form.instance.study.get_absolute_url }}">{{ form.instance.study }}</a></li>
    {% if object %}
        <li><a href="{% url "assayomicdatafileupload-index" object.study.id %}">Assay Omic Data Files</a>
    {% else %}
        <li><a href="{% url "assayomicdatafileupload-index" form.instance.study_id %}">Assay Omic Data Files</a>
    {% endif %}
    <li class="active">
        {% if object %}
            <em>{{ object }}</em>
        {% else %}
            Add
        {% endif %}
    </li>
{% endblock %}

{% block sidebar %}
    {% if update or add %}
    <div class="toggle-display-none" id="omic_preview_the_graphs_section2">
        {% include 'assays/grouping_filtering.html' with omics="true"%}
    </div>
    {% endif %}
{% endblock %}

{% block fluid-content %}

    <form name="omic_file" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="padded-bottom">

            <div class="well">
                <h1 class="text-center">
                    <em><b>
                    {% if update %}
                        Update
                    {% else %}
                        {% if review %}
                            Review
                        {% else %}
                            Add
                        {% endif %}
                    {% endif %}
                    Omic File
                    </b></em>
                    <br>
                    <br>
                    for Study {{ form.instance.study }}
                    <br>
                {% csrf_token %}
                </h1>
            </div>

            {% if not review %}
                {% include "submit.html" with flag="y" creator=object.created_by.id %}
            {% endif %}

            <div id="form_errors" class="toggle-display-none">
                {% include "errors.html" %}
            </div>

            {# main #}
{#            <div class="container">   NO CONTAINERs   #}
            {# pass to js file need for use in js #}
            <div class="for-javascript">
                <div class="hidden" id="check_load">
                    {{ page_called }}
                </div>
                <div class="hidden" id="this_file_id">
                    {{ object.id }}
                </div>
                <div class="hidden" id="this_study_id">
                    {{ form.instance.study_id }}
                </div>
                <div class="hidden" id="show_hide_graph">
                    hide
                </div>
                <div class="hidden" id="check_load">
                    {{ page_called }}
                </div>
                <div class="hidden">
                    {{ form.indy_sample_metadata_table_was_changed }}
                </div>
                <div class="hidden">
                    {{  form.indy_sample_metadata_field_header_was_changed }}
                </div>
            </div>

            {# The div will not match, so just make this comment for the error section  #}
            {% if update or add %}
                <div class="hidden" id="upload_file"></div>
                {% if form.omic_data_file.errors %}
                    {% for error in form.omic_data_file.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endfor %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label class="col-sm-2 control-label" for="protocol">Omic Data File*</label>
                    <div class="col-sm-10">
                        {{ form.omic_data_file }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <div>
                            <b>Acceptable Formats: Excel and CSV. </b>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <button type="button" class="btn btn-info" id="fileFormatDetailsButton">Toggle File Format Details</button>
                    </div>
                </div>

{#                todo change the page logic so that it only shows the data type that is selected....here#}
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <br>
                        <div class="toggle-display-none" id="omic_file_format_details_section">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div>
                                        <div><p id="omic_file_format_deseq2_log2fc_tooltip"></p>
                                            <label for="omic_file_format_deseq2_log2fc_tooltip">Log 2 Fold Change Files &nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="plate-map-page-field-contents-medium">
{#                                            Downloadable template in development.#}
                                        <button type="button" class="btn btn-primary" id="fileFileFormatTwoGroup">Download Two Group File Format (Downloads the Headers Only)</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div>
                                        <div><p id="omic_file_format_normcounts_tooltip"></p>
                                            <label for="omic_file_format_normcounts_tooltip">Normalized Count Files &nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="plate-map-page-field-contents-medium">
                                            Downloadable template in development.
{#                                        <button type="button" class="btn btn-primary" id="fileFileFormatTwoGroup">Download Two Group File Format (Headers Only)</button>#}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div>
                                        <div><p id="omic_file_format_rawcounts_tooltip"></p>
                                            <label for="omic_file_format_rawcounts_tooltip">Raw Count Files &nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="plate-map-page-field-contents-medium">
                                            Downloadable template in development.
{#                                        <button type="button" class="btn btn-primary" id="fileFileFormatTwoGroup">Download Two Group File Format (Headers Only)</button>#}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            {% else %}
                <label class="col-sm-2 control-label" for="omic_data_file">Omic Data File*</label>
                <div class="col-sm-10">
                    <a target="_blank" href="/media/{{ form.instance.omic_data_file }}">
                        {{ form.instance.omic_data_file }}
                    </a>
                    {# <em><b> {{ form.filename_only.value }} </b></em> #}
                    {# Show form field as text .name vrs .value HANDY  #}
                    {# name {{ form.form_filename_only.name }} #}
                    {# value {{ form.form_filename_only.value }} #}
                </div>
                <br>
            {% endif %}

                <br>

            <div>

{#                todo - move to first? maybe not, maybe have computer guess based on file, but, let user override#}
{#                todo - build the gussing for this and the next one#}
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <label>Computer will guess based on file headers - update as needed</label>
                    </div>
                </div>
{#                todo when change file, program to guess which type#}
                {% include "generic_field.html" with field=form.data_type %}

                <div class="indy-sample">
{#                    todo give class and make work.....#}
                    <div class="todo-givename">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="plate-map-page-field-labels-large">
                                    <div>
                                        <div><p id="_tooltip"></p>
                                            <label for="_tooltip">File Headers &nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="plate-map-page-radio-contents">
                                    <label><input type="radio" class="plate-map-bigger-radio" name="radio_file_headers" value="wells" id="radio_wells">
                                        <p class="plate-map-radio-spacing plate-map-no-wrap">Assay Well Names</p></label>
                                    <label><input type="radio" class="plate-map-bigger-radio" name="radio_file_headers" value="samples" id="radio_samples">
                                        <p class="plate-map-radio-spacing plate-map-no-wrap">Sample Names</p></label>
                                    <label><input type="radio" class="plate-map-bigger-radio" name="radio_file_headers" value="others" id="radio_others">
                                        <p class="plate-map-radio-spacing plate-map-no-wrap">Other</p></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                {% include "generic_field.html" with field=form.description %}

                {% include "generic_field.html" with field=form.study_assay %}

    {#                {% include "generic_field.html" with field=form.analysis_method %}#}
                <div class="form-group">
                    <div class="col-sm-2">
                        <div class="plate-map-page-field-labels-small">
                            <div>
                                <div><p id="omic_anaylsis_method_tooltip"></p>
                                    <label for="omic_anaylsis_method_tooltip">Analysis Method* &nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="plate-map-page-field-contents-small">
                            {{ form.analysis_method }}
                        </div>
                    </div>
                </div>

                {% include "generic_field.html" with field=form.name_reference %}

            </div>

            <br>

            <div class="compare-group">

                <div class="two-group">

                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <label>Group 1 - Test Group*</label>
                        </div>
                    </div>

                </div>

                <div class="one-group">

                    {% include "generic_field.html" with field=form.group_1 %}

                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
                                <tr>
                                    <th class="bg-success" colspan="3">Sample Time 1*</th>
                                    <th class="bg-warning">Sample Location 1*</th>
                                </tr>
                                <tr>
                                    <th class="bg-success">Day</th>
                                    <th class="bg-success">Hour</th>
                                    <th class="bg-success">Minute</th>
                                    <td class="bg-warning">
    {#                                    {% if update or add %}#}
    {#                                            {% include "generic_popup_link.html" with field=form.location_1 %}#}
    {#                                    {% endif %}#}
                                    </td>
                                </tr>
                                <tr>
                                    <td hidden>
                                        {{ form.time_1 }}
                                    </td>
                                    <td class="bg-success">{{ form.time_1_day }}</td>
                                    <td class="bg-success">{{ form.time_1_hour }}</td>
                                    <td class="bg-success">{{ form.time_1_minute }}</td>
                                    <td class="bg-warning">{{ form.location_1 }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="two-group">

                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <label>Group 2 - Reference Group*</label>
                        </div>
                    </div>

                    {% include "generic_field.html" with field=form.group_2 %}
{#todo - error check - sample time - is it required or not and should it be for the log2 fold change#}
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
                                <tr>
                                    <th class="bg-success" colspan="3">Sample Time 2*</th>
                                    <th class="bg-warning">Sample Location 2*</th>
                                </tr>
                                <tr>
                                    <th class="bg-success">Day</th>
                                    <th class="bg-success">Hour</th>
                                    <th class="bg-success">Minute</th>
                                    <td class="bg-warning">
    {#                                        {% if update or add %}#}
    {#                                            {% include "generic_popup_link.html" with field=form.location_2 %}#}
    {#                                        {% endif %}#}
                                    </td>
                                </tr>
                                <tr>
                                    <td hidden>
                                        {{ form.time_2 }}
                                    </td>
                                    <td class="bg-success">{{ form.time_2_day }}</td>
                                    <td class="bg-success">{{ form.time_2_hour }}</td>
                                    <td class="bg-success">{{ form.time_2_minute }}</td>
                                    <td class="bg-warning">{{ form.location_2 }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="toggle-display-none" id="omic_preview_button_section">
                        <button type="button" class="btn btn-info" id="omicPreviewTheGraphsButton">View Preview Graphs</button>
                    </div>

                    <div class="toggle-display-none" id="omic_preview_the_graphs_section">

                        <div id="plots">
                            <div id="volcano-plots">
                            </div>
                            <div id="ma-plots" style="display: none">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="indy-sample">

                <div class="">
                    {# pass to js file need for use in js #}
                    {{  form.indy_list_of_keys }}
                    {# pass to js file need for use in js - this will be kept matcthing the table so can be passed back #}
                    {{  form.indy_list_of_dicts }}
                    {# pass to js file need for use in js - if the user adds or changes a sample id, this file should be true #}
                    {% include "generic_field.html" with field=form.indy_flag_file_column_header_change %}
                    {# pass to js file need for use in js #}
                    {{  form.indy_matrix_item_list }}
                    {# pass to js file need for use in js #}
                    {{  form.indy_file_column_header_list }}
                    {{  form.indy_file_column_header_prefix_set }}
                    {{  form.indy_file_column_header_number_set }}
                </div>

                {% if update or add %}

                    <button type="button" class="btn btn-info" id="indy_instructions">Toggle Step-by-Step Instructions</button>
                    <br>

                    <div class="indy-instructions">
                        <div class="h1-level-2"><em>Instructions:</em></div>
                    </div>


{#                    todo - do not show this to the user, just, fill the table with the number of headers#}
{#                    todo - do not forget to subtract one from the number of columns to remove the gene row...#}
{#                    todo make this nice...program to guess#}
                    {#                todo when change file, program to guess which type#}
                    {{ form.header_type }}

                    <div class="indy-instructions">
                        <div class="number-samples">
                            <ul class="help-filled-circle">
                                <li class="h1-level-2">Enter # samples in upload file (# rows for Sample Metadata Table)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="number-samples">
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="plate-map-page-field-labels-small">
                                    <div>
                                        <div><p ></p>
                                            <label >Number of Samples &nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="plate-map-page-field-contents-small">
                                    {{ form.indy_number_of_samples }}
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default">Go</button>
                            </div>
                            <div class="col-sm-6"></div>
                                <div id="number_headers_in_file">
                                </div>
                        </div>
                    </div>

                    <div class="indy-instructions">
                        <ul class="help-filled-circle">
                            <li class="h1-level-2">Select/Drag in Sample Metadata Table to highlight cells
                                <br><br>Tips and Notes:
                                <ul class="help-open-circle">
                                    <li>Highlighting is cumulative</li>
                                    <li>When using Replace, only highlighted cells will be replaced</li>
                                    <li>When using Paste, if the paste cell is in the highlighted areas, the highlighted areas will be overwritten</li>
                                    <li>When updates are made to the table, it will resort </li>
                                    <li>Use Column visibility, Search, and/or column sorting to simplify highlighting (e.g., if entering time in Days, hide Hour and Minute fields)</li>
                                    <li>If times are missing, they will be set to 0 on submit</li>
                                    <li>Empty rows will be removed on Submit</li>
                                    <li>Sample Location cannot be incremented</li>
                                    <li>For chip/well names, increment will work down a sorted list of all the chips/wells in the study (sorted as text - chip11 will come before chip2, but after chip02)</li>
                                    <li>Make sure rows are complete or there will be a Submit error (Assay Well Name is optional)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                {% endif %}

{#            may want the table here instead...see what team response is#}
                <br>

                {% if update or add %}
                    <div class="indy-instructions">
                        <ul class="help-filled-circle">
                            <li class="h1-level-2">Select action for highlighted text</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="plate-map-page-field-labels-large">
                                <div>
                                    <div><p id="drag_use_tooltip"></p>
                                        <label for="drag_use_tooltip">Table Action &nbsp;</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="plate-map-page-radio-contents">
                                <label><input type="radio" class="plate-map-bigger-radio" name="radio_change_drag_action" value="replace" id="radio_replace">
                                    <p class="plate-map-radio-spacing plate-map-no-wrap">Replace</p></label>
                                <label><input type="radio" class="plate-map-bigger-radio" name="radio_change_drag_action" value="empty" id="radio_empty">
                                    <p class="plate-map-radio-spacing plate-map-no-wrap">Remove/Empty</p></label>
{#                                <label><input type="radio" class="plate-map-bigger-radio" name="radio_change_drag_action" value="copys" id="radio_copys">#}
{#                                    <p class="plate-map-radio-spacing plate-map-no-wrap">Edit Highlight</p></label>#}
                                <label><input type="radio" class="plate-map-bigger-radio" name="radio_change_drag_action" value="pastes" id="radio_pastes">
                                    <p class="plate-map-radio-spacing plate-map-no-wrap">Paste</p></label>
                            </div>
                        </div>
                    </div>

                    <div class="replace-section">
                        <div class="indy-instructions">
                            <ul class="help-filled-circle">
                                <li class="h1-level-2">Select the content for the replace</li>
                            </ul>
                        </div>

                        {# pick sample metadata other than times #}
                        <div class="row">

                            <div id="h_indy_file_column_header" class="col-sm-3">
                                <div class="row column-section-padding">
                                    <table>
                                        <tr>
{#                                            <td class="left-pad">#}
{#                                                <input class="big-checkbox" id="checkbox_file_column_header" type="checkbox" name="change_file_column_header" value="file_column_header">#}
{#                                            </td>#}
                                            <td>
                                                <div class="left-pad"><p id="file_column_header_tooltip"></p>
                                                    <label for="file_column_header_tooltip">File Column Header &nbsp;</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row column-section-padding">
                                     <div class="extra-bottom-padding">
                                        {{ form.indy_file_column_header }}
                                    </div>
                                </div>
                                {# need for use in js #}
                                <div class="row hidden">Will get hidden:
                                    <div id="file_column_header"></div>
                                    <div id="sample_pk"></div>
                                </div>
                            </div>

                            <div id="h_indy_matrix_item" class="col-sm-3">
                                <div class="row column-section-padding">
                                    <table>
                                        <tr>
{#                                            <td class="left-pad">#}
{#                                                <input class="big-checkbox" id="checkbox_matrix_item" type="checkbox" name="change_matrix_item" value="matrix_item" >#}
{#                                            </td>#}
                                            <td class="left-pad">
                                                <div><p id="sample_matrix_item_tooltip"></p>
                                                    <label for="sample_matrix_item_tooltip">Chip/Well ID &nbsp;</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row column-section-padding">
                                     <div class="extra-bottom-padding">
                                        {{ form.indy_matrix_item }}
                                    </div>
                                </div>
                                {# need for use in js #}
                                <div class="row hidden">Will get hidden:
                                    <div id="matrix_item_name"></div>
                                    <div id="matrix_item_pk"></div>
                                </div>
                            </div>

                            <div id="h_indy_sample_location" class="col-sm-3">
                                <div class="row column-section-padding">
                                    <table>
                                        <tr>
{#                                            <td class="left-pad">#}
{#                                                <input class="big-checkbox" id="checkbox_location" type="checkbox" name="change_location" value="location" >#}
{#                                            </td>#}
                                            <td class="left-pad">
                                                <div><p id="sample_location_tooltip"></p>
                                                    <label for="sample_location_tooltip">Sample Location &nbsp;</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row column-section-padding">
                                    <div class="extra-bottom-padding">
                                        {{ form.indy_sample_location }}
                                    </div>
                                </div>
                                {# need for use in js #}
                                <div class="row hidden">Will get hidden:
                                    <div id="sample_location_name"></div>
                                    <div id="sample_location_pk"></div>
                                </div>
                            </div>

                            <div id="h_indy_assay_well_name" class="col-sm-3">
                                <div class="row column-section-padding">
                                    <table>
                                        <tr>
{#                                            <td class="left-pad">#}
{#                                                <input class="big-checkbox" id="checkbox_assay_well_name" type="checkbox" name="change_assay_well_name" value="assay_well_name" >#}
{#                                            </td>#}
                                            <td class="left-pad">
                                                <div><p id="assay_well_name_tooltip"></p>
                                                    <label for="assay_well_name_tooltip">Assay Well Name &nbsp;</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row column-section-padding">
                                    <div class="extra-bottom-padding">
                                        <input type="text" class="form-control" id="assay_well_name" name="assay_well_name" value="A01">
                                    </div>
                                </div>
                            </div>

                        </div>

                        {# pick sample times #}
                        <div class="row">

                            <div id="h_indy_time_day" class="col-sm-3">
                                <div class="row column-section-padding">
                                    <table>
                                        <tr>
{#                                            <td class="left-pad">#}
{#                                                <input class="big-checkbox" id="checkbox_sample_time_day" type="checkbox" name="change_sample_time_day" value="assay_sample_time_day" >#}
{#                                            </td>#}
                                            <td class="left-pad">
                                                <div><p id="sample_time_day_tooltip"></p>
                                                    <label for="sample_time_day_tooltip">Sample Time (Day) &nbsp;</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row column-section-padding">
                                    <div class="extra-bottom-padding">
                                        <input type="text" class="form-control" id="time_day" name="time_day" value="1">
                                    </div>
                                </div>
                            </div>

{#                    todo - make the unit form selection and only have one sample time D H or M#}
                            <div class="col-md-3">
                                <div class="plate-map-page-field-labels-small">
                                    <div><p id="sample_time_unit_tooltip"></p>
                                        <label for="sample_time_unit_tooltip">Sample Time Unit - todo, get working* &nbsp;</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="plate-map-page-field-contents-medium required">
                                    {{ form.time_unit }}make DAY the default unit
                                </div>
                            </div>

                            <div id="h_indy_time_hour" class="col-sm-3">
                                <div class="row column-section-padding">
                                    <table>
                                        <tr>
{#                                            <td class="left-pad">#}
{#                                                <input class="big-checkbox" id="checkbox_sample_time_hour" type="checkbox" name="change_sample_time_hour" value="assay_sample_time_hour" >#}
{#                                            </td>#}
                                            <td class="left-pad">
                                                <div><p id="sample_time_hour_tooltip"></p>
                                                    <label for="sample_time_hour_tooltip">Sample Time (Hour) &nbsp;</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row column-section-padding">
                                    <div class="extra-bottom-padding">
                                        <input type="text" class="form-control" id="time_hour" name="time_hour" value="0">
                                    </div>
                                </div>
                            </div>

                            <div id="h_indy_time_minute" class="col-sm-3">
                                <div class="row column-section-padding">
                                    <table>
                                        <tr>
{#                                            <td class="left-pad">#}
{#                                                <input class="big-checkbox" id="checkbox_sample_time_minute" type="checkbox" name="change_sample_time_minute" value="assay_sample_time_minute" >#}
{#                                            </td>#}
                                            <td class="left-pad">
                                                <div><p id="sample_time_minute_tooltip"></p>
                                                    <label for="sample_time_minute_tooltip">Sample Time (Minute) &nbsp;</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row column-section-padding">
                                    <div class="extra-bottom-padding">
                                        <input type="text" class="form-control" id="time_minute" name="time_minute" value="0">
                                    </div>
                                </div>
                            </div>

                        </div>

                        {# duplicate or increment selection #}
                        <div class="indy-instructions">
                            <ul class="help-filled-circle">
                                <li class="h1-level-2">Select Duplicate or Increment option</li>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="plate-map-page-field-labels-small">
                                    <div>
                                        <div><p id="drag_action_tooltip"></p>
                                            <label for="drag_action_tooltip">Duplicate or Increment &nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="plate-map-page-radio-contents">
                                    <label><input id="radio_duplicate" type="radio" class="plate-map-bigger-radio" name="radio_change_duplicate_increment" value="duplicate" checked>
                                        <p class="plate-map-radio-spacing plate-map-no-wrap">Duplicate</p></label>
                                    <label><input type="radio" class="plate-map-bigger-radio" name="radio_change_duplicate_increment" value="increment-ttb">
                                        <p class="plate-map-radio-spacing plate-map-no-wrap">Increment Top to Bottom</p></label>
                                    <label><input type="radio" class="plate-map-bigger-radio" name="radio_change_duplicate_increment" value="increment-btt">
                                        <p class="plate-map-radio-spacing plate-map-no-wrap">Increment Bottom to Top</p></label>
                                </div>
                            </div>
                        </div>
                        {# increment value entry #}
                        <div class="increment-section">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="indy-instructions">
                                        <ul class="help-filled-circle">
                                            <li class="h1-level-2">Add Increment</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="plate-map-no-wrap">
                                        <label class="plate-map-no-wrap" for="increment_value">Increment Amount:</label>
                                        <input type="text" class="form-control plate-map-no-wrap" id="increment_value" name="increment_value" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="indy-instructions">
                            <ul class="help-filled-circle">
                                <li class="h1-level-2">Click the Replace Content button to update the table</li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-primary" id="replace_in_indy_table">Replace Content</button>

                    </div>

                    <div class="empty-section">
                        <div class="indy-instructions">
                            <ul class="help-filled-circle">
                                <li class="h1-level-2">Confirm the content from the selected cells have been removed</li>
                            </ul>
                        </div>
                    </div>

{#                    <div class="copys-section">#}
{#                        <div class="indy-instructions">#}
{#                            <ul class="help-filled-circle">#}
{#                                <li class="h1-level-2">Edit the highlighting as needed</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-sm-2">#}
{#                            </div>#}
{#                            <div class="col-sm-9">#}
{#                                <button type="button" class="btn btn-primary extra-top-margin" id="clear_highlights_indy_table">Clear All Table Highlighting</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="pastes-section">
{#                        <div class="indy-instructions">#}
                            <ul class="help-filled-circle">
                                <li class="h1-level-2">Drag in cell to start paste in row</li>
                            </ul>
{#                        </div>#}
                    </div>

                {% endif %}

                <br><br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="for-sample-metadata-table">
                            <h3>Sample Metadata Table</h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div id="undo_button_div" class="col-sm-1 toggle-display-none">
                            <button type="button" class="btn btn-primary extra-top-margin" id="undoIndyButton">Undo</button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div id="redo_button_div" class="col-sm-1 toggle-display-none">
                            <button type="button" class="btn btn-primary extra-top-margin" id="redoIndyButton">Redo</button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary extra-top-margin" id="clear_highlights_indy_table">Clear Highlighting</button>
                    </div>
                    <div class="col-sm-2">
{#                        {% if update or add %}#}
{#                            <button type="button" class="btn btn-primary extra-top-margin" id="add_row_to_indy_table">Add Row to Table</button>#}
{#                        {% endif %}#}
                    </div>
                </div>
                <div id="div_for_sample_metadata_table" class="for-sample-metadata-table">
                    {# <table id="sample_metadata_table" class="display table table-striped table-hover" cellspacing="0" width="100%">#}
                    {#  note that the table (including the table tag) is made in javascript #}
                    {# </table>#}
                </div>

            </div>

        </div>
    </form>
{% endblock %}
