{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "assays/assaystudy_reproducibility.js" %}"></script>
    <script src="{% static "assays/chart_display.js" %}"></script>
{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        .dataTables_wrapper.no-footer .dataTables_scrollBody {
            border-bottom: 0;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
{#    <li><a href="/assays/assaystudy/reproducibility/">Reproducibility</a></li>#}
    <li><a href="/assays/assaystudy/">Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Reproducibility Analysis</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' %}
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                {{ object }}
            </h1>
        </div>
        <div class="row text-center small-padding-top">
{#            <a href="/assays/assaystudy/reproducibility/" class="btn btn-primary">Reproducibility List</a>#}
{#            <a href="{{ object.get_absolute_url }}" class="btn btn-primary" role="button">Study Landing</a>#}
            <a href="{{ object.get_summary_url }}" class="btn btn-primary" role="button">Study Summary</a>
        </div>
    </div>
{% endblock %}
<br>
{% block fluid-content %}
    <br><div class="text-center"><strong>Reproducibility Breakdown</strong><br><small>(Hover for Details)</small></div>
    <div id="piechart" class="text-center" style="width: 250px; height: 250px; margin: auto; display: block;">Loading...</div>

    <div class="row padded-row">
        <div class="col-xs-12">
        <div id="show_all_repro_wrapper" class="fancy-checkbox table-filter padded-bottom" align="left">
            <input type="checkbox" name="show_all_repro" id="show_all_repro"/>
            <div class="btn-group">
                <label for="show_all_repro" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="show_all_repro" class="btn btn-default active">
                    Show All Sets
                </label>
            </div>
        </div>
        </div>
    </div>

    <div class="row padded-row">
        <div class="col-xs-12">
        <label>Replica Set Table</label>
        <table id='gas-table' class="display table-bordered" cellspacing="0" width="100%">

        </table>
        </div>
    </div>

    <br><hr><br>
    <div id='clone-container'>
        <div id='repro-data' class='container hidden'>
            <div class='row'>
                <div class='col-xs-12'><h2 id='repro-title' class='text-center'></h2></div>
            </div>
            <br>
            <div class='row' style='text-align: left;'>
                <div class='col-md-12'>
                    <h3>Reproducibility Status: <span id='repro-status'></span></h3>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <label>Selection Parameters</label>
                    <table id='selection-parameters' class='table-bordered table-striped'>
                        <tr><th>Study ID</th><td class='studyId'>{{ object }}</td></tr>
                    </table>
                    <br>
                    <label>Chip Replicates Reproducibility Indices</label>
                    <table id='chip-rep-rep-ind' class='table-hover table-striped table-bordered'>

                    </table>
                </div>
                <div class='col-md-6'>
                    <div id='chart1'>

                    </div>
                    <div id='chart2'>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class='row'>
            <div class='col-md-6'>
                <label id='mad-score-label'>Chip MAD Scores of Assay Target/Analyte Measurements </label>
                <div style="display: inline-block; max-height: 300px; max-width: 100%;">
                <table id='mad-score-matrix' class='table-hover table-striped table-bordered pull-left spawned-datatable'>

                </table>
                </div>
            </div>
            <div class='col-md-6'>
                <label id='med-comp-label'>Compare with the Median of the Chip Observations </label>
                <div style="display: inline-block; max-height: 300px; max-width: 100%;">
                <table id='chip-comp-med' class='table-hover table-striped table-bordered pull-left spawned-datatable'>

                </table>
                </div>
            </div>
            <br>
            <div id='overflow' class='row'>

            </div>
            <br><hr><br>
        </div>
    </div>
{% endblock %}
