{# DEPRECATED UNTIL FURTHER NOTICE #}
{#  It was decided not to release this on the front-end #}
{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "assays/assaystudy_access.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/editable_studies/">Editable Studies</a></li>
    {% if object %}
        <li>
			<a href="/assays/{{ object.id }}">{{ object }}</a>
        </li>
    {% endif %}
    <li class="active">
        Edit Access for <em>{{ object }}</em>
    </li>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" >
    {% csrf_token %}

    <h1>
        Edit Access for <em>{{ object }}</em>
    </h1>

    {% include "submit.html" with flag="y" group=form.instance.group.name %}

    {% include 'errors.html' %}

    {% include 'tracking.html' with study_submit='true' %}

    <legend>Access Groups</legend>
    <div class="alert alert-warning" role="alert">
        <span class="sr-only">Warning:</span>
        <strong>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Please note that access to a study will change only after it has been signed off on.
        </strong>
    </div>

    {# Maybe we won't have "restricted" here yet... #}
    {% comment %}
    <div class="alert alert-info" role="alert">
        <span class="sr-only">Info:</span>
        Changing to "Unrestricted" will make this study visible to all registered users after Sign Off.
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <label class="radio-inline lead"><input type="radio" id="id_restricted_radio" name="restricted_radio">Restricted</label>
            <label class="radio-inline lead"><input type="radio" id="id_unrestricted_radio" name="restricted_radio">Unrestricted</label>
        </div>
    </div>
    {% endcomment %}

    <div class="no-selectize" hidden>
        {{ form.access_groups }}
    </div>

{#    <div class="form-group">#}
{#        <label for="restricted" class="col-sm-2 control-label">Restrict Access</label>#}
{#        <div class="col-sm-10">#}
{#          {{ form.restricted }}#}
{#          <div>#}
{#              <em>Check</em> to make this study visible only to users with group access.#}
{#          </div>#}
{#        </div>#}
{#    </div>#}

    <div id="access_group_section">
    <div class="alert alert-info" role="alert">
        <span class="sr-only">Info:</span>
        Grant access to members of a group by clicking a group name under "Hidden from" and pressing "Add."
        <br>
        Revoke access by selecting a group under "Visible to" and pressing "Remove."
        <br>
        You can select multiple groups by holding down control (or command on mac) and clicking the desired groups.
    </div>

    <div class="form-group">
    <div class="col-sm-5 lead text-danger">
      <label for="hidden_from">
          Hidden from
      </label>
      <select multiple="multiple" id='id_hidden_from' class="form-control no-selectize" size='12'></select>
    </div>

    <div id="access_group_buttons" class="col-sm-2 text-center">
        <br>
        <br>
        <a id='id_all_right' class="btn btn-success btn-block">
          Add All <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
        <br>
        <a id='id_right' class="btn btn-success btn-block">
          Add <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
        <br>
        <a id='id_left' class="btn btn-danger btn-block">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Remove
        </a>
        <br>
        <a id='id_all_left' class="btn btn-danger btn-block">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-left"></span> Remove All
        </a>
    </div>

    <div class="col-sm-5 lead text-success">
        <label for="visible_to">
            Visible to
        </label>
      <select multiple="multiple" id='id_visible_to' class="form-control no-selectize" size='12'></select>
    </div>
    </div>
    </div>
</form>
{% endblock %}
