{% extends "base.html" %}
{% load static %}
{# TODO MUST CHANGE IN 1.9 #}
{#{% load url from future %}#}
{% load humanize %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        svg > g:last-child > g:last-child {
            pointer-events: none;
        }
        div.google-visualization-tooltip {
            pointer-events: none;
        }
    </style>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/chart_display.js" %}"></script>
    <script src="{% static "assays/assaystudy_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{{ editable }}Studies</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                {{ editable }}Studies
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="{% url 'assay_study_add' %}"  class="btn btn-lg btn-success" role="button">Add Study</a>
            {% if not editable %}
                <a href="{% url 'editable_study_list' %}" class="btn btn-lg btn-primary" role="button">Show Editable Studies Only</a>
            {% else %}
                <a href="{% url 'assay_study_list' %}" class="btn btn-lg btn-primary" role="button">Show All Studies</a>
            {% endif %}
        </div>

        <table hidden id="studies" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
{#                    <th>Study ID</th>#}
                    <th>Study Name</th>
                    <th>Start Date</th>
                    <th>Study Types <span data-toggle="tooltip" title="CC = Chip Characterization, DM = Disease Model, EFF = Efficacy, TOX = Toxicity" class="glyphicon glyphicon-question-sign" aria-hidden="true" data-placement="bottom"></span></th>
                    <th>MPS Models</th>
                    <th>Data Points</th>
                    <th>Images</th>
                    <th>Videos</th>
                    <th>Supporting Data Files</th>
{#                    <th>Integrated Study Configuration</th>#}
                    <th>Description</th>
                    <th>Intra-Study Reproducibility Status <span data-toggle="tooltip" title="Hover over pie charts for details." class="glyphicon glyphicon-question-sign" aria-hidden="true" data-placement="bottom"></span></th>
                    <th>Data Provider</th>
                    <th>Data Entry</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for study in object_list %}
                {% if not reproducibility or study.data_points %}
                <tr class="study" id={{ study.id }} name={{ study.id }}>
                    {% if reproducibility %}
                    <td><a class="btn btn-primary" href="{% url 'assay_study_reproducibility' study.id %}">Reproducibility</a></td>
                    {% else %}
                    <td><a class="btn btn-primary" href="{% url 'assay_study_index' study.id %}">View/Edit</a></td>
                    {% endif %}
{#                    <td>{{ study.assay_run_id }}</td>#}
                    <td style="word-wrap: break-word">{{ study.name }}</td>
                    <td>{{ study.start_date|date:"M d, Y" }}</td>
                    <td>{{ study.get_study_types_string }}</td>
                    <td>{{ study.organ_models|default:"-No MPS Models-" }}</td>
{#                    <td>{{ study.study_configuration }}</td>#}
                    {% if study.data_points %}
                        <td class="text-success">{{ study.data_points|intcomma }}</td>
                    {% else %}
                        <td class="text-danger">0</td>
                    {% endif %}
                    {% if study.images %}
                        <td class="text-success">{{ study.images|intcomma }}</td>
                    {% else %}
                        <td class="text-danger">0</td>
                    {% endif %}
                    {% if study.videos %}
                        <td class="text-success">{{ study.videos|intcomma }}</td>
                    {% else %}
                        <td class="text-danger">0</td>
                    {% endif %}
                    {% if study.supporting_data %}
                        <td class="text-success">{{ study.supporting_data|intcomma }}</td>
                    {% else %}
                        <td class="text-danger">0</td>
                    {% endif %}
                    <td>{{ study.description }}</td>
                    <td>
                        <div id="piechart{{ forloop.counter0 }}" data-nums="{{study.repro_nums}}" class="text-center" style="width: 70px; height: 70px; margin: auto; display: block;"></div>
                    </td>
                    <td><a href='/microdevices/center/{{ study.center.id }}/' target='_blank' title="{{ study.center.name }}">{{ study.center.center_id }}</a></td>
                    <td>
                        {{ study.full_creator }}
                    </td>
                    <td>
                        {% if study.signed_off_by %}
                            {% if study.stakeholder_sign_off and not study.restricted %}
                                <span hidden>3</span>
                                <span title="This study can be viewed by all registered users" class="glyphicon glyphicon-eye-open text-info" aria-hidden="true"></span>
                            {% elif study.stakeholder_sign_off %}
                                <span hidden>2</span>
                                <span title="All stakeholders have approved release of this data" class="glyphicon glyphicon-pencil text-warning" aria-hidden="true"></span>
                            {% else %}
                                <span hidden>1</span>
                            {% endif %}
                            <span title="This entry was signed off on by {{ study.full_reviewer }} on {{ study.signed_off_date }}: '{{ study.signed_off_notes }}'" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if study.flagged %}
                            <span hidden>0</span>
                            <span title="This entry is flagged for review: '{{ study.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
