{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "assays/image_interface.js" %}"></script>
    <script src="{% static "js/display_datatable.js" %}"></script>
    <script>
        var metadata_list = JSON.parse("{{ metadata|escapejs|safe }}");
        var tableRows = JSON.parse("{{ tableRows|escapejs|safe }}");
        var tableCols = JSON.parse("{{ tableCols|escapejs|safe }}");
        var tableData = JSON.parse("{{ tableData|escapejs|safe }}");
    </script>
    <style>
        #handle-contrast, #handle-brightness {
            width: 3em;
            height: 1.6em;
            top: 50%;
            margin-top: -.8em;
            text-align: center;
            line-height: 1.6em;
        }

        .hidden-checkboxes input[type=checkbox]{
            display: none;
        }

        .hand-cursor {
            cursor: pointer;
        }

        .btn-3d {
            transition:all .08s linear;
            position:relative;
            outline:medium none;
            -moz-outline-style:none;
            border:0px;
            margin-right:10px;
            margin-top:15px;
        }

        .btn-3d:focus {
            outline:medium none;
            -moz-outline-style:none;
        }

        .btn-3d.active {
            top:9px;
        }

        .btn-default {
            box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
            background-color:#fff;
        }
  </style>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ object.get_list_url }}">All Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Study Images</li>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                {{ object }}
            </h1>
        </div>
        <div class="row text-center small-padding-top">
{#            <a href="/assays/{{ object.id }}" class="btn btn-primary" role="button">Study Landing</a>#}
            <a href="{{ object.get_summary_url }}" class="btn btn-info" role="button">Study Summary</a>
        </div>
    </div>

    <legend>Channels to Display</legend>

    <div id="filter_table" class="row no-padding hidden-checkboxes">
    </div>
{% endblock %}

{% block fluid-content %}
    <div class="row no-padding">
    <div id="image_mosaic" class="col-sm-12 col-md-10 col-md-offset-1 large-padding-top">
        <table id="image_table" class="table table-hover table-bordered"></table>
    </div>
    </div>

    <div id="image_popup"><div id="myDialogText"></div></div>

    <nav id="floating-sliders" class="footer navbar-fixed-bottom hidden-print floating-submit-row">
        <div class="container large-padding-top">
            <div class="row adjustment-sliders">
                <div class="col-xs-12 col-md-6">
                    <label>Contrast</label>
                    <div id="slider-contrast">
                        <div id="handle-contrast" class="ui-slider-handle"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <label>Brightness</label>
                    <div id="slider-brightness">
                        <div id="handle-brightness" class="ui-slider-handle"></div>
                    </div>
                </div>
                <div style="padding-bottom: 10px;" class="col-xs-12 large-padding-top text-center">
                    <button id="reset-to-default" class="btn btn-primary">Reset Sliders to Default</button>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
