{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/assay_pbpk.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li>Query Data</li>
    <li class="active">PBPK Analysis</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' %}
{% endblock %}

{% block fluid-content %}

    <div class="row padded-row text-center padded-bottom large-padding-top hidden-print">
        <a href="/assays/pbpk_filter/?filters=" type="button" class="btn btn-xlarge btn-primary text-center submit-button" id="back_button">
            <span class="glyphicon glyphicon glyphicon-hand-left" aria-hidden="true"></span>
            Selection
        </a>
    </div>

    {% include 'assays/sidebar_extras.html' %}

    <!-- <div class="well">
        <div id="intro-text">
            Here be descriptive text regarding PBPK things.
        </div>
        <div class="text-center">
            <button id="toggle-intro-text" class="btn btn-primary">Show/Hide Introduction</button>
        </div>
    </div> -->

    <h3>Select a Dataset for PBPK Analysis</h3>
    <table id='group-table' class="display table-bordered" width="100%">

    </table>

    <div id="pbpk-information" hidden>
        <hr>
        <div class="row large-padding-top">
            <div class="col-sm-12 col-lg-6">
                <div id="summary-graph">

                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <table id="cell-profiles-table" class="display table-bordered">
                    <tr>
                        <th>Select</th>
                        <th>Cell Profile</th>
                        <th>Cells</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <br>
                <div id="cell-free">
                    &nbsp;&nbsp;<input type="checkbox" id="cell-free-checkbox" class="big-checkbox">
                    <label>&nbsp;&nbsp;Include Cell-free Data</label>
                </div>
                <br>
                <div class="row large-padding-top">
                    <!-- <div class="col-sm-3">
                    </div> -->
                    <div class="col-sm-6">
                        <h4>Start / End Times (Hours)</h4>
                        <table class="display table-bordered" style="width: 100%">
                            <tr>
                                <th id="start-time-label">Steady State Start Time</th>
                                <td><select id="clearance-time-start" class="required"></td>
                            </tr>
                            <tr>
                                <th id="end-time-label">Steady State End Time</th>
                                <td><select id="clearance-time-end" class="required"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row large-padding-top">
            <div class="col-sm-12 col-lg-6">
                <h4 hidden>MPS Model PK Experiment Parameters</h4>
                <table class="display table-bordered" style="width: 100%;" hidden>
                    <tr>
                        <th>PK Type</th>
                        <td><textarea id="experiment-pk-type" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Compound</th>
                        <td><textarea id="experiment-compound" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Study</th>
                        <td><textarea id="experiment-study" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>MPS Model</th>
                        <td><textarea id="experiment-model" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Device</th>
                        <td><textarea id="experiment-device" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Target/Analyte</th>
                        <td><textarea id="experiment-target" rows="1" style="resize: none; display: block; width: 100%;" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Method/Kit</th>
                        <td><textarea id="experiment-method" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Sample Location</th>
                        <td><textarea id="experiment-location" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Total Device Volume (mL)</th>
                        <td><textarea id="experiment-total-vol" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Flow Rate (&micro;L/hour)</th>
                        <td><textarea id="experiment-flow-rate" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th style="width: 1px; white-space: nowrap;">No. of Cells in MPS Model</th>
                        <td><textarea id="experiment-number-cells" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                </table>
                <h4>Model Parameters</h4>
                <table class="display table-bordered" style="width: 100%">
                    <tr>
                        <th style="width: 1px; white-space: nowrap;">No. of Cells in Chip (for Calculations)</th>
                        <td><textarea id="number-of-cells-calc" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                </table>
                <br>
                <h4>Compound Physicochemical Parameters</h4>
                <table class="display table-bordered" style="width: 100%">
                    <tr>
                        <th>Compound</th>
                        <td><textarea id="compound-compound" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-compound-mw">MW </th>
                        <td><textarea id="compound-mw" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-compound-logd">logD </th>
                        <td><textarea id="compound-logd" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-compound-pka">pKa </th>
                        <td><textarea id="compound-pka" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <!-- <tr>
                        <th id="label-compound-bioavailability">Bioavailability (F) </th>
                        <td><textarea id="compound-bioavailability" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr> -->
                    <tr>
                        <th id="label-compound-fu" style="width: 135px; white-space: nowrap;">f<sub>u</sub> </th>
                        <td><textarea id="compound-fu" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-input-fa">F<sub>a</sub> </th>
                        <td><textarea id="input-fa" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-input-ka" style="width: 105px; white-space: nowrap;">K<sub>a</sub> (1/h) </th>
                        <td><textarea id="input-ka" class="required" rows="1" style="resize: none; display: block; width: 100%">3.84</textarea></td>
                    </tr>
                </table>
                <br>
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <br>
                        &nbsp;&nbsp;<input type="radio" id="acidic-checkbox" class="big-checkbox" name="acid-base" value="acidic">
                        <label>&nbsp;&nbsp;Acidic</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;<input type="radio" id="basic-checkbox" class="big-checkbox" name="acid-base" value="basic" checked>
                        <label>&nbsp;&nbsp;Basic</label>
                    </div>
                    <div class="col-xs-6">
                        <button id="button-clearance" class="btn btn-lg btn-primary">Calculate Clearance</button>
                    </div>
                </div>
                <h4>Predicted MPS Model Physiological Parameter</h4>
                <table class="display table-bordered" style="width: 100%">
                    <tr>
                        <th id="label-input-icl">CL<sub>H</sub> (mL/min) </th>
                        <td><textarea id="input-icl" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h4>Species Parameters</h4>
                <table class="display table-bordered" style="width: 100%;">
                    <tr>
                        <th>Species </th>
                        <td><textarea id="species-species" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Organ </th>
                        <td><textarea id="species-organ" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                    </tr>
                    <tr>
                        <th>Body Mass (kg) </th>
                        <td><textarea id="species-body-mass" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-total-organ-weight">Total Organ Weight (g) </th>
                        <td><textarea id="species-total-organ-weight" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-organ-tissue">Organ Tissue (Cells/g) </th>
                        <td><textarea id="species-organ-tissue" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-plasma-vol">Blood Volume (L) </th>
                        <td><textarea id="species-plasma-vol" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-vp">V<sub>p</sub> (L/kg) </th>
                        <td><textarea id="species-vp" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-ve">V<sub>E</sub> (L/kg) </th>
                        <td><textarea id="species-ve" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-rei">R<sub>E/I</sub> </th>
                        <td><textarea id="species-rei" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-vr">V<sub>R</sub> (L/kg) </th>
                        <td><textarea id="species-vr" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-asr">Absorptive Surface Area (m<sup>2</sup>) </th>
                        <td><textarea id="species-asr" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-species-ki" style="width: 215px; white-space: nowrap;">K<sub>i</sub> (1/h) </th>
                        <td><textarea id="species-ki" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                </table>
                <br>
                <label>References: </label><div id="species-reference"></div><br>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id='clearance-error-container' hidden>
                    <div class="alert alert-danger text-center" role="alert">
                        <h1><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><br><span id="clearance-error-text"></span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 no-padding">
                        <div id="pk-summary-graph" style="display: block; margin: 0 auto; width: 100%;">

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 no-padding text-center">
                        <div id="pk-clearance-graph" style="display: block; margin: 0 auto; width: 100%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row large-padding-top">
            <!-- <div class="col-sm-12 col-lg-2">

            </div> -->
            <div class="col-xs-12">
                <div class="text-center" hidden>
                    <button id="toggle-continuous-infusion-table" class="btn btn-lg btn-primary">Toggle Experimental Results Table</button>
                </div>
                <table id="continuous-infusion-table" class="display table-bordered" style="width: 100%" hidden>

                </table>
            </div>
        </div>
        <br>
        <div class="row large-padding-top">
            <div class="col-sm-12 col-lg-6">
                <h4>Input to Estimate Dosing</h4>
                <table class="display table-bordered" style="width: 100%">
                    <tr>
                        <th id="label-input-dosing-cp">Desired Cp (&micro;M) </th>
                        <td><textarea id="input-dosing-cp" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-input-dosing-interval" style="width: 200px; white-space: nowrap;">Desired Dose Interval (h) </th>
                        <td><textarea id="input-dosing-interval" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <!-- <tr>
                        <th style="width: 200px; white-space: nowrap;">Estimated Fraction Absorbed</th>
                        <td><textarea id="input-dosing-absorbed" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr> -->
                </table>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h4>Input to Predict Plasma Levels</h4>
                <table class="display table-bordered" style="width: 100%">
                    <tr>
                        <th id="label-input-plasma-dose">Dose (mg) </th>
                        <td><textarea id="input-plasma-dose" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                    <tr>
                        <th id="label-input-plasma-dose-interval" style="width: 115px; white-space: nowrap;">Dose Interval (h) </th>
                        <td><textarea id="input-plasma-dose-interval" class="required" rows="1" style="resize: none; display: block; width: 100%"></textarea></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row large-padding-top">
            <div class="col-sm-12 col-lg-6">

            </div>
            <div class="col-sm-12 col-lg-6 text-center">
                <button id="button-dosing" class="btn btn-lg btn-primary">Run PBPK Predictions</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xl-12">
                <div id='pbpk-error-container' hidden>
                    <div class="alert alert-danger text-center" role="alert">
                        <h1><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><br><span id="pbpk-error-text"></span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="calculated-pk-container" hidden>
        <hr>
        <h3>Predicted Results</h3>
        <div class="row large-padding-top">
            <div class="col-sm-12 col-lg-4">
                <div id="plasma-container">
                    <h4>Calculated PK Parameters</h4>
                    <table class="display table-bordered" style="width: 100%">
                        <tr>
                            <th id="label-pk-param-vdss">VD<sub>ss</sub> (L) </th>
                            <td><textarea id="pk-param-vdss" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-param-ke">k<sub>e</sub> (1/h) </th>
                            <td><textarea id="pk-param-ke" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-param-halflife">Elimination Half-life (h) </th>
                            <td><textarea id="pk-param-half-life-3-confirmed" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-param-auc">AUC (mg*h/L) </th>
                            <td><textarea id="pk-param-auc" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr hidden>
                            <th id="label-pk-param-elogd">ELogD </th>
                            <td><textarea id="pk-param-elogd" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr hidden>
                            <th id="label-pk-param-vc">V<sub>c</sub> (L) </th>
                            <td><textarea id="pk-param-vc" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr hidden>
                            <th id="label-pk-param-logvow">Log<sub>vo/w</sub> </th>
                            <td><textarea id="pk-param-logvow" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr hidden>
                            <th id="label-pk-param-cl">CL (L/h) </th>
                            <td><textarea id="pk-param-cl" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr hidden>
                            <th id="label-pk-param-fut">f<sub>ut</sub> </th>
                            <td><textarea id="pk-param-fut" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr hidden>
                            <th id="label-pk-param-fi">f<sub>i(7.4)</sub> </th>
                            <td><textarea id="pk-param-fi" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                    </table>
                </div>
                <div id="plasma-dose-container">
                    <h4>Single Oral Dose</h4>
                    <table class="display table-bordered" style="width: 100%">
                        <tr>
                            <th id="label-pk-single-mmax">M<sub>max</sub> (mg) </th>
                            <td><textarea id="pk-single-mmax" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-single-cmax">C<sub>max</sub> (mg/L) </th>
                            <td><textarea id="pk-single-cmax" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-single-tmax">t<sub>max</sub> (h) </th>
                            <td><textarea id="pk-single-tmax" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                    </table>
                    <h4>Multiple Oral Doses</h4>
                    <table class="display table-bordered" style="width: 100%">
                        <tr>
                            <th id="label-pk-multi-mss">M<sub>ss</sub> (mg) </th>
                            <td><textarea id="pk-multi-mss" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-multi-css">C<sub>ss</sub> (mg/L) </th>
                            <td><textarea id="pk-multi-css" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-multi-tmax" style="width: 155px; white-space: nowrap;">t<sub>max</sub> (h) </th>
                            <td><textarea id="pk-multi-tmax" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                    </table>
                </div>
                <div id="dosing-container">
                    <h4>Dosing to Reach Desired Plasma Levels</h4>
                    <table class="display table-bordered" style="width: 100%">
                        <tr>
                            <th id="label-pk-desired-dose">Dose<sub>calc</sub> (mg) </th>
                            <td><textarea id="pk-desired-dose" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-desired-50">No. of Doses to Reach 50% </th>
                            <td><textarea id="pk-desired-50" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                        <tr>
                            <th id="label-pk-desired-90" style="width: 155px; white-space: nowrap;">No. of Doses to Reach 90% </th>
                            <td><textarea id="pk-desired-90" rows="1" style="resize: none; display: block; width: 100%" disabled></textarea></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8 text-center">
                <div id="dosing-chart-container">
                    <div id="dosing-graph">

                    </div>
                    <div id="dosing-slider" style="margin-right: 2em;">
                        <div id="dosing-slider-handle" class="ui-slider-handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
