{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/assaystudy_summary.js" %}"></script>
    <script src="{% static "assays/chart_display.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">All Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Study Summary</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' with charts="true" %}
{% endblock %}

{# Not an ideal method; will need to revise sizing issues soon #}
{% block fluid-content %}
    <div class="well large-margin-top">
        <div class="row text-center">
            <h1>
                Study Summary for:<br>
                <em>{{ object }}</em>
            </h1>
        </div>
        <div class="row text-center">
            <a href="{{ object.get_reproducibility_url }}" class="btn btn-primary" role="button">Reproducibility</a>
            <a href="{{ object.get_power_analysis_url }}" class="btn btn-primary" role="button">Power Analysis</a>
            <a href="{{ object.get_images_url }}" class="btn btn-primary" role="button">Images</a>
            <a id="export_button" href="/assays/assaystudy/{{ object.id }}/data/" class="btn btn-info" role="button">Download Data</a>
            <label class="radio-inline">
                <input type="checkbox" name="export_include_all" id="export_include_all" />
                <strong>Include Excluded Data</strong>
            </label>
        </div>
        {% if user_is_group_admin %}
            <div class="row text-center small-padding-top">
                <a href="../sign_off" class="btn btn-success" role="button">View/Edit Sign Off Status of this Study</a>
            </div>
        {% endif %}
        {#  TODO TODO TODO #}
        {% if user_is_stakeholder_admin %}
            <div class="row text-center small-padding-top">
                <a href="../sign_off" class="btn btn-success" role="button">View/Edit Approval Status of this Study</a>
            </div>
        {% endif %}
    </div>

    {% if object.description or object.study_configuration or object.protocol %}
        <legend>Description</legend>

        <div class="padded-bottom">
        <div class="panel panel-info">
        <div class="panel-body">
        {% if object.description %}
            <p>
                {{ object.description|linebreaksbr }}
            </p>
        {% endif %}

        {% if object.study_configuration %}
            <p>
                <b>Configuration:</b> {{ object.study_configuration }}
            </p>
        {% endif %}

        {% if object.protocol %}
            <p>
                <b>Protocol:</b> <a href="/media/{{ object.protocol }}">{{ object.protocol }}</a>
            </p>
        {% endif %}
        </div>
        </div>
        </div>
    {% endif %}

    <div id="image_display">
        <div id="current_display">
            {% if object.image %}
                <img class="img-responsive center-block padded-bottom" src="/media/{{ object.image }}">
            {% endif %}
        </div>
    </div>

    {% if object.assaystudyassay_set.count %}
    <div class="padded-bottom">
    <legend>Assays</legend>
    <table id="assay_table" style="width: 100%" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Target/Analyte</th>
                <th>Method/Kit</th>
                <th>Readout Unit</th>
            </tr>
        </thead>
        <tbody>
            {% for assay in object.assaystudyassay_set.all %}
                <tr class="inline" id="assay-{{ forloop.counter0 }}">
                    <td><a href="/assays/target/{{ assay.target.id }}" target="_blank">{{ assay.target }}</a></td>
                    <td><a href="/assays/method/{{ assay.method.id }}" target="_blank">{{ assay.method }}</a></td>
                    <td>{{ assay.unit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}

    {% include 'assays/sidebar_extras.html' with show_hide="true" %}

    {# Note indicating no data to display initially #}
    <div id="charts" class="padded-bottom">
        No data to display
    </div>

{#    <div id="heatmap_wrapper" class="padded-bottom">#}
{#        <div class="row">#}
{#            <div id="heatmap_filters" class="col-xs-12">#}
{#                <label for="id_heatmap_matrix">Matrix#}
{#                <select id="id_heatmap_matrix" data-heatmap-index="0"></select>#}
{#                </label>#}
{#                <label for="id_heatmap_target">Target#}
{#                <select id="id_heatmap_target" data-heatmap-index="1"></select>#}
{#                </label>#}
{#                <label for="id_heatmap_method">Method#}
{#                <select id="id_heatmap_method" data-heatmap-index="2"></select>#}
{#                </label>#}
{#                <label for="id_heatmap_unit">Unit#}
{#                <select id="id_heatmap_unit" data-heatmap-index="3"></select>#}
{#                </label>#}
{#                <label for="id_heatmap_sample_location">Sample Location#}
{#                <select id="id_heatmap_sample_location" data-heatmap-index="4"></select>#}
{#                </label>#}
{#                <label for="id_heatmap_subtarget">Subtarget#}
{#                <select id="id_heatmap_subtarget" data-heatmap-index="5"></select>#}
{#                </label>#}
{#                <label for="id_heatmap_time">Time#}
{#                <select id="id_heatmap_time" data-heatmap-index="6"></select>#}
{#                </label>#}
{#            </div>#}
{#        </div>#}
{##}
{#    <div class="well padded-bottom">#}
{#        <div id="matrix_wrapper" class="overflow-scroll" style="max-height:800px;">#}
            {# NO INLINE STYLE PLEASE #}
{#            <table id="matrix_table" class="table">#}
{#                <tbody id="matrix_body"></tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}

    {% include 'assays/group_table.html' %}

    {% if object.assaystudyreference_set.count %}
        {% include 'assays/reference_table.html' with references_set=object.assaystudyreference_set.all %}
    {% endif %}

    {% if object.assaystudysupportingdata_set.count %}
        <legend>Supporting Data</legend>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Description</th>
              <th>Supporting Data File</th>
            </tr>
            </thead>
            <tbody>
                {% for supporting_data in object.assaystudysupportingdata_set.all %}
                    <tr>
                        <td>{{ supporting_data.description }}</td>
                        <td>
                            <a target="_blank" href="/media/{{ supporting_data.supporting_data }}">
                              {{ supporting_data.supporting_data }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'assays/assaydatafileupload_table.html' %}
{% endblock %}
