{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block breadcrumbs %}
    <li><a href="/assays/assayplatesetup/">Plate Setups</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block load %}
    <link href="{% static "assays/customize_admin.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/cookies.js" %}"></script>
    <script src="{% static "assays/plate_display.js" %}"></script>
    <script src="{% static "assays/assayplatesetup_add.js" %}"></script>
{% endblock %}

{# TODO REVIEW THIS AND OTHER DETAIL PAGES #}
{% block fluid-content %}
    <div class="container">
    <legend><h1>Plate Setup: {{ object.assay_plate_id }}</h1></legend>

    <div class="row">
        <div class="col-sm-2 lead text-right-responsive">
            <b>Study:</b>
        </div>
        <div class="col-sm-10 lead">
            <a href="/assays/{{ object.assay_run_id.id }}">{{ object.assay_run_id }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 lead text-right-responsive">
            <b>Plate Layout:</b>
        </div>
        <div class="col-sm-10 lead">
            <a href="/assays/assaylayout/{{ object.assay_layout.id }}">{{ object.assay_layout }}</a>
        </div>
    </div>

    {% if object.scientist %}
        <div class="row">
            <div class="col-sm-2 lead text-right-responsive">
                <b>Scientist:</b>
            </div>
            <div class="col-sm-10 lead">
                {{ object.scientist }}
            </div>
        </div>
    {% endif %}

    {% if object.notebook %}
        <div class="row">
            <div class="col-sm-2 lead text-right-responsive">
                <b>Notebook:</b>
            </div>
            <div class="col-sm-10 lead">
                {{ object.notebook }}, page {{ object.notebook_page }}
            </div>
        </div>
    {% endif %}

    {% if object.notes %}
        <div class="row">
            <div class="col-sm-2 lead text-right-responsive">
                <b>Notes:</b>
            </div>
            <div class="col-sm-10 lead">
                {{ object.notes }}
            </div>
        </div>
    {% endif %}

    {% if object.assayplatecells_set.all %}
        <legend><b>Cells</b></legend>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cell Sample</th>
                <th>Cell Biosensor</th>
                <th>Density</th>
                <th>Unit</th>
                <th>Passage#</th>
            </tr>
            </thead>
            <tbody>
            {% for cell in object.assayplatecells_set.all %}
                <tr>
                    <td>{{ cell.cell_sample }}</td>
                    <td>{{ cell.cell_biosensor }}</td>
                    <td>{{ cell.cellsample_density|intcomma }}</td>
                    <td>{{ cell.get_cellsample_density_unit_display }}</td>
                    <td>{{ cell.cell_passage }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

    {# CONTRIVED: REFACTOR SOON #}
    <div class="padded-row">
        <div class="inline-group"></div>
    </div>

{% endblock %}
