{% extends "base.html" %}
{% load static %}
{# TODO MUST CHANGE IN 1.9 #}
{#{% load url from future %}#}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        svg > g:last-child > g:last-child {
            pointer-events: none;
        }
        div.google-visualization-tooltip {
            pointer-events: none;
        }
    </style>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/chart_display.js" %}"></script>
    <script src="{% static "assays/assaystudy_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{{ editable }}Studies</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                {{ editable }}Studies
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="{% url 'assay_study_add' %}"  class="btn btn-lg btn-success" role="button">Add Study</a>
            <a href="{% url 'assaystudyset-add' %}" class="btn btn-lg btn-success" role="button">Create Study Set</a>
            {% if not editable %}
                <a href="{% url 'editable_study_list' %}" class="btn btn-lg btn-primary" role="button">Show Editable Studies Only</a>
            {% else %}
                <a href="{% url 'assay_study_list' %}" class="btn btn-lg btn-primary" role="button">Show All Studies</a>
            {% endif %}
        </div>

        {% include 'assays/study_list.html' with studies=object_list %}
    </div>
{% endblock %}
