{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/assaystudy_power_analysis_study.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ object.get_list_url }}">All Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Power Analysis</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' %}
{% endblock %}

{% block fluid-content %}
    <div class="well">
        <div class="row text-center">
            <h1>
                Power Analysis for<br>{{ object }}
            </h1>
        </div>
        <div class="row text-center small-padding-top">
            <a href="{{ object.get_summary_url }}" class="btn btn-primary" role="button">Study Summary</a>
        </div>
    </div>

    {% include 'assays/sidebar_extras.html' %}

    <label>Power Analysis Group Table</label>
    <table id='group-table' class="display table-bordered" width="100%">

    </table>

    <hr>

    <!-- <div id='selection-parameters-table-container' class="row padded-bottom" hidden>
        <div class="col-xs-12">
            <label>Selection Parameters</label>
            <table data-id='selection-parameters' class="table table-striped table-condensed table-bordered bg-white">

            </table>
        </div>
    </div> -->
    <div id='compounds-table-container' hidden>
        <label>Select Two Compounds for Power Analysis</label>
        <table id='compounds-table' class="display table-bordered" width="100%">

        </table>

        <
    </div>

    {# Just a spacer (and yes, inline styles are ugly)#}
    <div style="padding-bottom: 250px;"></div>
{% endblock %}
