{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "assays/assaymethod_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Methods</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Method/Kits
            </h2>
        </legend>
        <div id="methods" style="display: none;">
            <table id="methods-table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>View Details</th>
                        <th>Method</th>
                        <th>Measurement Type</th>
                        <th>Supplier</th>
                        <th>Description</th>
                        <th>Protocol</th>
                    </tr>
                </thead>

                <tbody>
                {% for method in object_list %}
                     <tr>
                        <td><a class="btn btn-primary" title="View paired target/analytes." href="{{ method.id }}">View</a></td>
                        <!--<td>{% if method.alt_name %}{{ method.alt_name }}{% else %}{{ method.name }}{% endif %}</td>-->
                        <td>{{ method.name }}</td>
                        <td>{{ method.measurement_type }}</td>
                        <td>{{ method.supplier }}</td>
                        <td>{{ method.description }}</td>
                        <td>{% if method.protocol_file %}<a href="{{ method.protocol_file.url }}" download><span data-toggle="tooltip" title="Download protocol file." class="glyphicon glyphicon-file"></span></a>{% else %}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
