{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/assay_shared_omics.js" %}"></script>
    <script src="{% static "assays/assayomicdatafileupload_aur.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
{% endblock %}


{# this template is add, update, and reveiw (aur) #}
{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a>
    <li><a href="{{ form.instance.study.get_absolute_url }}">{{ form.instance.study }}</a></li>
    {% if object %}
        <li><a href="{% url "assayomicdatafileupload-index" object.study.id %}">Assay Omic Data Files</a>
    {% else %}
        <li><a href="{% url "assayomicdatafileupload-index" form.instance.study_id %}">Assay Omic Data Files</a>
    {% endif %}
    <li class="active">
        {% if object %}
            <em>{{ object }}</em>
        {% else %}
            Add
        {% endif %}
    </li>
{% endblock %}

{% block sidebar %}
    <div class="toggle-display-none" id="omic_preview_the_graphs_section2">
        {% include 'assays/grouping_filtering.html' with omics="true"%}
    </div>
{% endblock %}

{% block fluid-content %}

    <form name="omic_file" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="padded-bottom">

            <div class="well">
                <h1 class="text-center">
                    <em><b>
                    {% if update %}
                        Update
                    {% else %}
                        {% if review %}
                            Review
                        {% else %}
                            Add
                        {% endif %}
                    {% endif %}
                    Omic File
                    </b></em>
                    <br>
                    <br>
                    for Study {{ form.instance.study }}
                    <br>
                {% csrf_token %}
                </h1>
            </div>

            {% if not review %}
                {% include "submit.html" with flag="y" creator=object.created_by.id %}
            {% endif %}

            {% include "errors.html" %}

{#            {% if form.errors %}#}
{#                {% for field in form %}#}
{#                    {% if field.errors %}#}
{#                        {% for error in field.errors %}#}
{#                            <div id="form_errors" class="alert alert-danger" role="alert">#}
{#                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                                <span class="sr-only">Error:</span>#}
{#                                {{field.label}}: {{error}}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#            {% if form.non_field_errors %}#}
{#                <div id="non_form_errors" class="alert alert-danger" role="alert">#}
{#                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Error:</span>#}
{#                    {{ form.non_field_errors }}#}
{#                    form.errors<br>#}
{#                    {{ form.errors }}<br>#}
{#                </div>#}
{#            {% endif %}#}

            {# main #}
{#            <div class="container">   NO CONTAINERs   #}
            {# pass to js file need for use in js #}
            <div>
                <div class="hidden" id="check_load">
                    {{ page_called }}
                </div>
                <div class="hidden" id="this_file_id">
                    {{ object.id }}
                </div>
                <div class="hidden" id="this_study_id">
                    {{ form.instance.study_id }}
                </div>
                <div class="hidden" id="show_hide_graph">
                    hide
                </div>
            </div>

            {% if update or add %}
                <div class="hidden" id="upload_file"></div>
                {% if form.omic_data_file.errors %}
                    {% for error in form.omic_data_file.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endfor %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label class="col-sm-2 control-label" for="protocol">Omic Data File*</label>
                    <div class="col-sm-10">
                        {{ form.omic_data_file }}
                        <div>
{#                                <br>#}
                            <b>Acceptable Formats: Excel and CSV. </b>
                        </div>
                        <button type="button" class="btn" id="fileFormatDetailsButton">File Format Details</button>
                        <br>
                        <div class="toggle-display-none" id="omic_file_format_details_section">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div>
                                        <div><p id="omic_file_format_deseq2_log2fc_tooltip"></p>
                                            <label for="omic_file_format_deseq2_log2fc_tooltip">Log 2 Fold Change Files &nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="plate-map-page-field-contents-medium">
{#                                            Downloadable template in development.#}
                                        <button type="button" class="btn" id="fileFileFormatTwoGroup">Download Two Group File Format (Headers Only)</button>
                                    </div>
                                </div>
                            </div>

{#                            <div class="row">#}
{#                                <div class="col-sm-4">#}
{#                                    <div>#}
{#                                        <div><p id="omic_file_format_normcounts_tooltip"></p>#}
{#                                            <label for="omic_file_format_normcounts_tooltip">Normalized Count Files &nbsp;</label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-sm-8">#}
{#                                    <div class="plate-map-page-field-contents-medium">#}
{#                                            Downloadable template in development.#}
{#                                        <button type="button" class="btn" id="fileFileFormatTwoGroup">Download Two Group File Format (Headers Only)</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="row">#}
{#                                <div class="col-sm-4">#}
{#                                    <div>#}
{#                                        <div><p id="omic_file_format_rawcounts_tooltip"></p>#}
{#                                            <label for="omic_file_format_rawcounts_tooltip">Raw Count Files &nbsp;</label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-sm-8">#}
{#                                    <div class="plate-map-page-field-contents-medium">#}
{#                                            Downloadable template in development.#}
{#                                        <button type="button" class="btn" id="fileFileFormatTwoGroup">Download Two Group File Format (Headers Only)</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

{#                            <div><p id="omic_file_format_normcounts_tooltip"></p>#}
{#                                <label for="omic_file_format_normcounts_tooltip">--  Normalized Count Files &nbsp;</label>#}
{#                            </div>#}
{##}
{#                            <div><p id="omic_file_format_rawcounts_tooltip"></p>#}
{#                                <label for="omic_file_format_rawcounts_tooltip">--  Raw Count Files &nbsp;</label>#}
{#                            </div>#}


                        </div>
                    </div>
                </div>
                {% if form.omic_data_file.errors %}
                </div>
                {% endif %}

            {% else %}
                <label class="col-sm-2 control-label" for="omic_data_file">Omic Data File*</label>
                <div class="col-sm-10">
                    <em><b> {{ form.filename_only.value }} </b></em>
                    {# Show form field as text .name vrs .value HANDY  #}
                    {# name {{ form.form_filename_only.name }} #}
                    {# value {{ form.form_filename_only.value }} #}
                </div>
                <br>
            {% endif %}

            <br>

            {% include "generic_field.html" with field=form.description %}

            {% include "generic_field.html" with field=form.study_assay %}

{#                {% include "generic_field.html" with field=form.analysis_method %}#}
            <div class="row">
                <div class="col-md-2">
                    <div class="plate-map-page-field-labels-small">
                        <div>
                            <div><p id="omic_anaylsis_method_tooltip"></p>
                                <label for="omic_anaylsis_method_tooltip">Analysis Method* &nbsp;</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="plate-map-page-field-contents-small">
                        {{ form.analysis_method }}
                    </div>
                </div>
            </div>

            {% include "generic_field.html" with field=form.data_type %}

            {% include "generic_field.html" with field=form.name_reference %}

            {# groups #}
            <br>

            <div class="two-groups">

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <label>Group 1 - Test Group*</label>
                    </div>
                </div>

            </div>

            <div class="one-group">

                {% include "generic_field.html" with field=form.group_1 %}

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
                            <tr>
                                <th class="bg-success" colspan="3">Sample Time 1*</th>
                                <th class="bg-warning">Sample Location 1*</th>
                            </tr>
                            <tr>
                                <th class="bg-success">Day</th>
                                <th class="bg-success">Hour</th>
                                <th class="bg-success">Minute</th>
                                <td class="bg-warning">
{#                                    {% if update or add %}#}
{#                                            {% include "generic_popup_link.html" with field=form.location_1 %}#}
{#                                    {% endif %}#}
                                </td>
                            </tr>
                            <tr>
                                <td hidden>
                                    {{ form.time_1 }}
                                </td>
                                <td class="bg-success">{{ form.time_1_day }}</td>
                                <td class="bg-success">{{ form.time_1_hour }}</td>
                                <td class="bg-success">{{ form.time_1_minute }}</td>
                                <td class="bg-warning">{{ form.location_1 }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="two-groups">

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <label>Group 2 - Reference Group*</label>
                    </div>
                </div>

                {% include "generic_field.html" with field=form.group_2 %}

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
                            <tr>
                                <th class="bg-success" colspan="3">Sample Time 2*</th>
                                <th class="bg-warning">Sample Location 2*</th>
                            </tr>
                            <tr>
                                <th class="bg-success">Day</th>
                                <th class="bg-success">Hour</th>
                                <th class="bg-success">Minute</th>
                                <td class="bg-warning">
{#                                        {% if update or add %}#}
{#                                            {% include "generic_popup_link.html" with field=form.location_2 %}#}
{#                                        {% endif %}#}
                                </td>
                            </tr>
                            <tr>
                                <td hidden>
                                    {{ form.time_2 }}
                                </td>
                                <td class="bg-success">{{ form.time_2_day }}</td>
                                <td class="bg-success">{{ form.time_2_hour }}</td>
                                <td class="bg-success">{{ form.time_2_minute }}</td>
                                <td class="bg-warning">{{ form.location_2 }}</td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class="toggle-display-none" id="omic_preview_button_section">
                    <button type="button" class="btn" id="omicPreviewTheGraphsButton">View Preview Graphs</button>
                </div>

                <div class="toggle-display-none" id="omic_preview_the_graphs_section">

                    <div id="plots">
                        <div id="volcano-plots">
                        </div>
                        <div id="ma-plots" style="display: none">
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </form>
{% endblock %}
