{% extends "base.html" %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/editable_studies/">Editable Studies</a></li>
    <li>
        <a href="{{ object.get_absolute_url }}"><em>{{ object }}</em></a>
    </li>
    <li>
        <a href="{{ object.get_absolute_url }}update">Update</a>
    </li>
    <li class="active">Delete</li>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2 class="text-danger">Are you sure you want to delete the Study:<br><b>{{ object }}</b>?</h2>

        <hr>

        <div class="padded-bottom">
            <button type="submit" class="btn btn-danger">Confirm Deletion</button>
        </div>
    </form>
{% endblock %}
