{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/chart_display.js" %}"></script>
    <script src="{% static "assays/assaymatrixitem_add.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a></li>
    <li><a href="{{ object.study.get_absolute_url }}">{{ object.study }}</a></li>
    <li><a href="{{ object.matrix.get_absolute_url }}">Matrix {{ object.matrix }}</a></li>
    <li class="active">
        <em>{{ object }}</em>
    </li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' with charts="true" %}
{% endblock %}

{% block content %}

    <h1><em>{{ object }}</em></h1>

    <legend>Matrix Item Details</legend>

    <table class="table table-striped table-bordered table-nonfluid" style="background-color: #AAB3AB;">
        <tbody>
{#            <tr>#}
{#                <th>#}
{#                    Name#}
{#                </th>#}
{#                <td>#}
{#                    {{ object.name }}#}
{#                </td>#}
{#            </tr>#}
            <tr>
                <th>
                    Setup Date
                </th>
                <td>
                    {{ object.setup_date }}
                </td>
            </tr>
            <tr>
                <th>
                    Test Type
                </th>
                <td>
                    {{ object.get_test_type_display }}
                </td>
            </tr>
            <tr>
                <th>
                    Device
                </th>
                <td>
                    <a href="{{ object.device.get_absolute_url }}">{{ object.device }}</a>
                </td>
            </tr>
            {% if object.organ_model %}
            <tr>
                <th>
                    MPS Model
                </th>
                <td>
                    <a href="{{ object.organ_model.get_absolute_url }}">
                        {{ object.organ_model }}
                        {% if object.organ_model_protocol %}
                            {{ object.organ_model_protocol }}
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% if object.variance_from_organ_model_protocol %}
            <tr>
                <th>
                    MPS Model Version
                </th>
                <td>
                    {{ object.variance_from_organ_model_protocol }}
                </td>
            <tr>
            {% endif %}
            {% endif %}
        </tbody>
    </table>

    {% if object.assaysetupcell_set.count %}
    <legend>Cells</legend>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Cell Sample</th>
            <th>Cell Biosensor</th>
            <th>Density</th>
            <th>Unit</th>
            <th>Passage#</th>
            <th>Addition Time</th>
{#            <th>Duration</th>#}
            <th>Addition Location</th>
        </tr>
        </thead>
        <tbody>
        {% for cell in object.assaysetupcell_set.all %}
            <tr>
                <td>{{ cell.cell_sample }}</td>
                <td>{{ cell.biosensor }}</td>
                <td>{{ cell.density|intcomma }}</td>
                <td>{{ cell.density_unit }}</td>
                <td>{{ cell.passage }}</td>
                <td>{{ cell.get_addition_time_string }}</td>
{#                <td>{{ cell.get_duration_string }}</td>#}
                <td>{{ cell.addition_location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if object.assaysetupsetting_set.count %}
    <legend>Settings</legend>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Setting</th>
            <th>Value</th>
            <th>Unit</th>
            <th>Addition Time</th>
            <th>Duration</th>
            <th>Addition Location</th>
        </tr>
        </thead>
        <tbody>
        {% for setting in object.assaysetupsetting_set.all %}
            <tr>
                <td>{{ setting.setting }}</td>
                <td>{{ setting.value|intcomma }}</td>
                <td>{{ setting.unit }}</td>
                <td>{{ setting.get_addition_time_string }}</td>
                <td>{{ setting.get_duration_string }}</td>
                <td>{{ setting.addition_location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if object.assaysetupcompound_set.count %}
    <legend>Compounds</legend>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Compound</th>
            <th>Supplier</th>
            <th>Lot</th>
            <th>Receipt Date</th>
            <th>Concentration</th>
            <th>Addition Time</th>
            <th>Duration</th>
            <th>Addition Location</th>
        </tr>
        </thead>
        <tbody>
        {% for compound in object.assaysetupcompound_set.all %}
            <tr>
                <td>
                    <a href="{% url 'compound-detail' compound.compound_instance.compound.id %}">
                        {{ compound.compound_instance.compound }}
                    </a>
                </td>
                <td>{{ compound.compound_instance.supplier.name }}</td>
                <td>{{ compound.compound_instance.lot }}</td>
                <td>{{ compound.compound_instance.receipt_date|default:'' }}</td>
                <td>{{ compound.concentration }} {{ compound.concentration_unit }}</td>
                <td>{{ compound.get_addition_time_string }}</td>
                <td>{{ compound.get_duration_string }}</td>
                <td>{{ compound.addition_location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% include 'assays/sidebar_extras.html' with show_hide="true" %}

    <div id="charts" class="padded-bottom"></div>

    <div>
        <table class="table cell-border" id="current_data_table">
            <thead>
                <tr class="bg-primary">
                    <th>Name</th>
                    <th>Time</th>
                    <th>Target Analyte</th>
                    <th>Method Kit</th>
                    <th>Sample Location</th>
                    <th>Value</th>
                    <th>Value Unit</th>
                    <th>Caution Flag</th>
                    <th>Notes</th>
                    <th>Data File</th>
                </tr>
            </thead>
            <tbody id="table_body">
            </tbody>
        </table>
    </div>

{% endblock %}
