{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "js/split_time.js" %}"></script>
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/organ_model_filter.js" %}"></script>
    <script src="{% static "assays/cell_sample_selection.js" %}"></script>
    <script src="{% static "assays/assaymatrix_add.js" %}"></script>
    <script src="{% static "assays/chart_display.js" %}"></script>
    {# Not used in detail, but shouldn't be problem #}
    <script src="{% static "js/calendar.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "assays/compound_instances.js" %}"></script>
    <script src="{% static "js/flag.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% if not detail %}
    <li><a href="/assays/assaystudy/editable_studies/">Editable Studies</a></li>
    {% else %}
    <li><a href="/assays/assaystudy/">Studies</a></li>
    {% endif %}
    <li><a href="{{ form.instance.study.get_absolute_url }}">{{ form.instance.study }}</a></li>
    <li class="active">
        {% if update %}
            Edit <em>{{ object }}</em>
        {% elif detail %}
            Matrix <em>{{ object }}</em>
        {% else %}
            Add Matrix
        {% endif %}
    </li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' with charts="true" %}
{% endblock %}

{# TODO MAKE SURE FLUID CONTENT STUFF IS NEAT #}
{% block fluid-content %}
    {% if update %}
        <form enctype="multipart/form-data" class="form-horizontal" method="post" >
        <div class="container">
        <h1>
            Edit Matrix <em>{{ object }}</em>
            {# Link to alt edit page #}
            {# CRUDE #}
            <a class="btn btn-primary" href="{{ object.get_absolute_url }}new/">Edit as Groups</a>
    {% elif detail %}
        <form enctype="multipart/form-data" class="form-horizontal" method="post" >
        <div class="container">
        <h1>
            Matrix <em>{{ object }}</em>
    {% else %}
        <form enctype="multipart/form-data" class="form-horizontal" method="post" >
        <div class="container">
        <h1>
            Add Matrix
    {% endif %}
    {% csrf_token %}
    </h1>

    {% if detail %}
    <div hidden>
    {% endif %}

    {% if not detail %}
    {% include "submit.html" with flag="y" group=study.group.name %}

    {% include 'errors.html' %}
    {% endif %}

    {% include 'tracking.html' %}

    {% include "sign_off_form.html" with group=form.instance.study.group.name %}

    <legend>Global</legend>

    {% include 'generic_field.html' with field=form.name label="Matrix Name*" %}

    {% include 'generic_field.html' with field=form.notes label="Notes" %}

    {% include 'generic_field.html' with field=form.representation label="Representation*" %}

    <div hidden id="matrix_device_and_model_section" class="matrix-section">
    {% include 'generic_field.html' with field=form.device label="Device" %}
{#    {% include 'generic_field.html' with field=form.organ_model label="Model" %}#}
{#    {% include 'generic_field.html' with field=form.organ_model_protocol label="Protocol" %}#}
{#    {% include 'generic_field.html' with field=form.variance_from_organ_model_protocol label="Variance from Protocol" %}#}
    </div>

    <div hidden id="matrix_dimensions_section" class="matrix-section">
    {% include 'generic_field.html' with field=form.number_of_items label="Number of Items" %}

    {# Dimensions should be on one line if possible #}
    {% if form.number_of_rows.errors or form.number_of_columns.errors  %}
        {% for error in form.number_of_rows.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
        {% for error in form.number_of_columns.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="number_of_rows" class="col-sm-2 col-md-2 control-label">Number of Rows</label>
        <div class="col-sm-3 col-md-2">
            {{ form.number_of_rows }}
         </div>
        <label for="number_of_columns" class="col-sm-3 col-md-2 control-label">Number of Columns</label>
        <div class="col-sm-4 col-md-6">
            {{ form.number_of_columns }}
        </div>
    </div>
    </div>

    <legend>Individual</legend>


    <div class="well">
    {# {% include 'generic_field.html' with field=form.action label="Action" %} #}

    <div class="form-group">
        <label for="id_action" class="col-sm-2 control-label">Action</label>
        <div class="col-sm-10">
        <select name="action" class="form-control no-selectize" id="id_action">
        <option value="" selected="">Please Select an Action</option>
        <option value="add_name" class="required">Add Names/IDs*</option>
        <option value="add_test_type" class="required">Add Test Type*</option>
        <option value="add_date" class="required">Add Setup Date*</option>
        <option value="add_device" class="required">Add Device/MPS Model Information*</option>
        <option value="add_settings">Add Settings</option>
        <option value="add_compounds">Add Compounds</option>
        <option value="add_cells">Add Cells</option>
        <option value="add_notes">Add Notes/Notebook Information</option>
        <option value="delete">Delete Selected</option>
        </select>
        </div>
    </div>

    <div hidden class="matrix_item-section add_name_section">
    {% include 'generic_field.html' with field=form.matrix_item_name label="Name*" %}

{#    <div class="form-group">#}
{#        <label for="increment_name_by_one" class="col-sm-2 control-label">Increment Name by 1 Each Cell</label>#}
{#        <div class="col-sm-10">#}
{#            <input id="increment_name_by_one" type="checkbox" value="">#}
{#        </div>#}
{#    </div>#}
    </div>

    <div hidden class="matrix_item-section add_date_section">
    {% include 'generic_field.html' with field=form.matrix_item_setup_date label="Setup Date*" %}
    </div>

    <div hidden class="matrix_item-section add_test_type_section">
    {% include 'generic_field.html' with field=form.matrix_item_test_type label="Test Type*" %}
    </div>

    <div hidden class="matrix_item-section add_notes_section">
    {% include 'generic_field.html' with field=form.matrix_item_scientist label="Scientist" %}
    {% include 'generic_field.html' with field=form.matrix_item_notebook label="Notebook" %}
    {% include 'generic_field.html' with field=form.matrix_item_notebook_page label="Notebook Page" %}
    {% include 'generic_field.html' with field=form.matrix_item_notes label="Notes" %}
    </div>

    <div hidden class="matrix_item-section add_device_section">

    {# contrived for full dropdowns #}
    <div hidden>
        {% include 'generic_field.html' with field=form.matrix_item_full_organ_model label="Full MPS Model" %}
        {% include 'generic_field.html' with field=form.matrix_item_full_organ_model_protocol label="Full MPS Model Version" %}
    </div>

    <div id="device_div">
    {% include 'generic_field.html' with field=form.matrix_item_device label="Device*" %}
    </div>

    <div id="organ_model_div">
    {% include 'generic_field.html' with field=form.matrix_item_organ_model label="MPS Model*" %}
    </div>

    <div hidden id="protocol_div" class="form-group">
        <label for="matrix_item_organ_model_protocol" class="col-sm-2 control-label">MPS Model Version</label>
        <div class="col-sm-10">
          {{ form.matrix_item_organ_model_protocol }}
          <span>
            <a target="_blank" href="" id="protocol_display"></a>
          </span>
        </div>
    </div>

    <div id="variance_div">
    {% include 'generic_field.html' with field=form.matrix_item_variance_from_organ_model_protocol label="Variance from Protocol" %}
    </div>

    </div>

    <div hidden class="matrix_item-section add_failure_section">
    {# TODO TODO TODO #}
    </div>

    <div hidden class="matrix_item-section add_compounds_section">
    {% if update or detail %}
    {# Odd #}
    <div class="row thumbnail">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
    <tr>
        <th colspan="3">Compound*</th>
    </tr>
    <tr>
        <td colspan="3">{{ form.compound_compound }}</td>
    </tr>
    <tr>
        <th>Supplier*</th>
        <th>Lot*</th>
        <th>Receipt Date</th>
    </tr>
    <tr>
        <td>{{ form.compound_supplier_text }}</td>
        <td>{{ form.compound_lot_text }}</td>
        <td>{{ form.compound_receipt_date }}</td>
    </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Concentration*</th>
            <th>Concentration Unit*</th>
        </tr>
        <tr>
            <td>{{ form.compound_concentration }}</td>
            <td>{{ form.compound_concentration_unit }}</td>
        </tr>
        <tr>
            <th>Concentration Increment</th>
            <th>Increment Operation</th>
        </tr>
        <tr>
            <td>{{ form.compound_concentration_increment }}</td>
            <td>{{ form.compound_concentration_increment_type }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form.compound_concentration_increment_direction }}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
            <th class="bg-info" colspan="3">Duration*</th>
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
            <th class="bg-info">Day</th>
            <th class="bg-info">Hour</th>
            <th class="bg-info">Minute</th>
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>
            <td class="bg-success">{{ form.compound_addition_time_day }}</td>
            <td class="bg-success">{{ form.compound_addition_time_hour }}</td>
            <td class="bg-success">{{ form.compound_addition_time_minute }}</td>
            <td class="bg-info">{{ form.compound_duration_day }}</td>
            <td class="bg-info">{{ form.compound_duration_hour }}</td>
            <td class="bg-info">{{ form.compound_duration_minute }}</td>
            <td class="bg-warning">{{ form.compound_addition_location }}</td>
        </tr>
    </table>
    </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger text-center" role="alert">
                Please define each chip/well first.
            </div>
        </div>
    </div>
    {% endif %}

    </div>

    <div hidden class="matrix_item-section add_cells_section">
    {% if update or detail %}
{#    {% include 'generic_field.html' with field=form.cell_sample label="Cell Sample" %}#}
{#    <div class="form-group">#}
{#    <label for="cell_sample" class="col-sm-2 control-label">Cell Sample*</label>#}
{#    <div class="col-sm-10">#}
{#        <input readonly="readonly" id="id_cell_cell_sample" name="cell_cell_sample" size="5" value="{{ form.cell_cell_sample.value|default_if_none:'' }}">#}
{#        <button id="id_cell_sample_search" type="button" class="btn btn-xs btn-primary open-cell-sample-dialog">#}
{#            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>#}
{#        </button>#}
{#        <label class="small" id="id_cell_sample_label"></label>#}
{#    </div>#}
{#    </div>#}
    {# Odd #}
    <div class="row thumbnail">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Cell Sample*</th>
            <th>Passage</th>
            <th>Biosensor*</th>
        </tr>
        <tr>
        <td>
            {# Inline styles are evil #}
            <input readonly="readonly" id="id_cell_cell_sample" name="cell_cell_sample" value="{{ form.cell_cell_sample.value|default_if_none:'' }}" class="form-control required" style="width: 75px; display: inline;">
            <button id='id_cell_sample_search' type="button" class="btn btn-xs btn-primary open-cell-sample-dialog">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <label class="small" id="id_cell_sample_label"></label>
        </td>
        <td>{{ form.cell_passage }}</td>
        <td>{{ form.cell_biosensor }}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Density*</th>
            <th>Density Unit*</th>
        </tr>
        <tr>
            <td title="Use 'e' for scientific notation: 1e+3 = 1000">{{ form.cell_density }}</td>
            <td>{{ form.cell_density_unit }}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
    {#                        <th class="bg-info" colspan="3">Duration*</th>#}
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
    {#                        <th class="bg-info">Day</th>#}
    {#                        <th class="bg-info">Hour</th>#}
    {#                        <th class="bg-info">Minute</th>#}
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>

            <td class="bg-success">{{ form.cell_addition_time_day }}</td>
            <td class="bg-success">{{ form.cell_addition_time_hour }}</td>
            <td class="bg-success">{{ form.cell_addition_time_minute }}</td>
    {#                        <td class="bg-info">{{ form.cell_duration_day }}</td>#}
    {#                        <td class="bg-info">{{ form.cell_duration_hour }}</td>#}
    {#                        <td class="bg-info">{{ form.cell_duration_minute }}</td>#}
            <td class="bg-warning">{{ form.cell_addition_location }}</td>
        </tr>
    </table>
    </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger text-center" role="alert">
                Please define each chip/well first.
            </div>
        </div>
    </div>
    {% endif %}

    </div>

    <div hidden class="matrix_item-section add_settings_section">
    {% if update or detail %}
    {# Odd #}
    <div class="row thumbnail">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Setting*</th>
            <th>Value*</th>
            <th>Unit*</th>
        </tr>
        <tr>
            <td>{{ form.setting_setting }}</td>
            <td>{{ form.setting_value }}</td>
            <td>{{ form.setting_unit }}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
            <th class="bg-info" colspan="3">Duration*</th>
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
            <th class="bg-info">Day</th>
            <th class="bg-info">Hour</th>
            <th class="bg-info">Minute</th>
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>
            <td class="bg-success">{{ form.setting_addition_time_day }}</td>
            <td class="bg-success">{{ form.setting_addition_time_hour }}</td>
            <td class="bg-success">{{ form.setting_addition_time_minute }}</td>
            <td class="bg-info">{{ form.setting_duration_day }}</td>
            <td class="bg-info">{{ form.setting_duration_hour }}</td>
            <td class="bg-info">{{ form.setting_duration_minute }}</td>
            <td class="bg-warning">{{ form.setting_addition_location }}</td>
        </tr>
    </table>
    </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger text-center" role="alert">
                Please define each chip/well first.
            </div>
        </div>
    </div>
    {% endif %}
    </div>

    <div hidden class="matrix_item-section delete_section">
    {% include 'generic_field.html' with field=form.delete_option label="What to Delete" %}
    </div>

    <div align="center">
        <a hidden role="button" id="apply_action_to_all" class="btn btn-primary">Apply Action to All</a>
        <a hidden role="button" id="apply_plate_names_zero" class="btn btn-primary matrix_item-section add_name_section">Apply Default Plate Names (Append Zero)</a>
        <a hidden role="button" id="apply_plate_names_no_zero" class="btn btn-primary matrix_item-section add_name_section">Apply Default Plate Names (Don't Append Zero)</a>
    </div>

    </div>
{#    </form>#}

    {% if detail %}
    </div>

    {# ADD STYLES FOR THESE SORTS OF THINGS #}
    <table class="table table-striped table-bordered table-nonfluid" style="background-color: #AAB3AB;">
        <tbody>
{#            <tr>#}
{#                <th>#}
{#                    Name#}
{#                </th>#}
{#                <td>#}
{#                    {{ object.name }}#}
{#                </td>#}
{#            </tr>#}
            <tr>
                <th>
                    Representation
                </th>
                <td>
                    {{ object.get_representation_display }}
                </td>
            </tr>
            {% if object.device %}
            <tr>
                <th>
                    Device
                </th>
                <td>
                    {{ object.device }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>
                    Dimensions
                </th>
                <td>
                    {{ object.number_of_rows }}x{{ object.number_of_columns }}
                </td>
            </tr>
            {% if object.notes %}
            <tr>
                <th>
                    Notes
                </th>
                <td>
                    {{ object.notes }}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endif %}

    {# TERMINATE CONTENT #}
    </div>

{#    {% if item_formset.errors %}#}
{#        {% for dict in item_formset.errors %}#}
{#            {% for key,value in dict.items %}#}
{#                {% if key %}#}
{#                    <div class="alert alert-danger" role="alert">#}
{#                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                        <span class="sr-only">Error:</span>#}
{#                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    {% endif %}#}
{##}
    {% if item_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ matrix_item_formset.non_form_errors }}
        </div>
    {% endif %}
{##}
{#    {% if compound_formset.errors %}#}
{#        {% for dict in compound_formset.errors %}#}
{#            {% for key,value in dict.items %}#}
{#                {% if key %}#}
{#                    <div class="alert alert-danger" role="alert">#}
{#                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                        <span class="sr-only">Error:</span>#}
{#                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    {% endif %}#}
{##}
    {% if compound_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ compound_formset.non_form_errors }}
        </div>
    {% endif %}
{##}
{#    {% if cell_formset.errors %}#}
{#        {% for dict in cell_formset.errors %}#}
{#            {% for key,value in dict.items %}#}
{#                {% if key %}#}
{#                    <div class="alert alert-danger" role="alert">#}
{#                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                        <span class="sr-only">Error:</span>#}
{#                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    {% endif %}#}
{##}
    {% if cell_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ cell_formset.non_form_errors }}
        </div>
    {% endif %}
{##}
{#    {% if setting_formset.errors %}#}
{#        {% for dict in setting_formset.errors %}#}
{#            {% for key,value in dict.items %}#}
{#                {% if key %}#}
{#                    <div class="alert alert-danger" role="alert">#}
{#                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                        <span class="sr-only">Error:</span>#}
{#                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    {% endif %}#}
{##}
    {% if setting_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ setting_formset.non_form_errors }}
        </div>
    {% endif %}

    {# FLUID CONTENT HERE ON #}
    {# Section for visibility checkboxes #}
    <div class="row no-padding large-padding-top">
        <div class="col-md-4 col-lg-3">
            <div class="fancy-checkbox table-filter padded-bottom" align="left">
                <input class="visibility-checkbox" type="checkbox" name="show_matrix_items" id="show_matrix_items" value=".matrix_item-display" checked/>
                <div class="btn-group">
                    <label for="show_matrix_items" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> </span>
                    </label>
                    <label for="show_matrix_items" class="btn btn-default active">
                        Show Item Contents
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="fancy-checkbox table-filter padded-bottom" align="left">
                <input class="visibility-checkbox" type="checkbox" name="show_settings" id="show_settings" value=".setting-display" checked/>
                <div class="btn-group">
                    <label for="show_settings" class="btn btn-warning">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> </span>
                    </label>
                    <label for="show_settings" class="btn btn-default active">
                        Show Settings
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="fancy-checkbox table-filter padded-bottom" align="left">
                <input class="visibility-checkbox" type="checkbox" name="show_compounds" id="show_compounds" value=".compound-display" checked/>
                <div class="btn-group">
                    <label for="show_compounds" class="btn btn-info">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> </span>
                    </label>
                    <label for="show_compounds" class="btn btn-default active">
                        Show Compounds
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="fancy-checkbox table-filter padded-bottom" align="left">
                <input class="visibility-checkbox" type="checkbox" name="show_cells" id="show_cells" value=".cell-display" checked/>
                <div class="btn-group">
                    <label for="show_cells" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> </span>
                    </label>
                    <label for="show_cells" class="btn btn-default active">
                        Show Cells
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="row no-padding">
        <div class="col-md-4 col-lg-3">
            <div class="fancy-checkbox table-filter padded-bottom" align="left">
                {# useless value #}
                <input type="checkbox" name="show_details" id="show_details" value=".full_details" />
                <div class="btn-group">
                    <label for="show_details" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> </span>
                    </label>
                    <label for="show_details" class="btn btn-default active">
                        Show Full Details
                    </label>
                </div>
            </div>
        </div>
        <div hidden class="col-md-4 col-lg-3">
            <div class="fancy-checkbox table-filter padded-bottom" align="left">
                <input class="visibility-checkbox" type="checkbox" name="show_errors" id="show_errors" value=".error-display" checked/>
                <div class="btn-group">
                    <label for="show_errors" class="btn btn-danger">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> </span>
                    </label>
                    <label for="show_errors" class="btn btn-default active">
                        Show Errors
                    </label>
                </div>
            </div>
        </div>
        {# Spacer, contrived #}
        <div class="col-md-4 col-lg-3"></div>
    </div>

    {#        <label>#}
{#        <input type="checkbox" id="id_visibility_item_display" name="visibility_item_display" value=".matrix_item-display">#}
{#        Show Item Information#}
{#        </label>#}
{#        <label>#}
{#        <input type="checkbox" id="id_visibility_setting_display" name="visibility_setting_display" value=".setting-display">#}
{#        Show Setting Information#}
{#        </label>#}
{#        <label>#}
{#        <input type="checkbox" id="id_visibility_compound_display" name="visibility_compound_display" value=".compound-display">#}
{#        Show Compound Information#}
{#        </label>#}
{#        <label>#}
{#        <input type="checkbox" id="id_visibility_cell_display" name="visibility_cell_display" value=".cell-display">#}
{#        Show Cell Information#}
{#        </label>#}

    <div class="well padded-bottom">
    <div id="matrix_wrapper" class="overflow-auto" style="max-height:800px;">
        {# NO INLINE STYLE PLEASE #}
        <table id="matrix_table" class="table">
            <tbody id="matrix_body"></tbody>
        </table>
    </div>
    </div>

    <div style="display: none;">
    {# START FORMS #}
    {{ item_formset.management_form }}
    {{ compound_formset.management_form }}
    {{ cell_formset.management_form }}
    {{ setting_formset.management_form }}

    <h2>Matrix Items</h2>
    <div id="{{ item_formset.prefix }}">
{#    {{ item_formset.non_form_errors }}#}
    {% for form in item_formset %}
        <div id="{{ form.prefix }}" class="{{ item_formset.prefix }} no-selectize">
            {{ form }}
        </div>
    {% endfor %}
    </div>

    <h2>Compounds</h2>
    <div id="{{ compound_formset.prefix }}">
{#    {{ compound_formset.non_form_errors }}#}
    {% for form in compound_formset %}
        <div id="{{ form.prefix }}" class="{{ compound_formset.prefix }} no-selectize">
            {{ form }}
        </div>
    {% endfor %}
    </div>

    <h2>Cells</h2>
    <div id="{{ cell_formset.prefix }}">
{#    {{ cell_formset.non_form_errors }}#}
    {% for form in cell_formset %}
        <div id="{{ form.prefix }}" class="{{ cell_formset.prefix }} no-selectize">
            {{ form }}
        </div>
    {% endfor %}
    </div>

    <h2>Settings</h2>
    <div id="{{ setting_formset.prefix }}">
{#    {{ setting_formset.non_form_errors }}#}
    {% for form in setting_formset %}
        <div id="{{ form.prefix }}" class="{{ setting_formset.prefix }} no-selectize">
            {{ form }}
        </div>
    {% endfor %}
    </div>
    </div>
    {# End FORMS #}

    {# Hidden templates #}

    {% include 'assays/group_editing.html' %}

    {% comment %}
    <div style="display: none;">

    <table>
    <tr id="empty_matrix_item_html">
    <td data-prefix="{{ item_formset.prefix }}" class="matrix_item-td">
        <div class="error-message-section error-display matrix_item-setup_set_section">
        </div>
        <div align="center">
            <span><a disabled href="#" class="matrix_item-name lead matrix_item-setup_set_section"></a></span>
{#            <span class="matrix_item-current_setup"></span>#}
{#            <a class="pull-right btn btn-xs">#}
{#                <span class="glyphicon glyphicon-pencil"></span>#}
{#            </a>#}
        </div>
        {% if detail %}
        <div class="well matrix_item-display no-margins">
        {% else %}
        <div class="well matrix_item-display">
        {% endif %}
            <div>
                <span class="matrix_item-setup_date matrix_item-setup_set_section"></span>
                {% if not detail %}
                <a class="pull-right btn btn-xs form-delete">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </a>
                {% endif %}
{#                <a class="pull-right btn btn-xs form-view">#}
{#                    <span class="glyphicon glyphicon-eye-open"></span>#}
{#                </a>#}
            </div>
            <div>
                <span class="matrix_item-test_type matrix_item-setup_set_section"></span>
            </div>
            <div class="matrix_item-failure">
                <span class="matrix_item-failure_time matrix_item-setup_set_section"></span>
                <span class="matrix_item-failure_reason matrix_item-setup_set_section"></span>
            </div>
            <div class="matrix_item-setup_section">
                <div>
                    <span class="matrix_item-organ_model matrix_item-setup_set_section"></span>
                    <span class="matrix_item-organ_model_protocol matrix_item-setup_set_section"></span>
                </div>
                <div class="matrix_item-device matrix_item-setup_set_section"></div>
                <div>
                    <span class="matrix_item-variance_from_organ_model_protocol matrix_item-setup_set_section"></span>
                </div>
            </div>
            <div class="matrix_item-notes_section">
                <span class="matrix_item-scientist matrix_item-setup_set_section"></span>
                <span class="matrix_item-notebook matrix_item-setup_set_section"></span>
                <span class="matrix_item-notebook_page matrix_item-setup_set_section"></span>
                <span class="matrix_item-notes matrix_item-setup_set_section"></span>
            </div>
        </div>
        <div class="matrix_item-cell matrix_item-setup_set_section"></div>
        <div class="matrix_item-compound matrix_item-setup_set_section"></div>
        <div class="matrix_item-setting matrix_item-setup_set_section"></div>
    </td>
    </tr>
    </table>

    {# TODO ADDITION LOCATION #}
    <div id="empty_cell_html">
        {% if detail %}
        <div data-prefix="{{ cell_formset.prefix }}" class="alert alert-success force-off-black-text cell-display no-margins">
        {% else %}
        <div data-prefix="{{ cell_formset.prefix }}" class="alert alert-success force-off-black-text cell-display">
        {% endif %}
            <div class="error-message-section error-display">
            </div>
            <div>
                <span class="cell-cell_sample"></span>
                {% if not detail %}
                <a class="pull-right btn btn-xs subform-delete">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </a>
{#                <a class="pull-right btn btn-xs">#}
{#                    <span class="glyphicon glyphicon-pencil"></span>#}
{#                </a>#}
                {% endif %}
            </div>
            <div>Passage: <span class="cell-passage"></span></div>
            <div>Biosensor: <span class="cell-biosensor"></span></div>
            <div>
                <span class="cell-density"></span>
                <span class="cell-density_unit"></span>
            </div>
            <div class="cell-addition_time_section">
                <span>Added on D</span>
                <span class="cell-addition_time_day"></span>
                <span>H</span>
                <span class="cell-addition_time_hour"></span>
                <span>M</span>
                <span class="cell-addition_time_minute"></span>
            </div>
            <div>
                <span class="cell-addition_location"></span>
            </div>
        </div>
    </div>

    {# TODO ADDITION LOCATION #}
    <div id="empty_compound_html">
        {% if detail %}
        <div data-prefix="{{ compound_formset.prefix }}" class="alert alert-info force-off-black-text compound-display no-margins">
        {% else %}
        <div data-prefix="{{ compound_formset.prefix }}" class="alert alert-info force-off-black-text compound-display">
        {% endif %}
            <div class="error-message-section error-display">
            </div>
            <div>
                <span class="compound-compound"></span>
                <span class="compound-concentration"></span>
                <span class="compound-concentration_unit"></span>
                {% if not detail %}
                <a class="pull-right btn btn-xs subform-delete">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </a>
{#                <a class="pull-right btn btn-xs">#}
{#                    <span class="glyphicon glyphicon-pencil"></span>#}
{#                </a>#}
                {% endif %}
            </div>
            <div>
                <span class="compound-supplier_text"></span>
                <span class="compound-lot_text"></span>
            </div>
            <div class="compound-receipt_date"></div>
            <div class="compound-addition_time_section">
                <span>Added on D</span>
                <span class="compound-addition_time_day"></span>
                <span>H</span>
                <span class="compound-addition_time_hour"></span>
                <span>M</span>
                <span class="compound-addition_time_minute"></span>
            </div>
            <div class="compound-duration_section">
                <span>Duration of D</span>
                <span class="compound-duration_day"></span>
                <span>H</span>
                <span class="compound-duration_hour"></span>
                <span>M</span>
                <span class="compound-duration_minute"></span>
            </div>
            <div>
                <span class="compound-addition_location"></span>
            </div>
        </div>
    </div>

    {# TODO TODO TODO #}
    <div id="empty_setting_html">
        {% if detail %}
        <div data-prefix="{{ setting_formset.prefix }}" class="alert alert-warning force-off-black-text setting-display no-margins">
        {% else %}
        <div data-prefix="{{ setting_formset.prefix }}" class="alert alert-warning force-off-black-text setting-display">
        {% endif %}
            <div class="error-message-section error-display">
            </div>
            <div>
                <span class="setting-setting"></span>
                <span class="setting-value"></span>
                <span class="setting-unit"></span>
                {% if not detail %}
                <a class="pull-right btn btn-xs subform-delete">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </a>
{#                <a class="pull-right btn btn-xs">#}
{#                    <span class="glyphicon glyphicon-pencil"></span>#}
{#                </a>#}
                {% endif %}
            </div>
            <div class="setting-addition_time_section">
                <span>Added on D</span>
                <span class="setting-addition_time_day"></span>
                <span>H</span>
                <span class="setting-addition_time_hour"></span>
                <span>M</span>
                <span class="setting-addition_time_minute"></span>
            </div>
            <div class="setting-duration_section">
                <span>Duration of D</span>
                <span class="setting-duration_day"></span>
                <span>H</span>
                <span class="setting-duration_hour"></span>
                <span>M</span>
                <span class="setting-duration_minute"></span>
            </div>
            <div>
                <span class="setting-addition_location"></span>
            </div>
        </div>
    </div>

    <div id="empty_error_html">
        <div class="alert alert-danger force-off-black-text matrix_item-error-message-box">
        </div>
    </div>
    {% endcomment %}

    </div>

    {# CHARTING STUFF #}
    {% if not adding %}
    <div>

    {# {% include 'assays/grouping_filtering.html' %} #}

    {# {% include 'assays/chart_options.html' with chart_prefix="charts" chart_title="Current Data" % #}

    {% include 'assays/sidebar_extras.html' with show_hide="true" %}

    {# Note indicating no data to display initially #}
    <div id="charts" class="padded-bottom">
        No data to display
    </div>

    {% include 'assays/group_table.html' %}
    </div>
    {% endif %}
{% endblock %}
