{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block load %}
    <script src="{% static "js/cookies.js" %}"></script>
    <script src="{% static "assays/assayrun_summary.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/editable_studies/">Editable Studies</a></li>
    <li><a href="/assays/{{ object.id }}">{{ object }}</a></li>
    <li class="active">Study Summary</li>
{% endblock %}

{% block content %}
    <div class="well">
        <h1 class="text-center">
            {{ object }}
         </h1>
    </div>

    <div id="image_display">
        <div id="current_display">
            {% if object.image %}
                <img class="img-responsive center-block padded-bottom" src="/media/{{ object.image }}">
            {% endif %}
        </div>
    </div>

    {% if object.description or object.study_configuration or object.protocol %}
        <legend><h3>Description</h3></legend>

        {% if object.description %}
            <p>
                {{ object.description }}
            </p>
        {% endif %}

        {% if object.study_configuration %}
            <p>
                <b>Configuration:</b> {{ object.study_configuration }}
            </p>
        {% endif %}

        {% if object.protocol %}
            <p>
                <b>Protocol:</b> <a href="/media/{{ object.protocol }}">{{ object.protocol }}</a>
            </p>
        {% endif %}
    {% endif %}

    {% if object.studysupportingdata_set.all %}
        <legend><h3>Supporting Data</h3></legend>

        <table class="table table-striped">
            <thead>
            <tr>
              <th>Description</th>
              <th>Supporting Data File</th>
            </tr>
            </thead>
            <tbody>
                {% for supporting_data in object.studysupportingdata_set.all %}
                    <tr>
                        <td>{{ supporting_data.description }}</td>
                        <td>
                            <a href="/media/{{ supporting_data.supporting_data }}">
                              {{ supporting_data.supporting_data }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <legend><h3>Chip Setups</h3></legend>
    {% if setups %}
        <table id="setups" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="hidden-print">View/Edit</th>
                    <th>Chip Setup</th>
                    <th>Date</th>
                    <th>Device</th>
                    <th>Organ Model</th>
                    <th>Compound</th>
                    <th>Creator</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for setup in setups %}
                <tr id={{ setup.id }} name={{ setup.id }}>
                    <td class="hidden-print"><a class="btn btn-primary" href="/assays/assaychipsetup/{{ setup.id }}">View/Edit</a></td>
                    <td>{{ setup.assay_chip_id }}</td>
                    <td>{{ setup.setup_date }}</td>
                    <td>{{ setup.device }}</td>
                    <td>{{ setup.organ_model }}</td>
                    {% if setup.compound != None %}
                        <td>{{ setup.compound }} ({{ setup.concentration }} {{ setup.unit }})</td>
                    {% else %}
                        <td>-control-</td>
                    {% endif %}
                    <td>
                        {{ setup.created_by.first_name }}
                        {{ setup.created_by.last_name }}
                    </td>
                    <td>
                        {% if setup.signed_off_by %}
                            <span title="This entry was reviewed by {{ setup.signed_off_by }} on {{ setup.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if setup.flagged %}
                            <span title="This entry is flagged for review: '{{ setup.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No chip setups exist for this study
        </div>
    {% endif %}

    {% if indicative.assaychipcells_set.all %}
        <legend><h3>Cells for {{indicative}}</h3></legend>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cell Sample</th>
                <th>Cell Biosensor</th>
                <th>Density</th>
                <th>Unit</th>
                <th>Passage#</th>
            </tr>
            </thead>
            <tbody>
            {% for cell in indicative.assaychipcells_set.all %}
                <tr>
                    <td>{{ cell.cell_sample }}</td>
                    <td>{{ cell.cell_biosensor }}</td>
                    <td>{{ cell.cellsample_density|intcomma }}</td>
                    <td>{{ cell.get_cellsample_density_unit_display }}</td>
                    <td>{{ cell.cell_passage }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if sameness %}
        <table class="table table-striped table-bordered">
            <tbody>
        {% for setup, same in sameness.items %}
            <tr>
                <td>{{ setup }}</td>
                {% if same %}
                    <td class="text-success">Same as {{indicative}}</td>
                {% else %}
                    <td class="text-danger">Differs from {{indicative}}</td>
                {% endif %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if plate_setups %}
        <legend><h3>Plate Setups</h3></legend>
        <table id="plate_setups" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="hidden-print">View/Edit</th>
                    <th>Plate Setup</th>
                    <th>Date</th>
                    <th>Plate Layout</th>
                    <th>Creator</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for setup in plate_setups %}
                <tr id={{ setup.id }} name={{ setup.id }}>
                    <td class="hidden-print"><a class="btn btn-primary" href="/assays/assayplatesetup/{{ setup.id }}">View/Edit</a></td>
                    <td>{{ setup.assay_plate_id }}</td>
                    <td>{{ setup.setup_date }}</td>
                    <td>{{ setup.assay_layout }}</td>
                    <td>
                        {{ setup.created_by.first_name }}
                        {{ setup.created_by.last_name }}
                    </td>
                    <td>
                        {% if setup.signed_off_by %}
                            <span title="This entry was reviewed by {{ setup.signed_off_by }} on {{ setup.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if setup.flagged %}
                            <span title="This entry is flagged for review: '{{ setup.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if plate_indicative.assayplatecells_set.all %}
        <legend><h3>Cells for {{ plate_indicative }}</h3></legend>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cell Sample</th>
                <th>Cell Biosensor</th>
                <th>Density</th>
                <th>Unit</th>
                <th>Passage#</th>
            </tr>
            </thead>
            <tbody>
            {% for cell in plate_indicative.assayplatecells_set.all %}
                <tr>
                    <td>{{ cell.cell_sample }}</td>
                    <td>{{ cell.cell_biosensor }}</td>
                    <td>{{ cell.cellsample_density }}</td>
                    <td>{{ cell.get_cellsample_density_unit_display }}</td>
                    <td>{{ cell.cell_passage }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if plate_sameness %}
        <table class="table table-striped table-bordered">
            <tbody>
        {% for setup, same in plate_sameness.items %}
            <tr>
                <td>{{ setup }}</td>
                {% if same %}
                    <td class="text-success">Same cells as {{ plate_indicative }}</td>
                {% else %}
                    <td class="text-danger">Different cells from {{ plate_indicative }}</td>
                {% endif %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div id="radio_buttons" hidden class="well hidden-print">
        <h3 class="text-center">Chip Readout Data</h3>
        <label class="radio-inline">
            <input type="radio" name="chart_type_radio" id="chip_select" value="chip" checked> View By Device
        </label>
        <label class="radio-inline">
            <input type="radio" name="chart_type_radio" id="compound_select" value="compound"> View By Compound
        </label>
        <label for="convert_to_percent_control" class="pull-right">
            <input type="checkbox" name="convert_to_percent_control" id="convert_to_percent_control" /> Convert to Percent of Control
        </label>
    </div>

    <div id="charts" class="padded-bottom"></div>
{% endblock %}
