{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "assays/assayunit_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'assays-studycomponents' %}">Study Components</a></li>
    <li class="active">Units</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Units List
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="{% url 'assays-physicalunits-add' %}"  class="btn btn-lg btn-success" role="button">Add Unit</a>
        </div>

        <div id="units">
            <table id="units-table" class="display" cellspacing="0" width="100%" hidden>
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Unit</th>
                        <th>Unit Type</th>
                        <th>Description</th>
                    </tr>
                </thead>

                <tbody>
                {% for unit in object_list %}
                     <tr>
                        {# Luke doesn't like 'unit.unit', but I think it's just peachy.#}
                        <td><a class="btn btn-primary" href="{{ unit.get_update_url }}">Edit</a></td>
                        <td>{{ unit.unit }}</td>
                        <td>{{ unit.unit_type }}</td>
                        <td>{{ unit.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
