{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "assays/assayplatereadermap_update.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a>
    <li><a href="{% url 'assayplatereadermap-index' object.study.id %}">Assay Plate Reader Maps</a>
    <li class="active">
        {% if object %}
            <em>{{ object }}</em>
        {% else %}
            Add
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">

        {# Title of page #}
        <div>
            <h1>
            {% if update %}
                Update {{ object.device }} Well Plate Reader Map <em>{{ object }}</em>
            {% elif detail %}
                Review {{ object.device }} Well Plate Reader Map <em>{{ object }}</em>
            {% else %}
                Add Plate Reader Map
            {% endif %}
            <br>
            {% csrf_token %}
            </h1>
        </div>

        {# parent plate map edits #}
        <div>
            <h4>
            <br>
            {% if add %}
                <div class="row">
                    <div class="col-sm-12">
                        {% include 'generic_field.html' with field=form.device label="Plate Size"  %}
                    </div>
                </div>
            {% else %}
                <div >
                    <!--TODO sck remove this later...it should only be on the add page-->
                    <br><b>form device</b> {% include 'generic_field.html' with field=form.device label="Plate Size"  %}
                    <br><b>plate size</b> <h4 id="object_plate_size">{{ object.device }}</h4>
                    <br><b>plate id</b> <h4 id="object_plate_id">{{ object.id }}</h4>
                    <br><b>study</b> <h4 id="object_study">{{ object.study }}</h4>
                    <br><b>study id </b> <h4 id="object_study">{{ object.study.id }}</h4>
                    <br><b>form name</b> {% include 'generic_field.html' with field=form.name label="Map Name"  %}
                    {#  This is used to know if building plate from scratch or from existing plate (add, view, update)#}
                    <br><b>page called</b> <div id="page_called"><br>{{ page_called }}<br></div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-12">
                    {% include 'generic_field.html' with field=form.name label="Map Name"  %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% include 'generic_field.html' with field=form.description label="Description" %}
                </div>
            </div>
            </h4>

{% comment %}            <h5>
            <div class="row">
                <div class="col-sm-12">
                    {% include 'generic_field.html' with field=formextras.p_time_unit label="Sample Time Unit" %}
                </div>
            </div>
            </h5>{% endcomment %}

        </div>

        <div class='hidden'>
            {% include 'generic_field.html' with field=form.study label="Study" %}
            {% include 'generic_field.html' with field=form.device label="Device" %}
        </div>

        {# {{  formset }} is the wells in the map   #}
        <div>

            {# rows of show hide buttons   #}
            <div>
                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_item" id="show_item" value=".item_start" checked/>
                            <div class="btn-group">
                                <label for="show_item" class="btn plate-item">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_item" class="btn btn-default active">
                                    Matrix Item
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_location" id="show_location" value=".location_start" checked/>
                            <div class="btn-group">
                                <label for="show_location" class="btn plate-location" d>
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_location" class="btn btn-default active">
                                    Sample Location
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_time" id="show_time" value=".time_start" checked/>
                            <div class="btn-group">
                                <label for="show_time" class="btn plate-time" >
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_time" class="btn btn-default active">
                                    Sample Time
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_use" id="show_use" value=".use_start" checked/>
                            <div class="btn-group">
                                <label for="show_use" class="btn plate-use" >
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_use" class="btn btn-default active">
                                    Well Use
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_replicate" id="show_replicate" value=".replicate_start" checked/>
                            <div class="btn-group">
                                <label for="show_replicate" class="btn plate-replicate">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_replicate" class="btn btn-default active">
                                    Replicate #
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_label" id="show_label" value=".label_start" checked/>
                            <div class="btn-group">
                                <label for="show_label" class="btn plate-label">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_label" class="btn btn-default active">
                                    Well Label
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {# select what to put in the wells - from formextras, not the formset   #}
            <div>
                <legend>Make Selections and Drag onto Plate (hidden content is not changed)</legend>

                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <label >
                            Matrix Item
                        </label>
                       {{ formextras.p_matrix_items_in_study }}
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <label >
                            Sample Location
                        </label>
                        {{ formextras.p_sample_location }}
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <label >
                            Sample Time
                        </label>
                        {{ formextras.p_time }}
                    </div>

                </div>

                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <label >
                            Well Use
                        </label>
                        {{ formextras.p_well_use }}
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <label >
                            Replicate #
                        </label>
                        {{ formextras.p_sample_replicate }}
                    </div>

{#                    <div class="col-md-3 col-lg-3">#}
{#                        <label >#}
{#                            Well Label#}
{#                        </label>#}
{#                        #}
{#                    </div>#}

                    <div class="col-md-3 col-lg-3">
                        <label >
                            Time Unit (for all)
                        </label>
                        {{ formextras.p_time_unit }}
                    </div>

                </div>
            </div>

            <hr>

            {#  table of well plate              #}
            <div>
{#                <table class="table table-bordered table-inverse" summary="Table selection with plugin" id="plate_table">#}
                <table class="table table-bordered table-inverse" id="plate_table">

                    {#  table made in javascript                  #}
                </table>
            </div>

            <hr>
            {# reference table of chip setup #}
            <div>
                <legend>For Reference - Chips in the Study</legend>
                {% if numberstudyitems > 0 %}
                    <div class="padded-bottom">
                        <table id="matrix_items_table" class="table table-striped table-bordered dataTable " >
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <!--<th>throw</th>-->
                                    <th>Compound</th>
                                    <th>Cell</th>
                                    <th>Setting</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in studyitems %}
                                    <tr id={{ item.id }} name={{ item.id }}>
                                        <td>{{ item.name }}</td>
                                        <!--<td>{% for x in item.assaysetupcompound_set.all %}{{ x.compound_instance.compound }}{% endfor %}</td>-->
                                        <td>{{ item.stringify_compounds|linebreaksbr }}</td>
                                        <td>{{ item.stringify_cells|linebreaksbr }}</td>
                                        <td>{{ item.stringify_settings|linebreaksbr }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Not items have been setup in the study. Need to do that first.</p>
                {% endif %}
            </div>

            {% include "submit.html" with creator=object.created_by.id %}

            {% include 'errors.html' %}

            {% comment %}            <h6>tracking begin</h6>
            {% include 'tracking.html' %}
            <h6>tracking end</h6>{% endcomment %}

            {# need this or form save   #}
            {{ formset.management_form }}
            <div class="no-selectize">
                <h3>FormSet </h3>
                <div id="form_set">
                    {% for form in formset.forms %}
                        {{form.non_field_errors}}
                        {{form.errors}}
                        <table class='no_error'>
                            {{ form }}
                        </table>
                    {% endfor %}
                </div>
                <input type="button" value="Add More" id="add_more">
                <div id="empty_form" style="display:none">
                    <table class='no_error'>
                        {{ formset.empty_form }}
                    </table>
                </div>
            </div>

            <div>
                {% if formset.errors %}
                    {% for field, error in formset.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                <br>
            </div>

            <h2>later errors</h2>
            <div>
                    {#Use for error checking#}
                    For testing<br>
                    form.errors<br>
                    {{ form.errors }}<br>
                    formset.errors<br>
                    {{ formset.errors }}<br>
            </div>

    </div>

    </form>
{% endblock %}
