
{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "js/split_time.js" %}"></script>
    <script src="{% static "assays/assayplatereadermap_update.js" %}"></script>
    <script src="{% static "assays/compound_instances.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}

    <li><a href="{% url 'platereadermap' %}">PlateReaderMaps</a></li>
    <!--<li><a href="{{ form.instance.study.get_absolute_url }}">{{ form.instance.study }}</a></li>-->
    <li class="active">
        {% if update %}
            Update <em>{{ object }}</em>
        {% elif detail %}
            Plate Reader <em>{{ object }}</em>
        {% else %}
            Add Plate Reader Map
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">

        <h1>
        {% if update %}
            Update <em>{{ object }}</em>
        {% elif detail %}
            Plate Reader <em>{{ object }}</em>
        {% else %}
            Add Plate Reader Map
        {% endif %}
        <br>
        {% csrf_token %}
        </h1>

        {% include "submit.html" with flag="y" creator=object.created_by.id %}

        {% include 'errors.html' %}

        {% include 'tracking.html' %}

        {% if form.errors %}
            {% for field, error in form.errors.items %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <br>

        {% include 'generic_field.html' with field=form.name label="Name" %}
        {% include 'generic_field.html' with field=form.description label="Description" %}
        {% include 'generic_field.html' with field=form.device label="Plate Size" %}
    </form>
{% endblock %}
