{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Assay Plate Reader Files</li>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/assayplatereaderfile_index.js" %}"></script>
{% endblock %}

{% block content %}

    {% include 'tracking.html' with study_submit='true' %}

    <div class="padded-bottom">
        <div class="well">
            <h1 class="text-center">
                <em><b>Assay Plate Reader File List</b></em><br><br>
                Study: {{ object }}
            </h1>
        </div>

        <div>
            <h2>
                {# Hide setup add buttons if the study is marked reviewed #}
                {% if user|is_group_editor:object.group.name and not object.signed_off_by %}
                    {% if not review %}
                    <div>
                        <a href="{% url 'assayplatereaderfile-add' object.id %}" class="btn btn-success" role="button">Add File</a>
                    </div>
                        {% endif %}
                {% endif %}
            </h2>
        </div>

        {% if assayplatereadermapdatafiles %}
        <div>
            <div><p id="plate_file_index_tooltip"></p>
                <label for="plate_file_index_tooltip">Plate Reader File List &nbsp;</label>
            </div>

            <table id="assayplatereaderfiles" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View or Edit</th>
                    <th>File</th>
                    <th>Link to View File</th>
                    <th>Description</th>
                    <th>Data Block Count</th>
                </tr>
            </thead>
            <tbody>
            {% for file in assayplatereadermapdatafiles %}
                <tr>
                    <td class="no-wrap">
                            <a class="btn btn-primary" href="{% url 'assayplatereaderfile-view' file.id  %}">View </a>
{#                            {% if not object.signed_off_by %}#}
                                <a class="btn btn-primary" href="{% url 'assayplatereaderfile-update' file.id  %}">Edit </a>
{#                            {% endif %}#}
                    </td>
                    <td>{{ file.name_short }}</td>
                    <td>
                        <a target="_blank" href="/media/{{ file.plate_reader_file }}">
                            {{ file.plate_reader_file }}
                        </a>
                    </td>
                    <td>{{ file.description }}</td>
                    <td>{{ file.block_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No assay plate files have been uploaded and saved.
        </div>
        {% endif %}
    </div>

{% endblock %}

