{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "assays/assayreference_add.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'assay-reference-list' %}">References</a></li>
    <li class="active">
        {% if update %}Update{% else %}Add{% endif %} Reference
    </li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">

        <h1>
            {% if update%}Update{% else %}Add{% endif %} Reference
        <br>
        {% csrf_token %}
        </h1>

        {% include "submit.html" with flag="y" creator=object.created_by.id %}

        {% include 'errors.html' %}

        {% include 'tracking.html' %}

        {# {% include 'add_reference.html' %}#}

        {% if form.errors %}
            {% for field, error in form.errors.items %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <br>

        {# <label for="pubmed_id" class="col-sm-2 control-label">PubMed ID</label>#}
        {# <textarea name="pubmed_id" rows="1" maxlength="200" id="pubmed_id" required="" class="form-control" cols="40"></textarea>#}
        {% include 'generic_field.html' with field=form.query_term label="PubMed ID / DOI" %}
        <div class="row padded-bottom">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <a id="fetch_reference_info" class="btn btn-primary" role="button">Fetch Reference Information</a>
            </div>
        </div>

        {% include 'generic_field.html' with field=form.pubmed_id label="PubMed ID" %}
        {% include 'generic_field.html' with field=form.title label="Title" %}
        {% include 'generic_field.html' with field=form.authors label="Authors" %}
        {% include 'generic_field.html' with field=form.abstract label="Abstract" %}
        {% include 'generic_field.html' with field=form.publication label="Publication" %}
        {% include 'generic_field.html' with field=form.year label="Year" %}
        {% include 'generic_field.html' with field=form.doi label="DOI" %}

    </form>
    {% comment %}
    <br>
    {% if update %}
    <div class="hidden">
    {% else %}
    <div>
    {% endif %}
        <div id="ref_pubmed_id" class="row padded-bottom">

        </div>
        <div id="ref_title" class="row padded-bottom">

        </div>
        <div id="ref_authors" class="row padded-bottom">

        </div>
        <div id="ref_abstract" class="row padded-bottom">

        </div>
        <div id="ref_publication" class="row padded-bottom">

        </div>
        <div id="ref_year" class="row padded-bottom">

        </div>
        <div id="ref_doi" class="row padded-bottom">

        </div>
    </div>

    <br>
    {% endcomment %}
{% endblock %}
