{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/split_time.js" %}"></script>
    <script src="{% static "assays/assayplatereadermap_update.js" %}"></script>
    <script src="{% static "assays/compound_instances.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a>
    <li><a href="{{ form.instance.study.get_absolute_url }}">{{ form.instance.study }}</a></li>
    <li><a href="{% url 'assayplatereadermap-index' object.study.id %}">Assay Plate Reader Maps</a>
    <li class="active">
        {% if object %}
            <em>{{ object }}</em>
        {% else %}
            Add
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">

        {# Title of page #}
        <div>
            <h1>
            {% if update %}
                Update {{ object.device }} Well Plate Reader Map <em>{{ object }}</em>
            {% elif detail %}
                Review {{ object.device }} Well Plate Reader Map <em>{{ object }}</em>
            {% else %}
                Add Plate Reader Map
            {% endif %}
            <br>
            {% csrf_token %}
            </h1>
        </div>

        {# parent plate map edits #}
        <div>
            <h4>
            <br>
            {% if add %}
                <div class="row">
                    <div class="col-sm-12">
                        {% include 'generic_field.html' with field=form.device label="Plate Size"  %}
                    </div>
                </div>
            {% else %}
                <!--TODO sck remove this later...it should only be on the add page-->
                  {% include 'generic_field.html' with field=form.device label="Plate Size"  %}
{#                Plate Size: {{ object.device }}#}
            {% endif %}

            <div class="row">
                <div class="col-sm-12">
                    {% include 'generic_field.html' with field=form.name label="Map Name"  %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% include 'generic_field.html' with field=form.description label="Description" %}
                </div>
            </div>
            </h4>

{% comment %}            <h5>
            <div class="row">
                <div class="col-sm-12">
                    {% include 'generic_field.html' with field=formextras.p_time_unit label="Sample Time Unit" %}
                </div>
            </div>
            </h5>{% endcomment %}

        </div>

        <div class='hidden'>
            {% include 'generic_field.html' with field=form.study label="Study" %}
            {% include 'generic_field.html' with field=form.device label="Device" %}
        </div>

        {# {{  formset }} is the wells in the map   #}
        <div>
        {% if formset %}
            {# need this or form save   #}
            {{ formset.management_form }}

            {# rows of show hide buttons   #}
            <div>
                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_item" id="show_item" value=".item_start" checked/>
                            <div class="btn-group">
                                <label for="show_item" class="btn plate-item">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_item" class="btn btn-default active">
                                    Matrix Item
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_location" id="show_location" value=".location_start" checked/>
                            <div class="btn-group">
                                <label for="show_location" class="btn plate-location">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_location" class="btn btn-default active">
                                    Sample Location
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_time" id="show_time" value=".time_start" checked/>
                            <div class="btn-group">
                                <label for="show_time" class="btn plate-time">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_time" class="btn btn-default active">
                                    Sample Time
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_use" id="show_use" value=".use_start" />
                            <div class="btn-group">
                                <label for="show_use" class="btn plate-use">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_use" class="btn btn-default active">
                                    Well Use
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_replicate" id="show_replicate" value=".replicate_start" />
                            <div class="btn-group">
                                <label for="show_replicate" class="btn plate-replicate">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_replicate" class="btn btn-default active">
                                    Replicate #
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="fancy-checkbox table-filter padded-bottom" align="left">
                            <input class="visibility-checkbox" type="checkbox" name="show_label" id="show_label" value=".label_start" />
                            <div class="btn-group">
                                <label for="show_label" class="btn plate-label">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="show_label" class="btn btn-default active">
                                    Well Label
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {# select what to put in the wells - from formextras, not the formset   #}
            <div>
                <legend>Make Selections and Drag onto Plate</legend>
                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <label >
                            Matrix Item
                        </label>
                       {{ formextras.p_matrix_items_in_study }}
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <label >
                            Sample Location
                        </label>
                        {{ formextras.p_sample_location }}
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <label >
                            Sample Time
                        </label>
                        {{ formextras.p_time }}
                    </div>

                </div>

                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <label >
                            Well Use
                        </label>
                        {{ formextras.p_well_use }}
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <label >
                            Replicate #
                        </label>
                        {{ formextras.p_sample_replicate }}
                    </div>

{#                    <div class="col-md-3 col-lg-3">#}
{#                        <label >#}
{#                            Well Label#}
{#                        </label>#}
{#                        #}
{#                    </div>#}

                    <div class="col-md-3 col-lg-3">
                        <label >
                            Time Unit (for all)
                        </label>
                        {{ formextras.p_time_unit }}
                    </div>

                </div>
            </div>

            <hr>

            {#  table of well plate              #}
            <div>
                <table class="table table-bordered table-inverse" summary="Table selection with plugin" id="plate_table">
                    {#  table made in javascript                  #}
                </table>
            </div>

            {#  formsets may want to hide later                #}
            <div>
                {% for item in formset %}
                    name {{ item.name }}
                    matrix_item {{ item.matrix_item }}
                    rowi {{ item.row_index }}
                    coli {{ item.column_index }}
                    location {{ item.sample_location }}
                    replicate {{ item.sample_replicate }}
                    welluse {{ item.well_use }}
                    timeunit {{ item.time_unit }}
                    time {{ item.time }}
                    value {{ item.assayvalue }}
                    value unit {{ item.assayvalue_unit }}
                {% endfor %}
            </div>

            <hr>
            {# reference table of chip setup #}
            <div>
                <legend>For Reference - Chips in the Study</legend>
                {% if numberstudyitems > 0 %}
                    <div class="padded-bottom">
                        <table id="matrix_items_table" class="table table-striped table-bordered dataTable " >
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <!--<th>throw</th>-->
                                    <th>Compound</th>
                                    <th>Cell</th>
                                    <th>Setting</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in studyitems %}
                                    <tr id={{ item.id }} name={{ item.id }}>
                                        <td>{{ item.name }}</td>
                                        <!--<td>{% for x in item.assaysetupcompound_set.all %}{{ x.compound_instance.compound }}{% endfor %}</td>-->
                                        <td>{{ item.stringify_compounds|linebreaksbr }}</td>
                                        <td>{{ item.stringify_cells|linebreaksbr }}</td>
                                        <td>{{ item.stringify_settings|linebreaksbr }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Not items have been setup in the study. Need to do that first.</p>
                {% endif %}
            </div>

            {% include "submit.html" with creator=object.created_by.id %}

            {% include 'errors.html' %}

            {% comment %}            <h6>tracking begin</h6>
            {% include 'tracking.html' %}
            <h6>tracking end</h6>{% endcomment %}

            <div>
                {#Use for error checking#}
                For testing<br>
                form.errors<br>
                {{ form.errors }}<br>
                formset.errors<br>
                {{ formset.errors }}<br>
            </div>

            <div>
                {% if form.errors %}
                    {% for field, error in form.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                <br>
            </div>

        {% else %}
            <div class="alert alert-warning" role="alert">
                No wells exist for this plate reader map...this could only happen if there was an error or if changed by an admin. Contact an admin for help.
            </div>
        {% endif %}

    {# end if {{  formset }} is the wells in the map   #}
    </div>

    </form>
{% endblock %}
