{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/image_display.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "js/split_time.js" %}"></script>
    <script src="{% static "assays/compound_instances.js" %}"></script>
    <script src="{% static "assays/cell_sample_selection.js" %}"></script>
    <script src="{% static "js/calendar.js" %}"></script>
    <script src="{% static "js/flag.js" %}"></script>
    <script src="{% static "assays/organ_model_filter.js" %}"></script>
    <script src="{% static "assays/modify_matrix.js" %}"></script>
    <script src="{% static "assays/assaystudy_add_new.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/editable_studies/">Editable Studies</a></li>
    {% if object %}
        <li>
			<a href="{{ object.get_absolute_url }}">{{ object }}</a>
        </li>
    {% endif %}
    <li class="active">
        {% if object %}
            Edit <em>{{ object }}</em>
        {% else %}
            Add Study
        {% endif %}
    </li>
{% endblock %}

{% block content %}
{% if update %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" >

    <h1>
        Edit <em>{{ object }}</em>
{% else %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" >

    <h1>
        Add Study
{% endif %}
    <br>
    {% csrf_token %}
    </h1>

    {% include "submit.html" with flag="y" group=form.instance.group.name %}

    {% include 'errors.html' %}

    {% include 'tracking.html' %}

    <legend>Study Details</legend>

    {% if form.group.errors %}
        {% for error in form.group.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="group" class="col-sm-2 control-label">Group*</label>
        <div class="col-sm-10">
          {{ form.group }}
          <span id="center_name"></span>
        </div>
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ form.non_field_errors }}
        </div>
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="study_type" class="col-sm-2 control-label">Study Types*</label>
        <div class="col-sm-10">
            <label for="toxicity" style="padding-right: 10px;">Toxicity</label>
              {{ form.toxicity }}
            <label for="efficacy" style="padding-left: 20px;padding-right: 10px;">Efficacy</label>
              {{ form.efficacy }}
            <label for="disease" style="padding-left: 20px;padding-right: 10px;">Disease Model</label>
              {{ form.disease }}
            {# Please note superficial edit from Cell Characterization to Chip Characterization #}
            {# This is subject to change #}
            <label for="cell_characterization" style="padding-left: 20px;padding-right: 10px;">Chip Characterization</label>
              {{ form.cell_characterization }}
        </div>
    </div>

    {# Proposed: Excluded for convenience #}
{#    {% include 'generic_field.html' with field=form.study_types label="Study Types*" %}#}

    {% include 'generic_field.html' with field=form.name label="Study Name*" %}

    {% if form.start_date.errors %}
        {% for error in form.start_date.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="start_date" class="col-sm-2 control-label">
            Start Date*
            {# Proposed #}
{#            <span class="glyphicon glyphicon-question-sign"#}
{#                title="This date specifies when treatment of devices began&#010;Format: yyyy-mm-dd">#}
{#            </span>#}
        </label>
        <div class="col-sm-10 calendar-container">
          {{ form.start_date }} [yyyy-mm-dd]
          <div>
              This date specifies when treatment of devices began
          </div>
        </div>
    </div>

    {% include 'generic_field.html' with field=form.description label="Description" %}

    {# REMOVED FOR NOW #}
    {% comment %}
    <div class="form-group">
        <label for="use_in_calculations" class="col-sm-2 control-label">Use in Calculations</label>
        <div class="col-sm-10">
          {{ form.use_in_calculations }}
          <div>
              <em>Check</em> if the data in this study can be used in calculations.
              <br>
              <em>Do not check</em> if this study is faulty or a one-off experiment.
          </div>
        </div>
    </div>
    {% endcomment %}

    {% if form.protocol.errors %}
        {% for error in form.protocol.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="protocol" class="col-sm-2 control-label">Protocol File</label>
        <div class="col-sm-10">
            {{ form.protocol }}
            <div>
                You can upload a file for this study's protocol.
                <br>
                The protocol should be <em>specific to this study</em> (i.e. not an MPS model protocol).
                <br>
                <b>Preferred Format: PDF</b>
            </div>
        </div>
    </div>

    {% if form.image.errors %}
        {% for error in form.image.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="image" class="col-sm-2 control-label">Image</label>
        <div class="col-sm-10">
            {{ form.image }}
            <p>
                You can upload an image to clarify this study.
                <br>
                <b>Preferred Formats: PNG, JPEG, GIF</b>
            </p>
        </div>
    </div>

    <div id="image_display">
        <div id="current_display">
            {% if object.image %}
                <img class="img-responsive center-block padded-bottom" src="/media/{{ object.image }}">
            {% endif %}
        </div>
    </div>

    {# HIDDEN FOR NOW #}
    {% comment %}
    <legend>For Integrated Chip Studies</legend>
    {% if form.study_configuration.errors %}
        {% for error in form.study_configuration.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="study_configuration" class="col-sm-2 control-label">Integrated Study Configuration</label>
        <div class="col-sm-10">
            {{ form.study_configuration }}
            <br>
            <a href="/assays/studyconfiguration">
                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                Add/Edit Integrated Study Configurations (Must Refresh Page to See Change)
            </a>
        </div>
    </div>
    {% endcomment %}

    {# TODO PUT MODEL SELECTION STUFF HERE #}
    <legend>Setup Information</legend>

    {% include 'generic_field.html' with field=form.organ_model label="MPS Model" %}
    {% include 'generic_field.html' with field=form.organ_model_protocol label="MPS Model Version" %}

    {# TODO PUT THE TABLE THING HERE #}
    <div id="study_setup_table_section">
            {# Section for visibility checkboxes #}
            {# A litle awkward #}
            <div class="row large-padding-top">
            <div class="col-md-4 col-lg-3">
                <div class="fancy-checkbox table-filter padded-bottom" align="left">
                    <input class="visibility-checkbox" type="checkbox" name="show_cells" id="show_cells" value=".cell_start" checked/>
                    <div class="btn-group">
                        <label for="show_cells" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                        <label for="show_cells" class="btn btn-default active">
                            Show Cells
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="fancy-checkbox table-filter padded-bottom" align="left">
                    <input class="visibility-checkbox" type="checkbox" name="show_compounds" id="show_compounds" value=".compound_start" checked/>
                    <div class="btn-group">
                        <label for="show_compounds" class="btn btn-info">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                        <label for="show_compounds" class="btn btn-default active">
                            Show Compounds
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="fancy-checkbox table-filter padded-bottom" align="left">
                    <input class="visibility-checkbox" type="checkbox" name="show_settings" id="show_settings" value=".setting_start" checked/>
                    <div class="btn-group">
                        <label for="show_settings" class="btn btn-warning">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                        <label for="show_settings" class="btn btn-default active">
                            Show Settings
                        </label>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <div class="fancy-checkbox table-filter padded-bottom" align="left">
                        {# useless value #}
                        <input type="checkbox" name="show_details" id="show_details" value=".full_details" />
                        <div class="btn-group">
                            <label for="show_settings" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span> </span>
                            </label>
                            <label for="show_details" class="btn btn-default active">
                                Show Full Details
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3" hidden>
                    <div class="fancy-checkbox table-filter padded-bottom" align="left">
                        <input class="visibility-checkbox" type="checkbox" name="show_errors" id="show_errors" value=".error-display" checked/>
                        <div class="btn-group">
                            <label for="show_settings" class="btn btn-warning">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span> </span>
                            </label>
                            <label for="show_errors" class="btn btn-danger active">
                                Show Errors
                            </label>
                        </div>
                    </div>
                </div>
                {# Spacer, contrived #}
                <div class="col-md-4 col-lg-3"></div>
            </div>

        {# Set of buttons for adding cells, compounds, settings etc. #}
        <div class="padded-bottom">
        <a role="button" class="btn btn-success" id="add_group_button"><span class="glyphicon glyphicon-plus-sign"></span>Add Group</a>
        </div>

        <div class="padded-bottom">
        <a role="button" class="btn btn-success" data-add-new-button="true" data-prefix="cell">Add Cell</a>
        <a role="button" class="btn btn-success" data-add-new-button="true" data-prefix="compound">Add Compound</a>
        {# Probably will be renamed #}
        <a role="button" class="btn btn-success" data-add-new-button="true" data-prefix="setting">Add Setting</a>
        </div>

        <table class="table table-striped table-bordered table-nonfluid" id="study_setup_table">
            <thead>
                <th>Number of Chips</th>
                <th>Test Type</th>
                <th hidden class="cell_start"></th>
                <th hidden class="compound_start"></th>
                <th hidden class="setting_start"></th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    {{ study_assay_formset.management_form }}
    <legend>Assays</legend>

    {% if study_assay_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ study_assay_formset.non_form_errors }}
        </div>
    {% endif %}

    {% if study_assay_formset.errors %}
        {% for dict in study_assay_formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <a id="add_button-{{ study_assay_formset.prefix }}" class="btn btn-success" role="button">Add Assay</a>
    <table class="table table-striped inlines" id="{{ study_assay_formset.prefix }}-group"  name="assays">
        <thead>
            <tr>
                <th>Assay Category*</th>
                <th>Target/Analyte*</th>
                <th>Method/Kit*</th>
                <th>Readout Unit*</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for assay in study_assay_formset %}
                <tr class="inline" id="assay-{{ forloop.counter0 }}">
{#                     Hidden input for Update (need id to associate)#}
                    {% if assay.id.value %}
                    <td class="original" hidden>
                        <input id="id_{{ study_assay_formset.prefix }}-{{ forloop.counter0 }}-id" name="{{ study_assay_formset.prefix }}-{{ forloop.counter0 }}-id" type="hidden" value="{{ assay.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ assay.category }}</td>
                    <td>{{ assay.target }}</td>
                    <td>{{ assay.method }}</td>
                    <td>{{ assay.unit }}</td>
                    <td>{{ assay.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# REMOVED FOR NOW #}
    {% comment %}
    {{ supporting_data_formset.management_form }}
    <legend>Supporting Data</legend>
    {% if supporting_data_formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ supporting_data_formset.non_form_errors }}
        </div>
    {% endif %}

    {% if supporting_data_formset.errors %}
        {% for dict in supporting_data_formset.errors %}
            {% for key,value in dict.items %}
                {% if key %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <a id="add_button-{{ supporting_data_formset.prefix }}" class="btn btn-success" role="button">Add Supporting Data</a>
    <table class="table table-striped inlines" id="{{ supporting_data_formset.prefix }}-group" name="supporting_data">
        <thead>
            <tr>
                <th>Description*</th>
                <th>Supporting Data File*</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for supporting_data in supporting_data_formset %}
                <tr class="inline" id="supporting_data-{{ forloop.counter0 }}">
                    {% if supporting_data.id.value %}
                    <td class="original" hidden>
                        <input type="hidden"
                               id="id_{{ supporting_data_formset.prefix }}-{{ forloop.counter0 }}-id"
                               name="{{ supporting_data_formset.prefix }}-{{ forloop.counter0 }}-id"
                               value="{{ supporting_data.id.value }}">
                    </td>
                    {% endif %}
                    <td>{{ supporting_data.description }}</td>
                    <td>{{ supporting_data.supporting_data }}</td>
                    <td>{{ supporting_data.DELETE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endcomment %}

    {# Hidden for Cells, Compounds, and Settings #}
    {# <div hidden> #}
        {# {{ form.setup_data }} #}
        {# {{ form.number_of_items }} #}
        {# {{ form.test_type }} #}
    {# </div> #}
    {# Hidden #}
    <div hidden>
        {{ form.setup_data }}
    </div>
</form>

{% include 'assays/group_editing.html' %}

{% endblock %}
