{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Assay Plate Reader Maps</li>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/assayplatereadermap_index.js" %}"></script>
{% endblock %}

{% block content %}

    {% include 'tracking.html' with study_submit='true' %}

    <div class="padded-bottom">
        <div class="well">
            <h1 class="text-center">
                <em><b>Assay Plate Reader Map List</b></em>
                <br>
                <br>
                Study: {{ object }}
            </h1>
        </div>

        <div>
            <h2>
                {# Hide setup add buttons if the study is marked reviewed #}
                {% if user|is_group_editor:object.group.name and not object.signed_off_by %}
                    {% if not review %}
                    <div>
                        <a href="{% url 'assayplatereadermap-add' object.id %}" class="btn btn-success" role="button">Add Map</a>
                    </div>
                    {%  endif %}
                {% endif %}
            </h2>
        </div>

        {% if assayplatereadermaps %}
            <div>
                <div><p id="plate_map_index_tooltip"></p>
                    <label for="plate_map_index_tooltip">Plate Map List &nbsp;</label>
                </div>
                <table id="assayplatereadermaps" class="display table table-striped table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>View or Edit</th>
                        <th>Plate Map Name</th>
                        <th>Plate Size</th>
                        <th>Time Unit</th>
                        <th>Standard</th>
                        <th>Description</th>
                        <th>Data Block Count</th>
                    </tr>
                </thead>
                <tbody>
                {% for plate in assayplatereadermaps %}
                    <tr>
                        <td class="no-wrap">
                                <a class="btn btn-primary" href="{% url 'assayplatereadermap-view' plate.id  %}">View </a>
                                {% if not object.signed_off_by %}
                                    <a class="btn btn-primary" href="{% url 'assayplatereadermap-update' plate.id  %}">Edit </a>
                                {% endif %}
                        </td>
                        <td>{{ plate.name }}</td>
                        <td>{{ plate.device }}</td>
                        <td>{{ plate.time_unit }}</td>
                        <td>{{ plate.new_study_assay }}</td>
                        <td>{{ plate.description }}</td>
                        <td>{{ plate.block_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No assay plate maps exist for this study
            </div>
        {% endif %}
    </div>

{% endblock %}

