{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "assays/assaystudy_upload.js" %}"></script>
    <script src="{% static "assays/chart_display.js" %}"></script>
    <!--sck raw_plate-->
{#    <script type="text/javascript" charset="utf-8" src="{% static "js/tablecellsselection.js" %}"></script>#}

{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/editable_studies/">Editable Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Upload Data File</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' with charts="true" %}
{% endblock %}

{% block fluid-content %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" >

    <!--all the functions on this page require the uploaded of a file (either previously or now), show always -->
    <h1>
        Upload Data File for <em>{{ object }}</em>
    <br>
    {% csrf_token %}
{#        <button id="submit" type="submit" class="btn btn-primary">Submit</button>#}
    </h1>

    <legend><br>Select the Type of File to Upload</legend>

    {# sck for raw_plate #}
    <!--<p> Please Specific the Format of the File to Upload (option to delete a previously uploaded file provided below): </p>-->
    <label><input type="radio" name="upload_type" value="mif_c" checked="checked"> MIF-C </label>
    - Upload processed assay data in the required columnar format.
    <br>
    <label><input type="radio" name="upload_type" value="raw_plate"> Raw Plate </label>
    - Upload, process, and/or reprocess a plate reader output file and use the plate reader data processing tool.
    <br>
    <label><input type="radio" name="upload_type" value="supporting_data"> Supporting Data </label>
    - Attach a supporting data file to this study.
    <!--<label><input type="radio" name="upload_type" value="blue"> genomic</label> -->

    <div class="mif-c">
        {% include "submit.html" %}

        {% include 'errors.html' %}
    </div>

    {# sck for raw_plate Add/Edit Plate Maps#}
    <div class="raw-plate hidden">
        <legend><br>Plate Map General Information</legend>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" >
                    <b>Select Plate Map Information: </b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" >
                    <label><input type="radio" name="plate_map_type_option" value="sample" checked="checked"></label>
                    Samples were removed from MPS device and put in a separate plate for plate reader analysis (a plate map).
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" >
                    <label><input type="radio" name="plate_map_type_option" value="matrix"></label>
                    Entire experiment conducted in plate and plate was placed in the plate reader (a "Matrix").
                </div>
            </div>
        </div>
    </div>

    {# sck for raw_plate Extra Info About Plate Maps#}
    <div class="raw-plate hidden">
        <div class="container">
            <div class="sample-times">
                <div class="row">
                    <div class="col-sm-12" >
                        <i><b><br>How will the plate maps be used? </b></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" >
                        <label><input type="radio" name="sample_time_option" value="one_time_point" checked="checked"></label>
                        Samples for each assay plate will be from 1 and only one time point.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" >
                        <label><input type="radio" name="sample_time_option" value="multiple_time_points"></label>
                        Sample on the assay plate will be from multiple time points.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" >
                        <i><b><br>Select plate map to work with: </b></i>
                    </div>
                    <div class="col-sm-1" >
                        <i><b><br>OR </b></i>
                    </div>
                    <div class="col-sm-4" >
                        <i><b><br>Select a plate size: </b></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" >
                        <p>---make a select box that pulls the maps from ? (yet to be determined how we will store but will be with study)</p>
                    </div>
                    <div class="col-sm-1" >
                        <i><b><br></b></i>
                    </div>
                    <div class="col-sm-4" >
                        <p>---make a select box that of standard plate sizes and configurations</p>
                    </div>
                </div>
            </div>
            <div class="study-matrices hidden">
                <div class="row">
                    <div class="col-sm-12" >
                        <i><b><br>Select matrix to work with: </b></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" >
                        <p>---make a select box that pulls the matrices from this study</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" >
                    <i><b>Plate Map Name: </b></i>
                </div>
                <div class="col-sm-3" >
                    <form>
                      <input type="text" name="current_plate_map_name"><br>
                    </form>
                </div>
                <div class="col-sm-7" >
                    <i>(assign a new name to create a new plate map, leave selected plate map to edit existing) </i>
                </div>
            </div>
        </div>
    </div>

    {# sck for raw_plate Table of Chips that are set up#}
    <div class="raw-plate hidden">
        <legend><br>Chips in the Study</legend>
{% comment %}        <div class="container">
                <div class="row">
                    <div class="col-sm-12" >
                        <i><b><br>here: study name {{ object }}</b></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" >
                        <p>id {{ object.id }}</p>
                    </div>
                </div>
        </div>{% endcomment %}

        <div class="container">
            <div class=row">
                <div class="col-sm-3" >
                    <div>
                        <table class="table table-striped table-bordered">
                              <tr>
                                <td>filter</td>
                                <td>Chip ID</td>
                              </tr>
                              <tr>
                                <td>filter</td>
                                <td>thinking about</td>
                              </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-9" >
                    <div>
                        <table class="table table-bordered table-inverse" summary="Table selection with plugin" id="tablecellsselection">
                        <!-- table is built in the js file-->
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    {# sck for raw_plate The Plate Map#}
    <div class="raw-plate hidden">
    <legend><br>Position Samples on the Plate</legend>

        <div class=row">
            <div class="col-sm-12" >
                <div>
                    <table class="table table-striped table-bordered">
                        <tr>
                           <td>thinking about</td>
                            <td>
                                <li>Category, Assay, Target</li>
                                <li>Well Use (may need to tie to assay; s b c)</li>
                                <li>Standards need an incrementor of sorts, samples need a selection (with time) of sorts.</li></td>
                        </tr>
                        <tr>
                            <td>lots of details to work out</td>
                            <td>blah blah</td>
                        </tr>
                        <tr>
                            <td>still</td>
                            <td>thinking about</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {# sck for raw_plate Table summarizing all previously plate map file processing (including way working on..if submitted)#}
    <div class="raw-plate hidden">
        <legend><br>Review Processing Status of Uploaded Plate Reader Data</legend>
        <li>make a table: Files uploaded, # data grids in file, Handling File Profile, Processing Opotions Saved?, Plate Mape(s), ....</li>
        <li> iflters Model, model version, sample location, assay time, chip</li>
        <li> check box of file to work with (recent import will need to be on table)</li>
        <br>
    </div>

    <!--all the functions on this page require the uploaded of a file (either previously or now), show always -->
    <legend><br>Select Data File to Upload</legend>
    <div class="raw-plate hidden">
        <p>To work with a file uploaded previously, check mark the file in the Status table and skip this step.</p>
        <br>
    </div>

    <!--could put this in a mif-c class div?-->
    {% if form.errors %}
        {% for error in form.bulk_file.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <!-- sck added this /div tag, there seemed to be one end div tag missing...need to check with Luke-->
    </div>
    <div class="form-group">
    {% endif %}
        <label for="bulk_file" class="col-sm-2 control-label">File*</label>
        <div class="col-sm-10">
            {{ form.bulk_file }}
        </div>
    </div>

    {# sck for raw_plate Picking the processing options#}
    <div class="raw-plate hidden">
        <legend><br>Plate Reader Data Processing Options</legend>
        <li>if more than one grid, how handle?</li>
    </div>

    {# sck for raw_plate Calibrating data#}
    <div class="raw-plate hidden">
        <legend><br>Process Plate Reader Data (Calibrate)</legend>
    </div>

    {# sck for raw_plate Annotation (require dilition and cells to be entered in a table...#}
    <div class="raw-plate hidden">
        <legend><br>Annotate Plate Reader Data</legend>

        <br>
    </div>

    {# supporting_data section #}
    <div class="supporting-data hidden">
        {# NOT DRY #}
        {{ supporting_data_formset.management_form }}
        <legend><br>Supporting Data</legend>
        {% if supporting_data_formset.non_form_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ supporting_data_formset.non_form_errors }}
            </div>
        {% endif %}

        {% if supporting_data_formset.errors %}
            {% for dict in supporting_data_formset.errors %}
                {% for key,value in dict.items %}
                    {% if key %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <a id="add_button-{{ supporting_data_formset.prefix }}" class="btn btn-success" role="button">Add Supporting Data</a>
        <table class="table table-striped inlines" id="{{ supporting_data_formset.prefix }}-group" name="supporting_data">
            <thead>
                <tr>
                    <th>Description*</th>
                    <th>Supporting Data File*</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for supporting_data in supporting_data_formset %}
                    <tr class="inline" id="supporting_data-{{ forloop.counter0 }}">
                        {% if supporting_data.id.value %}
                        <td class="original" hidden>
                            <input type="hidden"
                                   id="id_{{ supporting_data_formset.prefix }}-{{ forloop.counter0 }}-id"
                                   name="{{ supporting_data_formset.prefix }}-{{ forloop.counter0 }}-id"
                                   value="{{ supporting_data.id.value }}">
                        </td>
                        {% endif %}
                        <td>{{ supporting_data.description }}</td>
                        <td>{{ supporting_data.supporting_data }}</td>
                        <td>{{ supporting_data.DELETE }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# raw_plate and mif-c#}
    <div class="raw-plate mif-c">
        {# Excluded for now #}
    {#    <div hidden>#}
    {#    {% include 'generic_field.html' with field=form.overwrite_option label="Overwrite Option*" %}#}
    {#    </div>#}

        <br>
        <div class="mif-c">
            <p>
                <a href="/media/excel_templates/chip_template-{{ version }}.xlsx">Click Here For Upload Template</a>
            </p>
        </div>
        <br>

        {% include 'assays/assaydatafileupload_table.html' with show_delete="true" group=object.group.name %}

        {# Temporary #}
        {# {% include 'assays/chart_options.html' with chart_title="New Data" chart_prefix="charts" %} #}
        {% include 'assays/sidebar_extras.html' with show_hide="true" %}

        <legend><br>Plots of Data Marked for Removal from the Study</legend>
        <!--This is something that has been discussed for all types of data-->
        <!--Bert had suggested that this be shown with the data that are added-->
        <!--the idea is to replace the auto marking of replaced values -->

        <legend><br>Plots of Data to Be Added to the Study</legend>
        <!--Plots of the data in the MIF-C file or that has been processed and is ready for submission to the main study-->

        <div id="charts" class="padded-bottom">Preview Unavailable</div>

        {# Revised for now #}
        {# {% include 'assays/chart_options.html' with chart_title="New Data" chart_prefix="new_charts" %} #}
        {# <div id="new_charts" class="padded-bottom">Preview Unavailable</div> #}

        {# {% include 'assays/chart_options.html' with chart_title="Current Data" chart_prefix="current_charts" %} #}
        {# <div id="current_charts" class="padded-bottom">No Current Data</div> #}

        {% include 'assays/group_table.html' %}
    </div>

    </form>
{% endblock %}
