<h1>add plate map  will get back to this</h1>
{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/enter_override.js" %}"></script>
    <!--<script src="{% static "assays/assaystudy_platereadermap_add.js" %}"></script>-->
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/editable_studies/">Editable Studies</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">Assay Plate Map</li>
{% endblock %}

{% block fluid-content %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" >

    <h1>  New Assay Plate Map for Study ??? </h1>

    {% csrf_token %}

    {% include "submit.html" %}

    {% include 'errors.html' %}

    <legend>Select Starting Source for Plate Map</legend>
    <div class="raw-plate">
        <div class="row">
            <div class="col-sm-12" >
                <label><input type="radio" name="plate_map_type_option" value="matrix"> Use an Existing Matrix </label>
                - MPS model is a plate and the same plate was put directly in the plate reader.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" >
                <label><input type="radio" name="plate_map_type_option" value="sample" checked="checked"> Previously Saved Plate Map </label>
                - Previously saved a plate map and want to edit or copy.
            </div>
            <div class="overwrite-plate">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11" >
                        <label><input type="radio" name="plate_map_new_overwrite" value="new_map" checked="checked"> Copy to New Plate Map </label>
                        <br><label><input type="radio" name="plate_map_new_overwrite" value="overwrite_map" > Edit Selected Plate Map (save as) </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" >
                <label><input type="radio" name="plate_map_type_option" value="empty" > Select Empty Plate </label>
                - Start from an empty well plate.
            </div>
        </div>
    </div>
    <hr>
    <a href="plate_map_new" class="btn btn-primary" role="button">Plate Maps</a>
    {# sck for raw_plate Extra Info About Plate Maps#}
    <!-- study name {{ object }}  and  id {{ object.id }} -->
    <div class="raw-plate">
        <div class="sample-times hidden">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'generic_field.html' with field=form.existing_plate_map_list label="Select Plate Map" %}
                </div>
            </div>
        </div>

        <div class="empty-times hidden">
            <div class="row">
                <div class="col-sm-12" >
                    {% include 'generic_field.html' with field=form.well_plate_size label="Select Size" %}
                </div>
            </div>
            <!--what was picked: <input type="text" name="selectedplatesize">-->
        </div>
        <div class="matrix-times hidden">
            <div class="row">
                <div class="col-sm-12">
                    {% include 'generic_field.html' with field=form.matrix_list label="Select Matrix" %}
                </div>
            </div>
        </div>
    </div>

    {# sck for raw_plate Table of Chips that are set up#}
    <div class="raw-plate">
        <div class="sample-times empty-times hidden">
        <!-- get the table to actually sort...it doesn't right now-->
            <legend><br>Chips in the Study</legend>
            {% if items %}
            <div class="padded-bottom">
                <table id="matrix_items_table" class="table table-striped table-bordered dataTable " >
                    <thead>
                        <tr role="row">
                            <th>Name</th>
                            <!--<th>MPS Model</th>-->
                            <th>Compound</th>
                            <th>Cell</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr id={{ item.id }} name={{ item.id }}>
                                <td>{{ item.name }}</td>
                                <!--<td>{{ item.organ_model }}</td>-->
                                <td>{{ item.stringify_compounds|linebreaksbr }}</td>
                                <td>{{ item.stringify_cells|linebreaksbr }}</td>
                                <td>{{ item.stringify_settings|linebreaksbr }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% else %}
            <div class="alert alert-warning" role="alert">
                No items exist for this study
            </div>
            {% endif %}
        </div>
    </div>

    {# sck for raw_plate The Plate Map#}
    <div class="raw-plate">
    <legend><br>Select Sample, Standard, or Blank and Position on the Plate</legend>
        <div>
            <div class="row">
                <div class="col-sm-4">
                    {% include 'generic_field.html' with field=form.plate_map_well_use label="Well Use" %}
                </div>
                 <div class="col-sm-5">

                </div>
                <div class="col-sm-3">
                    {% include 'generic_field.html' with field=form.plate_map_time_unit label="Time Unit" %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {% include 'generic_field.html' with field=form.matrix_item_list label="Chip" %}
                </div>
                <div class="col-sm-5">
                    {% include 'generic_field.html' with field=form.model_location_list label="Location" %}
                </div>
                <div class="col-sm-3">
                    {% include 'generic_field.html' with field=form.sample_time_entry label="Time" %}
                </div>
            </div>
        </div>

        <hr>
        <div class = "row">
            <div class="col-sm-2">
                <p>Show in Plate Map:</p>
            </div>
            <div class="col-sm-10">
                <label><input type="checkbox" id="show_on_plate_map1" checked="checked"> Chip Name </label>
                <label><input type="checkbox" id="show_on_plate_map2" > Sample Location </label>
                <label><input type="checkbox" id="show_on_plate_map3" > Sample Time </label>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-12" >
                <div>


                    <div>
                    <table class="table table-bordered table-inverse" summary="Table selection with plugin" id="tablecellsselection">
                    <!-- table is built in the js file-->
                    </table>
                    </div>

                </div>
            </div>
        </div>


        <div>
            <div class="new-plate-map">
                 <div class="row">
                     <div class="col-sm-2">
                         <!-- function of this button will need to be changed and will need to involve a lot of QC, especially if overwriting  -->
                           <button id="submit" type="submit" class="btn btn-primary">Save Plate Map</button>
                     </div>
                     <div class="col-sm-10" >
                            {% include 'generic_field.html' with field=form.well_plate_new_name label="Save with this Name" %}
                     </div>
                     <!--was entered for checking: <input type="text" name="enteredplatename">-->
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <ul class="list-unstyled">
                        <li>Make and save all the plate maps you will need for a plate reader output file before continuing.
                            <ul class="filled-circle">
                                <li>Incomplete plate maps can be saved (e.g., a plate map without time points), but a plate map must be completed prior to using it for data processing.</li>
                                <li>When using the same well plate at multiple time point, you need a plate map for EACH time point. Recommendation - make a complete map for one time point, then select to start with that plate map, edit the time point, and save it as a new plate map.</li>
                                <li>When using an existing matrix, add sample locations and time points, and standards and blanks (if needed), and save as a plate map.</li>
                                <li>Make sure to save your plate map before navigating to other locations on this page or to other pages or your changes will be lost.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<p>Note for development: at this point, all plate maps should be made and saved and the user would be ready to continue with file upload and data processing.</p>-->
        </div>
    </div>
    </form>
{% endblock %}
