{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "assays/assaychipreadout_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Chip Readouts</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Chip Readouts
            </h2>
        </legend>

        <table hidden id="readouts" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Study</th>
                    <th>Chip Setup</th>
                    <th>Readout Date</th>
                    <th>Assays</th>
                    <th>Caution Flag</th>
                    <th>Exclusion</th>
                    <th>Scientist</th>
                    <th>Creator</th>
                    <th>Group</th>
                    <th>Review</th>
{#                    <th>Group</th>#}
                </tr>
            </thead>

            <tbody>
            {% for readout in object_list %}
                <tr class="readout" id={{ readout.id }} name={{ readout.id }}>
                    <td><a class="btn btn-primary" href="{{ readout.id }}">View/Edit</a></td>
                    <td><a href="/assays/{{ readout.chip_setup.assay_run_id.id }}">{{ readout.chip_setup.assay_run_id }}</a></td>
                    <td><a href="/assays/assaychipsetup/{{ readout.chip_setup.id }}">{{ readout.chip_setup }}</a></td>
                    {% if readout.readout_start_time != None %}
                        <td>{{ readout.readout_start_time|date:"M d, Y" }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ readout.assays|default:"-No Data-" }}</td>
                    <td>
                        <div class="text-warning">
                            {{ readout.caution_flag }}
                        </div>
                    </td>
                    <td>
                        {% if readout.quality %}
                            <div class="text-danger" title="This entry contains {{ readout.quality }} excluded point(s)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                {{ readout.quality }}
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ readout.scientist }}</td>
                    <td>
                        {{ readout.full_creator }}
                    </td>
                    <td>{{ readout.group }}</td>
                    <td>
                        {% if readout.signed_off_by %}
                            <span title="This entry was validated by {{ readout.full_reviewer }} on {{ readout.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if readout.flagged %}
                            <span title="This entry is flagged for review: '{{ readout.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
