{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block load_js %}
    <script src="{% static "assays/grouping_filtering.js" %}"></script>
    <script src="{% static "assays/chart_display.js" %}"></script>
    <script src="{% static "assays/assaydatafileupload_detail.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a></li>
    <li><a href="{{ object.study.get_absolute_url }}">{{ object.study }}</a></li>
    <li><a href="{% url 'assays-assaydatafileupload-list' object.study.id %}">Data</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block sidebar %}
    {% include 'assays/grouping_filtering.html' with charts="true" %}
{% endblock %}

{% block fluid-content %}
    <h1>
        <em>
        {{ object }}
        </em>
    </h1>

    {# {% include 'tracking.html' %} #}

    <table class="table table-striped table-bordered table-nonfluid" style="background-color: #AAB3AB;">
        <tbody>
            <tr>
                <th>
                    Download
                </th>
                <td>
                    <a href="{{ object.file_location }}">Click here to download the file</a>
                </td>
            </tr>
        </tbody>
    </table>

    {% include 'assays/sidebar_extras.html' with show_hide="true" %}

    <div id="charts" class="padded-bottom"></div>
{% endblock %}
