{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "assays/assaytarget_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Targets</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Target/Analytes
            </h2>
        </legend>
        <div id="targets">
            <table id="targets-table" class="display" cellspacing="0" width="100%" hidden>
                <thead>
                    <tr>
                        <th>View Details</th>
                        <th>Target</th>
                        <th>Short Name</th>
                        <th>Description</th>
                    </tr>
                </thead>

                <tbody>
                {% for target in object_list %}
                     <tr>
                        <td><a class="btn btn-primary" title="View paired method/kits." href="{{ target.id }}">View</a></td>
                        <td>{{ target.name }}</td>
                        <td>{{ target.short_name }}</td>
                        <td>{{ target.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
