{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "assays/assayplatesetup_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Plate Setups</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Plate Setups
            </h2>
        </legend>

        <table hidden id="setups" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Plate Setup ID / Barcode</th>
                    <th>Study</th>
                    <th>Date</th>
                    <th>Organ Model Name</th>
                    <th>Scientist</th>
                    <th>Creator</th>
                    <th>Group</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for setup in object_list %}
                <tr class="plate-setups" id={{ setup.id }} name={{ setup.id }}>
                    <td><a class="btn btn-primary" href="{{ setup.id }}">View/Edit</a></td>
                    <td>{{ setup.assay_plate_id }}</td>
                    <td><a href="/assays/study/{{ setup.assay_run_id.id }}">{{ setup.assay_run_id }}</a></td>
                    <td>{{ setup.setup_date|date:"M d, Y" }}</td>
                    <td>{{ setup.assay_layout }}</td>
                    <td>{{ setup.scientist }}</td>
                    <td>
                        {{ setup.created_by.first_name }}
                        {{ setup.created_by.last_name }}
                    </td>
                    <td>{{ setup.group }}</td>
                    <td>
                        {% if setup.signed_off_by %}
                            <span title="This entry was reviewed by {{ setup.signed_off_by }} on {{ setup.signed_off_date }}" class="glyphicon glyphicon-thumbs-up text-primary" aria-hidden="true"></span>
                        {% endif %}
                        {% if setup.flagged %}
                            <span title="This entry is flagged for review: '{{ setup.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
