{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a>
    <li><a href="{{ form.instance.study.get_absolute_url }}">{{ form.instance.study }}</a></li>
    <li><a href="{% url 'assayomicdatafileupload-index' form.instance.study_id %}">Assay Omic Files</a>
    <li class="active">
        Add
    </li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="padded-bottom">
            {# title - structure of templates - HANDY #}
            <div class="well">
                <h1 class="text-center">
                    <em><b>
                    Add Assay Omic File
                    </b></em>
                    <br>
                    <br>
                    to Study {{ form.instance.study }}
                    <br>
                {% csrf_token %}
                </h1>
            </div>

            {# pass to js file need for use in js #}
            <div>
                <div class="hidden" id="check_load">
                    {{ page_called }}
                </div>
                <div class="hidden" id="this_file_id">
                    {{ object.id }}
                </div>
                 <div class="hidden" >
                    study_2: {{ form.study_2 }}
                    form.instance.study: {{ form.instance.study }}
                 </div>
            </div>

            {#        This is the section to show the user prettier errors#}
            <div>
                {% include 'errors.html' %}

                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    {{field.label}}: {{error}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ form.non_field_errors }}
                        form.errors<br>
                        {{ form.errors }}<br>
                    </div>
                {% endif %}
            </div>


            {# main #}
            <div class="container">

                <label for="omic_data_file" class="col-sm-2 control-label">Upload File</label>
                <div class="col-sm-10">
                    <input type="file" name="omic_data_file" class="btn btn-primary btn-lg" id="id_omic_data_file">
                </div>
                <br>
                {% include 'generic_field.html' with field=form.description %}
                {% include 'generic_field.html' with field=form.method %}

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <label>Select groups so that, if value is positive, gene is up regulated in group 1.</label>
                    </div>
                </div>

                {% include 'generic_field.html' with field=form.group %}
                {% include 'generic_field.html' with field=form.group_2 %}
                {% include 'generic_field.html' with field=form.time_1 label="Sample Time"%}
                {% include 'generic_field.html' with field=form.time_unit label="Sample Time Unit"%}
                {% include 'generic_field.html' with field=form.location label="Sample Location"%}


            </div>
            <div>
                <div>
                    {% if not review %}
                        {% include "submit.html" with flag="y" creator=object.created_by.id %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
