{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "js/enter_override.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/assaystudy/">Studies</a>
    <li><a href="{{ form.instance.study.get_absolute_url }}">{{ form.instance.study }}</a></li>
    <li><a href="{% url 'assayomicdatafileupload-index' form.instance.study_id %}">Assay Omic Files</a>
    <li class="active">
        Add
    </li>
{% endblock %}

{% block content %}

    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="padded-bottom">
            <div class="well">
                <h1 class="text-center">
                    <em><b>
                    Add Assay Omic File
                    </b></em>
                    <br>
                    <br>
                    to Study {{ form.instance.study }}
                    <br>
                {% csrf_token %}
                </h1>
            </div>

            {% include "submit.html" with flag="y" creator=object.created_by.id %}

            {% include 'errors.html' %}
            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{field.label}}: {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ form.non_field_errors }}
                    form.errors<br>
                    {{ form.errors }}<br>
                </div>
            {% endif %}

            {# main #}
            <div class="container">

                {% if form.omic_data_file.errors %}
                    {% for error in form.omic_data_file.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endfor %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    <label for="protocol" class="col-sm-2 control-label">Omic Data File</label>
                    <div class="col-sm-10">
                        {{ form.omic_data_file }}
                        <div>
                            <br>
                            <b>Acceptable Formats: Excel and CSV</b>
                        </div>
                    </div>
                </div>
                {% if form.omic_data_file.errors %}
                </div>
                {% endif %}


                <br>
                <br>
                {% include 'generic_field.html' with field=form.description %}
                {% include 'generic_field.html' with field=form.method %}

                {# groups #}
                <br>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <label>Select groups so that, if value is positive, gene is up regulated in group 1.</label>
                    </div>
                </div>
                {% include 'generic_field.html' with field=form.group %}
                {% include 'generic_field.html' with field=form.group_2 %}


                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div>
                        <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
                            <tr>
                                <th class="bg-success" colspan="3">Sample Time</th>
                                <th class="bg-warning">Sample Location</th>
                            </tr>
                            <tr>
                                <th class="bg-success">Day</th>
                                <th class="bg-success">Hour</th>
                                <th class="bg-success">Minute</th>
                                <td class="bg-warning">
                                    {% include 'generic_popup_link.html' with field=form.location %}
                                </td>
                            </tr>
                            <tr>
                                <td hidden>
                                    {{ form.time }}
                                </td>
                                <td class="bg-success">{{ form.time_day }}</td>
                                <td class="bg-success">{{ form.time_hour }}</td>
                                <td class="bg-success">{{ form.time_minute }}</td>
                                <td class="bg-warning">{{ form.location }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
