{% load custom_filters %}

{% if data_file_uploads %}
<legend>Current Data Files</legend>
<table id="data_file_upload_table" class="table table-striped table-bordered padded-bottom">
	<thead>
		<tr>
			<th>Data File</th>
			<th>Upload Date</th>
			<th>Uploaded By</th>
            {% if show_delete and user|is_group_editor:group %}
            <th>Remove All Associated Data</th>
            {% endif %}
		</tr>
	</thead>
    <tbody>
        {% for data_file_upload in data_file_uploads %}
        {# Right now, only uploads with data are displayed #}
        {# At the moment, this conditional is superfluous #}
{#        {% if data_file_upload.has_data %}#}
        <tr>
            <td>
            	<a href="{{ data_file_upload.file_location }}">{{ data_file_upload }}</a>
            </td>
            <td>
            	{{ data_file_upload.created_on }}
            </td>
            <td>
            	{{ data_file_upload.full_creator }}
            </td>
            {# This is processed in a contrived way in the view #}
            {% if show_delete and user|is_group_editor:group %}
                <td>
                <input type="checkbox"
                       id="id_data_upload_{{ data_file_upload.id }}"
                       name="data_upload_{{ data_file_upload.id }}">
                </td>
            {% endif %}
        </tr>
{#        {% endif %}#}
        {% endfor %}
    </tbody>
</table>
{% endif %}
