<h3 class="text-center">
    <u>General Graph Properties</u>
</h3>

<ul class="list-unstyled components padded-bottom" id="charting_options_tables">
    <li>
        <a href="#plot_graph_by" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
            Plot Graph By
        </a>
        <div class="collapse well" id="plot_graph_by">
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="key" id="device_select" value="device" checked>
                    By Chip
                </label>
            </div>

            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="key" id="group_select" value="group">
                    By Group
                </label>
            </div>

            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="key" id="compound_select" value="compound">
                    By Compound
                </label>
            </div>

            {# <div class="radio"> #}
                {# <label class="radio-inline"> #}
                    {# <input type="radio" name="key" id="dose_select" value="dose"> #}
                    {# By Dose-Response #}
                {# </label> #}
            {# </div> #}
    </li>
    <li>
        <a href="#data_aggregation" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
            Data Aggregation
        </a>
        <div class="collapse well" id="data_aggregation">
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="mean_type" id="arithmetic_select" value="arithmetic" checked>
                    Arithmetic Mean
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="mean_type" id="geometric_select" value="geometric">
                    Geometric Mean
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="mean_type" id="median_select" value="median">
                    Median
                </label>
            </div>
            {# Not available at the moment #}
            {# <div class="radio"> #}
                {# <label class="radio-inline"> #}
                    {# <input type="radio" name="mean_type" id="none_select" value="none"> #}
                    {# None #}
                {# </label> #}
            {# </div> #}
        </div>
    </li>
    <li>
        <a href="#error_bar_by" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
            Error Bar By
        </a>
        <div class="collapse well" id="error_bar_by">
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="interval_type" id="ste_select" value="ste" checked>
                    Standard Error
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="interval_type" id="std_select" value="std">
                    Standard Deviation
                </label>
            </div>
            <div>
                {# TODO FIX STYLING #}
                {% comment %} <label> {% endcomment %}
                    # of Deviations
                {% comment %} </label> {% endcomment %}
                <input type="number" class="form-control" style="width: 50px; display: inline;" name="number_for_interval" id="number_for_interval" value="1">
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="interval_type" id="iqr_select" value="iqr">
                    Interquartile Range
                </label>
            </div>
        </div>
    </li>
    <li>
        <a href="#tooltip_display" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
            Tooltip Display
        </a>
        <div class="collapse well" id="tooltip_display">
            {# Subject to removal #}
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="tooltip_type" id="datum_select" value="datum" checked>
                    Each Data Point
                </label>
            </div>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="tooltip_type" id="category_select" value="category">
                    Entire Time Point
                </label>
            </div>
        </div>
    </li>
    <li>
        <a href="#data_display" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
            Data Display
        </a>
        <div class="collapse well" id="data_display">
            <div class="radio">
                <label for="include_all">
                    <input type="checkbox" name="include_all" id="include_all" />
                    {# Beyond crude, don't do things like this #}
                    Include Excluded Data
                </label>
            </div>
            <div class="radio">
                <label for="truncate_negative">
                    <input type="checkbox" name="truncate_negative" id="truncate_negative" />
                    Negative Values to 0
                </label>
            </div>
        </div>
    </li>
    <li>
        <a href="#time_unit" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
            Time Unit
        </a>
        <div class="collapse well" id="time_unit">
            <select id="id_chart_option_time_unit" class="form-control no-selectize">
                <option value="1">Day</option>
                <option value="24">Hour</option>
                <option value="1440">Minute</option>
            </select>
        </div>
    </li>
</ul>

{# TODO TO BE HIDDEN #}
<div hidden id="specific_graph_properties_container">
<h3 class="text-center">
    <u>Specific Graph Properties</u>
</h3>

<ul class="list-unstyled components padded-bottom" id="specific_graph_properties_table">
<li>
{% comment %} <legend>Legend</legend> {% endcomment %}
    <a href="#legend" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
        Legend
    </a>
      <div class="collapse well" id="legend">
          <div>
              <label>Legend Position</label>
              <select class="form-control no-selectize">
              </select>
          </div>
      </div>
</li>

{% comment %} <legend>X-Axis</legend> {% endcomment %}

<li>
    <a href="#x_axis" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
        X-Axis
    </a>

    <div class="collapse well" id="x_axis">
        <label>Range</label>
        <input type="number" class="form-control" style="width: 50px; display: inline;">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <input type="number" class="form-control" style="width: 50px; display: inline;">
    </div>
</li>

{% comment %} <legend>Y-Axis</legend> {% endcomment %}

<li>
    <a href="#y_axis" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
        Y-Axis
    </a>

    <div class="collapse well" id="y_axis">
        <label>Range</label>
        <input type="number" class="form-control" style="width: 50px; display: inline;">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <input type="number" class="form-control" style="width: 50px; display: inline;">
    </div>
</li>

{% comment %} <legend>Markers</legend> {% endcomment %}

<li>
    <a href="#scatter_plot" class="text-center collapsed" data-toggle="collapse" aria-expanded="false">
        Scatter Plot Options
    </a>

    <div class="collapse well" id="scatter_plot">
        <label>
            Show Point Marker
            <input class="big-checkbox" type="checkbox" style="margin-left: 30px;">
        </label>
    </div>
</li>

</ul>
</div>

<div class="row text-center padded-bottom">
    <a role="button" class="btn btn-warning btn-lg show_hide_plots">Show/Hide Plots</a>
</div>

<div class="large-padding-top padded-bottom"></div>
