{# Needs to be refactored #}
{# Hidden for Cells, Compounds, and Settings #}
{# The classes are from a deprecated approach to hiding fields #}

{# Need cell samples for names etc. #}
{# Definitely a better way to do this #}
{% include 'assays/cell_sample_dialog.html' %}

{# DISPLAYS #}
<div hidden>
<div id="empty_cell_html">
    {% if detail %}
    <div data-prefix="{{ cell_prefix }}" class="alert alert-success force-off-black-text cell-display no-margins">
    {% else %}
    <div data-prefix="{{ cell_prefix }}" class="alert alert-success force-off-black-text cell-display">
    {% endif %}
        <div class="error-message-section error-display important-display">
        </div>
        {% if not detail %}
        <div class="important-display no-wrap">
            <a class="btn btn-xs subform-edit">
                <span class="glyphicon glyphicon-pencil text-warning"></span>
            </a>
            <a class="btn btn-xs subform-delete">
                <span class="glyphicon glyphicon-remove text-danger"></span>
            </a>
        </div>
        {% endif %}
        <div class="important-display">
            <span class="cell-cell_sample"></span>
        </div>
        <div>Passage: <span class="cell-passage"></span></div>
        <div>Biosensor: <span class="cell-biosensor"></span></div>
        <div>
            <span class="cell-density"></span>
            <span class="cell-density_unit"></span>
        </div>
        <div class="cell-addition_time_section">
            <span>Added on D</span>
            <span class="cell-addition_time_day"></span>
            <span>H</span>
            <span class="cell-addition_time_hour"></span>
            <span>M</span>
            <span class="cell-addition_time_minute"></span>
        </div>
        <div>
            <span class="cell-addition_location"></span>
        </div>
    </div>
</div>

{# TODO #}
<div id="empty_compound_html">
    {% if detail %}
    <div data-prefix="{{ compound_prefix }}" class="alert alert-info force-off-black-text compound-display no-margins">
    {% else %}
    <div data-prefix="{{ compound_prefix }}" class="alert alert-info force-off-black-text compound-display">
    {% endif %}
        <div class="error-message-section error-display important-display">
        </div>
        {% if not detail %}
        <div class="important-display no-wrap">
            <a class="btn btn-xs subform-edit">
                <span class="glyphicon glyphicon-pencil text-warning"></span>
            </a>
            <a class="btn btn-xs subform-delete">
                <span class="glyphicon glyphicon-remove text-danger"></span>
            </a>
        </div>
        {% endif %}
        <div class="important-display">
            <span class="compound-compound"></span>
            <span class="compound-concentration"></span>
            <span class="compound-concentration_unit"></span>
            {# PLEASE NOTE: NEW #}
            <span class="compound-concentration_dilution"></span>
        </div>
        <div>
            <span class="compound-supplier_text"></span>
            <span class="compound-lot_text"></span>
        </div>
        <div class="compound-receipt_date"></div>
        <div class="compound-addition_time_section">
            <span>Added on D</span>
            <span class="compound-addition_time_day"></span>
            <span>H</span>
            <span class="compound-addition_time_hour"></span>
            <span>M</span>
            <span class="compound-addition_time_minute"></span>
        </div>
        <div class="compound-duration_section">
            <span>Duration of D</span>
            <span class="compound-duration_day"></span>
            <span>H</span>
            <span class="compound-duration_hour"></span>
            <span>M</span>
            <span class="compound-duration_minute"></span>
        </div>
        <div>
            <span class="compound-addition_location"></span>
        </div>
    </div>
</div>

{# TODO TODO TODO #}
<div id="empty_setting_html">
    {% if detail %}
    <div data-prefix="{{ setting_prefix }}" class="alert alert-warning force-off-black-text setting-display no-margins">
    {% else %}
    <div data-prefix="{{ setting_prefix }}" class="alert alert-warning force-off-black-text setting-display">
    {% endif %}
        <div class="error-message-section error-display important-display">
        </div>
        {% if not detail %}
        <div class="important-display no-wrap">
            <a class="btn btn-xs subform-edit">
                <span class="glyphicon glyphicon-pencil text-warning"></span>
            </a>
            <a class="btn btn-xs subform-delete">
                <span class="glyphicon glyphicon-remove text-danger"></span>
            </a>
        </div>
        {% endif %}
        <div class="important-display">
            <span class="setting-setting"></span>
            <span class="setting-value"></span>
            <span class="setting-unit"></span>
        </div>
        <div class="setting-addition_time_section">
            <span>Added on D</span>
            <span class="setting-addition_time_day"></span>
            <span>H</span>
            <span class="setting-addition_time_hour"></span>
            <span>M</span>
            <span class="setting-addition_time_minute"></span>
        </div>
        <div class="setting-duration_section">
            <span>Duration of D</span>
            <span class="setting-duration_day"></span>
            <span>H</span>
            <span class="setting-duration_hour"></span>
            <span>M</span>
            <span class="setting-duration_minute"></span>
        </div>
        <div>
            <span class="setting-addition_location"></span>
        </div>
    </div>
</div>

<div id="empty_error_html">
    <div class="alert alert-danger force-off-black-text matrix_item-error-message-box">
    </div>
</div>

{# Difference table uses different templates than the "bubbles" #}
{# REVISE STYLE SOON PLEASE #}
<div id="empty_cell_difference_html">
    <div style="border-style: solid;padding:2px 4px;" class="bg-success" data-prefix="{{ cell_prefix }}">
        <div class="important-display">
            <span class="cell-cell_sample"></span>
        </div>
        <div>Passage: <span class="cell-passage"></span></div>
        <div>Biosensor: <span class="cell-biosensor"></span></div>
        <div>
            <span class="cell-density"></span>
            <span class="cell-density_unit"></span>
        </div>
        <div class="cell-addition_time_section">
            <span>Added on D</span>
            <span class="cell-addition_time_day"></span>
            <span>H</span>
            <span class="cell-addition_time_hour"></span>
            <span>M</span>
            <span class="cell-addition_time_minute"></span>
        </div>
        <div>
            <span class="cell-addition_location"></span>
        </div>
    </div>
</div>

{# TODO #}
<div id="empty_compound_difference_html">
    <div style="border-style: solid;padding:2px 4px;" class="bg-info" data-prefix="{{ compound_prefix }}">
        <div class="error-message-section error-display important-display">
        </div>
        <div class="important-display">
            <span class="compound-compound"></span>
            <span class="compound-concentration"></span>
            <span class="compound-concentration_unit"></span>
        </div>
        <div>
            <span class="compound-supplier_text"></span>
            <span class="compound-lot_text"></span>
        </div>
        <div class="compound-receipt_date"></div>
        <div class="compound-addition_time_section">
            <span>Added on D</span>
            <span class="compound-addition_time_day"></span>
            <span>H</span>
            <span class="compound-addition_time_hour"></span>
            <span>M</span>
            <span class="compound-addition_time_minute"></span>
        </div>
        <div class="compound-duration_section">
            <span>Duration of D</span>
            <span class="compound-duration_day"></span>
            <span>H</span>
            <span class="compound-duration_hour"></span>
            <span>M</span>
            <span class="compound-duration_minute"></span>
        </div>
        <div>
            <span class="compound-addition_location"></span>
        </div>
    </div>
</div>

{# TODO TODO TODO #}
<div id="empty_setting_difference_html">
    <div style="border-style: solid;padding:2px 4px;" class="bg-warning" data-prefix="{{ setting_prefix }}">
        <div class="important-display">
            <span class="setting-setting"></span>
            <span class="setting-value"></span>
            <span class="setting-unit"></span>
        </div>
        <div class="setting-addition_time_section">
            <span>Added on D</span>
            <span class="setting-addition_time_day"></span>
            <span>H</span>
            <span class="setting-addition_time_hour"></span>
            <span>M</span>
            <span class="setting-addition_time_minute"></span>
        </div>
        <div class="setting-duration_section">
            <span>Duration of D</span>
            <span class="setting-duration_day"></span>
            <span>H</span>
            <span class="setting-duration_hour"></span>
            <span>M</span>
            <span class="setting-duration_minute"></span>
        </div>
        <div>
            <span class="setting-addition_location"></span>
        </div>
    </div>
</div>

{# Dropdowns that are useful #}
<div hidden>
    {{ form.test_type }}
    {{ form.organ_model_full }}
    {{ form.organ_model_protocol_full }}
</div>

{# Dialogs for changing components #}
{# ALSO USEFUL FOR GETTING NAMES FROM IDS #}
{# (Though, of course, there is a crude element to doing so) #}
{# Compound #}
<div hidden id="compound_dialog" title="Edit a Compound">
    <div class="row" style="margin-bottom: 175px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
    <tr>
        <th colspan="3">Compound*</th>
    </tr>
    <tr>
        <td colspan="3">
            {{ form.compound_compound }}
            {% include 'generic_popup_link.html' with field=form.compound_compound %}
        </td>
    </tr>
    <tr>
        <th>Supplier</th>
        <th>Lot</th>
        <th>Receipt Date</th>
    </tr>
    <tr>
        <td>{{ form.compound_supplier_text }}</td>
        <td>{{ form.compound_lot_text }}</td>
        <td>{{ form.compound_receipt_date }}</td>
    </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Concentration*</th>
            <th>Concentration Unit*</th>
        </tr>
        <tr>
            <td>{{ form.compound_concentration }}</td>
            <td>
                {{ form.compound_concentration_unit }}
                {% include 'generic_popup_link.html' with field=form.compound_concentration_unit %}
            </td>
        </tr>
        {% comment %}
        <tr>
            <th>Use a Dilution Series</th>
            <th>Dilution Factor</th>
            <th>Dilution Operation</th>
        </tr>
        <tr>
            <td class="text-center"><input id="id_use_compound_concentration_increment" name="use_compound_concentration_increment" class="big-checkbox" type="checkbox"></td>
            <td>{{ form.compound_concentration_increment }}</td>
            <td>{{ form.compound_concentration_increment_type }}</td>
        </tr>
        <tr>
            <td colspan="3">{{ form.compound_concentration_increment_direction }}</td>
        </tr>
        {% endcomment %}
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
            <th class="bg-info" colspan="3">Duration*</th>
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
            <th class="bg-info">Day</th>
            <th class="bg-info">Hour</th>
            <th class="bg-info">Minute</th>
            <td class="bg-warning">{{ form.compound_addition_location }}</td>
        </tr>
        <tr>
            <td class="bg-success">{{ form.compound_addition_time_day }}</td>
            <td class="bg-success">{{ form.compound_addition_time_hour }}</td>
            <td class="bg-success">{{ form.compound_addition_time_minute }}</td>
            <td class="bg-info">{{ form.compound_duration_day }}</td>
            <td class="bg-info">{{ form.compound_duration_hour }}</td>
            <td class="bg-info">{{ form.compound_duration_minute }}</td>
            <td class="bg-warning">
                {% include 'generic_popup_link.html' with field=form.compound_addition_location %}
            </td>
        </tr>
    </table>
    </div>
    </div>
</div>

{# Cell #}
<div hidden id="cell_dialog" title="Edit a Cell">
    <div class="row" style="margin-bottom: 175px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Cell Sample*</th>
            <th>Passage</th>
            <th>Biosensor*</th>
        </tr>
        <tr>
        <td>
            {# Inline styles are evil #}
            <input readonly="readonly" id="id_cell_cell_sample" name="cell_cell_sample" value="{{ form.cell_cell_sample.value|default_if_none:'' }}" class="form-control required" style="width: 75px; display: inline;">
            <button id='id_cell_sample_search' type="button" class="btn btn-xs btn-primary open-cell-sample-dialog">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <label class="small" id="id_cell_sample_label"></label>
        </td>
        <td>{{ form.cell_passage }}</td>
        <td>
            {{ form.cell_biosensor }}
            {% include 'generic_popup_link.html' with field=form.cell_biosensor %}
        </td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Density*</th>
            <th>Density Unit*</th>
        </tr>
        <tr>
            <td title="Use 'e' for scientific notation: 1e+3 = 1000">{{ form.cell_density }}</td>
            <td>
                {{ form.cell_density_unit }}
                {# {% include 'generic_popup_link.html' with field=form.cell_density_unit %} #}
            </td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
    {#                        <th class="bg-info" colspan="3">Duration*</th>#}
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
    {#                        <th class="bg-info">Day</th>#}
    {#                        <th class="bg-info">Hour</th>#}
    {#                        <th class="bg-info">Minute</th>#}
            <td class="bg-warning">{{ form.cell_addition_location }}</td>
        </tr>
        <tr>

            <td class="bg-success">{{ form.cell_addition_time_day }}</td>
            <td class="bg-success">{{ form.cell_addition_time_hour }}</td>
            <td class="bg-success">{{ form.cell_addition_time_minute }}</td>
    {#                        <td class="bg-info">{{ form.cell_duration_day }}</td>#}
    {#                        <td class="bg-info">{{ form.cell_duration_hour }}</td>#}
    {#                        <td class="bg-info">{{ form.cell_duration_minute }}</td>#}
            <td class="bg-warning">{% include 'generic_popup_link.html' with field=form.cell_addition_location %}</td>
        </tr>
    </table>
    </div>
    </div>
</div>

{# Setting #}
<div hidden id="setting_dialog" title="Edit a Setting">
    <div class="row" style="margin-bottom: 175px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Setting*</th>
            <th>Value*</th>
            <th>Unit*</th>
        </tr>
        <tr>
            <td>
                {{ form.setting_setting }}
                {% include 'generic_popup_link.html' with field=form.setting_setting %}
            </td>
            <td>{{ form.setting_value }}</td>
            <td>
                {{ form.setting_unit }}
                {% include 'generic_popup_link.html' with field=form.setting_unit %}
            </td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
            <th class="bg-info" colspan="3">Duration*</th>
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
            <th class="bg-info">Day</th>
            <th class="bg-info">Hour</th>
            <th class="bg-info">Minute</th>
            <td class="bg-warning">{{ form.setting_addition_location }}</td>
        </tr>
        <tr>
            <td class="bg-success">{{ form.setting_addition_time_day }}</td>
            <td class="bg-success">{{ form.setting_addition_time_hour }}</td>
            <td class="bg-success">{{ form.setting_addition_time_minute }}</td>
            <td class="bg-info">{{ form.setting_duration_day }}</td>
            <td class="bg-info">{{ form.setting_duration_hour }}</td>
            <td class="bg-info">{{ form.setting_duration_minute }}</td>
            <td class="bg-warning">{% include 'generic_popup_link.html' with field=form.setting_addition_location %}</td>
        </tr>
    </table>
    </div>
    </div>
</div>

</div>
