{% if data_uploads %}
<legend>Current Files</legend>
<table id="data_uploads_table" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Data File</th>
			<th>Upload Date</th>
			<th>Uploaded By</th>
		</tr>
	</thead>
    <tbody>
        {% for data_upload in data_uploads %}
        <tr>
            <td>
            	<a href="{{ data_upload.file_location }}">{{ data_upload }}</a>
            </td>
            <td>
            	{{ data_upload.created_on }}
            </td>
            <td>
            	{{ data_upload.full_creator }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
