{% load custom_filters %}

{% if data_uploads %}
<legend>Current Data Files</legend>
<table id="data_uploads_table" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Data File</th>
			<th>Upload Date</th>
			<th>Uploaded By</th>
            {% if show_delete and user|is_group_editor:group %}
            <th>Remove All Associated Data</th>
            {% endif %}
		</tr>
	</thead>
    <tbody>
        {% for data_upload in data_uploads %}
        {# Right now, all uploads are displayed #}
{#        {% if data_upload.has_data %}#}
        <tr>
            <td>
            	<a href="{{ data_upload.file_location }}">{{ data_upload }}</a>
            </td>
            <td>
            	{{ data_upload.created_on }}
            </td>
            <td>
            	{{ data_upload.full_creator }}
            </td>
            {# This is processed in a contrived way in the view #}
            {% if show_delete and user|is_group_editor:group %}
                <td>
                {% if data_upload.has_data %}
                <input type="checkbox"
                       id="id_data_upload_{{ data_upload.id }}"
                       name="data_upload_{{ data_upload.id }}">
                {% endif %}
                </td>
            {% endif %}
        </tr>
{#        {% endif %}#}
        {% endfor %}
    </tbody>
</table>
{% endif %}
