{# Only in Matrix interface #}
<div style="display: none;">
    <table>
    <tr id="empty_matrix_item_html">
    <td data-prefix="{{ item_formset.prefix }}" class="matrix_item-td">
        <div class="error-message-section error-display matrix_item-setup_set_section important-display">
        </div>
        <div align="center">
            <span><a disabled href="#" class="matrix_item-name lead matrix_item-setup_set_section"></a></span>
    {#            <span class="matrix_item-current_setup"></span>#}
    {#            <a class="pull-right btn btn-xs">#}
    {#                <span class="glyphicon glyphicon-pencil"></span>#}
    {#            </a>#}
        </div>
        {% if detail %}
        <div class="well matrix_item-display no-margins">
        {% else %}
        <div class="well matrix_item-display">
        {% endif %}
            {% if not detail %}
            <div class="important-display no-wrap">
                <a class="btn btn-xs subform-edit">
                    <span class="glyphicon glyphicon-pencil text-warning"></span>
                </a>
                <a class="btn btn-xs form-delete">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </a>
            </div>
            {% endif %}
            <div class="important-display">
                <span class="matrix_item-test_type matrix_item-setup_set_section"></span>
            </div>
            <div>
                <span class="matrix_item-setup_date matrix_item-setup_set_section"></span>
                {% comment %}
                {% if not detail %}
                <a class="pull-right btn btn-xs form-delete">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </a>
                {% endif %}
                {% endcomment %}
    {#                <a class="pull-right btn btn-xs form-view">#}
    {#                    <span class="glyphicon glyphicon-eye-open"></span>#}
    {#                </a>#}
            </div>
            <div class="matrix_item-failure">
                <span class="matrix_item-failure_time matrix_item-setup_set_section"></span>
                <span class="matrix_item-failure_reason matrix_item-setup_set_section"></span>
            </div>
            <div class="matrix_item-setup_section">
                <div>
                    <span class="matrix_item-organ_model matrix_item-setup_set_section"></span>
                    <span class="matrix_item-organ_model_protocol matrix_item-setup_set_section"></span>
                </div>
                <div class="matrix_item-device matrix_item-setup_set_section"></div>
                <div>
                    <span class="matrix_item-variance_from_organ_model_protocol matrix_item-setup_set_section"></span>
                </div>
            </div>
            <div class="matrix_item-notes_section">
                <span class="matrix_item-scientist matrix_item-setup_set_section"></span>
                <span class="matrix_item-notebook matrix_item-setup_set_section"></span>
                <span class="matrix_item-notebook_page matrix_item-setup_set_section"></span>
                <span class="matrix_item-notes matrix_item-setup_set_section"></span>
            </div>
        </div>
        <div class="matrix_item-cell matrix_item-setup_set_section"></div>
        <div class="matrix_item-compound matrix_item-setup_set_section"></div>
        <div class="matrix_item-setting matrix_item-setup_set_section"></div>
    </td>
    </tr>
    </table>
</div>

{# Matrix Item #}
<div hidden id="matrix_item_dialog" title="Edit a Matrix Item">
    <div class="row" style="margin-bottom: 175px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
    <tr>
        <th colspan="3">Name*</th>
    </tr>
    <tr>
        <td colspan="3">{{ form.matrix_item_name }}</td>
    </tr>
    <tr>
        <th colspan="3">Setup Date*</th>
    </tr>
    <tr>
        <td colspan="3">{{ form.matrix_item_setup_date_popup }}</td>
    </tr>
    <tr>
        <th colspan="3">Test Type*</th>
    </tr>
    <tr>
        <td colspan="3">{{ form.matrix_item_test_type }}</td>
    </tr>
    <tr>
        <th colspan="3">Device*</th>
    </tr>
    <tr>
        <td colspan="3">{{ form.matrix_item_device }}</td>
    </tr>
    <tr>
        <th colspan="3">MPS Model*</th>
    </tr>
    <tr>
        <td colspan="3">{{ form.matrix_item_organ_model }}</td>
    </tr>
    <tr>
        <th>Scientist</th>
        <th>Notebook</th>
        <th>Notebook Page</th>
    </tr>
    <tr>
        <td>{{ form.matrix_item_scientist }}</td>
        <td>{{ form.matrix_item_notebook }}</td>
        <td>{{ form.matrix_item_notebook_page }}</td>
    </tr>
    <tr>
        <th colspan="3">Notes</th>
    </tr>
    <tr>
        <td colspan="3">{{ form.matrix_item_notes }}</td>
    </tr>
    </table>
    </div>
    </div>
</div>

{# Compound #}
<div hidden id="compound_dialog" title="Edit a Compound">
    <div class="row" style="margin-bottom: 175px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
    <tr>
        <th colspan="3">Compound*</th>
    </tr>
    <tr>
        <td colspan="3">{{ form.compound_compound }}</td>
    </tr>
    <tr>
        <th>Supplier*</th>
        <th>Lot*</th>
        <th>Receipt Date</th>
    </tr>
    <tr>
        <td>{{ form.compound_supplier_text }}</td>
        <td>{{ form.compound_lot_text }}</td>
        <td>{{ form.compound_receipt_date }}</td>
    </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Concentration*</th>
            <th>Concentration Unit*</th>
        </tr>
        <tr>
            <td>{{ form.compound_concentration }}</td>
            <td>{{ form.compound_concentration_unit }}</td>
        </tr>
        {% comment %}
        <tr>
            <th>Concentration Increment</th>
            <th>Increment Operation</th>
        </tr>
        <tr>
            <td>{{ form.compound_concentration_increment }}</td>
            <td>{{ form.compound_concentration_increment_type }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form.compound_concentration_increment_direction }}</td>
        </tr>
        {% endcomment %}
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
            <th class="bg-info" colspan="3">Duration*</th>
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
            <th class="bg-info">Day</th>
            <th class="bg-info">Hour</th>
            <th class="bg-info">Minute</th>
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>
            <td class="bg-success">{{ form.compound_addition_time_day }}</td>
            <td class="bg-success">{{ form.compound_addition_time_hour }}</td>
            <td class="bg-success">{{ form.compound_addition_time_minute }}</td>
            <td class="bg-info">{{ form.compound_duration_day }}</td>
            <td class="bg-info">{{ form.compound_duration_hour }}</td>
            <td class="bg-info">{{ form.compound_duration_minute }}</td>
            <td class="bg-warning">{{ form.compound_addition_location }}</td>
        </tr>
    </table>
    </div>
    </div>
</div>

{# Cell #}
<div hidden id="cell_dialog" title="Edit a Cell">
    <div class="row" style="margin-bottom: 175px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Cell Sample*</th>
            <th>Passage</th>
            <th>Biosensor*</th>
        </tr>
        <tr>
        <td>
            {# Inline styles are evil #}
            <input readonly="readonly" id="id_cell_cell_sample" name="cell_cell_sample" value="{{ form.cell_cell_sample.value|default_if_none:'' }}" class="form-control required" style="width: 75px; display: inline;">
            <button id='id_cell_sample_search' type="button" class="btn btn-xs btn-primary open-cell-sample-dialog">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <label class="small" id="id_cell_sample_label"></label>
        </td>
        <td>{{ form.cell_passage }}</td>
        <td>{{ form.cell_biosensor }}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Density*</th>
            <th>Density Unit*</th>
        </tr>
        <tr>
            <td title="Use 'e' for scientific notation: 1e+3 = 1000">{{ form.cell_density }}</td>
            <td>{{ form.cell_density_unit }}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
    {#                        <th class="bg-info" colspan="3">Duration*</th>#}
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
    {#                        <th class="bg-info">Day</th>#}
    {#                        <th class="bg-info">Hour</th>#}
    {#                        <th class="bg-info">Minute</th>#}
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>

            <td class="bg-success">{{ form.cell_addition_time_day }}</td>
            <td class="bg-success">{{ form.cell_addition_time_hour }}</td>
            <td class="bg-success">{{ form.cell_addition_time_minute }}</td>
    {#                        <td class="bg-info">{{ form.cell_duration_day }}</td>#}
    {#                        <td class="bg-info">{{ form.cell_duration_hour }}</td>#}
    {#                        <td class="bg-info">{{ form.cell_duration_minute }}</td>#}
            <td class="bg-warning">{{ form.cell_addition_location }}</td>
        </tr>
    </table>
    </div>
    </div>
</div>

{# Setting #}
<div hidden id="setting_dialog" title="Edit a Setting">
    <div class="row" style="margin-bottom: 175px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th>Setting*</th>
            <th>Value*</th>
            <th>Unit*</th>
        </tr>
        <tr>
            <td>{{ form.setting_setting }}</td>
            <td>{{ form.setting_value }}</td>
            <td>{{ form.setting_unit }}</td>
        </tr>
    </table>
    <table class="table table-condensed table-bordered table-nonfluid no-margin-bottom">
        <tr>
            <th class="bg-success" colspan="3">Addition Time*</th>
            <th class="bg-info" colspan="3">Duration*</th>
        </tr>
        <tr>
            <th class="bg-success">Day</th>
            <th class="bg-success">Hour</th>
            <th class="bg-success">Minute</th>
            <th class="bg-info">Day</th>
            <th class="bg-info">Hour</th>
            <th class="bg-info">Minute</th>
            <th class="bg-warning">Addition Location*</th>
        </tr>
        <tr>
            <td class="bg-success">{{ form.setting_addition_time_day }}</td>
            <td class="bg-success">{{ form.setting_addition_time_hour }}</td>
            <td class="bg-success">{{ form.setting_addition_time_minute }}</td>
            <td class="bg-info">{{ form.setting_duration_day }}</td>
            <td class="bg-info">{{ form.setting_duration_hour }}</td>
            <td class="bg-info">{{ form.setting_duration_minute }}</td>
            <td class="bg-warning">{{ form.setting_addition_location }}</td>
        </tr>
    </table>
    </div>
    </div>
</div>

{% include 'assays/cell_sample_dialog.html' %}

{# DISPLAYS #}
<div hidden>
<div id="empty_cell_html">
    {% if detail %}
    <div data-prefix="{{ cell_formset.prefix }}" class="alert alert-success force-off-black-text cell-display no-margins">
    {% else %}
    <div data-prefix="{{ cell_formset.prefix }}" class="alert alert-success force-off-black-text cell-display">
    {% endif %}
        <div class="error-message-section error-display important-display">
        </div>
        {% if not detail %}
        <div class="important-display no-wrap">
            <a class="btn btn-xs subform-edit">
                <span class="glyphicon glyphicon-pencil text-warning"></span>
            </a>
            <a class="btn btn-xs subform-delete">
                <span class="glyphicon glyphicon-remove text-danger"></span>
            </a>
        </div>
        {% endif %}
        <div class="important-display">
            <span class="cell-cell_sample"></span>
        </div>
        <div>Passage: <span class="cell-passage"></span></div>
        <div>Biosensor: <span class="cell-biosensor"></span></div>
        <div>
            <span class="cell-density"></span>
            <span class="cell-density_unit"></span>
        </div>
        <div class="cell-addition_time_section">
            <span>Added on D</span>
            <span class="cell-addition_time_day"></span>
            <span>H</span>
            <span class="cell-addition_time_hour"></span>
            <span>M</span>
            <span class="cell-addition_time_minute"></span>
        </div>
        <div>
            <span class="cell-addition_location"></span>
        </div>
    </div>
</div>

{# TODO #}
<div id="empty_compound_html">
    {% if detail %}
    <div data-prefix="{{ compound_formset.prefix }}" class="alert alert-info force-off-black-text compound-display no-margins">
    {% else %}
    <div data-prefix="{{ compound_formset.prefix }}" class="alert alert-info force-off-black-text compound-display">
    {% endif %}
        <div class="error-message-section error-display important-display">
        </div>
        {% if not detail %}
        <div class="important-display no-wrap">
            <a class="btn btn-xs subform-edit">
                <span class="glyphicon glyphicon-pencil text-warning"></span>
            </a>
            <a class="btn btn-xs subform-delete">
                <span class="glyphicon glyphicon-remove text-danger"></span>
            </a>
        </div>
        {% endif %}
        <div class="important-display">
            <span class="compound-compound"></span>
            <span class="compound-concentration"></span>
            <span class="compound-concentration_unit"></span>
        </div>
        <div>
            <span class="compound-supplier_text"></span>
            <span class="compound-lot_text"></span>
        </div>
        <div class="compound-receipt_date"></div>
        <div class="compound-addition_time_section">
            <span>Added on D</span>
            <span class="compound-addition_time_day"></span>
            <span>H</span>
            <span class="compound-addition_time_hour"></span>
            <span>M</span>
            <span class="compound-addition_time_minute"></span>
        </div>
        <div class="compound-duration_section">
            <span>Duration of D</span>
            <span class="compound-duration_day"></span>
            <span>H</span>
            <span class="compound-duration_hour"></span>
            <span>M</span>
            <span class="compound-duration_minute"></span>
        </div>
        <div>
            <span class="compound-addition_location"></span>
        </div>
    </div>
</div>

{# TODO TODO TODO #}
<div id="empty_setting_html">
    {% if detail %}
    <div data-prefix="{{ setting_formset.prefix }}" class="alert alert-warning force-off-black-text setting-display no-margins">
    {% else %}
    <div data-prefix="{{ setting_formset.prefix }}" class="alert alert-warning force-off-black-text setting-display">
    {% endif %}
        <div class="error-message-section error-display important-display">
        </div>
        {% if not detail %}
        <div class="important-display no-wrap">
            <a class="btn btn-xs subform-edit">
                <span class="glyphicon glyphicon-pencil text-warning"></span>
            </a>
            <a class="btn btn-xs subform-delete">
                <span class="glyphicon glyphicon-remove text-danger"></span>
            </a>
        </div>
        {% endif %}
        <div class="important-display">
            <span class="setting-setting"></span>
            <span class="setting-value"></span>
            <span class="setting-unit"></span>
        </div>
        <div class="setting-addition_time_section">
            <span>Added on D</span>
            <span class="setting-addition_time_day"></span>
            <span>H</span>
            <span class="setting-addition_time_hour"></span>
            <span>M</span>
            <span class="setting-addition_time_minute"></span>
        </div>
        <div class="setting-duration_section">
            <span>Duration of D</span>
            <span class="setting-duration_day"></span>
            <span>H</span>
            <span class="setting-duration_hour"></span>
            <span>M</span>
            <span class="setting-duration_minute"></span>
        </div>
        <div>
            <span class="setting-addition_location"></span>
        </div>
    </div>
</div>

<div id="empty_error_html">
    <div class="alert alert-danger force-off-black-text matrix_item-error-message-box">
    </div>
</div>

{# Hidden for Cells, Compounds, and Settings #}
<div hidden>
    {# {{ form.setup_data }} #}
    {{ form.number_of_items }}
    {{ form.test_type }}
</div>
</div>
