{# Inline style is not a great idea... #}
<table id="treatment_group_table" class="table table-striped table-bordered">
    <thead id="treatment_group_head">
    </thead>
    <tbody id="treatment_group_display">
    </tbody>
</table>

{% comment %} <div hidden id="group_display" class="container hidden-print" style="z-index: 2000;"> {% endcomment %}
<div hidden id="group_display" class="container hidden-print">
    <table class="table table-bordered">
        <thead id="group_display_head">

        </thead>
        <tbody id="group_display_body">

        </tbody>
    </table>
</div>
