{# DEPRECATED: Please just use assayrunlist instead #}
{% extends "base.html" %}
{% load staticfiles %}

{% block load %}
    <script src="{% static "assays/index.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Editable Studies</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Index of Editable Studies
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/assays/study/add" class="btn btn-lg btn-success" role="button">Add Study</a>
        </div>

        <table hidden id="studies" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Study ID</th>
                    <th>Study Types</th>
                    <th>Start Date</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Group</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for study in object_list %}
                <tr class="compound" id={{ study.id }} name={{ study.id }}>
                    <td><a class="btn btn-primary" href="/assays/{{ study.id }}">View/Edit</a></td>
                    <td>{{ study.assay_run_id }}</td>
                    <td>{{ study.study_types }}</td>
                    <td>{{ study.start_date|date:"M d, Y" }}</td>
                    <td>{{ study.description }}</td>
                    <td>
                        {{ study.full_creator }}
                    </td>
                    <td>{{ study.group }}</td>
                    <td>
                        {% if study.signed_off_by %}
                            <span title="This entry was signed off on by {{ study.full_reviewer }} on {{ study.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if study.flagged %}
                            <span title="This entry is flagged for review: '{{ study.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}
