{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "js/enter_override.js" %}"></script>
    <script src="{% static "js/cookies.js" %}"></script>
    <script src="{% static "assays/readoutbulkupload.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/editable_studies/">Editable Studies</a></li>
    <li><a href="/assays/{{ object.id }}">{{ object }}</a></li>
    <li class="active">Upload Excel File</li>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" class="form-horizontal" method="post" >

    <h1>
        Upload Excel File for <em>{{ object }}</em>
    <br>
    {% csrf_token %}
{#        <button id="submit" type="submit" class="btn btn-primary">Submit</button>#}
    </h1>

    {% include "submit.html" %}

    {% include 'errors.html' %}

    <legend>Excel File Upload</legend>

    {% if form.errors %}
        {% for error in form.bulk_file.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label for="bulk_file" class="col-sm-2 control-label">Excel File*</label>
        <div class="col-sm-10">
            {{ form.bulk_file }}
        </div>
    </div>

    {% include 'generic_field.html' with field=form.overwrite_option label="Overwrite Option*" %}

    <p>
        <a href="/media/excel_templates/chip_template-{{ version }}.xlsx">Click Here For Chip Template</a>
        <br>
        <a href="/media/excel_templates/plate_tabular_template-{{ version }}.xlsx">Click Here For Plate (Tabular) Template</a>
        <br>
        <a href="/media/excel_templates/plate_block_template-{{ version }}.xlsx">Click Here For Plate (Block) Template</a>
    </p>

    {% include 'assays/data_upload_table.html' %}

    {% if not chip_readouts and not plate_readouts %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            No Chip or Plate Readouts exists for this study:
            <br>
            You must add a Chip or Plate Readout before adding data.
        </div>
    {% endif %}

    {% if chip_readouts %}
        <legend>
            Available Chip Readouts
            <a class="btn btn-info" onclick="$('#chip_readouts_table').toggle('slow');
            $(this).html($(this).html() == 'Show' ? 'Hide' : 'Show');">Show</a>
        </legend>
        <table hidden id="chip_readouts_table" class="table table-striped table-bordered">
            <tbody>
                {% for readout in chip_readouts %}
                    <tr>
                        <td>{{ readout.chip_setup.assay_chip_id }}</td>
                        <td>
                            {% if readout in chip_has_data %}
                                <span class="text-danger">Already Contains Uploaded Data</span>
                            {% else %}
                                <span class="text-success">Does Not Contain Uploaded Data</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if plate_readouts %}
        <legend>
            Available Plate Readouts
            <a class="btn btn-info" onclick="$('#plate_readouts_table').toggle('slow');
            $(this).html($(this).html() == 'Show' ? 'Hide' : 'Show');">Show</a>
        </legend>
        <table hidden id="plate_readouts_table" class="table table-striped table-bordered">
            <tbody>
                {% for readout in plate_readouts %}
                    <tr>
                        <td>{{ readout.setup.assay_plate_id }}</td>
                        <td>
                            {% if readout in plate_has_data %}
                                <span class="text-danger">Already Contains Uploaded Data</span>
                            {% else %}
                                <span class="text-success">Does Not Contain Uploaded Data</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    </form>

    <legend>Current Chip Data</legend>
    <div id="current_charts" class="padded-bottom">No Current Chip Data</div>

    <legend>New Chip Data</legend>
    <div id="new_charts" class="padded-bottom">Preview Unavailable</div>
{% endblock %}
