{% extends "base.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block load %}
    <script src="{% static "js/cookies.js" %}"></script>
    <script src="{% static "assays/study_index.js" %}"></script>
    <script src="{% static "js/display_datatable.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
{#    {% if user_is_group_editor %}#}
{#    <li><a href="/assays/editable_studies/">Editable Studies</a></li>#}
{#    {% else %}#}
    <li><a href="/assays/study/">All Studies</a></li>
{#    {% endif %}#}
    <li class="active">{{ object }}</li>
{% endblock %}

{% block content %}
    {# Inform whether this is publicly accessible #}
    {# Needs to account for all stakeholders too #}
    {% if object.signed_off_by and stakeholder_sign_off and not object.restricted %}
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            This study can be viewed by all registered users
        </div>
    {% endif %}

    {% include 'tracking.html' with study_submit='true' %}

    <div class="padded-bottom">
        <div class="well">
            <h1 class="text-center">
                {{ object }}
                <div>
                    {% if user_is_group_editor and not object.signed_off_by %}
                        <a href="update" class="btn btn-primary" role="button">Edit This Study</a>
                    {% endif %}
                    <a href="reproducibility" class="btn btn-primary" role="button">View Reproducibility for this Study</a>
                    <a href="summary" class="btn btn-info" role="button">Study Summary</a>
                </div>
                <div>
                    {% if not user_is_group_admin and user_is_group_editor and not object.signed_off_by %}
                        <a id="indicate_study_is_ready_for_sign_off" class="btn btn-success" role="button">Indicate Study is Ready for Sign Off</a>
                    {% endif %}
                    {% if user_is_stakeholder_admin %}
                        <a href="sign_off" class="btn btn-success" role="button">View/Edit Approval Status of this Study</a>
                    {% endif %}
                    {% if user_is_group_admin %}
                        <a href="sign_off" class="btn btn-success" role="button">View/Edit Sign Off Status of this Study</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a href="/admin/assays/assayrun/{{ object.id }}" class="btn btn-success" role="button">Change Group Access for this Study</a>
                    {% endif %}
                </div>
            </h1>
        </div>

        <legend>
            <h2>
                Setups
                {# Hide setup add buttons if the study is marked reviewed #}
                {% if user_is_group_editor and not object.signed_off_by %}
                <div>
                    <a href="assaychipsetup/add" class="btn btn-success" role="button">Add Chip Setup</a>
{#                    <a href="assayplatesetup/add" class="btn btn-success" role="button">Add Plate Setup</a>#}
                </div>
                {% endif %}
            </h2>
        </legend>

        {% if setups %}
        <div class="padded-bottom">
        <table id="setups" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Chip ID</th>
                    <th>Date</th>
{#                    <th>Device</th>#}
                    <th>Organ Model</th>
{#                    <th>Chip Test Type</th>#}
                    <th>Compound</th>
                    <th>Cell</th>
                    <th>Creator</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for setup in setups %}
                <tr id={{ setup.id }} name={{ setup.id }}>
                    <td>
                        <a class="btn btn-primary"
                           href="/assays/assaychipsetup/{{ setup.id }}/">
                            View/Edit
                        </a>
                    </td>
                    <td>{{ setup.assay_chip_id }}</td>
                    <td>{{ setup.setup_date }}</td>
{#                    <td>{{ setup.device }}</td>#}
                    <td>{{ setup.organ_model|default:"No Model" }}</td>
{#                    <td>{{ setup.chip_test_type }}</td>#}
{#                    {% if setup.compound != None %}#}
{#                        <td>{{ setup.compound }} ({{ setup.concentration }} {{ setup.unit }})</td>#}
{#                    {% else %}#}
{#                        <td>-control-</td>#}
{#                    {% endif %}#}
                    <td>{{ setup.related_compounds_as_string|linebreaks }}</td>
                    <td>{{ setup.related_cells_as_string|linebreaks }}</td>
                    <td>
                        {{ setup.full_creator }}
                    </td>
                    <td>
                        {% if setup.signed_off_by %}
                            <span title="This entry was validated by {{ setup.full_reviewer }} on {{ setup.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if setup.flagged %}
                            <span title="This entry is flagged for review: '{{ setup.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No chip setups exist for this study
        </div>
        {% endif %}

{#        {% if plate_setups %}#}
{#        <div class="padded-bottom">#}
{#        <table id="plate_setups" class="display table table-striped table-hover" cellspacing="0" width="100%">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>View/Edit</th>#}
{#                    <th>Plate ID</th>#}
{#                    <th>Date</th>#}
{#                    <th>Plate Layout</th>#}
{#                    <th>Creator</th>#}
{#                    <th>Review</th>#}
{#                </tr>#}
{#            </thead>#}
{##}
{#            <tbody>#}
{#            {% for setup in plate_setups %}#}
{#                <tr id={{ setup.id }} name={{ setup.id }}>#}
{#                    <td>#}
{#                        <a class="btn btn-primary"#}
{#                           href="/assays/assayplatesetup/{{ setup.id }}/">#}
{#                            View/Edit#}
{#                        </a>#}
{#                    </td>#}
{#                    <td>{{ setup.assay_plate_id }}</td>#}
{#                    <td>{{ setup.setup_date }}</td>#}
{#                    <td>{{ setup.assay_layout }}</td>#}
{#                    <td>#}
{#                        {{ setup.full_creator }}#}
{#                    </td>#}
{#                    <td>#}
{#                        {% if setup.signed_off_by %}#}
{#                            <span title="This entry was validated by {{ setup.full_reviewer }} on {{ setup.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>#}
{#                        {% endif %}#}
{#                        {% if setup.flagged %}#}
{#                            <span title="This entry is flagged for review: '{{ setup.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>#}
{#                        {% endif %}#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#        </div>#}
{#        {% else %}#}
{#        <div class="alert alert-warning" role="alert">#}
{#            No plate setups exist for this study#}
{#        </div>#}
{#        {% endif %}#}

        <legend>
            <h2>
                Readouts
                {% if user_is_group_editor and not object.signed_off_by %}
                <div>
                {% if setups.count == 0 or setups.count == readouts.count %}
                    <div hidden id="readout_alert" class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Warning:</span>
                        You must add at least one chip setup before adding a chip readout.
                    </div>
                    <a class="btn btn-warning" role="button" onClick="$('#readout_alert').removeProp('hidden');">Add Chip Readout</a>
                {% else %}
                    <a href="assaychipreadout/add" class="btn btn-success" role="button">Add Chip Readout</a>
                {% endif %}

{#                {% if plate_setups.count == 0 or plate_setups.count == plate_readouts.count %}#}
{#                    <div hidden id="plate_readout_alert" class="alert alert-warning" role="alert">#}
{#                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                        <span class="sr-only">Warning:</span>#}
{#                        You must add at least one plate setup before adding a plate readout.#}
{#                    </div>#}
{#                    <a class="btn btn-warning" role="button" onClick="$('#plate_readout_alert').removeProp('hidden');">Add Plate Readout</a>#}
{#                {% else %}#}
{#                    <a href="assayplatereadout/add" class="btn btn-success" role="button">Add Plate Readout</a>#}
{#                {% endif %}#}
                </div>
                {% endif %}
            </h2>
        </legend>

        {% if readouts %}
        <div class="padded-bottom">
        <table id="readouts" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Chip Setup</th>
                    <th>Readout Date</th>
                    <th>Assays</th>
                    <th>Caution Flag</th>
                    <th>Exclusion</th>
                    <th>Creator</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for readout in readouts %}
                <tr id={{ readout.id }} name={{ readout.id }}>
                    <td>
                        <a class="btn btn-primary"
                           href="/assays/assaychipreadout/{{ readout.id }}/">
                            View/Edit
                        </a>
                    </td>
                    <td><a href="/assays/assaychipsetup/{{ readout.chip_setup.id }}/">{{ readout.chip_setup }}</a></td>
                    <td>{{ readout.readout_start_time }}</td>
                    <td>{{ readout.assays|default:"-No Data-" }}</td>
                    <td>
                        <div class="text-warning">
                            {{ readout.caution_flag }}
                        </div>
                    </td>
                    <td>
                        {% if readout.quality %}
                            <div class="text-danger" title="This entry contains {{ readout.quality }} excluded point(s)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                {{ readout.quality }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {{ readout.full_creator }}
                    </td>
                    <td>
                        {% if readout.signed_off_by %}
                            <span title="This entry was validated by {{ readout.full_reviewer }} on {{ readout.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if readout.flagged %}
                            <span title="This entry is flagged for review: '{{ readout.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No chip readouts exist for this study
        </div>
        {% endif %}

{#        {% if plate_readouts %}#}
{#        <div class="padded-bottom">#}
{#        <table id="plate_readouts" class="display table table-striped table-hover" cellspacing="0" width="100%">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>View/Edit</th>#}
{#                    <th>Plate Setup</th>#}
{#                    <th>Readout Date</th>#}
{#                    <th>Assays</th>#}
{#                    <th>Creator</th>#}
{#                    <th>Review</th>#}
{#                </tr>#}
{#            </thead>#}
{##}
{#            <tbody>#}
{#            {% for readout in plate_readouts %}#}
{#                <tr id={{ readout.id }} name={{ readout.id }}>#}
{#                    <td>#}
{#                        <a class="btn btn-primary"#}
{#                           href="/assays/assayplatereadout/{{ readout.id }}/">#}
{#                            View/Edit#}
{#                        </a>#}
{#                    </td>#}
{#                    <td><a href="/assays/assayplatesetup/{{ readout.setup.id }}/">{{ readout.setup }}</a></td>#}
{#                    <td>{{ readout.readout_start_time }}</td>#}
{#                    <td>#}
{#                        {% for assay in readout.related_assays %}#}
{#                            {{ assay.assay_id.assay_short_name }}#}
{#                        {% endfor %}#}
{#                    </td>#}
{#                    <td>#}
{#                        {{ readout.full_creator }}#}
{#                    </td>#}
{#                    <td>#}
{#                        {% if readout.signed_off_by %}#}
{#                            <span title="This entry was validated by {{ readout.full_reviewer }} on {{ readout.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>#}
{#                        {% endif %}#}
{#                        {% if readout.flagged %}#}
{#                            <span title="This entry is flagged for review: '{{ readout.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>#}
{#                        {% endif %}#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#        </div>#}
{#        {% else %}#}
{#        <div class="alert alert-warning" role="alert">#}
{#            No plate readouts exist for this study#}
{#        </div>#}
{#        {% endif %}#}

        {% if user_is_group_editor and not object.signed_off_by %}
        <a href="bulk" class="btn btn-block btn-info" role="button">
            Upload Excel File of Readout Data
            <br>
            <small>*Requires respective readouts to be created first</small>
        </a>
        {% endif %}

        <legend>
            <h2>
                Results
                {% if user_is_group_editor and not object.signed_off_by %}
                <div>
                {# Later should add condition for when not enough readouts or setups #}
                {% if readouts.count == 0 or number_of_results == readouts.count %}
                    <div hidden id="result_alert" class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Warning:</span>
                        You must add at least one chip readout before adding a chip result.
                    </div>
                    <a class="btn btn-warning" role="button" onClick="$('#result_alert').removeProp('hidden');">Add Chip Result</a>
                {% else %}
                    <a href="assaychiptestresult/add" class="btn btn-success" role="button">Add Chip Result</a>
                {% endif %}

{#                {% if plate_readouts.count == 0 or number_of_plate_results == plate_readouts.count %}#}
{#                    <div hidden id="plate_result_alert" class="alert alert-warning" role="alert">#}
{#                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
{#                        <span class="sr-only">Warning:</span>#}
{#                        You must add at least one plate readout before adding a plate result.#}
{#                    </div>#}
{#                    <a class="btn btn-warning" role="button" onClick="$('#plate_result_alert').removeProp('hidden');">Add Plate Result</a>#}
{#                {% else %}#}
{#                    <a href="assayplatetestresult/add" class="btn btn-success" role="button">Add Plate Result</a>#}
{#                {% endif %}#}
                </div>
                {% endif %}
            </h2>
        </legend>

        {% if results %}
        <div class="padded-bottom">
        <table id="results" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Chip Test Results ID</th>
                    <th>Chip Setup</th>
                    <th>Chip Readout ID</th>
                    <th>Assay</th>
                    <th>Result</th>
                    <th>Result Function</th>
                    <th>Result Type</th>
                    <th>Severity</th>
                    <th>Creator</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for result in results %}
                <tr class="result" id={{ result.id }} name={{ result.id }}>
                    <td>
                        <a class="btn btn-primary"
                           href="/assays/assaychiptestresult/{{ result.assay_result.id }}/">
                            View/Edit
                        </a>
                    </td>
                    <td>
                        {{ result.assay_result.id }}
                    </td>
                    <td>
                        <a href="/assays/assaychipsetup/{{ result.assay_result.chip_readout.chip_setup.id }}/">
                            {{ result.assay_result.chip_readout.chip_setup }}
                        </a>
                    </td>
                    <td>
                        <a href="/assays/assaychipreadout/{{ result.assay_result.chip_readout.id }}/">
                            {{ result.assay_result.chip_readout.id }}
                        </a>
                    </td>
                    <td>{{ result.assay_name }}</td>
                    <td>{{ result.get_result_display }}</td>
                    <td>{{ result.result_function }}</td>
                    <td>{{ result.result_type }}</td>
                    <td>{{ result.get_severity_display }}</td>
                    <td>
                        {{ result.assay_result.full_creator }}
                    </td>
                    <td>
                        {% if result.assay_result.signed_off_by %}
                            <span title="This entry was validated by {{ result.assay_result.full_reviewer }} on {{ result.assay_result.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if result.assay_result.flagged %}
                            <span title="This entry is flagged for review: '{{ result.assay_result.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No chip results exist for this study
        </div>
        {% endif %}

{#        {% if plate_results %}#}
{#        <div class="padded-bottom">#}
{#        <table id="plate_results" class="display table table-striped table-hover" cellspacing="0" width="100%">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>View/Edit</th>#}
{#                    <th>Plate Test Results ID</th>#}
{#                    <th>Plate Setup</th>#}
{#                    <th>Plate Readout ID</th>#}
{#                    <th>Assay &amp; Feature</th>#}
{#                    <th>Result</th>#}
{#                    <th>Result Function</th>#}
{#                    <th>Result Type</th>#}
{#                    <th>Severity</th>#}
{#                    <th>Creator</th>#}
{#                    <th>Review</th>#}
{#                </tr>#}
{#            </thead>#}
{##}
{#            <tbody>#}
{#            {% for result in plate_results %}#}
{#                <tr class="result" id={{ result.id }} name={{ result.id }}>#}
{#                    <td>#}
{#                        <a class="btn btn-primary"#}
{#                           href="/assays/assayplatetestresult/{{ result.assay_result.id }}/">#}
{#                            View/Edit#}
{#                        </a>#}
{#                    </td>#}
{#                    <td>#}
{#                        {{ result.assay_result.id }}#}
{#                    </td>#}
{#                    <td>#}
{#                        <a href="/assays/assayplatesetup/{{ result.assay_result.readout.setup.id }}/">#}
{#                            {{ result.assay_result.readout.setup }}#}
{#                        </a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <a href="/assays/assayplatereadout/{{ result.assay_result.readout.id }}/">#}
{#                            {{ result.assay_result.readout.id }}#}
{#                        </a>#}
{#                    </td>#}
{#                    <td>{{ result.assay_name }}</td>#}
{#                    <td>{{ result.get_result_display }}</td>#}
{#                    <td>{{ result.result_function }}</td>#}
{#                    <td>{{ result.result_type }}</td>#}
{#                    <td>{{ result.get_severity_display }}</td>#}
{#                    <td>#}
{#                        {{ result.assay_result.full_creator }}#}
{#                    </td>#}
{#                    <td>#}
{#                        {% if result.assay_result.signed_off_by %}#}
{#                            <span title="This entry was validated by {{ result.assay_result.full_reviewer }} on {{ result.assay_result.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>#}
{#                        {% endif %}#}
{#                        {% if result.assay_result.flagged %}#}
{#                            <span title="This entry is flagged for review: '{{ result.assay_result.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>#}
{#                        {% endif %}#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#        </div>#}
{#        {% else %}#}
{#        <div class="alert alert-warning" role="alert">#}
{#            No plate results exist for this study#}
{#        </div>#}
{#        {% endif %}#}
{#    </div>#}

    {% if not user_is_group_admin and user_is_group_editor and not object.signed_off_by %}
    <div hidden id="ready_for_sign_off_section" title="Indicate Study is Ready for Sign Off">
    <form id="ready_for_sign_off_form">

        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span class="sr-only">Info:</span>
            This form, when submitted, will send an email to the group's PI indicating that the study is ready for Sign Off.
        </div>

        <label for="email">Message:</label>
        <div class="input-group padded-bottom">
            {# Inline style is in poor taste #}
            <textarea name="message" class="form-control" id="id_message" rows="4" style="width: 775px;"
                    placeholder="Write a message to accompany your request for a Sign Off."></textarea>
        </div>

        <div class="well well-lg">
        <label for="captcha">Please Type What You See</label>
        <div class="input-group">
            {{ ready_for_sign_off_form.captcha }}
        </div>
        </div>
    </form>
    <div hidden id="email_failure" class="alert alert-danger" role="alert">
        <h3>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Danger:</span>
            Your request has failed.
            <br>
            <br>
            <span id="email_failure_message"></span>
            <br>
            <br>
            Please refresh the page and try again.
        </h3>
    </div>
    <div hidden id="email_success" class="alert alert-success" role="alert">
        <h3>
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            Your request has succeeded. Your message:
            <br>
            <br>
            <span id="email_message"></span>
            <br>
            <br>
            Was sent to users that can Sign Off on the study.
        </h3>
    </div>
    </div>
    {% endif %}
{% endblock %}
