{% extends "base.html" %}
{% load static %}

{% block load_js %}
    {# <script src="{% static "js/inline_add.js" %}"></script>#}
    <script src="{% static "assays/studyconfiguration_add.js" %}"></script>
    <script src="{% static "js/enter_override.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/assays/studyconfiguration">Integrated Study Configurations</a></li>
    <li class="active">
        {% if object %}
             Edit Configuration <em>{{ object.name }}</em>
        {% else %}
            Add Integrated Study Configuration
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    {% if update %}
        <form class="form-horizontal" method="post">

        <h1>
            Edit Configuration <em>{{ object.name }}</em>
    {% else %}
        <form class="form-horizontal" method="post" >

        <h1>
            Add Integrated Study Configuration
    {% endif %}
        <br>
        {% csrf_token %}

{#            <button id="submit" type="submit" class="btn btn-primary">Submit</button>#}
        </h1>

        {% include "submit.html" with creator=object.created_by.id %}

        {% include 'errors.html' %}

        {% include 'tracking.html' %}

        <legend>Integrated Study Configuration Details</legend>

        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            {% endfor %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label for="name" class="col-sm-2 control-label">Name*</label>
            <div class="col-sm-10">
                {{ form.name }}
            </div>
        </div>

        {% if form.media_composition.errors %}
            {% for error in form.media_composition.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            {% endfor %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label for="media_composition" class="col-sm-2 control-label">Media Composition</label>
            <div class="col-sm-10">
                {{ form.media_composition }}
            </div>
        </div>

        {% if form.hardware_description.errors %}
            {% for error in form.hardware_description.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{error}}
                </div>
            {% endfor %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label for="hardware_description" class="col-sm-2 control-label">Hardware Description</label>
            <div class="col-sm-10">
                {{ form.hardware_description }}
            </div>
        </div>

        {{ formset.management_form }}
        <legend>Study Models</legend>

        {% if formset.non_form_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ formset.non_form_errors }}
            </div>
        {% endif %}

        {% if formset.errors %}
            {% for dict in formset.errors %}
                {% for key,value in dict.items %}
                    {% if key %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ forloop.parentloop.counter }}.) {{ key }} : {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <p>Define model outputs by separating labels with dashes: "AB-CD" means the model AB is connected to model CD.</p>
        <a id="add_button-{{ formset.prefix }}" class="btn btn-success" role="button">Add Model</a>

        <table class="table table-striped inlines" id="{{ formset.prefix }}-group" name="studymodels">
            <thead>
                <tr>
                    <th>Label*</th>
                    <th>Organ*</th>
                    <th>Sequence Number*</th>
                    <th>Output</th>
                    <th>Coupling*</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for model in formset %}
                    <tr class="inline" id="{{ formset.prefix }}-{{ forloop.counter0 }}">
                        {# Hidden input for Update (need id to associate) #}
                        {% if model.id.value %}
                        <td class="original" hidden>
                            <input type="hidden" id="id_{{ formset.prefix }}-{{ forloop.counter0 }}-id" name="{{ formset.prefix }}-{{ forloop.counter0 }}-id" value="{{ model.id.value }}">
                        </td>
                        {% endif %}
                        <td>
                            {{ model.label }}
                        </td>
                        <td>
                            {{ model.organ }}
                        </td>
                        <td>
                            {{ model.sequence_number }}
                        </td>
                        <td>
                            {{ model.output }}
                        </td>
                        <td>
                            {{ model.integration_mode }}
                        </td>
                        <td>
                            {{ model.DELETE }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <div class="well">
        <p>
            <span class="text-success">Green = Physical (Connected)</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-danger">Red = Functional (Not Connected)</span>
        </p>

        <p class="lead text-info">
            Drag the circles to rearrange the graph. Double click a circle to let it move freely.
        </p>

        <button class="btn btn-default center-block" id="reset">Reset Graph</button>
    </div>

    <div id="graph" style="height:500px;"></div>
{% endblock %}
