{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "assays/studyconfiguration_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Integrated Study Configurations</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Integrated Study Configurations
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/assays/studyconfiguration/add/" class="btn btn-lg btn-success" role="button">Add Configuration</a>
        </div>

        <table hidden id="studyconfigurations" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>View/Edit</th>
                    <th>Name</th>
                    <th>Media Composition</th>
                    <th>Hardware Description</th>
                </tr>
            </thead>

            <tbody>
            {% for configuration in object_list %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ configuration.id }}">View/Edit</a></td>
                    <td>{{ configuration.name }}</td>
                    <td>{{ configuration.media_composition }}</td>
                    <td>{{ configuration.hardware_description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
