{% extends "base.html" %}
{% load static %}

{% block load %}
    <script src="{% static "assays/test_filter.js" %}"></script>
    <style>
    .table-testfilter
    {
        width:1100px;
        vertical-align: text-top;
        border-spacing: 0px 0px;
        padding: 0px 0px 0px 5px;
        border: 0px solid lightskyblue;
    }
    .table-responsive
    {
        vertical-align: text-top;
        padding: 5px 20px 5px 20px;
        border: 0px solid lightskyblue;
    }


    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Query Data</li>
{% endblock %}


{% block content %}
    {% block error %}
        <div class="row">
            <div hidden class="alert alert-danger" role="alert" id="error_message">
                <p id="error">
                    The server could not find the result to your request.
                </p>

                <p>
                    Please try a different query.
                </p>
            </div>
        </div>
    {% endblock %}

    <div id="selection">

        <div class="row">
            <!--
            <h6 title="Clicking on these buttons should take the user to a place where they can do something with the data, filtered and grouped the way they want." class="text-center">
                Hover for Design Notes
            </h6>
            -->
            <div class="text-center">
                {% block submit %}
                <a href="#show" class="btn btn-primary text-center" id="submit">
                    Graphs (Line and Bar)
                </a>
                <a href="#show" class="btn btn-primary text-center" id="submit">
                    Reproducibilty Analysis
                </a>
                <a href="#show" class="btn btn-primary text-center" id="submit">
                    Modeling
                </a>
                <a href="#show" class="btn btn-primary text-center" id="submit">
                    Data Export
                </a>
                {% endblock %}
            </div>
        </div>

        <!--Default filters always show-->
        <div class="row">
            <div class="row text-center">
                <h3 title="Check/uncheck the F box to show/hide filter. Check/uncheck the G box to group/ungroup by indicated content." class="text-center">
                    Filter (F) and/or Group (G)
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <table class = "table-testfilter">
                    <td valign="top">
                    <div class="table-responsive">
                        <h7 id="header_tier1"></h7>
                        <h7 id="mytable_tier1"></h7>
                    </div>
                    </td>
                    <td valign="top">
                    <div class="table-responsive">
                        <h7 id="header_tier2"></h7>
                        <h7 id="mytable_tier2"></h7>
                    </div>
                    </td>
                    <td valign="center">
                        <table>

                            <tr><td>Number of Groups Selected</td></tr>
                            <tr><td>2</td></tr>
                            <tr><td>Number of Data Points Selected</td></tr>
                            <tr><td>4,456</td></tr>
                            <tr><td>
                                <h7 class="text-center">
                                    More Advanced Filter and Group Options &nbsp;
                                </h7>
                                <label>
                                    <input type="radio" name="radioshowhide" id="post-format-show" value="show" >Show
                                </label>
                                <label>
                                    <input type="radio" name="radioshowhide" id="post-format-hide" value = "hide" >Hide
                                </label>
                            </td></tr>

                        </table>
                    </td>
               </table>
            </div>
        </div>



        <div id="gallery-box">
            <div class="row">
                <div class="col-xs-3">
                    <table class = "table-testfilter">
                        <td valign="top">
                        <div class="table-responsive">
                            <h7 id="header_tier3"></h7>
                            <h7 id="mytable_tier3"></h7>
                        </div>
                        </td>
                        <td valign="top">
                        <div class="table-responsive">
                            <h7 id="header_tier4"></h7>
                            <h7 id="mytable_tier4"></h7>
                        </div>
                        </td>
                        <td valign="top">
                        <div class="table-responsive">
                            <h7 id="header_tier5"></h7>
                            <h7 id="mytable_tier5"></h7>
                        </div>
                        </td>
                        <td valign="top">
                        <div class="table-responsive">
                            <h7 id="header_tier6"></h7>
                            <h7 id="mytable_tier6"></h7>
                        </div>
                        </td>
                   </table>
                </div>
            </div>
        </div>

        <!--Expanded filters - update all as options are  checked by user and filters are added up top-->
        <hr>
        <div class="row">
        <div class="row text-center">
            <h3 title="Use the search boxes to finding data of interest. Search results limit display, but must be checked to be applied." class="text-center">
                Check to Apply Filter - Uncheck to Remove Filter
            </h3>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <table class = "table-testfilter" id="mysection_filtering">
                </table>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="row text-center">
                <h2>
                    Group Table
                </h2>
                <div class="row text-left">
                    <ul>
                        <li>Put the table here. Make the first column a check box that allows the user a second filter step, check to include.</li>
                        <li>Make a select all check box in the column header just like in the filtering section.</li>
                        <li>Once the user is happy with their choices, the click a button on the top to go to a differnt place.</li>
                        <li>Luke has indicated that he wants to be able to go back and forth from the other location to here (carrying the choices back and forth). That's great!</li>
                        <li>If the user checks boxes in the Apply Filter section, then unchecks that data element in the Filter Group section, warn them (yes - remove filter, no - put the check back.</li>
                        <li>Groups and points (in table at top on right) should be updated when rows of this Group Table are checked/unchecked.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



