{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "cellsamples/cellsample_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'assays-studycomponents' %}">Study Components</a></li>
    <li class="active">Cell Samples</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Cell Samples
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/cellsamples/cellsample/add/" class="btn btn-lg btn-success" role="button">Add Cell Sample</a>
        </div>

        <table hidden id="cellsamples" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>ID #</th>
                    <th>Receipt Date</th>
                    <th>Barcode/Lot #</th>
                    <th>Cell Type</th>
                    <th>Cell Origin</th>
                    <th>Supplier</th>
                    <th>Patient</th>
                    <th>Group</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
            {% for cellsample in object_list %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ cellsample.id }}">Edit</a></td>
                    {# May seem odd, but including the id can help demystify the ID that appears in add interface #}
                    <td>{{ cellsample.id }}</td>
                    {# Adding a link to this row converts it from date to HTML = Really, REALLY annoying #}
                    <td>{{ cellsample.receipt_date|date:"M d, Y" }}</td>
                    <td>{{ cellsample.barcode }}</td>
                    <td>
                        <a href="/cellsamples/celltype/{{ cellsample.cell_type.id }}">
                            {{ cellsample.cell_type }}
                        </a>
                    </td>
                    <td>
                        <a href="/cellsamples/cellsubtype/{{ cellsample.cell_subtype.id }}">
                            {{ cellsample.cell_subtype }}
                        </a>
                    </td>
                    <td>{{ cellsample.supplier }}</td>
                    <td>
                        {% if cellsample.patient_age or cellsample.patient_gender != 'N' or cellsample.patient_condition %}
                            {{ cellsample.patient_age|default:"Unknown" }} year old {{ cellsample.patient_gender }}
                            {{ cellsample.patient_condition }}
                        {% endif %}
                    </td>
                    <td>{{ cellsample.group }}</td>
                    <td>
                        {% if cellsample.signed_off_by %}
                            <span title="This entry was validated by {{ cellsample.full_reviewer }} on {{ cellsample.signed_off_date }}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% endif %}
                        {% if cellsample.flagged %}
                            <span title="This entry is flagged for review: '{{ cellsample.reason_for_flag }}'" class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
