{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "cellsamples/celltype_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'assays-studycomponents' %}">Study Components</a></li>
    <li class="active">Cell Types</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Cell Types
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/cellsamples/celltype/add/" class="btn btn-lg btn-success" role="button">Add Cell Type</a>
        </div>

        <table hidden id="celltypes" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Cell Type</th>
                    <th>Organ</th>
                    <th>Species</th>
                </tr>
            </thead>

            <tbody>
            {% for celltype in object_list %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ celltype.id }}">Edit</a></td>
                    <td>{{ celltype.cell_type }}</td>
                    <td>{{ celltype.organ }}</td>
                    <td>{{ celltype.species }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
