{% extends "base.html" %}
{% load static %}

{% block load_js %}
    <script src="{% static "cellsamples/cellsubtype_list.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Cell Origins</li>
{% endblock %}

{% block content %}
    <div class="padded-bottom">
        <legend>
            <h2 class="text-center">
                Cell Origins
            </h2>
        </legend>

        <div class="row text-center padded-bottom">
            <a href="/cellsamples/cellsubtype/add/" class="btn btn-lg btn-success" role="button">Add Cell Origin</a>
        </div>

        <table hidden id="cellsubtypes" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Cell Origin</th>
                    <th>Cell Type</th>
                </tr>
            </thead>

            <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a class="btn btn-primary" href="{{ object.id }}">Edit</a></td>
                    <td>{{ object }}</td>
                    <td>{{ object.cell_type|default:'Generic (Applicable to All Cell Types)' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
